[2019-05-30 18:22] sloganking commented on #1666
Possibly related issues:

#1621
#1667

[2019-05-30 18:32] sloganking opened #1667 "Biometric login requested but not accepted"
### Bug description
Upon opening Trinity, biometric authentication was requested to log into Trinity. Upon validating biometrics, Trinity was not unlocked, and Trinity then displayed that biometric login was disabled.

### Environment Specs

- Manufacturer: Samsung
- Model: Galaxy S8+
- OS version: 9.0.0

What build of Trinity are you running? Please provide the full version (you can find it in Se

[2019-05-30 18:32] jdesopo commented on #1604
I'm experiencing the same problem on IOS V 0.7.2 (61).

Settings>Account management>View addresses shows what looks like a valid history.

Balance (last 4 items in the top area) and History only show 0i transactions with wrong dates.

Total seed balance is good.  This problem exists for ALL seeds stored in Trinity.

![image](https://user-images.githubusercontent.com/51210514/58655185-658b1b80-82ce

[2019-05-30 18:32] sloganking commented on #1667
Possibly related issues:

#1621
#1666

[2019-05-31 01:36] alangrainger commented on #964
This issue happens on Windows after coming from a much older version without uninstalling.

I imagine the fix is essentially the same for Ubuntu.

On Windows you need to go to the %AppData% directory and delete the 'trinity' subfolder. Then install the new version and everything is peachy.

Give that a go on Ubuntu, but just replace %AppData% with whatever the equivalent is.

[2019-05-31 16:12] Noki commented on #1636
@rajivshah3 I had a look and did not want to try it. So I guess I'm waiting for a fix for this because it grew to more than 2 GB and crashed again.

![image](https://user-images.githubusercontent.com/198902/58719179-4de78c00-83cf-11e9-8edb-a9b6577a58d6.png)

Currently Trinity is totally unusable for me.

[2019-05-31 18:06] cvarley100 commented on #1647
@suefkem Try deleting Trinity and setting up on 0.7.2 and let us know how it goes.

[2019-05-31 18:06] #1640 closed, assigned to laumair

[2019-06-01 00:08] Almoehihan commented on #305
Same problem with v0.5.1 on Win 10.
V0.4.0 seems to work fine.

Where can I find the versions between 0.4.0 and 0.5.1 to update stepby step if that helps ... ?

[2019-06-01 06:42] Meemaw opened #1677 "Fatal error: the username or passphrase you entered is not correct."
### Bug description
I Get a fatal error screen after opening Trinity: "The username or passphrase you entered is not correct."

This happens even though I did not enter anything as this is the first screen that I get.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: Mabook Pro, 13 inch, 2017
- OS version: macOS Mojave 10.14.5

What build of Trinity are

[2019-06-01 18:13] Nick2567 commented on #1625
Launched Trinity 0.5.1. (error message above still displaying)
Went to Trinity --> Check for Updates. A new Trinity version is available. Clicked Yes to update.
![image](https://user-images.githubusercontent.com/32357455/58752092-d08c4c00-84a0-11e9-987f-924eb910aa42.png)
Update completed but Trinity did not restart. Message stayed on screen.
![image](https://user-images.githubusercontent.com/32357

[2019-06-01 18:43] t00k opened #1678 "Turning off quorum in node settings doesnt save"
### Bug description
Trinity doesnt save the state of the node quorum setting. Trying to disable node quorum and press save, but nothing happens and the option isnt saved when you go to another section and then back.

### Environment Specs
What device are you running Trinity on?
- OS version: Windows 7, Non-Ledger accounts.

What build of Trinity are you running? Please provide the full version (yo

[2019-06-01 23:26] azarea opened #1679 "Application started after update to 0.6 with black Screen. Rollback to 0.5.2 with Error: Provided schema version 2 is less than last set version 4."
### Bug description
Application started after update to 0.6 with black Screen. Rollback to 0.5.2 with Error: Provided schema version 2 is less than last set version 4.

### Environment Specs
Windows 10 newest Release

### Steps To Reproduce
1. Update 0.5.2 to 0.6
2. Start new 0.6
3. Downgrade to 0.5.2

[2019-06-02 11:27] suefkem commented on #1647
Hey that seems to work.

[2019-06-02 11:27] #1647 closed, assigned to nobody

[2019-06-02 19:02] KiwiCat123 opened #1681 "error after entering correct password to reset wallet"
### Bug description
After entering the correct password and clicking on `reset wallet` button Trinity shows `incorrect password` and just shows an empty window. After restarting Trinity it's reset correctly.
### Environment Specs
What device are you running Trinity on?

- OS version: Windows 10 1809
- Trinity version: 0.6.0-RC1

### Steps To Reproduce
1. login
2. go to advanced setting
3. reset wa

[2019-06-02 19:12] KiwiCat123 opened #1682 "opening settings circumvents password field if loading first seed fails"
### Bug description
If Trinity fails to load the seed at `Load seed for the first time` screen with `Node error` it shows the password screen which doesn't make sense to me to enter the password here. When I go to the setting end close them on `X` it doesn't ask for the password again and loads the seed again.
![tr2](https://user-images.githubusercontent.com/21984138/58766064-b161ed00-857a-11e9-8c

[2019-06-02 19:18] KiwiCat123 opened #1683 "Use system proxy setting doesn't get saved"
### Bug description
After I disabled `Use system proxy` I restarted Trinity and after starting it again it says `Enabled` again.

### Environment Specs

- OS version: Windows 10 1809
- Trinity version: 0.6.0-RC1

### Steps To Reproduce
1. open advanced settings
2. disable `Use system proxy`
3. restart Trinity

### Expected behaviour
should still be disabled

### Actual behaviour
is enabled again

[2019-06-02 19:27] KiwiCat123 opened #1684 "closing settings at All Done! screen directly starts to load seed"
### Bug description
If I go to settings at `All Done!` screen after i set up the first seed and close the settings again Trinity starts to load the seed although I never clicked on the `Open your wallet button`.

### Environment Specs

- OS version: Windows 10 1809
- Trinity version: 0.6.0-RC1

### Steps To Reproduce
1. set up first seed
2. at `All Done!` screen open settings
3. close settings

##

[2019-06-02 19:35] rihardsgravis commented on #1684
Reason for this issue is the same as for #1682

[2019-06-02 19:38] KiwiCat123 opened #1685 "enter key doesn't add custom node"
### Bug description
In `Node settings` at `Add custom nodes` after entering the node address in the field it's not possible anymore to add the node with the enter key. I always have to click the `Add custom node` button which is little annoying and takes time when someone adds a few custom nodes.

### Environment Specs

- OS version: Windows 10 1809

- Trinity version: 0.6.0-RC1

### Steps To Repr

[2019-06-02 19:55] rajivshah3 commented on #1682
Does it successfully load the seed even though the password wasn’t entered?

[2019-06-02 20:30] KiwiCat123 commented on #1682
@rajivshah3  Yes, it does.

[2019-06-03 11:11] rihardsgravis commented on #1677
@Meemaw  The wallet cannot access macOS Keychain, which is due to a macOS update bug.
Can you try the following - open opening `Keychain Access`.app. Right-click on the login keychain and try locking it and then unlocking it again. The try to open Trinity again.

[2019-06-03 12:26] Nick2567 commented on #1625
Removed AppImage and downloaded 0.5.2 again, same issue.
I have now downloaded 0.4.6 again and this is working fine, as before.

[2019-06-03 22:21] jojoCoWorker opened #1692 "Desktop - language resets itself to English"
### Bug description
Language changes itself back to English after a restart. Selected language in settings is still "french" but everything appears in english. The workaround consists in selecting "english", then save, then selecting french again and save.

### Environment Specs
- OS version: Windows 7 Professionnel
- Trinity version: 0.6.0-RC1 for win7

### Steps To Reproduce
1. Install Trinity 0

[2019-06-03 22:31] jojoCoWorker commented on #1692
I can't reset the wallet (no answer when I clic on "reset wallet" button after the 15s countdown), I have to uninstall, clean my appdata folder and reinstall.
For the moment I can't reproduce the "Node error" bug that doesn't let me open my wallet but english comes back each time I restart Trinity, so maybe no link between both.

[2019-06-03 23:07] jojoCoWorker opened #1693 "Key input scroll for currency and language selection"
### Description
Currencies list and language list could be selected quickly if they where alphabetically sorted and we could scroll directly to the letter we press on the keyboard.

### Motivation
Lists are longer and longer...
![image](https://user-images.githubusercontent.com/33653820/58839538-7804ac80-8662-11e9-98f2-72bfc8ad282d.png)
languages order is weird, sometimes the left word is alphabet

[2019-06-04 01:34] jiangh77 opened #1694 "Re: Using latest Trinity Desktop with Ledger Nano S"
I updated to the latest version of Trinity Desktop Wallet

I tried to generate a receiving address in the trinity IOTA wallet
secured by Ledger Nano S

I followed the steps connected Ledger Nano S, went into IOTA App,
click on Receive then generate address in Trinity Wallet, address is
generated but it only flashed for 1 second on the screen and then
disappeared before I can do anything

How can I

[2019-06-04 08:47] t00k commented on #1694
Hello @jiangh77
This usually happens when the user have not accepted the warning on the Ledger itself.

Wolfgang from the IF posted this in the hardware-wallets channel last week. Try it and see if it works for you;

So first make sure that you do not have Ledger Live och Trinity running when plugging in the Ledger. Then make sure to accept the warning on the Ledger itself. Otherwise try the steps

[2019-06-04 12:00] rihardsgravis commented on #1556
The error is `Realm.write is not a function` which was caused by faulty Realm initialisation. Is _fixed_ in `0.5.1` in #1549 by showing the Realm initialisation fatal error instead.

[2019-06-04 12:00] #1556 closed, assigned to rihardsgravis

[2019-06-04 12:16] #654 closed, assigned to rajivshah3

[2019-06-05 04:30] jiangh77 commented on #1694
Thank you, problem solved

Have a good week

On Tue, Jun 4, 2019 at 4:48 AM t00k <notifications@github.com> wrote:

[2019-06-05 06:56] #1681 closed, assigned to rihardsgravis

[2019-06-05 06:57] #1625 closed, assigned to rihardsgravis

[2019-06-05 06:57] #1692 closed, assigned to rihardsgravis

[2019-06-05 07:00] rihardsgravis commented on #1685
Fixed in #1691

[2019-06-05 07:00] #1685 closed, assigned to rihardsgravis

[2019-06-05 07:02] rihardsgravis commented on #1626
Closed in #1705

[2019-06-05 07:02] #1626 closed, assigned to rihardsgravis

[2019-06-05 07:03] rihardsgravis commented on #1639
Closed in #1705

[2019-06-05 07:03] #1639 closed, assigned to rihardsgravis

[2019-06-05 07:36] rihardsgravis commented on #1682
Fixed in #1688

[2019-06-05 07:36] #1682 closed, assigned to rihardsgravis

[2019-06-05 07:36] rihardsgravis commented on #1684
Closed in #1688

[2019-06-05 07:36] #1684 closed, assigned to rihardsgravis

[2019-06-06 09:48] yotardis opened #1718 "Fatal error; found old data"
The issue tracker is only for reporting bugs. If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you have general questions on IOTA

[2019-06-06 09:48] cvarley100 commented on #1718
Simply delete your Trinity app data folder and try again.

[2019-06-06 09:48] #1718 closed, assigned to nobody

[2019-06-07 09:08] rihardsgravis commented on #1694
Thanks @t00k for the support

[2019-06-07 09:08] #1694 closed, assigned to nobody

[2019-06-07 10:18] #523 closed, assigned to nobody

[2019-06-07 10:41] Qaviz opened #1729 "Mobile* can't data migrate - also system crash on node change"
Updating to Mobile version (0.7.2 68), after logging in to my account the system attempts the data migration process but quickly fails with the error message *something went wrong please try again*. I then try to change nodes to see if this helps, but I get the node error message *error changing node please try again*.

I then reset the app and tried to change nodes from the login screen, however

[2019-06-07 12:39] #1683 closed, assigned to laumair, rihardsgravis

[2019-06-07 12:48] rihardsgravis commented on #894
Added in #1509

[2019-06-07 12:48] #894 closed, assigned to nobody

[2019-06-07 12:49] rihardsgravis commented on #892
Added in #1509

[2019-06-07 12:49] #892 closed, assigned to nobody

[2019-06-07 12:52] rihardsgravis commented on #544
Added in #1509

[2019-06-07 12:52] #544 closed, assigned to nobody

[2019-06-07 12:57] rihardsgravis commented on #869
Fixed in #1101

[2019-06-07 12:57] #869 closed, assigned to nobody

[2019-06-08 14:36] PlanetaOTC commented on #1421
Hello,

Today, I installed Trinity 0.5.2 in my Mac High Sierra and created a wallet with my Ledger Nano X. All went well, but after some minutes of inactivity and when reconnecting Ledger and unlocking Trinity, I'm not able to connect to any node, all give the same error "out of sync".

I deleted the entire Trinity and all folders involved and re-installed. Same problem.

Ideas?

Thanks

[2019-06-08 14:36] PlanetaOTC opened #1736 ""Your current selected node is out of sync, please change node or try again"
Hello,

Today, I installed Trinity 0.5.2 in my Mac High Sierra and created a wallet with my Ledger Nano X. All went well, but after some minutes of inactivity and when reconnecting Ledger and unlocking Trinity, I'm not able to connect to any node, all give the same error "out of sync".

I deleted the entire Trinity and all folders involved and re-installed. Same problem.

Ideas?

Thanks

[2019-06-08 19:18] PlanetaOTC commented on #1736
It finally solved by itself.

But it happened again now and, again, it can't sync with any node...

[2019-06-09 13:37] maximus925 opened #1737 "Ledger connect problem"
I'd like to create new Ledger account
On the first step program showing connected ledger but in second step when he wont to open IOTA application I pushing two buttons then I see information
Cannot connect to Ledger
I tested in another computer and is this same.
Wallet Ethereum working fine
![error 1](https://user-images.githubusercontent.com/51532759/59159588-f5e21100-8ac3-11e9-90eb-5794cf4ff210.

[2019-06-10 13:23] no8ody opened #1739 "Trinity Desktop v0.6.0-RC2 wants quorum despite deactivation"
### Bug description
In the trial version v0.6.0-RC2, Trinity wants to perform a quorum despite deactivating quorum.

### Environment Specs
Trinity is running on a windows 10 64bit

What build of Trinity are you running? Please provide the full version (you can find it in Settings
v0.6.0-RC2

### Steps To Reproduce
1. Deactivate automatic node management
2. Deactivate remote node list
3. Deactivate

[2019-06-11 11:26] Noki opened #1750 "Can't change PoW setting to remote if on a node that does not support it"
### Bug description

Can't change PoW setting to remote if on a node that does not support it

![image](https://user-images.githubusercontent.com/198902/59268032-150baa80-8c4c-11e9-97a6-49aa0f9fbd5c.png)

### Environment Specs

- OS version: Windows 10
- Trinity version: 0.6.0-RC2

### Steps To Reproduce

Go to the advanced settings when connected to a node that does not support PoW and try to cha

[2019-06-12 01:23] laumair opened #1752 "undefined is not an object (evaluating settings.quorum.size)"
## Error in Trinity Mobile

TypeError in `src/ui/views/wallet/AddCustomNode.js:80`
`TypeError: undefined is not an object (evaluating 'n.settings.quorum.size')`

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cf198681f6bde001c020d24?filters[event.since][0]=30d&filters[error.status][0]=open)

## Stacktrace

[code]

[View full stacktrace](https://app.bugsnag.com/iot

[2019-06-12 01:27] laumair opened #1753 "undefined is not an object (evaluating 'A.enabled')"
## Error in Trinity Mobile

TypeError in `/Users/vagrant/git/src/shared/actions/migrations.js:119`

`undefined is not an object (evaluating 'A.enabled')`

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cefd565dbdba3001a59f2db?filters[event.since][0]=30d&filters[error.status][0]=open)

## Stacktrace

[code]

[View full stacktrace](https://app.bugsnag.com/iota-found

[2019-06-12 01:31] laumair opened #1754 "undefined is not a function (evaluating 't.url.blur()')"
## Error in Trinity Mobile

TypeError in `/Users/vagrant/git/src/shared/node_modules/lodash/endsWith.js:40`
`undefined is not a function (evaluating 't.url.blur()')`

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cfff66a75d41600194a1d49?filters[event.since][0]=30d&filters[error.status][0]=open)

## Stacktrace

[code]

[View full stacktrace](https://app.bugsnag.co

[2019-06-12 01:41] laumair opened #1755 "null is not an object (evaluating 'n.item')"
## Error in Trinity Mobile

TypeError in `src/libs/keychain.js:107`
`null is not an object (evaluating 'n.item')`

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cbbb9bfbb1e33001a25e3e0?filters[event.since][0]=30d&filters[error.status][0]=open)

## Stacktrace

[code]

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cbbb9bfbb1e

[2019-06-12 02:13] rajivshah3 commented on #1737
@maximus925 please use the template here: https://github.com/iotaledger/trinity-wallet/issues/new?labels=T+-+Bug&template=bug_report.md&title=. It will ask you for information that we need in order to reproduce the issue

[2019-06-12 02:18] rajivshah3 commented on #1693
The language order is sorted alphabetically by [ISO 639-1 code](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes). In your screenshot, it is sorted in the following order:

[code]

[2019-06-12 04:27] laumair commented on #1739
@no8ody Thanks for reporting the issue. I'll try to reproduce the issue.

[2019-06-12 07:47] #1678 closed, assigned to rihardsgravis

[2019-06-12 09:02] Johnrb99 commented on #1729
I am having exactly the same issue. Should I open a new issue

[2019-06-12 13:14] #1754 closed, assigned to laumair

[2019-06-12 21:40] larthee commented on #1737
I am having exactly the same issue, Trinity in Win 7 64bit does NOT recognize the connected ledger Nano S device, even so visible in Ledger Live and IITA app opened on ledger device. What can I do?
![no connection to Ledger nano S](https://user-images.githubusercontent.com/51678212/59388217-7d04e280-8d6b-11e9-8350-1ceff997da9d.PNG)

[2019-06-12 21:55] larthee commented on #1737
adding info: Using Ledger Nano S latest IOTA APP version 0.4.2

[2019-06-12 23:20] ghbjklhv opened #1769 "I2P Integration"
**Goal**: I2P Integration into the IOTA Network
**Description**: Let's consider how to integrate and use I2P, possibly leveraging the work upstream.
**Why?**: IP anonymity is a huge issue. Users should feel safe that they are not giving away their location.

**Related Links/Projects**:
https://github.com/monero-project/kovri
https://www.wikipedia.org/wiki/I2P
https://github.com/Anoncoin/anoncoin

[2019-06-12 23:33] cvarley100 commented on #1737
@larthee You must close Ledger Live

[2019-06-13 06:56] #1594 closed, assigned to rajivshah3

[2019-06-13 12:56] #1736 closed, assigned to nobody

[2019-06-13 15:30] larthee commented on #1737
Thanks @cvarley100 - but it did not work before I opened Ledger Live - Legder live I only opened to verify if the Ledger Nano S is connected to the PC and working properly in another application than trinity. I even installed the latest Trinity again on a PC with I did set back (Basically blank WIn 7 System), but still same error? Any other idea?

[2019-06-13 17:15] rajivshah3 commented on #1339
Fixed in #1674 and #1741

[2019-06-13 17:15] #1339 closed, assigned to nobody

[2019-06-13 17:58] sintoniza-c commented on #305
Same problem with 0.5.2 on MacOS 10.14.5
I updated from vs.0.4.0 - where can I find vs. 0.4.6 if updating step by step helps???

[2019-06-14 11:02] t00k commented on #1737
Hey @maximus925
These issues are usually when the warning havent been accepted on the Ledger itself. Or with Ledger Live and some other app conflicting, please try the steps below.

 So first make sure that you do not have Ledger Live och Trinity running when plugging in the Ledger. Then make sure to accept the warning on the Ledger itself. Otherwise try the steps provided.

[2019-06-14 12:28] cvarley100 commented on #1729
@Qaviz @Johnrb99 It is likely that you had a particularly old version installed before. A lot of core changes have been made since then. Please could you delete the app on iPhone/clear data on Android and set up again.

[2019-06-14 12:28] #1729 closed, assigned to laumair

[2019-06-14 12:35] laumair opened #1778 "Investigate frequent errors during promotion"
### Bug description

Promotion often errors out with the following error:

[code]

Also leads to occasional request timeout errors.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- OS version: 10.14.6 Beta

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: `7d150b2f0f576a3

[2019-06-15 12:43] Rude-Boy opened #1784 "Install the app on Kubuntu"
### Bug description
When opening the AppImage I am asked if I would ilke to integrate trinity-desktop-0.6.0.AppImage with my system. (see Dialog below)
But if i click "yes", no menu or icons have been added.

### Environment Specs

- OS version: Linux Kubuntu 19.04
- Trinity version: 0.6.0:

### Steps To Reproduce
1. open _trinity-desktop-0.6.0.AppImage_

### Expected behaviour
menu and icons are

[2019-06-15 13:04] jojoCoWorker commented on #1693
Ok I see your point but :

1. In the case we can't have direct shortcut while pressing first letter on keyboard, a "human eye" has to read the lines, when it comes to ee it reads "E"for "Eesti keel", then for Persian it reads an "unknown character", "fa" never appears, then it sees an "S" for Suomi, nor "fi" for "Finnish" whereas it's looking for alphabet letter before "F" if it's looking for Fren

[2019-06-15 13:08] jojoCoWorker commented on #1692
I confirm everything's back normal with Desktop 0.6.0
Great Job !

[2019-06-15 16:19] rajivshah3 commented on #1693
Yep, I agree. I use that a lot so that I don't need to search through long menus. I'll ask the community and team for their opinions on how we should map key presses to menu selections

[2019-06-15 16:33] rajivshah3 commented on #1784
Have you already installed [AppImageLauncher](https://github.com/TheAssassin/AppImageLauncher)?

[2019-06-15 17:01] Rude-Boy commented on #1784
Yeah, it works with AppImageLauncher. Thank you

[2019-06-15 18:56] vun1 opened #1785 "Dropdown menu on macOS and Trinity 0.6"
### Bug description
On the latest MacOS Mojave and trinity 0.6 the dropdown menu does not work. It seems to want to draw the menu when I click the iota icon, but the menu is not drawn properly.

### Environment Specs
Macbook pro 13 inch 2013.

- Manufacturer: Apple
- Model: 13 inch 2013
- OS version: Mojave 10.14.5

What build of Trinity are you running? Please provide the full version (you can fi

[2019-06-15 22:34] p4ch1nk0 opened #1786 "Cannot progress past "Let's add a name" screen during seed import"
### Bug description
Cannot progress past "Let's add a name" screen during seed import

### Environment Specs

- KDE Neon 5.16
- Trinity version: trinity-desktop-0.6.0.AppImage

### Steps To Reproduce
1. previously used trinity-desktop-0.4.6.AppImage
2. execute trinity-desktop-0.6.0.AppImage
3. select English (International) and click on Continue
4. select No, I have one
5. input a seed or import a

[2019-06-15 22:45] p4ch1nk0 commented on #1786
deleting Trinity from home/myusername/.config and relaunching allows me to manually type a seed and give it an account name, but it rejects the seedvault file password as invalid.

[2019-06-16 14:53] ghost opened #1788 "i dont see autopromotion working."
### Bug description
auto promote doesnt work

### Environment Specs
What device are you running Trinity on?

pc ,
win 10
0.6.0

proof of work local

### Steps To Reproduce
1.  send tx to your own wallet
2. wait for hour
3. nothing happend

### Expected behaviour
reattachements or promotions

### Actual behaviour
nothing

[2019-06-16 15:37] rajivshah3 commented on #1788
Do you see anything in the error log?

[2019-06-16 17:40] AntLopRod commented on #838
1. Trinity version:
0.5.2 and then 0.6.0
2. Ledger device IOTA app version (IOTA>About>Version):
IOTA 0.4.1
3. OS and version:
Windows 7
4. Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): Yes I can
5. Ledger uses an Index that is not 0 (y/n):
Yes
6. Can you successfully add a non-Ledger account (y/n):
Yes
7. You can get pass *Choose your Ledger ac

[2019-06-16 18:12] rajivshah3 opened #1789 "Error in /onboarding/seed-ledger"
## Error in Trinity Desktop

**Error** in **/onboarding/seed-ledger**
cannot open device with path

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5d042c5b79f6290019a29d22?event_id=5d0685800041f1a065020000&i=gh&m=ci)

## Stacktrace

    /Applications/Trinity.app/Contents/Resources/app.asar/node_modules/node-hid/nodehid.js:49 - new HID

[View full stacktrace](https

[2019-06-16 20:16] rajivshah3 commented on #1789
This issue might be related to Hardened Runtime, however there are no messages in the console from services such as `com.apple.tcc` that would indicate that Hardened Runtime is the cause. When setting up an existing Ledger account, the log messages in Console (search `Trinity`) appear to be normal. This issue does not seem to appear in dev mode

[2019-06-16 20:26] larthee commented on #1737
@cvarley100 - now I updated my PC to WIN 10 and installed the latest trinity 0.6.0  -what can I say - still same error - I do NOT have any other app open and trinity still does show same error - how could I fix it? Appreciate your advice step by step... Thanks.
![trinity 0 6 0 auf WIN10](https://user-images.githubusercontent.com/51678212/59569146-bdbf6d00-9085-11e9-9da2-e9d406cf34c3.jpg)

[2019-06-16 20:51] awadhi3 opened #1790 "My Trinity Wallet balance is 0 after reset on my PC"
Hello there.

I really need some help here. Recently i logged in to my trinity wallet on my MAC to send some IOTA, but i got error messages like your ledger wallet is not linked , or "missmatch". so i went ahead and downloaded the application on my PC and reset using my seed. I logged via my seed and now my balance is 0 ! im very worried guys, had good chunck of IOTA in my app .. kindly help me ou

[2019-06-16 20:53] rajivshah3 commented on #1790
Hi, please see the #help channel in [Discord](https://discord.gg/fNGZXvh) for support

[2019-06-16 20:53] #1790 closed, assigned to nobody

[2019-06-16 22:35] ghost commented on #1788
![image](https://user-images.githubusercontent.com/48189056/59570401-d59fec80-9097-11e9-90fb-932c37cfa692.png)

[2019-06-17 01:24] rajivshah3 commented on #1788
“Too Many Requests” means you were rate limited and should change nodes. We plan to do that automatically in the future, see #1176

[2019-06-17 07:23] ghost commented on #1788
the problem is i dont see any reattachments.. on tangleexplorer.

is there a way to see api calls to node? somehow?.
when i manualy retry i can see reattachements.

i'm mostly worried about new users having their tx pending .. and don't understand it's probably some auto promote issue that does not always work propperly.

[2019-06-17 07:30] ratiodep opened #1791 "Dropdown menu manual node selection not working"
### Bug description
The node selection dropdown menu is not displayed correctly

Win 7 64 bit
Trinity 0.60
![issue](https://user-images.githubusercontent.com/50994219/59586189-98ad1780-90e2-11e9-8124-44e473452964.png)

[2019-06-17 08:04] laumair commented on #1788
@wonkytonky2 What happens if you manually retry? Do you see reattachments or promotions then?

[2019-06-17 09:12] #1784 closed, assigned to nobody

[2019-06-17 12:00] ghost commented on #1788
yes manualy i see reattachements happening if promotion fails on tangle explorer.
 everyting works fine  if i do it manually

[2019-06-17 12:10] laumair commented on #1788
@wonkytonky2 Should be fixed with https://github.com/iotaledger/trinity-wallet/pull/1779.

[2019-06-17 12:12] ghost commented on #1788
cool thanks. i'll keep on testing with new release and update here

[2019-06-17 13:06] #1785 closed, assigned to rihardsgravis

[2019-06-17 13:34] #1778 closed, assigned to laumair

[2019-06-17 15:06] larthee commented on #1737
Don's ask me why, but finally it worked on WIN 10 and funds are shown again. So this ticket could be closed. Thanks fro the advice so far.

[2019-06-17 15:15] cvarley100 commented on #1737
Thanks for letting us know @larthee

[2019-06-17 15:15] #1737 closed, assigned to nobody

[2019-06-17 15:16] rajivshah3 commented on #1789
Fixed in #1793

[2019-06-17 15:16] rihardsgravis commented on #1789
Temporary fixed in #1793

[2019-06-17 18:20] viossat opened #1799 "[Proposal] Node settings page"
### Description
This is a proposal to improve the UX of the new (0.6.0) node screen.
- Unhealthy nodes are shown with a warning icon.
- Nodes from the remote list are shown grayed out (not removable) but disappear from the list if the option is disabled.
- Quorum is made from the primary node and N-1 secondary nodes (N=quorum size).

![node-screen](https://user-images.githubusercontent.com/3019820

[2019-06-17 19:37] rajivshah3 commented on #1789
An error linked to this issue has been marked as fixed in Bugsnag
[**Error** in **/onboarding/seed-ledger**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5d042c5b79f6290019a29d22?event_id=5d07eab50042165faf4f0000&i=gh&m=fx)

[2019-06-18 11:22] viossat opened #1808 "[Feature] Ledger Nano X Bluetooth support"
### Description
Add Ledger Nano X Bluetooth support.

### Motivation
Especially useful on mobile.

### Am I planning to do it myself with a PR?
No.

[2019-06-18 12:22] laumair opened #1809 "Override remote nodes list"
### Bug description
The node list [endpoint](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/config.js#L43) filters out unhealthy nodes. However, as Trinity persists the nodes, those unhealthy nodes are not filtered out locally.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- OS version: 10.14.6 Beta

What build of Trinity are you runnin

[2019-06-18 13:00] rajivshah3 commented on #1789
An error linked to this issue has been reopened in Bugsnag
[**Error** in **/onboarding/seed-ledger**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5d042c5b79f6290019a29d22?event_id=5d08e067004216c9bac60000&i=gh&m=ra)

[2019-06-18 13:14] rihardsgravis commented on #1789
This has a bit different error thought (no path in `0.6.0` vs exact path in `0.6.1`) which could just mean an incorrect usb read (could be temporary and fine with the next read).

[2019-06-18 13:24] rihardsgravis commented on #1786
@p4ch1nk0 do I understand it correctly that you cannot import your seedvault file because it says Incorrect key for the seedvault file?
Could you try to open the seedvault file in a password manager like [Keepass](https://keepass.info/help/v2/setup.html#mono) to make sure you enter the correct password for the file?

[2019-06-18 14:46] cyclux commented on #684
@rihardsgravis @rajivshah3 On Discord Charlie suggested to reopen this issue. I don't know if it is 100 % related though. In my case I get notified about old outgoing and confirmed transactions from the past, on every start of Trinity. It takes a while after Trinity starts, then the notifications pop off. This is a scary situation because you only expect to get notified once about outgoing TX, so

[2019-06-18 14:56] laumair commented on #1739
Reopening the issue as it still sometimes happen (on mobile) while sending transaction.

[2019-06-18 17:38] DevTore opened #1815 "Desktop wallet launches with blank screen"
### Bug description
No graphic on the screen after launching app

### Hardware Spec
MacBook Pro

### Expected behaviour
1. White Trinity/ IOTA logo appears and disappears on a dark blue background
2. login window etc is displayed

### Actual behaviour
1. White Trinity/ IOTA logo appears and disappears on a dark blue background
2. Display continues to show dark blue background only (no login window

[2019-06-18 22:09] javixeneize opened #1814 "use secure enclave for authentication"
### Description
Delegate login on secure enclave

### Motivation
I have read this (https://blog.iota.org/trinity-threat-modelling-mitigation-report-a1c183eb3970) and its a bit confusing for me. I believe that in iOS a better (and safer) implementation can be done.
### Requirements
Here is a bit of explanation on how to implement that -- https://developer.apple.com/documentation/security/certificat

[2019-06-18 22:11] t00k commented on #1729
![Screenshot_2019-06-07-15-43-17-408_com iota trinity](https://user-images.githubusercontent.com/49842330/59723350-a79ce280-9226-11e9-9768-4fccc8fbb8ba.png)
@cvarley100 Don't know if this has been taken into account with the migration issues? Have seen this error (localhost) twice on mobile and now there are a lot of Mac users being unable to migrate. Something similar on Mac?

[2019-06-18 22:36] rajivshah3 commented on #1814
I believe we looked at this before and found that it’s unfortunately not possible. From my understanding of the documentation, keys that are stored inside the Secure Enclave must be generated inside it.

“Not having a mechanism to transfer key data into or out of the Secure Enclave is fundamental to its security.”

https://developer.apple.com/documentation/security/certificate_key_and_trust_servic

[2019-06-19 08:43] t00k commented on #1815
If you updated from a really old version, try downloading 0.4.6 (find it on releases for this github) and run it, then update from 0.4.6 to the latest version. Make sure to have your seeds backed up.

[2019-06-19 09:34] sachushaji opened #1816 "Trinity makes use of unmaintained iota.lib.js"
### Description
The trinity wallet extensively makes use of iota.lib.js which is unmaintained currently.

### Motivation
The @iota/core is the latest version so in order to get the latest features, iota.lib.js should be replaced.

### Requirements
- The libs which are used to interact with iota mainnet should be ported to the latest iota library.
- Main changes would be here /src/shared/libs/*

##

[2019-06-19 10:55] alaakaazaam opened #1817 "The username or passphrase you entered is not correct."
### Bug description
I get this error after opening Trinity and then clicking 'Open the wallet' : "The username or passphrase you entered is not correct."

### Environment Specs
- Manufacturer: Sony
- Model: Xperia sp C5303 lbhuashan
- OS version: Cyanogenmod12 - 5.0.2 lollipop

- Trinity version: Latest available on playStore : trinity-mobile-0.7.2

### Steps To Reproduce
- scenario1 : entered my

[2019-06-19 11:15] laumair commented on #1816
@sachushaji Thank you reporting this.

We do know about the usage of [older](https://github.com/iotaledger/iota.js/tree/develop) version of [iota.js](https://github.com/iotaledger/iota.js). Plan is to move to the latest version in near future.

Btw, we do use [@iota/core](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/libs/iota/extendedApi.js#L8) but haven't fully updated it'

[2019-06-19 11:32] laumair commented on #1815
@DevTore Did you update the wallet from a previous version?

[2019-06-19 11:33] laumair commented on #1788
@wonkytonky2 Did you get a chance to test on the latest version?

[2019-06-19 11:52] DevTore commented on #1815
I downloaded the latest version and replaced the old version. After opening the new version, there was just a dark blue screen after the iota symbol had disappeared. I tried different things, such as
- clicking the “check for newest version” in the drop down menu, but received the message that I already have the latest version
- Downloading the newest version (from the IOTA Trinity download page a

[2019-06-19 14:06] laumair commented on #1815
@DevTore Do you (by any chance) remember the older version number of the application you were using?

[2019-06-19 14:46] ghost commented on #1788
not realy because network works pretty good now .  it's not pending anymore. i'll update issue when network gets slower  and i have to do auto promote

[2019-06-19 20:40] DevTore commented on #1815
Unfortunately, I do not know the older version number of the application.
However, I followed @t00k advise to download and install v04.6. When I ran it, my MIOTA balance also displayed correctly.
Subsequently, I used the scroll down menu "Look for updates" and let the application automatically update to the latest version, which worked.
BUT, when entering my password, a 'Data migration' screen app

[2019-06-19 20:41] #1809 closed, assigned to laumair

[2019-06-19 20:49] #1753 closed, assigned to laumair

[2019-06-20 09:06] laumair commented on #1815
@DevTore Thank you for the detailed information. I will investigate and fix it.

[2019-06-20 17:22] #1755 closed, assigned to laumair

[2019-06-20 18:23] luca-moser opened #1836 "Blank screen after clicking "Settings" on login screen"
### Bug description
Trinity's app window gets blank after clickong on "Settings" on the login screen.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Lenovo
- Model: T480
- OS version: Windows 10

- Trinity version: v0.6.1

### Steps To Reproduce
1. download
2. run
3. blank screen

### Expected behaviour
Settings should open.

### Actual behaviour
Blank screen.

[2019-06-20 20:19] #1815 closed, assigned to nobody

[2019-06-20 20:37] #1386 closed, assigned to laumair

[2019-06-20 20:37] #1538 closed, assigned to nobody

[2019-06-20 23:09] schadegg commented on #1836
Confirm identical behavior while running on Mac OS X (10.14.1). Blank trinity window screen, unresponsive.

[2019-06-21 03:08] rajivshah3 commented on #1836
Which version were you running previously?

[2019-06-21 04:27] pmatulis opened #1846 "Does not work on Ubuntu"
The wallet (at least `v.0.6.0`) does not work on Ubuntu 16.04 LTS (amd64). The application simply does not open.

[2019-06-21 05:40] laumair commented on #1836
@luca-moser Did you update to `v0.6.1` from an older version?

If yes, then this is probably related to https://github.com/iotaledger/trinity-wallet/issues/1815 and https://github.com/iotaledger/trinity-wallet/issues/1753. It's already fixed with https://github.com/iotaledger/trinity-wallet/pull/1832 and will be available in the next version.

[2019-06-21 06:55] obany opened #1847 "Export SeedVault tab into disabled Retype field"
### Bug description
On the Export SeedValue page if you have an insecure `Key` the `Retype Key` box is disabled, so you can't click into it. However you can tab into it and type.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Microsoft
- Model: SurfaceBook
- OS version: Win10

What build of Trinity are you running? Please provide the full version (you can find it i

[2019-06-21 09:47] UmbahaSpodPaha opened #1850 "Mobile modal cut-off issues"
### Bug description
1. Half of the toolbar visible during QRcode scan
![20190621_110427](https://user-images.githubusercontent.com/35224101/59914223-3aea3980-941a-11e9-9d8d-ff6cd4b5a3b3.jpg)

2. Little gap on the selected button
![20190621_110337](https://user-images.githubusercontent.com/35224101/59914222-3a51a300-941a-11e9-8a22-957348d47c3e.jpg)

### Environment Specs
- Samsung Galaxy S10
- Andr

[2019-06-21 12:21] #1847 closed, assigned to laumair

[2019-06-21 12:21] rajivshah3 commented on #1846
@pmatulis can you try the latest build that was just released?

[2019-06-21 13:49] DevTore commented on #1815
Thank you @laumair and @t00k for trying to solve the issue. Unfortunately, there is yet another PROBLEM:
1) I installed the newest Trinity Wallet version for mac (v0.6.2), which is now showing the password input field
2) However, when typing in my password, I now receive the error message "Unrecognizable password"
3) 2 days ago, I followed @t00k advise to download v0.4.6, which showed my correct M

[2019-06-21 14:13] DevTore opened #1854 "Unrecognizable Password"
### Bug description
Password not recognized after version update

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: MacBook Pro
- OS version: macOS 10.14.3

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: v0.6.2

### Errors
My ticket #1815 Launch - BUT NO CONTENT wa

[2019-06-21 16:14] pmatulis commented on #1846
@rajivshah3 Tried it. No change. If I provide an strace output will that leak private information?

[2019-06-21 16:43] rajivshah3 commented on #1846
@pmatulis it shouldn’t, but could you check it and redact it appropriately just to make sure?

[2019-06-21 17:01] pmatulis commented on #1846
@rajivshah3 Heh, well it's many pages long.

[2019-06-21 17:02] rajivshah3 commented on #1846
Could you post the first few lines?

[2019-06-21 17:27] pmatulis commented on #1846
Sure. Shall I remove ~/.config/Trinity first? It gets created on first "run".

[2019-06-21 19:43] KiwiCat123 opened #1856 "retry button doesn't work in Mac tray app"
### Bug description
When a transaction is not confirmed yet and I click on the retry button in the Mac tray app nothing happens although it should promote the tx. In the normal Trinity window it works fine.

### Environment Specs
- OS version: MacOS 10.14.5

- Trinity version: 0.6.2

### Steps To Reproduce
1. open mac tray app
2. click on retry in an unconfirmed transaction

### Expected behaviour

[2019-06-21 19:48] KiwiCat123 opened #1857 "Theme gets reset to Default after opening Trinity again"
### Bug description
After Trinity gets fully closed and opened again the theme I set got reset to `Default`. In my example I set the theme to`Ionic` before.

### Environment Specs
- OS version: MacOS 10.14.5

- Trinity version: 0.6.2

### Steps To Reproduce
1. set a different them in the settings
2. fully close Trinity and open it again

### Expected behaviour
The same theme as before the restart

[2019-06-21 22:04] ghost opened #1858 "Address reuse possible with pending tx following wallet reset"
### Bug description
https://thetangle.org/address/BNWATFGSEYMBXPAETS9ECDIJLOJTOZRXLSTIC9OPBDKRTZZGODOEBOEXUWVGTADTIUECTIEMXRSJECKT9
![image](https://user-images.githubusercontent.com/48189056/59953502-ac5cd300-9480-11e9-8a24-90c94a7ed82a.png)

![image](https://user-images.githubusercontent.com/48189056/59953536-d4e4cd00-9480-11e9-88a3-84e70e78cb74.png)

my tx was pending . i tried to reattach a fe

[2019-06-21 22:08] Thoralf-M commented on #1858
Do you know what node you were connected to?

[2019-06-21 22:09] ghost commented on #1858
nope  it did have node connection issues at the time though i swictched trough a few

[2019-06-22 07:35] yotardis opened #1860 "Trinity stalls forever before any screen appears"
### Bug description
Launching trinity after install. Stays stuck forever without displaying anything. Well, I didn't wait "forever" since I have a life but 30 mn without any trinity screen should be enough to be worried ^^

### Environment Specs
Windows 7 Pro 64 bit

What build of Trinity are you running? Please provide the full version (you can find it in Settings
. First saw this with 0.6.1, did

[2019-06-22 20:21] alaakaazaam commented on #1817
Lollipop installation process : https://www.androidblog.gs/install-android-5-0-lollipop-via-unofficial-cyanogenmod-12-on-sony-xperia-sp-with-locked-bootloader/

[2019-06-22 20:49] steffenroeber commented on #838
After a while working with 0.62 now I get again the node error:
Following log:
![trinity](https://user-images.githubusercontent.com/46009216/59968788-c14c6b80-953f-11e9-9166-4c250578d232.png)
Same ledger, same ledger app. After reseting the wallet all is fine again. Using the 'old backuped' trinity folder in appdata gives same error again.

[2019-06-22 20:55] steffenroeber commented on #838
After trying to restore wallet from Legder I got another error: Cannot connected to ledger. So I restarted the app on ledger and restoring finished successfully. but now my old backuped version from appdata also works. It seems that might be a bug in the connection with the ledger app/hardware.

[2019-06-23 17:20] ggreeve commented on #508
I can confirm This is still present on WIN10 0.6.2

[2019-06-23 19:16] rajivshah3 commented on #1857
I can't seem to reproduce this on Trinity Desktop v0.6.2 on macOS 10.14.6 Beta (18G48f)

[2019-06-23 19:18] KiwiCat123 commented on #1857
@rajivshah3 it happened only on that new 0.6.2 animations version

[2019-06-23 19:19] rajivshah3 commented on #1857
Ooh ok, I'll try that one

[2019-06-23 19:21] rajivshah3 commented on #1857
Yep, I can reproduce it on that build

[2019-06-24 19:35] #1854 closed, assigned to nobody

[2019-06-25 09:37] laumair commented on #1858
@wonkytonky2 Was the (pending) transaction in your wallet when you made an attempt to send transaction after resetting your wallet?

[2019-06-25 09:38] laumair commented on #1752
Fixed in https://github.com/iotaledger/trinity-wallet/pull/1818

[2019-06-25 09:38] #1752 closed, assigned to laumair

[2019-06-25 09:40] ghost commented on #1858
yes, that was what worries me

[2019-06-25 09:41] laumair opened #1869 "undefined is not an object (evaluating 'e.length')"
## Error in Trinity Mobile

TypeError in `com.reactnativenavigation.controllers.NavigationActivity`

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cf59ede2edf2200196470b2?filters[event.since][0]=30d&filters[error.status][0]=open)

## Stacktrace

[code]

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cf59ede2edf2200196470b2?f

[2019-06-25 10:25] ghost commented on #1788
![image](https://user-images.githubusercontent.com/48189056/60091108-2375be00-9744-11e9-88fb-ffbbe9970c92.png)
same problem with latest desktop version.
i dont see activity  for autopromotion.
https://thetangle.org/bundle/IXYUTRJIJX9FXDLQXSKULDGYJNRKOCSYK9NKXJGZOXARETFIIFRQWJPMA9WCSUZ9ZGRCJDKQRK9KFYZQB

![image](https://user-images.githubusercontent.com/48189056/60091188-4ef8a880-9744-11e9-8703-40

[2019-06-25 18:12] laumair commented on #1858
@wonkytonky2 Can you please share the state of the wallet with me on [Discord](https://discordapp.com/invite/fNGZXvh)?

[2019-06-25 20:26] rajivshah3 commented on #1860
Can you post a screenshot of the list of files in this folder? `C:\Users\your-username\AppData\Roaming\Trinity`

[2019-06-25 20:29] rajivshah3 commented on #1677
@rihardsgravis does this mean the issue occurs with a certain version of macOS or the issue stems from a Trinity update on macOS?

[2019-06-25 21:19] #1869 closed, assigned to laumair

[2019-06-26 14:43] rihardsgravis commented on #1857
Fixed in 29ce68642

[2019-06-26 14:43] #1857 closed, assigned to nobody

[2019-06-26 21:19] t00k opened #1875 "Not able to restore Ledger index over 999"
### Bug description
When trying to restore from a Ledger index higher than 999, Trinity automatically changes the index to 999.

### Environment Specs
Windows 10,
Trinity desktop 0.6.2

### Steps To Reproduce
1. Add new account
2. Restore an existing Ledger account
3. Input anything with 4 digits, like 5555

### Expected behaviour
Trinity should accept the index above 999.

### Actual behaviour
Tr

[2019-06-26 22:10] rajivshah3 commented on #1875
@rihardsgravis it looks like [this change](https://github.com/iotaledger/trinity-wallet/commit/949fc05ecddb8603f444afab77279d318ab048e7#diff-3e6e1c0c0f3439f897418a4e463888e7R65) caused this issue

[2019-06-26 22:14] rajivshah3 commented on #1875
@t00k for a workaround, I think versions before 0.6.0 should allow any value. You could try moving funds to a new account on a lower index using one of those versions

[2019-06-27 01:24] rajivshah3 opened #1876 "Invariant Violation in /settings/node"
## Error in Trinity Desktop

**Invariant Violation** in **/settings/node**
Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7Burl%2C%20pow%2C%20token%2C%20password%7D&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

[View on Bugsnag](https://app.bugsnag.com/i

[2019-06-27 01:26] rajivshah3 commented on #1876
Full error is:

[code]

This may be coming from https://github.com/iotaledger/trinity-wallet/blob/eb06fcecb4bf6d3a3150eb8fba00a3af42506838/src/desktop/src/ui/views/settings/NodeCustom.js#L34

[2019-06-27 19:34] KiwiCat123 opened #1878 "Incorrect quorum size shown in node settings"
### Bug description
When quorum gets disabled and enabled again the quorum size got reset to 3 but when I tap on it to change the size it automatically selects 2 and I need to change to 3 and back to 2 to change it.

### Environment Specs
- OS version: iOS 12.1.1
- Trinity version: 0.7.3 (78)

### Steps To Reproduce
1. disable quorum
2. enable it again
3. press to select another `quorum size`

###

[2019-06-27 21:10] rajivshah3 opened #1879 "App will crash if message is too long when creating a QR code"
## Error in Trinity Desktop

**Error** in **/wallet/receive**
code length overflow. (23668>23648)

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5d13e5004454840019921aa4?event_id=5d13e7b80045fd3649fd0000&i=gh&m=ci)

## Stacktrace

    iota://dist/bundle.js:32639 - Function.QRCode.createData

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trinity-d

[2019-06-27 21:10] rajivshah3 commented on #1879
This bug was originally found by @Thoralf-M

[2019-06-28 16:00] Noki commented on #1636
Yay! Crashes with a white screen now...

![image](https://user-images.githubusercontent.com/198902/60355423-9d20dc80-99ce-11e9-9312-dd47ea412c8b.png)

[2019-06-28 16:05] rajivshah3 commented on #1636
@Noki sorry for the delay in fixing this issue. For now, I think you may need to reset Trinity by deleting the `AppData\Trinity` folder. We're working on a fix to reduce database size in #1608

[2019-06-28 17:03] bsonnek commented on #838
I had this same issue - I noticed If I closed the Ledger Live App and only had Trinity open, the issue resolved itself.

[2019-06-28 22:58] IOTASwiss opened #1885 "Price quoting in Trinity is the wrong way around."
In the pricing section on the Trinity Desktop it says BTC/iota but the price is in Satoshis. So as it is displayed  right now BTC is the base currency and Iota is the quoting currency but it’s quoted in Satoshis. So if we want to continue to price it in sats (which I guess we all want since its the most common form) it should read Iota/btc. Same goes for eth and USD.  For example: USD/IOTA means h

[2019-06-28 23:12] rajivshah3 commented on #1885
If anyone wants to work on this issue, the only things that needs to be changed are these lines:

https://github.com/iotaledger/trinity-wallet/blob/03fe134a868210b75f67121263f8b8dfb36a5d90/src/desktop/src/ui/components/Chart.js#L81

https://github.com/iotaledger/trinity-wallet/blob/03fe134a868210b75f67121263f8b8dfb36a5d90/src/desktop/__tests__/ui/components/chart.test.jsx#L41

[2019-06-29 00:28] #1879 closed, assigned to nobody

[2019-06-29 16:22] DeathDragonAW opened #1888 "Trinity laggy on win7"
### Bug description
Trinity is always running very laggy for me since version 0.6, had a look on my RAM usage and it is jumping in the range of about 150M to 2G.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Me
- Model: Mainboard X79A-GD45 Plus, CPU Xeon E5-1620V2, RAM 16GB G.Skill RipJawsZ DDR3-1866 DIMM CL8 Quad Kit
- OS version: Win7 Pro 64Bit up to date

What

[2019-06-29 16:24] t00k commented on #1888
I, (the mod he talked to) also had this issue on Windows 7, but only with seeds that contained a lot of history, + 100 transactions. After resetting wallet and importing without history the issue dissapeared. Maybe some memory leak, or updating when it shouldnt in the background?

[2019-06-29 21:26] #1885 closed, assigned to nobody

[2019-06-29 21:32] rajivshah3 commented on #1888
That could be the case. Another possible cause might be that it's rendering all of the transactions in the history window - even ones that aren't visible to the user (until they scroll up/down)

[2019-06-30 15:13] f-ben commented on #1888
I myself had the same problem on Windows 10 too. After deleting trinity, deleting appdata\trinity, reinstalling and setting up my account (with the same seed) everything works fine again.

[2019-06-30 19:18] t00k opened #1889 "Not able to enable auto-promotion when using autonodemanagement, gets error about Remote PoW."
### Bug description
I am not able to use auto-promotion when using automatic node management. When I try to slide the auto-promotion to Enable, it gives me an error about Remote PoW not supported on the nodes. Either the button mapping is wrong, or some other bug.

### Environment Specs
What device are you running Trinity on?

- OS version: Windows 10
- Trinity version: 0.6.2

### Steps To Reprodu

[2019-06-30 20:49] muXxer opened #1890 "Add possibility to use a specific node for PoW"
### Description
It would be a nice feature, if you could choose a specific node for all remote "attachToTangle" calls.

### Motivation
This way you could use a smaller node like Raspberry Pi 4 for the quorum, and the heavy PoW could be done by a stronger server, or an external service like powsrv or thetangle.buisness.

### Requirements
Add a setting for specific PoW node.

### Am I planning to do

[2019-06-30 20:50] rajivshah3 commented on #1889
Related to #1750 . We might be able to fix this by implementing #1890 so that a node that supports PoW will be used for attachToTangle calls, but the original node will still be used for everything else.

[2019-07-01 13:01] yotardis commented on #1860
here you go :
![Image 001](https://user-images.githubusercontent.com/42700319/60438490-127bef80-9c11-11e9-8daf-f04c4d48f830.png)

. lockfile appears only during launch
. blob_storage folder is "updated" (well, modified date at least is updated) at each launch, but without content apart from some empty alphanumeric subfolder

[2019-07-01 14:13] laumair commented on #1888
@rajivshah3 I think this could be related to the duplicate objects in realm.

https://github.com/iotaledger/trinity-wallet/pull/1609

[2019-07-01 16:01] #682 closed, assigned to rajivshah3

[2019-07-01 18:12] rajivshah3 commented on #1789
@rihardsgravis yeah, this issue was automatically reopened by Bugsnag but I guess it grouped it with the older error. The new error looks like this:

[code]

Could this have been caused by a `node-usb` update?

[2019-07-01 20:32] rajivshah3 commented on #1878
@laumair I was able to reproduce this on an iOS simulator, but I'm not sure what's causing the problem. It seems to be an inconsistency between the picker and the quorum settings.

To reproduce:

1. Change quorum size to 2
2. Disable quorum
3. Enable quorum -- quorum size should now say `3`
4. Tap `Quorum size` -- the picker will select `2`

[2019-07-02 09:35] ghost opened #1898 "Problem with IOTA Balance in Trinity"
Hi,

i updated the Trinity Wallet and i didn't see my Balance.
I have restored my "account" and put the seed + ledger.

via a Snapshot i would like to restore my balance, but i didn't found anything..

Can someone help me please?

[2019-07-02 13:14] rajivshah3 commented on #1898
Hi, have you tried asking on the #help channel in Discord?

[2019-07-02 13:20] ghost commented on #1898
Hi,
where i can find this chat?
Can you please send me an url?

[2019-07-02 15:18] Thoralf-M commented on #1898
https://discord.iota.org/
if you are on the server https://discordapp.com/channels/397872799483428865/398499876935303186

[2019-07-02 16:26] ghost opened #1900 "promtion Error: Transaction is inconsistent. Reason: tails are not solid (missing a referenced tx): AESMZXXM9ENPEEFBCNJCFMPLFK9BDIREFOVSLCDXRAREKAZKBVAYJGRONSTSEEBAIEPRJKNEIUYJ99999"
### Bug description

Error: Transaction is inconsistent. Reason: tails are not solid (missing a referenced tx): AESMZXXM9ENPEEFBCNJCFMPLFK9BDIREFOVSLCDXRAREKAZKBVAYJGRONSTSEEBAIEPRJKNEIUYJ99999
i get this kind of errror message everyt time i try to promote.
once enough time has passed it does a reattch
eventually the tx get confirmed but this error message in promotions is realy confusing

seems t

[2019-07-02 17:27] ratiodep opened #1901 "Trinity minimizes when using finger print to confirm a transaction"
Trinity 1.0
Huawei P20 Pro
Android 8.1

When I try to confirm a transaction with the finger print authentication Trinity minimizes  instead of confirming the transaction.

Tried it several times

[2019-07-02 17:31] ratiodep commented on #1901
Worked again after I closed Trinity completely and started again.

Could be a Huawei behavior, energy saving or so...

[2019-07-02 17:32] rajivshah3 commented on #1900
@laumair is this an IRI issue?

[2019-07-02 18:39] ghost commented on #1900
look like it i get the same issue trough https://thetangle.org when i use promote
i should open issue on iri github? or can you reference it there?

[2019-07-03 00:57] UmbahaSpodPaha commented on #1411
Still exist on first official release 1.0.0

[2019-07-03 01:00] UmbahaSpodPaha commented on #1229
@rajivshah3 had you time to check this one? This still happens when keyboard is open. I believe I experienced it once on send screen even with keyboard hidden.

Trinity 1.0.0

[2019-07-03 01:01] rajivshah3 commented on #1229
@cvarley100 I forget, were you able to fix this issue on other screens before?

[2019-07-03 01:05] UmbahaSpodPaha commented on #677
Problem still exist on newest 1.0.0. Not sure what and how often something triggers it. I even deleted all "junk-clearing" apps from my phone to test this one.

[2019-07-03 01:08] UmbahaSpodPaha opened #1902 "Mobile: "Back" button untranslated on some Setting screens and their submenus"
### Bug description
"Back" button untranslated on some Setting screens and their submenus (see screenshot)

### Environment Specs
Samsung Galaxy S10
Android 9
Trinity 1.0.0

![20190703_023853](https://user-images.githubusercontent.com/35224101/60556048-bc599a00-9d3f-11e9-83f3-8c9047ba0619.jpg)

![Screenshot_20190703-030615_Trinity](https://user-images.githubusercontent.com/35224101/60556049-bcf230

[2019-07-03 01:19] yonghwan-ki opened #1903 "I think my wallet was hacked. On April 28th, someone sent it to another wallet. Let me know how to find it. It's too hard."
The issue tracker is only for reporting bugs. If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you have general questions on IOTA

[2019-07-03 01:20] rajivshah3 commented on #1903
Hi, someone can help you find the funds in the #help channel on [Discord](https://discord.iota.org/)

[2019-07-03 01:20] #1903 closed, assigned to nobody

[2019-07-03 03:24] yonghwan-ki opened #1906 "I think my wallet was hacked. On April 28th, somebody sent it to another wallet. Let me know how to find it. It's too hard. I think my wallet password has been leaked. Seed was kept safe. Someone stole my iota Please help me."
The issue tracker is only for reporting bugs. If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you have general questions on IOTA

[2019-07-03 03:42] rajivshah3 commented on #1906
As mentioned in #1903 , please ask for help in the #help channel on [Discord](https://discord.iota.org/)

[2019-07-03 03:42] #1906 closed, assigned to nobody

[2019-07-03 09:31] cvarley100 commented on #1229
I don't think I've taken a look yet

[2019-07-03 10:27] brunnerm4x opened #1909 "Receive QR-Code not showing iOS"
After generating a receive Address, the trinity app does not show the QR-Code (just a black square).
Device: iPhone 5s, iOS 12.3.1
Trinity Release Version

I have seen this behavior in trinity before, but I thought it would be because of wrong configuration after many updates in beta.
I have now deleted the app completely, restarted the device and after that reinstalled current version of trinity;

[2019-07-03 11:25] KiwiCat123 commented on #1909
I can confirm this on 1.0.0(79)
![IMG_0001](https://user-images.githubusercontent.com/21984138/60587935-feadc600-9d95-11e9-8fc8-d30206ba2930.PNG)

[2019-07-03 12:13] rihardsgravis commented on #1677
macOS update

[2019-07-03 12:22] rihardsgravis commented on #964
Blank screen issue fixed in #1549 . If the problem reappears with a specific error, a new issue should be opened.

[2019-07-03 12:22] #964 closed, assigned to rihardsgravis

[2019-07-03 14:25] rihardsgravis commented on #1860
@yotardis could you, please, check that you download Windows 7 release and not Windows 10?
At https://github.com/iotaledger/trinity-wallet/releases/tag/desktop-1.0.0 Windows 7 release installation file is named `trinity-desktop-*win7-1.0.0.exe`

[2019-07-03 15:08] rajivshah3 commented on #1909
@KiwiCat123 which device are you using?

[2019-07-03 15:15] rajivshah3 commented on #1909
I can't reproduce this on an iPhone 6S, iOS 13 (17A5508m)

[2019-07-03 15:47] brunoamancio commented on #649
?

[2019-07-03 18:30] Hissi88 opened #1914 "Can't login when node auto-switching disabled"
### Bug description
After disabling **Primary node autoswitching** and selecting a node in the list (no matter which node), I can't login into Trinity anymore nor can I open the settings (it's blank).

When trying to login, this error shows up:
![grafik](https://user-images.githubusercontent.com/45494848/60616079-fa52ce80-9dd0-11e9-9f04-538c87d89dd9.png)

It's reproducable on a fresh installation.

[2019-07-03 19:03] KiwiCat123 commented on #1909
@rajivshah3 only had this on my iPhone 5S iOS 12.2

[2019-07-03 19:35] alaakaazaam commented on #1817
![Screenshot_2019-07-03-17-01-58](https://user-images.githubusercontent.com/6622814/60620010-58d07a80-9dda-11e9-945f-a8cf1bcd3bfe.png)
Tried with new version today from playstore, imported seedvault, filled password and pressed 'Open wallet'

[2019-07-03 19:36] KiwiCat123 opened #1915 "Automatic node management resets quorum size to 4"
### Bug description
I changed the quorum size to `2` for example. The default size should be `3`. When I disable and enable quorum the size gets reset to 3 as expected but when I enable `Automatic node management` again is got reset to 4 instead of 3.

### Environment Specs
- OS version: iOS 12.1.1
- Trinity version: 1.0.0 (79)

### Steps To Reproduce
1. change quorum size
2. enable `Automatic nod

[2019-07-03 19:38] jojoCoWorker commented on #1914
Same pb on WIN7 too. I thought it was because I added custom nodes, but I think I also disabled Primary node autoswitching. It happens to me at each Trinity update for the last 2 updates.
I'd add that only the node setting page is "blanck", other setting pages are fine on my hand.

[2019-07-03 20:17] jojoCoWorker commented on #1914
I could reproduce with only disabling "Automatic node management" and "Primary node autoswitching" :
![image](https://user-images.githubusercontent.com/33653820/60622277-32154280-9de0-11e9-9f89-ac2808e0f7a9.png)
Then close Trinity, then reopen

[2019-07-03 21:08] alaakaazaam commented on #1817
If i try to build trinity from github sourceCode, i get this trace :

stephane@ste64:/media/stephane/Ta/iota/trinity/src/trinity-wallet/src/mobile$ yarn --warning-mode --verbose --stacktrace all android:dev
yarn run v1.16.0
verbose 0.897 Checking for configuration file "/media/stephane/Ta/iota/trinity/src/trinity-wallet/src/mobile/.npmrc".
verbose 0.898 Checking for configuration file "/home/steph

[2019-07-03 21:11] alaakaazaam commented on #1817
![message_on_device_after_rn_build](https://user-images.githubusercontent.com/6622814/60625328-ccc54f80-9de7-11e9-8986-ba0e1aa88c6b.png)

[2019-07-04 03:53] sloganking opened #1923 "Ledger nano receiving address not show"
### Bug description
After hitting receive in Trinity desktop, the address is shown for a few frames before the wallet stops displaying the address. Ledger nano X does not indicate that addresses are being generated while trinity is generating a new address.

### Environment Specs

- OS version: Win10
- HW Wallet: Ledger nano X
- Ledger firmware version: 1.2.4-1
- Ledger IOTA app version: 0.5.3

-

[2019-07-04 04:09] sloganking commented on #790
Is the IF still interested in implementing this? If so, around what time, or after what more pressing issues are completed, can this feature request be reviewed and possibly implemented?

[2019-07-04 04:47] sloganking opened #1924 "Ledger Nano not recognized as connected"
### Bug description
Trinity does not realize that Ledger Nano is connected and unlocked. This caused Ledger Nano accounts to not be able to send or receive

### Environment Specs

- OS version: Win10
- HW Wallet: Ledger nano X
- Ledger firmware version: 1.2.4-1
- Ledger IOTA app version: 0.5.3

- Trinity version: Desktop 1.0.0

### Steps To Reproduce
1. connect and unlock Ledger HW wallet
2. attem

[2019-07-04 05:34] sloganking opened #1925 "Ledger not recognised"
### Bug description
Trinity does not recognize that Ledger is unlocked and the IOTA app selected

### Environment Specs

- OS version: Win10
- HW Wallet: Ledger nano X
- Ledger firmware version: 1.2.4-1
- Ledger IOTA app version: 0.5.3

- Trinity version: Desktop 1.0.0

### Steps To Reproduce
1. connect and unlock Ledger HW wallet
2. attempt to generate receiving address of Ledger account.
3. Trin

[2019-07-04 06:36] sloganking opened #1926 "Allow multiple account creation per seed"
### Description
Keep the Trinity wallet's ability to handle multiple seeds, but allow users to create multiple accounts per seed. This will maintain backwards compatibility with how seeds and accounts are handled currently, while simplifying the account creation process for the user.

This feature request aims to supersede #790 by achieving the same benefits while also allowing for backwards compa

[2019-07-04 06:50] sloganking commented on #790
This Feature Request has been superseded by #1926. This feature request may be re-opened if it is found more desirable than #1926.

[2019-07-04 06:50] #790 closed, assigned to nobody

[2019-07-04 09:08] #1875 closed, assigned to rihardsgravis

[2019-07-04 09:09] #1876 closed, assigned to rihardsgravis

[2019-07-04 09:24] #685 closed, assigned to rihardsgravis

[2019-07-04 11:06] rihardsgravis commented on #1915
Fixed in #1891

[2019-07-04 11:06] #1915 closed, assigned to nobody

[2019-07-04 11:45] cvarley100 opened #1930 "Enable Hardened Runtime"
Enable Hardened Runtime, a prerequisite for notarization
- Set `Allow DYLD Environment Variables` to off
- Beginning with macOS Catalina (10.15), all Developer ID apps must be notarized
- Add script to upload app for notarization

Previously closed: #1751

[2019-07-04 11:50] rihardsgravis commented on #1679
Fixed in #1679

[2019-07-04 11:50] #1679 closed, assigned to rihardsgravis

[2019-07-04 12:26] cvarley100 commented on #1890
@laumair Relevant monkey patch for iota.lib.js: https://github.com/iotaledger/curl-remote

[2019-07-04 12:30] cvarley100 opened #1932 "Ledger Nano X Bluetooth Support"
### Description
Trinity Desktop currently supports Ledger Nano X via USB. We need to add support for both desktop and mobile via bluetooth.

Relevant deps:
https://github.com/LedgerHQ/ledgerjs/tree/master/packages/react-native-hw-transport-ble
https://github.com/LedgerHQ/ledgerjs/tree/master/packages/hw-transport-node-ble

### Motivation
Many users have Nano Xs.

cc @TylerHann

[2019-07-04 12:32] cvarley100 commented on #1900
@GalRogozinski You able to take a look at this one?

[2019-07-04 12:36] #1856 closed, assigned to rihardsgravis

[2019-07-04 12:53] #1898 closed, assigned to nobody

[2019-07-04 12:55] cvarley100 commented on #1750
Hi @Noki, this is intended behaviour. We have plans to add remote PoW specific node selection however. See #1890

[2019-07-04 12:55] #1750 closed, assigned to nobody

[2019-07-04 12:56] cvarley100 commented on #1889
@t00k This is because under auto-node management we select nodes.iota.org by default and this cluster does not allow remote PoW. We will be adding remote PoW specific node selection however. See #1890.

[2019-07-04 12:56] #1889 closed, assigned to nobody

[2019-07-04 12:59] #1808 closed, assigned to nobody

[2019-07-04 12:59] cvarley100 commented on #1808
Duplicate of #1932

[2019-07-04 16:42] t00k opened #1933 "Add tooltip to certain settings to explain what they do"
### Description
A lot of the settings in Trinity can be somewhat techie, and hard to understand for grandmas on crack. So having a tooltip (?) explaining what the functions are could be a great improvement.

### Motivation
There are a lot of questions on Discord on what certain stuff means, mostly around the node management. Having a tooltip around the different settings and explaining them in eas

[2019-07-04 16:57] albertolive commented on #306
I have the same version with 0.4.1 trying to download 1.0.0:

![image](https://user-images.githubusercontent.com/1182864/60680928-7ca0c880-9e8d-11e9-847a-db36b1b563f4.png)

[2019-07-04 18:11] laumair opened #1934 "Invariant Violation: Element type is invalid"
### Bug description
Loading a new account in Trinity mobile throws the following exception

[code]

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iOS simulator
- OS version: 12.2

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: b66bfe35802ca7fcd11bfc49f47c99e840

[2019-07-04 18:53] ghost commented on #1788
did see reattachement. just had to wait a lot longer   got some error messages in error log  meanwhile (which came from promoting ) which is another issue

[2019-07-04 18:53] #1788 closed, assigned to laumair

[2019-07-04 19:15] #1934 closed, assigned to laumair

[2019-07-04 21:51] aayush opened #1938 "Getting "Trinity is performing another function. Please wait and try again" error message while trying to change account name."
### Bug description
Getting "Trinity is performing another function. Please wait and try again" error message while trying to
- change account name.
- add new seed

### Environment Specs
Android 7.0

- Manufacturer:
- Model:
- OS version:

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:
v 1.0.0(79)

### Steps

[2019-07-04 22:55] BARRYPMARSHALL opened #1939 "Android app crash on login on ColorOS"
Help please...I have downloaded the latest ANDROID  version of Trinity, and when I put the password in, the  app disapears.

I have reinstalled the app several times and am getting the same problem.

I am accessing my wallet on LINUX  no problem.

I have also cleared the cache and switched the phone on and off.

Anyone any ideas on this issue?

I am using OPPO R9s, ColorOS V3.0.0i, Android version

[2019-07-04 23:07] cvarley100 commented on #1939
Could you provide further details about your device and OS?

[2019-07-04 23:08] BARRYPMARSHALL commented on #1939
I am using OPPO R9s, ColorOS V3.0.0i, Android version 6.0.1

[2019-07-05 04:25] rajivshah3 commented on #1939
This is the crash log we're seeing from this device:

[code]

[2019-07-05 10:08] Digimon-pl opened #1950 "Nano S app is not recognized as open"
### Bug description
Installed Trinity 1.0.0 and Iota App on Ledger Nano S. Yesterday 4.07 worked fine for the first time. The balance was not 0, was waiting for incoming transaction from Binance.
After Trinity closure and reopening no possibility to connect.

If the Iota app is not open - Trinity recognizes it and asks to open the Iota App
If the Iota app is open - Trinity still cannot connect
Wha

[2019-07-05 10:38] rihardsgravis commented on #1914
Fixed in #1914

[2019-07-05 10:38] #1914 closed, assigned to rihardsgravis

[2019-07-05 10:40] rihardsgravis commented on #1950
`App has not been initialized by user` error means, you have not accepted the IOTA app warning on the Ledger device. Please, follow this tutorial to do that https://trinity.iota.org/help/ledger/

[2019-07-05 10:40] #1950 closed, assigned to nobody

[2019-07-05 10:43] rihardsgravis commented on #1925
@SleepingFox88  Could you, please, check Trinity error log for errors and if it contains the error `App has not been initialized by user` (which would mean that the IOTA App warning has niot been accepted on the Ledger device - https://trinity.iota.org/help/ledger/)

[2019-07-05 11:16] Digimon-pl commented on #1950
Thanks it helped :) Somehow arrived to quickly accept the terms. Arcade game ON ;)

[2019-07-05 14:37] cvarley100 commented on #314
@obany The balance is not rounded. The + is a placeholder for the less significant digits.

I guess it's another argument whether that's a good idea or not.

[2019-07-05 14:37] #314 closed, assigned to nobody

[2019-07-05 14:39] cvarley100 commented on #321
I don't think it makes sense to link these two. One is language, one is currency. Linking them would likely cause more confusion than convenience.

[2019-07-05 14:39] #321 closed, assigned to nobody

[2019-07-05 14:41] cvarley100 commented on #381
As this is an Electron bug I will close this issue. We can revisit it should Electron fix it.

[2019-07-05 14:41] #381 closed, assigned to rihardsgravis

[2019-07-05 14:42] cvarley100 commented on #440
As this is a `react-native-camera` bug, I will close it for now. We can revisit when a fix is released.

[2019-07-05 14:42] #440 closed, assigned to rajivshah3

[2019-07-05 14:44] cvarley100 commented on #310
This would require significant changes on mobile. But it is less difficult to do on desktop.

[2019-07-05 14:52] cvarley100 commented on #454
@mgeier63 Any updates on this one?

[2019-07-05 14:55] cvarley100 commented on #591
Closing due to age.

[2019-07-05 15:01] cvarley100 commented on #605
Closing this as it's an OS issue more than anything and there's no easy way for us to detect which distro supports it and which doesn't.

[2019-07-05 15:01] #605 closed, assigned to nobody

[2019-07-05 17:04] rajivshah3 commented on #591
An error linked to this issue has been marked as fixed in Bugsnag
[**java.lang.IllegalArgumentException** in **MainActivity**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc504eff98b72001dc037d7?event_id=5d1c458b0047b0a1c9690000&i=gh&m=fx)

[2019-07-05 19:34] sloganking commented on #1925
@rihardsgravis Surprisingly I am not getting any errors.

I have now noticed that I can correctly generate a receiving address without errors, only when I have my Ledger unlocked and the Trinity app open BEFORE starting the Trinity desktop wallet.

[2019-07-05 19:36] sloganking commented on #1925
Occasionally I can get past the request to open the IOTA app on the Ledger, but when I do I will run into #1924. It is highly likely that these issues are related.

[2019-07-05 19:37] sloganking commented on #1924
This issue is probably related to #1925

[2019-07-05 20:20] sloganking opened #1952 "Cannot create Ledger account"
### Bug description
Cannot create Ledger based account because Trinity does not recognize Ledger as connected.

### Environment Specs

- OS version: Win10
- Trinity version: Desktop 1.0.0
- Ledger: nano S

### Steps To Reproduce
1. Attempt to create new account
2. Get asked to generate or restore an existing seed instead of prompted to create new Ledger account, because Trinity does not recognize

[2019-07-05 20:21] sloganking commented on #1952
#1925 and #1924 can use the same workaround. It is highly likely that these issues are related.

[2019-07-05 20:25] sloganking commented on #1925
@rihardsgravis This issue, #1924 and #1952 All have the same workaround. The workaround is detailed in the "Additional notes" section of #1952

[2019-07-06 00:59] Andersmholmgren opened #1953 "iOS 1.0.0 crashes on startup when installing over 0.7.3"
### Bug description
I have been using the beta version of the client via TestFlight.
I installed the new version via app store
When I try to open it, the splash screen displays for ~20s before it exits. The crash logs indicate it was killed by the OS for taking too long

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: IPhone XS Max (MT502X/A)
- OS vers

[2019-07-06 10:42] bnmko commented on #1860
I had the same issue. Installing trinity-desktop-*win7-1.0.0.exe over the existing one (not a clean install) has solved the problem for me.

The initial version I installed was trinity-desktop-win7-0.5.1.exe. After that trinity made one or two updates without a problem. The issue also appeared after an update but I didn't notice which version it was.

[2019-07-06 10:57] moedn commented on #1000
@laumair sorry for the immense delay. I wrote you on discord.

[2019-07-06 14:16] sloganking opened #1957 "Trinity continually prompts Ledger nano after transaction denial"
### Bug description
Upon hitting Deny on your ledger nano to deny sending a transaction, Trinity just prompts the ledger with the transaction details again and gets stuck in a loop.

### Environment Specs
- OS version: Win10
- HW Wallet: Ledger nano X
- Ledger firmware version: 1.2.4-1
- Ledger IOTA app version: 0.5.3
- Trinity version: Desktop 1.0.0

### Steps To Reproduce
1. start to send a tran

[2019-07-06 16:15] rajivshah3 commented on #1953
Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPSE_NOTIFY
Termination Reason: Namespace SPRINGBOARD, Code 0x8badf00d
Termination Description: SPRINGBOARD, scene-create watchdog transgression: com.iota.trinity exhausted real (wall clock) time allowance of 19.56 seconds | ProcessVisibility: Foreground | ProcessState: Running | WatchdogEvent: scene-create | WatchdogVi

[2019-07-06 19:47] sloganking opened #1958 "Ledger transaction fails"
### Bug description
Sending a transaction from a Ledger nano based account while spending from 5 addresses fails and makes the Ledger nano exit the IOTA app and go to dashboard.

### Environment Specs
- OS version: Win10
- HW Wallet: Ledger nano X
- Ledger firmware version: 1.2.4-1
- Ledger IOTA app version: 0.5.3
- Trinity version: Desktop 1.0.0

### Steps To Reproduce
1. Have a Ledger nano based

[2019-07-06 19:49] sloganking commented on #1958
I am not aware if there is currently a limit to how many addresses can be spent from on the Ledger Nano X or not. It's possible the Ledger nano X's limit is 5 addresses and that is what is causing this issue. If that is the case, we should alert the user that they are attempting to spend from too many addresses at once instead of displaying this unexpected behavior.

[2019-07-06 20:41] rajivshah3 commented on #591
An error linked to this issue has been reopened in Bugsnag
[**java.lang.IllegalArgumentException** in **Argon2.java:152**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc504eff98b72001dc037d7?event_id=5d21076a0049134c453b0000&i=gh&m=ra)

[2019-07-06 20:55] sloganking commented on #967
#892 and #894 are completed. Should we visually check those off on this issue?

[2019-07-07 07:54] MatthewScheuerman opened #1959 "Dark theme needs refinement"
### Bug description
The borders of input fields on dark theme are very bright and aren't using the values from the theme javascript. Instead of using opacity, the app displays white borders. It should be #666666 but displays as white instead

### Environment Specs
What device are you running Trinity on?
Android Moto Z3 64gb. I will unfortunately be unable to recreate this until tomorrow when I'll

[2019-07-07 08:19] navidslh2 opened #1960 "transaction is pending"
hi.i send iota with trinnity app but It is  25 days that my transaction is pending.

[2019-07-07 08:30] Thoralf-M commented on #1960
Do you have auto-promotion enabled or did you click on the `retry` button a few times? You could also enable remote PoW if your device isn't very fast

[2019-07-07 19:21] MatthewScheuerman commented on #1959
![iota-inputs](https://user-images.githubusercontent.com/30085206/60772865-151f8e80-a0c2-11e9-889d-c0d798bdffc8.png)

Viewing on linux (Linux Mint 19 Tara x86_64 )
Borders don't seem to change on inputs but do change on button hover, and inputs from amount and search field don't match in background color.

[2019-07-07 21:48] rajivshah3 commented on #893
@laumair are the nodes selected right before each request is made or are they selected upon login and persist for a certain amount of time? That might affect how we can do this

[2019-07-07 21:50] rajivshah3 commented on #1960
Please keep Trinity open in order for auto-promotion to work. We currently cannot promote transactions while Trinity is in the background or closed

[2019-07-07 21:50] #1960 closed, assigned to nobody

[2019-07-07 21:51] rajivshah3 commented on #1938
Have you tried waiting a few minutes and then seeing if you're able to change the account name?

[2019-07-07 22:03] rajivshah3 commented on #1890
[This line](https://github.com/iotaledger/curl-remote/blob/313990b946fbb6a7e96998611b6ea9f10625f401/index.js#L3) may need to be removed so that the packager doesn't try to look for `node-fetch`. I think we can safely assume that `fetch` is defined in both RN and Electron

[2019-07-07 22:38] aayush commented on #1938
I tried waiting 5 to 10 min.. Didn't work... I killed the app after that,
logged in,  and just after logging in I tried to rename again. Still I got
that error.

AxP

On Sun, Jul 7, 2019, 14:51 Rajiv Shah <notifications@github.com> wrote:

[2019-07-07 22:52] muXxer commented on #1890
I think it is easier to just use another IOTA API object with another address for the remote pow [here](https://github.com/iotaledger/trinity-wallet/blob/7e7d092b41d9b7c6dce6db014f3fb7b523efed20/src/shared/libs/iota/extendedApi.js#L515)

[2019-07-07 22:59] alexsporn commented on #1890
Or let the nodesConfigurationFactory return only the configured remote pow node when `useOnlyPowNodes` is `true`, that way it will get passed to attachToTangleAsync correctly during a transfer

[2019-07-08 10:19] DeathDragonAW commented on #1888
No change after update to 1.0.0

[2019-07-08 10:21] DeathDragonAW commented on #1888
Already did this twice in the meantime.

[2019-07-08 10:21] cvarley100 commented on #1888
@DeathDragonAW If you delete your Trinity folder in app data and set up fresh can you let us know if you still experience lag?

[2019-07-08 10:25] #272 closed, assigned to nobody

[2019-07-08 10:27] cvarley100 commented on #455
@rajivshah3 Perhaps we can revisit this one soon

[2019-07-08 11:39] cvarley100 commented on #591
@rajivshah3 Is this https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc504eff98b72001dc037d7?filters[error.status][0][type]=eq&filters[error.status][0][value]=open&filters[search][0][type]=eq&filters[search][0][value]=java.lang.IllegalArgumentException?

[2019-07-08 11:42] cvarley100 commented on #649
@brunoamancio So you would like an option to remove fiat balance conversion, fiat conversion on send, and the chart & current price/MIOTA?

[2019-07-08 11:50] cvarley100 commented on #677
Repro steps (possibly Android only):

[2019-07-08 12:08] cvarley100 commented on #591
@rajivshah3 Any ideas on root cause? Bugsnag says `Factors and values given to Argon2 must be positive and have a positive length`

[2019-07-08 12:33] cvarley100 commented on #830
@Thoralf-M @yippykaiyay012 Still an issue in 1.0.0? Closing for now, will reopen if it persists.

[2019-07-08 12:33] #830 closed, assigned to rihardsgravis

[2019-07-08 12:36] cvarley100 commented on #838
As there are many different issues conflated into a single issue here I am going to close this one.

If you are experiencing any issues with Ledger try the following steps

1. Follow this guide https://trinity.iota.org/help/ledger/
2. If this doesn't help, make sure you have your Ledger account index saved (find it on Account Management > View Seed) and your non-Ledger accounts backed up, and rese

[2019-07-08 12:36] #838 closed, assigned to rihardsgravis

[2019-07-08 12:45] cvarley100 commented on #958
So we have updated the error handling for failed quorum. See https://github.com/iotaledger/trinity-wallet/blob/1d7ba3a2fcb25dab32ab7a06c94404a252cdda83/src/shared/libs/errors.js#L32

We already block send/address gen if quorum fails.

[2019-07-08 12:45] #958 closed, assigned to nobody

[2019-07-08 12:56] cvarley100 commented on #1000
As this is a specific case I'll close this one. Please continue the discussions on Discord.

[2019-07-08 12:56] #1000 closed, assigned to laumair

[2019-07-08 13:01] cvarley100 commented on #1004
@kuhlmannmarkus If you wish to use Trinity with a private tangle, please follow these steps (step 4 in particular): https://docs.iota.org/docs/trinity/0.1/how-to-guides/connect-to-a-custom-node

[2019-07-08 13:01] #1004 closed, assigned to laumair

[2019-07-08 13:10] cvarley100 commented on #1009
Still present in 1.0.0

[2019-07-08 13:13] cvarley100 commented on #1013
@laumair Do you have a status update here?

[2019-07-08 13:15] cvarley100 commented on #1131
Closing until we hear an update from facebook/react-native#22762

[2019-07-08 13:15] #1131 closed, assigned to nobody

[2019-07-08 13:17] cvarley100 commented on #1169
@thomazchamberlain Echoing Rajiv's point - really do feel free to pick up any of the issues we have here. If you submit a PR we'll work with you to get it merged 💪

[2019-07-08 13:19] cvarley100 commented on #1195
We have since removed 2FA

[2019-07-08 13:19] #1195 closed, assigned to nobody

[2019-07-08 13:24] MatthewScheuerman commented on #1959
Using a Moto Z4, the colors on inputs and especially on this screen seem too bright for a theme that is supposed to be in "dark" mode.
![Screenshot_20190708-081843](https://user-images.githubusercontent.com/30085206/60813589-ae4db400-a159-11e9-8eed-0c129ec84d34.png)

[2019-07-08 13:31] cvarley100 commented on #1221
@LaPingvino When we get time to work on tablet support we can take a look at this

[2019-07-08 13:38] cvarley100 commented on #1241
Looks like this has been added to Crowdin

[2019-07-08 13:38] #1241 closed, assigned to rajivshah3

[2019-07-08 14:52] cvarley100 commented on #1269
@Oldmate099 Any updates?

[2019-07-08 14:57] Twincaret opened #1962 "Trinity desktop wallet doesn't work on Ubuntu 18.04.2 LTS"
I'm just tried to use desktop version IOTA wallet for linux (Ubuntu 18.04.2 LTS), but it not responding, and error logs are empty . And yes, I'm already have install libsecret-1-dev
![Screenshot from 2019-07-06 00-31-22](https://user-images.githubusercontent.com/39728089/60820054-576fcb00-a1a9-11e9-957d-9b86fb19ba3d.png)
![Screenshot from 2019-07-06 00-31-32](https://user-images.githubusercontent.

[2019-07-08 15:05] l3wi opened #1963 "Easy export of transaction metadata"
# Description
The ability to copy metadata about a transaction, or multiple, to the clipboard.

At present I have to manually copy most of the information about past transactions: amount of tokens, date and time, message. It would be very useful if a copy button could be added to provide a basically formatted transaction receipt.

### Motivation
Its really annoying to manually type things when loo

[2019-07-08 15:27] rajivshah3 commented on #1962
Have you been able to use a previous version of Trinity or is 1.0.0 the only one you've tried?

[2019-07-08 15:34] rajivshah3 commented on #591
@cvarley100 this looks like an issue with the Android Argon2 module or how we pass values to it

[2019-07-08 15:58] jnpsbck opened #1964 "Ability to change MWM in settings"
### Description
A developer mode where you could for example change mwm from 14 to something lower would be great.

### Motivation
Using trinity on the dev net or on a private tangle.
### Requirements
- being able to change mwm from 14 to something else in the advanced settings or as part of a developer mode.

### Open Questions (optional)

### Am I planning to do it myself with a PR?
No.

[2019-07-08 16:09] jnpsbck opened #1965 "save/load custom node settings via a qr code"
### Description
For development purposes it would be great to be able to load and save custom node settings (primary node, mwm, quorum on/off, etc.)

### Motivation
It would be nice to be able to change node settings and advanced settings by scanning a qr code. This way it's easier to come back to my previous settings after a wallet reset when I want users to use a private tangle.

### Requirement

[2019-07-08 16:19] cvarley100 opened #1966 "Filter snapshot transition transactions from History"
# Description
Snapshot transition txes should be removed from Trinity history. We can simply add a tag such as `TRINSNPSHTTRN`. This is a weird tag, no other users should use, so filtering by it should cause no issues.

### Motivation
Snapshot transition txes clog up the history.

### Requirements
- Do not add snapshot transitions txes to history
- Send snapshot transitions txes with a specific ta

[2019-07-08 16:25] cvarley100 commented on #655
@UmbahaSpodPaha @rihardsgravis We could simply add a Ledger icon for ledger accounts here.

[2019-07-08 16:29] UmbahaSpodPaha commented on #655
@cvarley100 Oh yeah! Simple icon would be great too! Nice that you still have this one on mind. :D

[2019-07-08 16:34] cvarley100 commented on #1413
Related #1228

[2019-07-08 16:39] mgrassotti opened #1967 "Zero fiat balance on Mac tray app"
### Bug description
A general description of the bug.

### Environment Specs
Desktop

- Manufacturer: Apple
- Model: Mac Book Pro 2014
- OS version: Mac OS Mojave 10.14.5

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: v1.0.0

### Steps To Reproduce
I just dowloaded the latest update, then:
1. Open Trinity
2

[2019-07-08 16:40] Wollac commented on #1958
In the currently released app version of the Ledger Nano X, the max allowed bundle size is 10.
5 input addresses (with security level 2) plus 1 output would result in a bundle of size 11. It could be worth investigating, why such a big bundle is sent to the device in the first place.

[2019-07-08 16:41] cvarley100 commented on #1458
@Hissi88 Tried to repro this a few times on Pixel 3 but no luck

[2019-07-08 16:43] cvarley100 commented on #1480
@mrbianchi Could you give some scenarios in how this might be used?

[2019-07-08 16:49] cvarley100 commented on #1480
Related to #991, #1480

[2019-07-08 16:50] rajivshah3 commented on #1514
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **MainActivity**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ccc49a6ea1b70001aa3a227?event_id=5d1bd7570047c41342280000&i=gh&m=fx)

[2019-07-08 16:51] cvarley100 commented on #1514
Closing due to lack of incidence in v1.0.0

[2019-07-08 16:51] #1514 closed, assigned to laumair

[2019-07-08 16:52] Hissi88 commented on #1458
Hi @cvarley100.
I just tried it again with 1.0.0 (79) and couldn't reproduce it either. So it seems to be fixed somewhere in beteen then and can be closed. Good job ;)

Or did you tried it with the reported version?

[2019-07-08 16:53] cvarley100 commented on #1458
I only tried in 1.0.0. Thanks @Hissi88, will close.

[2019-07-08 16:53] #1458 closed, assigned to nobody

[2019-07-08 16:53] cvarley100 commented on #1527
Trinity cannot currently be run in the shell alone. Perhaps something for the future.

[2019-07-08 16:53] #1527 closed, assigned to nobody

[2019-07-08 16:56] cvarley100 commented on #1598
@rajivshah3 @laumair We need to prioritise this. It's July 8th.

[2019-07-08 17:03] cvarley100 commented on #1604
@ratiodep @h3dgyy @jdesopo Did you guys add old, existing seeds to Trinity?

[2019-07-08 17:05] christopher-wilke commented on #1604
@cvarley100 No I am using the Ledger Nano S for quite a long time now. I am still facing the same issue.

[2019-07-08 17:05] cvarley100 commented on #1621
@ratiodep Anything in the error log?

[2019-07-08 17:06] cvarley100 commented on #1604
So, without resetting Trinity or removing the account, the history disappeared?

[2019-07-08 17:06] cvarley100 commented on #1622
@ratiodep Trinity displays a blanket error if there is no internet connection.

[2019-07-08 17:06] #1622 closed, assigned to nobody

[2019-07-08 17:06] cvarley100 commented on #1623
@laumair Any progress on this?

[2019-07-08 17:07] christopher-wilke commented on #1604
@cvarley100 Yes. Balance at the top shows the correct amount so I believe it's just the history?

[2019-07-08 17:09] cvarley100 commented on #1665
Related #1221

[2019-07-08 17:11] Twincaret commented on #1962
Before I'm have created wallet in android version and it's works fine. But for linux it's only 1.0.0 version I have tried to start

[2019-07-08 17:13] cvarley100 commented on #1666
@SleepingFox88 Anything in the error log?

[2019-07-08 17:16] cvarley100 commented on #1739
Fixed in 1.0.0

[2019-07-08 17:16] #1739 closed, assigned to laumair

[2019-07-08 17:24] cvarley100 commented on #1786
@p4ch1nk0 Closing this one until further info is provided.

[2019-07-08 17:24] #1786 closed, assigned to rihardsgravis

[2019-07-08 17:26] cvarley100 commented on #1799
@viossat As we have a working system and other priorities, we may need to leave this one for V2. I'll update you if prioritisation changes.

[2019-07-08 17:27] cvarley100 commented on #1814
Unfortunately this is not possible given the current hardware capabilities. We will revisit this and consider alternatives/workarounds for V2 however.

[2019-07-08 17:27] #1814 closed, assigned to nobody

[2019-07-08 17:32] cvarley100 commented on #1836
Should be fixed in 1.0.0

[2019-07-08 17:32] #1836 closed, assigned to nobody

[2019-07-08 17:32] cvarley100 commented on #1962
Possibly related #1846

[2019-07-08 17:33] cvarley100 commented on #1846
Can you try with v1.0.0 after removing your config folder @pmatulis ? And have you enabled run as executable on the app image?

[2019-07-08 17:37] cvarley100 commented on #1860
@yotardis Closing for now. Let us know if Rihards' suggestion does not fix the issue.

[2019-07-08 17:37] #1860 closed, assigned to rihardsgravis

[2019-07-08 18:06] cvarley100 commented on #1901
@ratiodep Did you have low power mode active when you experienced this?

[2019-07-08 18:10] cvarley100 commented on #1923
@SleepingFox88 Is there anything you can think of about your specific situation that might be causing these issues? It seems that this is not a widespread issue.

[2019-07-08 18:11] cvarley100 commented on #1926
This will likely be a core feature in V2 planning.

[2019-07-08 18:13] cvarley100 commented on #1938
It is likely that the nodes you are connected to are taking a long time to complete network requests. If you try disabling/reducing quorum it should help alleviate the issue.

[2019-07-08 18:13] #1938 closed, assigned to nobody

[2019-07-08 18:15] #1952 closed, assigned to nobody

[2019-07-08 18:16] cvarley100 commented on #1952
Closing to a single issue as they are likely all related

[2019-07-08 18:16] cvarley100 commented on #1924
Closing to a single issue as they are likely all related

[2019-07-08 18:16] #1924 closed, assigned to nobody

[2019-07-08 18:16] cvarley100 commented on #1923
Closing to a single issue as they are likely all related

[2019-07-08 18:16] #1923 closed, assigned to nobody

[2019-07-08 18:17] cvarley100 commented on #1925
#1923, #1925, #1952, #1957 all related

[2019-07-08 18:18] cvarley100 commented on #1953
@Andersmholmgren Can you try deleting and reinstalling and see if the issue resolves?

[2019-07-08 18:18] cvarley100 commented on #1957
Closing due to relation to #1925

[2019-07-08 18:18] #1957 closed, assigned to nobody

[2019-07-08 18:23] KnockKnockNe0 commented on #1527
I know, i was not suggesting a shell-text-only version.

You can start any GUI APP locally in an X-Terminal.
And with ssh X-Forwarding the APP would run on a remote machine, while the GUI is forwarded to the local machine.
(e.g. if remote CPU is faster, maybe headless, different Linux Distro that works, local doesn't)

Please re-open?

[2019-07-08 18:26] cvarley100 commented on #1965
@jnpsbck We will be working on more comprehensive dev support fairly soon. In light of that there would be no real point adding this so I will close for now.

[2019-07-08 18:26] #1965 closed, assigned to nobody

[2019-07-08 18:34] jdesopo commented on #1604
Yes and at one time Trinity showed the history, and after an update (can’t remember which one), the history was gone.  This happened, I believe, around the first week in May - perhaps May 3rd or 4th, for me - but I may be off by a few days.

Sent from my iPhone

[2019-07-08 18:42] cvarley100 commented on #1527
Ok, in what scenario would you like to do this @KnockKnockNe0?

[2019-07-08 18:47] rajivshah3 commented on #1623
@cvarley100 I think this could be solved by a fix for another issue that I'm working on, see https://github.com/iotaledger/trinity-wallet/tree/fix/clear-error-log

[2019-07-08 18:49] rajivshah3 commented on #1967
https://github.com/iotaledger/trinity-wallet/pull/1511 should have fixed this but I guess the issue came back 🤔

[2019-07-08 19:10] KnockKnockNe0 commented on #1527
Ok, Scenario:

I got this computer A, it is slow, trinity doesn't run.
Then i got another computer B, it is fast, trinity runs.
A is the main machine, it has a monitor/display connected.
B runs headless (no monitor, renderslave)
A and B are connected via GbE LAN.
I connect from A to B via ssh to run apps.

(Yes there is VNC too, i know. That's how i run trinity right now)

[2019-07-08 19:47] jnpsbck opened #1968 "Trinity performance with private tangle"
### Bug description
When using Trinity Mobile with a private tangle at some point transactions don't get confirmed any more, even after multiple attempts to promote and reattach.

### Environment Specs

- Manufacturer: Xiaomi
- Model: A2
- OS version: Android 9

- Trinity version: v1.0.0(79)

### Steps To Reproduce
1. Set up a private tangle (https://docs.iota.org/docs/compass/0.1/how-to-guides/cr

[2019-07-08 19:54] rajivshah3 commented on #1968
I'm not sure if this has to do with private tangles. The error in the error log has been seen with other users as well

[2019-07-08 20:02] kriss-t commented on #1195
Hi Charlie,
You removed the authentificator but still can't login ...
See attched error when use my password

[image: image.png]

How can I fix this?

On Mon, Jul 8, 2019 at 3:19 PM Charlie Varley <notifications@github.com>
wrote:

[2019-07-08 20:56] cvarley100 commented on #1195
You need to fill out the issue template in your first post.

[2019-07-08 22:49] Andersmholmgren commented on #1953
I’ve tried offloading the app and reinstalling but was trying to avoid
deleting the app data. Admittedly the app data is the most likely cause I
guess

On Tue, 9 Jul 2019 at 4:18 am, Charlie Varley <notifications@github.com>
wrote:

[2019-07-09 00:23] pmatulis commented on #1846
@cvarley100 Yes, v.1.0.0 opens on my Ubuntu 18.04 system. However, I'm stuck at step "Choose your  Ledger account index", which seems to be related to issue #589.

[2019-07-09 03:53] rajivshah3 commented on #1846
Is the issue still occurring after you set up the udev rules?

[2019-07-09 03:58] rajivshah3 commented on #1817
The stacktrace posted in https://github.com/iotaledger/trinity-wallet/issues/1817#issuecomment-508228242 seems similar to the one in https://github.com/iotaledger/trinity-wallet/issues/1939#issuecomment-508624903

[2019-07-09 04:02] rajivshah3 commented on #1598
Related: #1608

[2019-07-09 04:31] sloganking opened #1969 "Quorum multiple APIs for token value"
### Description
This feature request proposes Trinity use multiple price APIs for token price data and quorum the result.

### Motivation
Multiple times in Trinity's history, Trinity has suddenly showed the value of IOTA tokens as $0.00 because Trinity could no longer talk to the API it was using for price data. This was only fixed when the connected API resumed responding or the Trinity developer

[2019-07-09 04:37] sloganking commented on #1969
This might be a good goal for V2

[2019-07-09 09:22] kriss-t commented on #1195
Hi can you send me please issue template or link from that?
I didn.t find any template attached in any email.
Thanks!

On Mon, Jul 8, 2019 at 10:56 PM Charlie Varley <notifications@github.com>
wrote:

[2019-07-09 09:37] cvarley100 commented on #1195
It is automatically added to your original post. Just edit that.

[2019-07-09 11:59] cvarley100 opened #1974 "Desktop fails silently when drag-dropping a seed less than 81 chars"
### Bug description

When dragging and dropping a seed with < 81 chars, nothing happens and no error message is displayed.

### Environment Specs

- OS version: Only checked Win 10

What build of Trinity are you running?

- Trinity version: 1.0.0

### Steps To Reproduce
1. Drag and drop a seed with < 81 chars on seed entry
2. Nothing happens, no error message.

### Expected behaviour
An error mess

[2019-07-09 13:51] pmatulis commented on #1846
After trying a few times I was able to access my coins. I'm currently trying to send a small amount to an exchange. The transaction has stayed in a pending state overnight. I guess I'll open a separate issue for that.

[2019-07-09 14:04] cvarley100 commented on #1846
@pmatulis That one's just a networking issue. Find the transaction in your history, click on it, and hit retry. Also make sure `autopromotion` is turned on in your advanced settings.

Glad you were able to access the wallet.

[2019-07-09 15:42] mgeier63 commented on #454
Well, I still have some concerns that have not fully been eliminated even in the latest Trinity release (for details see the conversation in bugcrowd) - for that reason I haven't continued working on this.

I have, however, started looking into the possibility of implementing the transaction signing on a JavaCard crypto chipcard.  This, if possible, would be a completely secure way of handling the

[2019-07-09 15:58] #1967 closed, assigned to rihardsgravis

[2019-07-09 17:14] MatthewScheuerman commented on #1959
@cvarley100 @rihardsgravis  I ran the dark theme through a json to SCSS converter after converting it to json, here are the changes I'd recommend (I can do a pull request if you'd like), but I can't verify them. Unfortunately I couldn't get Trinity to compile on my Linux machine.

` "dark-chart_color": "rgb(204, 204, 204)",
    "dark-box_bg": "rgb(23, 23, 23)",
    "dark-box_alt": "rgb(48, 48, 48)

[2019-07-09 17:20] MatthewScheuerman commented on #1959
Note: I also checked the values for text on-light and on-dark against AAA compliancy for contrast and everything checked out ok.

[2019-07-09 17:47] sloganking commented on #1974
For clarification, by drag-dropping a seed, do you mean a seedVault?

[2019-07-09 18:24] rajivshah3 commented on #1959
Do you want some help? You can post any issues you're running into in this thread or on Discord and we'd be happy to help

[2019-07-09 19:01] MatthewScheuerman commented on #1959
Would love to. This week is pretty booked at the moment but I'll try to again soon.

[2019-07-10 03:14] MatthewScheuerman commented on #1959
Log I got after running
`npm run deps:desktop`

`0 info it worked if it ends with ok
1 verbose cli [ '/home/username/.nvm/versions/node/v10.15.3/bin/node',
1 verbose cli   '/home/username/.nvm/versions/node/v10.15.3/bin/npm',
1 verbose cli   'run',
1 verbose cli   'deps:desktop' ]
2 info using npm@6.4.1
3 info using node@v10.15.3
4 verbose run-script [ 'predeps:desktop', 'deps:desktop', 'postdeps:

[2019-07-10 10:32] cvarley100 commented on #1974
@SleepingFox88 I mean explicitly dropping the text

[2019-07-11 11:37] jnpsbck opened #2003 "IOTA Newsfeed"
### Description
It would be great to have an IOTA news feed that shows all the IOTA announcements, new blog posts; later also retweets and news about IOTA ecosystem projects.

### Motivation
Hard to keep track of all things IOTA for many people, especially if they don't follow discord / twitter.

### Requirements
1.) start with only regular IF announcements + new IF blog posts.
2.) notifications a

[2019-07-11 11:38] f-ben opened #2004 "Purchase IOTA from inside Trinity"
### Description
Users should be able to purchase IOTA from inside the wallet.

### Motivation
Make exchanges unnecessary, make it easier for new users, and so on.

### Requirements
Purchase IOTA from inside the wallet
Optional: Sell/Trade IOTA from inside the wallet

### Open Questions (optional)
Which exchange to use (without the user noticing)

### Am I planning to do it myself with a PR?
No

[2019-07-11 11:39] MR1991 opened #2005 "Balance check widget."
### Description
Allow creation of a widget on phone background that constantly shows your current balance

### Motivation
Avoids logging in frequently.

### Requirements
2 block widget.
 Allow changeable currency, allow changeable address.
Constantly stay linked to newest address

[2019-07-11 11:40] armstrys commented on #713
Having on tangle tags would be a step above many wallets!

[2019-07-11 11:45] Shobba opened #2006 "Add address to watch without seed"
### Description
I'd like to add addresses without entering the seed in order to keep an eye on the balance (sending tx of course won't be possible)

### Motivation
I have my main wallet on a Ledger where I don't have access to the seed (obviously). But I'd like to see my balance in Trinity anyway.

### Requirements
Add "watch only" accounts for addresses (maybe it should be possible to add multipl

[2019-07-11 11:46] bluepanther99 opened #2007 "Transaction Message Enhancement"
### Description
It would be good if Trinity mobile has built-in integration to our mobile phone location or system information and on-request can insert the information into the transaction message(encrypted or not). Maybe like insert attachment button next to Message (insert gps location, or some information about your mobile phone)

### Motivation
I think this would be a small step for m2m econo

[2019-07-11 11:46] Qaviz opened #2008 "Address book for Trinnity"
It would be great to see an address book for trinnity where you can add your friends and common addresses you send to, like a 'contacts page'

To avoid the address re-use issue, you could implement a feature where if one of your friends adds a new address to send to (as they have spent from that address) your address book is automatically updated with their new address once they have opted for it.

[2019-07-11 11:48] #2008 closed, assigned to nobody

[2019-07-11 11:49] Qaviz opened #2009 "Address book for Trinnity - feature request"
### Description
It would be great to see an address book for trinnity where you can add your friends and common addresses you send to, like a 'contacts page'.

To avoid the address re-use issue, you could implement a feature where if one of your friends adds a new address to send to (as they have spent from that address) your address book is automatically updated with their new address once they h

[2019-07-11 12:24] f-ben commented on #2005
would love to have a widget too
for security it should be necessary for the user to login to trinity when placing the widget on the homescreen

[2019-07-11 12:26] f-ben commented on #2006
I like the idea but thats not really a feature I expect from a wallet. Personally I´d prefer a 3rd party solution

[2019-07-11 12:34] Shobba commented on #2006
3rd party solution would mean a different app or website, so two apps to check my iota accounts/balances. I'd prefer having everything in one place :) Accounts with small amounts that I can send whenever I want to, and accounts which my main stash.
(But as soon as Trinity on iOS works with the Ledger Nano X I'm happy :P)

[2019-07-11 12:38] webkracht commented on #1035
NFC also could be used as alternative for Amazon Go shopping.

When products have NFC tags customers can pay and deactivate the NFC tag with Trinity. After a successful payment the product can be taken out of the store without triggering the alarm.

[2019-07-11 12:53] antonionardella opened #2010 "Trinity Mobile/Desktop flexible resolutions for GNU/Linux Mobilephones (Librem 5, Pinephone) or Samsung DeX"
### Description
To switch to the mobile UI when the resolutions lowers and have the full UI when the mobile device is connected to a screen.
_Example of Librem 5 connected to a screen_
![](https://cdn.discordapp.com/attachments/407883421369761792/570241540258267136/phonescreenkeyboardmouse-2.png)

_Samsung has this function too (Samsung DEX with Galaxy phones dock)_
![](https://cdn.vox-cdn.com/thu

[2019-07-11 13:01] webkracht commented on #1963
Could there be an export to CSV as well?

[2019-07-11 19:05] webkracht opened #2011 "Option to create account which can move funds automatically to another account"
### Description
When creating a new account in Trinity an option is offered to move funds automatically to another selected account .

### Motivation
A seed which can move it's funds automatically can be used safely in machines or in websites as there will be no funds to steal

### Open Questions (optional)
Would it be possible to create the transaction the moment funds are detected?

### Am I pla

[2019-07-11 23:22] #1267 closed, assigned to laumair

[2019-07-12 02:40] rajivshah3 commented on #1932
Android support requires a new version of JavaScriptCore which will be added in #2012

[2019-07-12 02:53] MatthewScheuerman commented on #1959
Here's screenshots of what I have now. There's a lot of re-used and opinionated color variables that get re-used in the code so this is as far as I could take it. I checked the "average" text color for contrast AAA compliancy and it meets AAA with 7.34:1. However, this can change depending upon font weight and size.

Please let me know if further updates are needed before making a pull request. Th

[2019-07-12 02:57] K2APacific opened #2016 "Feature Request: Offline signing of transactions"
### Description
The ability to sign an IOTA transaction on an offline air gaped computer. Bitcoin has several wallets that can do this using a "watch only wallet" that only generates the transaction online, but the signing for the transaction happens on an offline air gaped computer.

### Motivation
Offline signing means a users seed will never go online. The user can never be phished, or the vict

[2019-07-12 03:10] MatthewScheuerman commented on #1959
If I inverse 2 values it improves the look of the "secondary-button" (close) but it does tend to make other boxes look different. However, this might be better for mobile

![dark-inverse](https://user-images.githubusercontent.com/30085206/61099624-8fd10c80-a428-11e9-8644-6cf6878c9562.png)

[2019-07-12 06:39] webkracht opened #2018 "Trigger a request in Trinity to send encrypted data along with payment using deeplink"
### Description
Send along with your payment, encrypted data to the receiver. The request for encrypted data should be triggered by a deeplink parameter so that the payment can only be finalized when request is followed up by sender. In Trinity these data/text snippets can be created so the right snippet can be selected upon payment.

### Motivation
It is imaginable that with a payment you want to

[2019-07-12 06:40] webkracht commented on #2018
[https://github.com/iotaledger/trinity-wallet/issues/2007](url) might be slightly related.

[2019-07-12 06:41] webkracht commented on #2007
[https://github.com/iotaledger/trinity-wallet/issues/2018](url) might be slightly related

[2019-07-12 16:12] agentpx opened #2019 "An API call to trinity service without opening it via some form of POST method request but within the context of the phone"
### Description
I wish there's an API that we can call and the call would be routed to Trinity's (provided it's installed on user's phone) Internal processing/API so that Trinity don't need to open but can accept payment request posting.

### Motivation
To make our app more intuitive and avoid the hassle of opening another app just to make paymet. Sort of like an in-app purchase.

### Requirements

[2019-07-12 19:46] healthycrypto opened #2020 "Email Alias for Sending/Receiving IOTAS"
### Description
Creating an email alias, like me@iota.org, to send and receive IOTAS. Every wallet will include an email address that you must sign up for and then instead of a long address to send IOTAS, you instead just use the email alias that your wallet links (behind the scenes) to your REAL iota address.

### Motivation
One of the biggest problems with IOTA is that it requires a new address

[2019-07-13 00:23] Andersmholmgren commented on #1953
I ended up deleting the app + data and reinstalling. This did fix it so it must've been gagging on the old data

[2019-07-14 17:38] rajivshah3 opened #2030 "TypeError in src/ui/views/wallet/Loading.js:176"
## Error in Trinity Mobile

**TypeError** in **src/ui/views/wallet/Loading.js:176**
null is not an object (evaluating 's.type')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5d1b7f704dc0ec001a2b42cc?event_id=5d295f8d004ab0f283090000&i=gh&m=ci)

## Stacktrace

    src/ui/views/wallet/Loading.js:176 -
    src/ui/views/wallet/Loading.js:81 - Component

[View full st

[2019-07-14 17:39] rajivshah3 opened #2031 "TypeError in src/ui/views/wallet/AddCustomNode.js:80"
## Error in Trinity Mobile

**TypeError** in **src/ui/views/wallet/AddCustomNode.js:80**
TypeError: undefined is not an object (evaluating 'n.settings.quorum.size')

This error is located at:
    in Connect(h)
    in t
    in u
    in WithMergedOptions(t)
    in C
    in u
    in LoadNamespace(Connect(h))
    in RCTView
    in RCTView
    in f
    in f
    in Connect(f)
    in s
    in Connect(s)

[2019-07-15 08:51] MR1991 commented on #2005
Well its just a view on an address so no real security needed? Only maybe to approve the link between trinity and the widget for keeping track of current addresses.

[2019-07-15 13:38] GalRogozinski commented on #1900
@laumair can it be because of quorum?

[2019-07-15 14:00] Wire-xx opened #2036 "Trinity Node Check not working since IRI 1.8.0"
Unfortunately the "Node Check" on https://trinity.iota.org/nodes isn't working anymore since IRI 1.8.0.

I tried checking several different nodes with Firefox, Chrome and Edge and nothing works.
The Error message is

`An error occurred with this application. NO_STATUS_CODE_FROM_LAMBDA`

or sometimes

`Unhandled promise rejection SyntaxError: "JSON.parse: unexpected character at line 1 column 1 of

[2019-07-15 14:28] rihardsgravis commented on #2036
Thank you for the report! The issues is fixed now.

[2019-07-15 14:28] #2036 closed, assigned to rihardsgravis

[2019-07-15 21:18] laumair opened #2037 "Cannot find variable Intl"
### Bug description

Completing onboarding leads to a crash because of a missing variable

### Environment Specs

- Manufacturer: Android Studio
- Model: Emulator

- Trinity version: 924f9b6b69380c2351efdc3f3e8a63d0566532cc

### Steps To Reproduce
1. Complete onboarding
2. Observe loading screen
3. Once loading finished, the application will crash

### Expected behaviour
The application should not

[2019-07-15 21:20] rajivshah3 commented on #2037
This was probably introduced by https://github.com/iotaledger/trinity-wallet/commit/1d7ba3a2fcb25dab32ab7a06c94404a252cdda83. We may need to polyfill `Intl` until #2012 is merged

[2019-07-15 21:30] laumair commented on #2037
Correct.

[2019-07-16 03:09] #1009 closed, assigned to laumair

[2019-07-16 03:12] rajivshah3 commented on #1009
An error linked to this issue has been marked as fixed in Bugsnag
[**SyntaxError** in **&#91;native code&#93;:0**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ad06524d607e6001a8d95f5?event_id=5d2ca5c1004aa0797d5d0000&i=gh&m=fx)

[2019-07-16 20:15] rajivshah3 opened #2039 "Language code standardization"
### Description
In the codebase, we should use a certain standard for language codes, such as [BCP-47](). For compatibility with other libraries, we should use functions to convert to another standard if necessary.

### Motivation
As we add support for more languages, functions like this become harder to maintain:
https://github.com/iotaledger/trinity-wallet/blob/49030f57871164b6dca3507fed34d8f0fb

[2019-07-16 21:16] DeathDragonAW commented on #1888
![Unbenannt](https://user-images.githubusercontent.com/52355057/61330395-c68b9600-a81f-11e9-88da-6d51ee06f363.png)
recieved this error today with v1.0.0

[2019-07-16 21:55] #2037 closed, assigned to laumair

[2019-07-16 23:53] UmbahaSpodPaha opened #2040 "We can't create normal account when Ledger is connected"
### Bug description
We're forced by Trinity to create Ledger account when it's connected.

### Environment Specs
PC Trinity 1.0.0

### Expected behaviour
Add a little button "Create normal type account" when Ledger is connected to give us a choice.
Or button "Back to normal account setup" (can be even with small text)

### Actual behaviour
We're forced to only create Ledger account. When I'm worki

[2019-07-17 07:24] jakubcech commented on #1900
Can we transfer the issue if it's indeed an IRI issue?

[2019-07-17 10:51] GalRogozinski commented on #1900
not yet, but maybe later

[2019-07-17 15:38] dreamfony commented on #2016
Issue #647 already has same feature request.
https://github.com/iotaledger/trinity-wallet/issues/647

I would maybe expand on this and ask:

Is it possible to "load" encrypted seed file to trinity?
@cvarley100 can you point me to part of the source code where TW encryptes seed.
It would also be good to create this file on an offline airgapped computer and transfer it to where TW is.

[2019-07-17 20:15] laumair opened #2041 "Cannot destructure property node of 'undefined' or 'null'."
### Bug description
Snapshot transition (on completion) errors out with an exception stating `Cannot destructure property node of 'undefined' or 'null'.`

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: 2.3 GHz Intel Core i5
- OS version: Catalina

What build of Trinity are you running? Please provide the full version (you can find it in Settings > Abo

[2019-07-18 02:20] #2041 closed, assigned to laumair

[2019-07-18 14:23] GalRogozinski commented on #1900
@cvarley100
@laumair

I just tried to reproduce the bug but I couldn't :-(
If you guys want my help we can do one of two things:
1. Try to set a meeting where we reproduce it together
2. Go over the promotion code in trinity together

[2019-07-18 15:06] rajivshah3 commented on #2016
Yes, we call this a SeedVault. It is an encrypted KeePass-compatible file that stores your seed

For desktop, most of the code is in [src/desktop/src/libs/SeedStore/Keychain.js](https://github.com/iotaledger/trinity-wallet/blob/develop/src/desktop/src/libs/SeedStore/Keychain.js) and [src/desktop/src/libs/crypto.js](https://github.com/iotaledger/trinity-wallet/blob/develop/src/desktop/src/libs/cryp

[2019-07-18 20:10] Thoralf-M opened #2046 "QR code ignores unit"
### Bug description
When I scan a qr code with value, the amount is displayed in the unit previously selected for sending and not just the amount converted to this unit

### Environment Specs
- Manufacturer: Samsung
- Model: A5 (2017)
- OS version: Android 8
- Trinity version: 1.0.0

### Steps To Reproduce
1. Select a unit other than `i`
2.Create a qr code with amount >0 (you can use https://utils

[2019-07-18 21:07] LaPingvino commented on #1665
Pay attention that my ChromeOS Linux is Arm64, not Intel/AMD, so it doesn't run simple binaries if they are not compiled for the correct architecture.

[2019-07-19 09:13] laumair commented on #1900
@GalRogozinski

No, it cannot be because of quorum. Quorum is only run on `getBalances` and `wereAddressesSpentFrom`. Rest of the endpoints are consumed from a single node.

The frequency of this error occurring has decreased quite a lot now. I cannot seem to reproduce this. Perhaps it is because of the new IRI [release](https://github.com/iotaledger/iri/releases/tag/v1.8.0-RELEASE)?

[2019-07-19 09:32] ghost commented on #1900
i still get error logs :  Transaction is inconsistent. Reason: tails are not solid (missing a referenced tx): BOGWGPUBQWMGJDBFTPGJJMBRRSVAAWHUYIJCBUB9EZPV9ODHWSFDWQZVWDGPHTHSNBZPHBBFIUOJA9999
 Transaction is inconsistent. Reason: tails are not solid (missing a referenced tx): BOGWGPUBQWMGJDBFTPGJJMBRRSVAAWHUYIJCBUB9EZPV9ODHWSFDWQZVWDGPHTHSNBZPHBBFIUOJA9999
 Transaction is inconsistent. Reason: tai

[2019-07-19 10:45] laumair commented on #1900
@wonkytonky2 Are these error logs new?

[2019-07-19 10:46] laumair commented on #1900
@GalRogozinski May I ask how you tried to reproduce the issue? Trinity promotion/reattachment is similar to [this](https://github.com/iotaledger/tangle-tools/blob/master/promoter/promoter/promoter.js) implementation.

[2019-07-19 10:50] ghost commented on #1900
yes these logs are new

![image](https://user-images.githubusercontent.com/48189056/61530272-e4c1e380-aa23-11e9-9133-8a4d797de5b6.png)

[2019-07-19 12:36] rajivshah3 commented on #1900
I saw similar errors on thetangle.org yesterday or the day before

[2019-07-19 13:47] laumair commented on #2031
Related https://github.com/iotaledger/trinity-wallet/issues/1752

[2019-07-21 11:19] GalRogozinski commented on #1900
@laumair
I initiated a transfer on trinity using the default configs (because no others were given in the description) several times, and attempted a promotion with the UI before confirmation

@wonkytonky2
Do you see those errors consistently, often, sometimes, or rarely?

[2019-07-24 13:58] GalRogozinski commented on #1900
After conversing with @laumair we now have a theory that the problem relates to using a load balancer.
A transaction can be solid in one node but not solid in the others.

[2019-07-26 13:45] desjob opened #2067 "trinity crashes after initial install while loading seed for the first time"
# Bug description
After a fresh install, the app fully crashes while it is loading the seed for the first time. See details below:

**How to reproduce:**
- install trinity for android on my phone
- open the app
- agree with the terms
- import a seed from kdbx file (i've succesfully imported this seed on the desktop version and it works fine. it has 1 transaction)
- unlock the kdbx file with the pa

[2019-07-28 05:28] sreeraj-krishnan opened #2082 "Support for socks5 proxy in Advanced settings"
### Description
I'm looking for socks5 support for trinity

### Motivation
Tails OS is a OS for privacy. It uses tor network to run any apps on it. Its booted from usb and we can always carry with us. It has support for bitcoin wallet.
Similarly I was trying to make trinity work on tails OS, however it was not able to connect to any nodes, because I believe trinity does not support socks5.

But in

[2019-07-28 05:32] sreeraj-krishnan opened #2083 "Unable to resize Trinity app window size vertically on Ubuntu."
### Bug description
On my ideapad laptop running on Ubuntu/Tails OS, especially Tails OS,  could not resize the window vertically, as a result I was not able to see the buttons at the bottom and I was struggling with it.

Please take a look at priority and fix.

Thanks.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Lenovo
- Model:Ideapad 565
- OS version: Ubuntu a

[2019-07-29 07:45] #1959 closed, assigned to rihardsgravis

[2019-07-30 19:38] just4give opened #2086 "Unable to connect to https://nodes.devnet.iota.org:443"
Hi,

**Please excuse me if I am posting irrelevant issue in this forum**
I am new to IOTA and trying to connect Trinity Wallet with devnet but could not do it. I followed the article (https://docs.iota.org/docs/trinity/0.1/how-to-guides/connect-to-a-custom-node#connect-to-custom-nodes) to add custom node. But seeing below error.

<img width="990" alt="Screen Shot 2019-07-30 at 3 26 49 PM" src="htt

[2019-07-30 19:59] just4give commented on #2086
Never mind. I was able to connect to devnet using a different url ( https://nodes.devnet.thetangle.org:443 ). As a newbie, I am overwhelmed by so many devnet urls :)

[2019-07-30 19:59] #2086 closed, assigned to nobody

[2019-08-01 15:40] #1930 closed, assigned to rajivshah3, rihardsgravis

[2019-08-03 01:38] BARRYPMARSHALL commented on #1939
Hi Guys, I still can not log in on my phone, as soon as I put my password in the Trinity app closes down.....I have uninstalled the app and reinstalled multiple times...Please can you give me some advice Thank you Barry

[2019-08-03 20:59] Andrewskiz opened #2093 "IOTA public key missing in release assets"
I am trying to verify the Trinity application on Linux but the GPG key is missing from the release. I see the .asc file, but not the public key .gpg file.

Additionally, the link "How to verify authenticity of your Trinity download" is broken on both the github releases page and on https://trinity.iota.org/

[2019-08-03 21:24] alaakaazaam commented on #1939
Same here : https://github.com/iotaledger/trinity-wallet/issues/1817, is it due to some deep .so files (and so linked to the Operating System) ?

[2019-08-04 02:05] rajivshah3 commented on #1939
It could be OS related since it appears you're both using non-stock versions of Android. I'll have to look into this. Are either of you able to reproduce this with the latest version (1.0.0)?

[2019-08-04 03:15] BARRYPMARSHALL commented on #1939
![image](https://user-images.githubusercontent.com/32229857/62418987-d1687680-b6b9-11e9-8e38-2788c462236c.png)

[2019-08-04 03:15] BARRYPMARSHALL commented on #1939
My phone says this is the latest version......Barry

[2019-08-04 08:48] alaakaazaam commented on #1939
I reproduced it today with v1.0.0 on lollipop 5.0.2

[2019-08-05 07:24] rihardsgravis commented on #2093
Links "How to verify authenticity of your Trinity download", that also include the  fixed in trinity.iota.org and latest release notes.

[2019-08-05 07:24] #2093 closed, assigned to rihardsgravis

[2019-08-05 17:38] alaakaazaam commented on #1817
Well, obviously i'm short on RAM :
![Screenshot_2019-08-04-21-43-40](https://user-images.githubusercontent.com/6622814/62483617-6e113e00-b7b8-11e9-9d05-c318548045e1.png)

[2019-08-05 23:01] cgruber opened #2109 "Trinity mobile wallet (Android) forces new wallet flow after being closed."
### Bug description
Trinity Mobile on Android acts as if it were a fresh install every time I open the app.

Specifically, I add an existing seed, and everything seems to be working - I see a balance, etc.  However, when I close the app and return to it (or if it is closed by Android automatically) then it acts as if I had newly installed it, asking me to create or register a seed.

### Environmen

[2019-08-06 03:11] Andrewskiz commented on #2093
Maybe I'm missing something, but I am still not seeing the .gpg file (public key) in the assets section under releases or on the documentation page.

[2019-08-06 10:05] cvarley100 commented on #2109
Hey @cgruber. Have you tried clearing app cache/data?

[2019-08-06 10:14] cvarley100 commented on #2067
Hi @desjob. Google Play should tell you your version if you scroll to the bottom.

Can you try clear cache and data, and then try login today and I will check the crash logs?

[2019-08-06 10:26] cvarley100 commented on #2109
And please could you share your model number (SM-G950F, SM-G955F etc.)?

[2019-08-06 11:50] desjob commented on #2067
Sure, How do I clear the cache?

[2019-08-06 11:53] cvarley100 commented on #2067
@desjob See https://www.cnet.com/how-to/how-to-clear-app-cache-and-app-data-in-android-6-0-marshmallow/

[2019-08-07 06:54] #1890 closed, assigned to laumair

[2019-08-07 07:54] desjob commented on #2067
I tried clearing the cache, same result.
I also tried removing all app data, and I re-imported my seed, same result.

I also tried reinstalling and importing a different seed, also same result.

I submitted another crash report where I referenced this issue link in the description, hope that helps.

[2019-08-07 07:59] desjob commented on #2067
Also, the application settings screen (where the clear cache option is) says:

Trinity version 1.0.0

I do have automatic updates enabled.

[2019-08-07 16:58] pablo-hp commented on #2067
Aqui também o mesmo problema.
Ao instalar pela primeira vez, no android 6.0.1 e carregar o arquivo kdbx o aplicativo trava e não carrega nem o saldo.

[2019-08-10 02:22] Andrewskiz opened #2115 "IOTA Public key (.gpg file) missing"
Hey, I created an issue here about the .gpg file missing under the Trinity Wallet release assets here: https://github.com/iotaledger/trinity-wallet/issues/2093

The issue was closed, and while the links to How to verify authenticity of your Trinity download were fixed, there is still no sign of the iota.foundation.subkey.trinity.public.gpg referenced under Linux > Verify the code signature. The tr

[2019-08-11 20:46] vbakke commented on #451
[Charlie IF] asked for feedback for V2 on Discord.  I second encrypted QR codes. It means you can safely print, store, and scan your seed, without anyone/anything sniffing out the real seed.

I was playing with the same idea some time ago ([vbakke/tryte-encrypt](https://github.com/vbakke/tryte-encrypt/)).  I tried using scrypt, and not Argon2, for hashing the passphrase, but have no strong views o

[2019-08-11 21:14] vbakke commented on #451
Just my five cents and my thoughts on the case:

 - I tried converting the encrypted bytes back to trytes, mo make it more IOATAish. Charlie IF disagreed, being afraid people would confuse an encrypted seed with an actual seed (the only apparent difference was 100 vs 81 tryte characters)

- I'd still prefer to encode the bytes as readable letters, though. I'd prefer to be able to read my QR code w

[2019-08-11 22:44] vbakke commented on #451
**Encryption**
Correct me if I'm wrong, but how I understand AES GCM is basically AES CTR with [Authenticated_encryption](https://en.wikipedia.org/wiki/Authenticated_encryption).

According to [this post](https://crypto.stackexchange.com/questions/1849/why-should-i-avoid-using-a-randomized-iv-for-ctr-mode), we're better off using CBC with a random IV, than a CTR with a random IV.

I'm also uncerta

[2019-08-12 19:17] #1598 closed, assigned to rajivshah3, laumair, cvarley100

[2019-08-14 04:19] rajivshah3 commented on #2115
Looks like the `gpg` file was never included in the artifacts to be uploaded when we run the pipeline to build the app. I'll look into adding it

[2019-08-17 13:38] christopher-wilke commented on #1604
Any updates on this?

[2019-08-19 14:33] cvarley100 commented on #1750
This will be fixed in 1.1.0.

[2019-08-21 22:38] hpssjellis opened #2159 "Send IOTA amount in chosen units: dollars, pounds etc and show CDN or USD"
Feature Requests

### Description
1. In the send amount text box it already does a conversion to the specified units, but for dollars does not state if it is CDN (Canadian) or USD (US Dollars). Request adding  $ USD or $ CDN

2. Allow a method to enter IOTA in the chosen units (Dollars, Pounds etc). Either with an extra text box or some entry method such as the number sign (Not the dollar symbol s

[2019-08-22 03:58] thomazchamberlain commented on #2082
Hi @cvarley100 I have some time available to work on this. May I take on this task?

[2019-08-22 08:15] cvarley100 commented on #2082
Hi @thomazchamberlain, yes please do. It would make most sense to go alongside the proxy settings here in Advanced Settings https://github.com/iotaledger/trinity-wallet/blob/6726c23b1c9cb95ba00a1dd02944c13d8695205d/src/desktop/src/ui/views/settings/Advanced.js#L292
Let us know if you need any help!

[2019-08-23 20:58] curVV opened #2162 "SSL_library_init: Failed to load Electron preload script"
Since around 0.5.0+, I think, I am unable to run Trinity from local build.
Build and compile finish without error.
But I get the following when run:
[code]
As far as I know SSL_library_init is a symbol of older openssl. Which openssl version is the release of Trinity built against?

My system is Gentoo and I have also tried on Artix (Arch) with the same results. Both using openssl-1.1.1c-r1.

[2019-08-25 16:40] vbakke commented on #451
A possible outline of an algorithm for the Encrypted QR Code.

Feel free to comment to improve our common goal. :)

### Derive key from passphrase
From the written passphrase, we need to derive a sparse cryptographic key, that is slow and difficult to calculate.

1. Passphrase Bytes = UTF-8 encoding the Passphrase
2. Passphrase Salt
		a. Using 2x SHA256 (like BIP38)
		b. Using a random IV, stored

[2019-08-26 15:02] rajivshah3 commented on #2115
Sorry for the delay on this. I'll hopefully have this resolved soon

[2019-08-27 08:39] #1269 closed, assigned to cvarley100

[2019-08-27 08:40] cvarley100 commented on #1269
Closing due to age and inability to reproduce.

[2019-08-27 09:48] cvarley100 commented on #451
Hey again @vbakke. Thanks very much for this detailed description. We will be reinvestigating Encrypted QRs in the coming weeks as part of our Trinity V2 planning. I will post an update here on the results of that.

[2019-08-27 14:15] rajivshah3 commented on #2162
Hi, can you please fill out the bug report template? It includes questions about OS information which would help us investigate this issue.

[2019-08-27 17:26] vbakke commented on #451
No problem.  There are of course many variants, but it is often easier improving a concrete suggestion, than something intangible. Looking forward to hear the conclusion.  :)

[2019-08-28 19:10] cvarley100 opened #2180 "Trinity Mobile Demo Version"
### Description

A simplified version of Trinity mobile is needed for future demos.

The version should be hosted on TestFlight and Google Play Beta with the following capabilities:
- Skip onboarding
- Scan QR code to add devnet seed
- Send IOTA to QR code
- Hardcoded node config for devnet with backups
- Reduced checks to avoid errors and streamline experience

[2019-08-29 17:53] cvarley100 opened #2182 "test"
test test test

[2019-08-29 17:54] #2182 closed, assigned to nobody

[2019-09-01 21:58] r4ched commented on #2004
i hope this will be add to the wallet cause it will allow users to really own there coins it doesn't make the exchanges unnecessary, but it offers the user an easy and safe way to trade iota

[2019-09-02 14:54] cvarley100 commented on #1878
Fixed in 1.1.0

[2019-09-02 14:54] #1878 closed, assigned to nobody

[2019-09-02 14:55] laumair opened #2190 "Manual sweeps"
### Description
With Trinity V1, it’s near impossible to end up in a situation where funds arrive on a spent address. Nonetheless, some users may send tokens using other tools that does not make the same checks. Therefore, an in-built feature is required for Trinity users to _securely_ transfer locked funds to a safe address.

### Motivation
It is necessary to provide a means of rescuing tokens th

[2019-09-02 18:49] UmbahaSpodPaha commented on #1902
@rajivshah3 in todays 1.1.0 build the ENG "Back" changed to just the arrow while the rest (translated ones) stays the same ;)
![Screenshot_20190902-204936_Trinity Beta](https://user-images.githubusercontent.com/35224101/64130553-5b902180-cdc3-11e9-8cd8-0d1c7acdd1d1.jpg)
![Screenshot_20190902-204955_Trinity Beta](https://user-images.githubusercontent.com/35224101/64130554-5b902180-cdc3-11e9-818e-a8

[2019-09-02 18:54] UmbahaSpodPaha commented on #677
@cvarley100 me and few other people from discord confirming that the bug still exist on newest 1.1.0.

Problem confirmed on Android but don't know about iOS.

[2019-09-02 19:00] UmbahaSpodPaha opened #2192 "PC & Mobile: "Empty" on transaction screen untranslated but translated in tx's list"
### Bug description
"Empty" (message field) is untranslated on transaction screen but translated in full transaction history screen.

### Environment Specs
- Manufacturer: Samsung
- Model: Galaxy S10
- OS version: Android 9

- Trinity version: 1.1.0 RC

![20190902_204154](https://user-images.githubusercontent.com/35224101/64130756-b118fe00-cdc4-11e9-8aef-eef1f3476888.jpg)
![20190902_205842](https:

[2019-09-02 19:03] UmbahaSpodPaha commented on #2192
The same thing on PC:
![E27tZji](https://user-images.githubusercontent.com/35224101/64130827-24bb0b00-cdc5-11e9-895d-295cebb2f291.png)

[2019-09-02 22:22] UmbahaSpodPaha opened #2193 "Mobile: Missing icon / weird gap on alert boxes"
### Bug description
There is missing "✓" icon of alertboxes in newest 1.1.0 version of Trinity Mobile and it looks a little bit weird. Without that icon, there is this not good looking gap.

Samsung Galaxy S10
Android 9
Trinity Mobile 1.1.0

### Expected behaviour
To have it good-looking = fix the icon or align the text to left without the gap.

![20190903_001722](https://user-images.githubusercon

[2019-09-04 15:03] sachushaji commented on #410
Hello, Can you give more info on why this design decision was made

[2019-09-05 16:06] Thoralf-M opened #2194 "node menu display bug"
### Bug description
Nodelist from `Autoselect primary node` is shown behind the Proof of work node part, if that's disabled

### Environment Specs
- OS version: Win 10
- Trinity version: 1.1.0-RC1

### Steps To Reproduce
1. Disable `Autoselect primary node` and `Autoselect proof of work node`
2. Change the primary node
![trinitynodeslist](https://user-images.githubusercontent.com/46689931/64359006

[2019-09-07 09:28] Hissi88 opened #2195 "Can't delete custom node"
### Bug description
I can't delete a custom node.
Clicking the X doenst work.

![grafik](https://user-images.githubusercontent.com/45494848/64472684-86cb9580-d162-11e9-981f-d553387f9d05.png)

### Environment Specs
What device are you running Trinity on?

- Windows 7

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity ver

[2019-09-07 09:35] Hissi88 opened #2196 "Too few nodes in the node list"
### Bug description
Too few nodes in the node list. I did a reset two times, but always same issue.

![grafik](https://user-images.githubusercontent.com/45494848/64472738-4e788700-d163-11e9-844d-0d96cffe70f9.png)

### Environment Specs
What device are you running Trinity on?

- Windows 7

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Tr

[2019-09-11 09:12] #2180 closed, assigned to laumair, cvarley100

[2019-09-11 14:08] cvarley100 commented on #701
@GP1992 Do you have a proposal for exactly how this might look?

[2019-09-11 14:09] cvarley100 commented on #714
Duplicate of #473

[2019-09-11 14:09] #714 closed, assigned to rajivshah3

[2019-09-11 14:11] cvarley100 commented on #722
Strangely, you have to choose between removing files on uninstall and choosing installation folder with Electron. We think the former is more useful to our users. Will reopen if Electron submit an update.

[2019-09-11 14:11] #722 closed, assigned to rihardsgravis

[2019-09-11 14:16] cvarley100 commented on #1799
#890 #891 #893 #895 closed issues are of relevance here

[2019-09-11 14:17] cvarley100 commented on #890
Closing to be tracked in #1799

[2019-09-11 14:17] #890 closed, assigned to nobody

[2019-09-11 14:17] cvarley100 commented on #891
Closing to be tracked in #1799

[2019-09-11 14:17] #891 closed, assigned to nobody

[2019-09-11 14:17] cvarley100 commented on #893
Closing to be tracked in #1799

[2019-09-11 14:17] #893 closed, assigned to nobody

[2019-09-11 14:17] cvarley100 commented on #895
Closing to be tracked in #1799

[2019-09-11 14:17] #895 closed, assigned to nobody

[2019-09-11 14:17] #967 closed, assigned to nobody

[2019-09-11 14:21] cvarley100 commented on #1344
Closing due to age.

[2019-09-11 14:21] #1344 closed, assigned to nobody

[2019-09-11 14:21] cvarley100 commented on #1013
No plans to increase test coverage in light of V2 development

[2019-09-11 14:21] #1013 closed, assigned to laumair

[2019-09-11 14:26] cvarley100 commented on #1636
Closing to due age. Please reopen if you are still facing this issue after following @rajivshah3's steps.

[2019-09-11 14:26] #1636 closed, assigned to nobody

[2019-09-11 14:26] cvarley100 commented on #1666
@SleepingFox88 Are you still experiencing this issue?

[2019-09-11 14:27] cvarley100 commented on #1667
Use this issue to track closed issues #1621, #1666

[2019-09-11 14:27] #1621 closed, assigned to nobody

[2019-09-11 14:27] #1666 closed, assigned to nobody

[2019-09-11 14:28] cvarley100 commented on #1677
Closing due to age.

[2019-09-11 14:28] #1677 closed, assigned to rihardsgravis

[2019-09-11 14:29] cvarley100 commented on #1791
Should be fixed in the later versions.

[2019-09-11 14:29] #1791 closed, assigned to rihardsgravis

[2019-09-11 14:29] rajivshah3 commented on #1636
This issue was fixed in #1608 which was released in RC1 (release candidate)

[2019-09-11 14:29] #1846 closed, assigned to nobody

[2019-09-11 14:30] cvarley100 commented on #1604
@h3dgyy You will likely need to connect to a node that still has your history to get it back

[2019-09-11 14:31] cvarley100 commented on #1623
Has not appeared since 1.0.0

[2019-09-11 14:32] cvarley100 commented on #1422
Closing due to age and stack trace returning 404

[2019-09-11 14:32] #1422 closed, assigned to nobody

[2019-09-11 14:32] rajivshah3 commented on #1623
This is actually still occurring, but the newer error was not grouped with the older one

[2019-09-11 14:33] rajivshah3 commented on #1623
This issue has been linked to an error in Bugsnag
[**TypeError** in **/onboarding/**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5d1b71f35b0ce3001a00c82e?event_id=5d78f693004fa69ef5900000&i=gh&m=li)

[2019-09-11 14:34] cvarley100 commented on #816
This should be fixed now.

[2019-09-11 14:34] #816 closed, assigned to nobody

[2019-09-11 14:35] rajivshah3 commented on #1513
Fixed in https://github.com/iotaledger/trinity-wallet/pull/2189

[2019-09-11 14:35] #1513 closed, assigned to nobody

[2019-09-11 14:37] rajivshah3 commented on #508
@ggreeve @jojoCoWorker is this issue still occurring in 1.0.0? If so, are you able to post a screen recording?

[2019-09-11 14:39] rajivshah3 commented on #2193
We've seen this issue in development for a while, but it has never shown up in a release. I'll investigate, maybe #2161 will fix it

[2019-09-11 14:40] #1953 closed, assigned to rajivshah3

[2019-09-11 14:48] cvarley100 commented on #2016
Duplicate of #647

[2019-09-11 14:48] #2016 closed, assigned to nobody

[2019-09-11 16:03] sloganking commented on #1666
I have not had this issue in a while. Closing it is fine for now

[2019-09-12 08:39] christopher-wilke commented on #1604
@cvarley100 How do I know which node I can use? I tried permanent nodes but none of them worked.

[2019-09-12 11:09] cvarley100 commented on #713
@ouya99 @mrbianchi @Isarstyle @ryscar13 We're interested to hear what your motivation is for adding this feature. From our POV, enforcing the TRINITY tag is very useful for transaction analysis.

[2019-09-12 19:59] ouya99 commented on #713
TAG would be useful to transmit information alongside the iota transfer

[2019-09-15 23:23] BronzYohn opened #2219 "Choose the address to send from"
### Description
Option to choose the address to send from.

### Motivation
Increased anonymity.

### Requirements
Drop down menu with list of addresses and amounts to choose from.

### Am I planning to do it myself with a PR?
No.

[2019-09-16 09:49] jojoCoWorker commented on #508
@rajivshah3 Yes still occurs in 1.0.0, same in 1.1.0-RC1, both on windows 7.

[2019-09-16 10:07] jojoCoWorker commented on #508
@rajivshah3
Here is my home-made screen recording :
![20190916_115311](https://user-images.githubusercontent.com/33653820/64949593-cb011900-d879-11e9-8ecf-fa4867259e1e.gif)
1. I write my seed : ABCDEFGHIJKLMN.....XYZ9999999999999999999999 to have 81 characters
2. I come back to the beginning of the seed, can't see the first 2 letters anymore.
3. I type some 999 before the "A" to see again the begi

[2019-09-16 13:14] #2192 closed, assigned to rajivshah3

[2019-09-17 08:51] userneu3 opened #2227 "Trinity Desktop v1.0.0 for linux not working"
Trinity Desktop v1.0.0 for linux not working on updated (x)ubuntu 16.04.LTS 64bit.
I made it executable manually or by "sudo chmod" - its not working. At one try  it asked if I wanted to install it permanently, I tried all posibilites (yes no), and I see it in the programm menue, but can't start it. No window opens.
Neither start by terminal is working.
Thanks for your ideas

[2019-09-18 09:59] feikede commented on #2227
Same for me. Doesn't work. No windows, just some processes and a folder in $HOME/.config. v.1.1RC1 works.

[2019-09-18 14:07] #2193 closed, assigned to rajivshah3

[2019-09-18 21:02] userneu3 commented on #2227
@feikede
well, the developers seem to be very indifferent to our problems... 2 days and no reaction.
I myself I could run trinity successfully in my Ubuntu 18.4. system.
At least this is working.

[2019-09-18 21:12] cvarley100 commented on #2227
1.1RC works, right? In which case just wait for 1.1.0's release.

[2019-09-18 21:21] userneu3 commented on #2227
"Trinity Desktop v1.1.0-RC1"
there are warnings to use 1.1.0-RC1:

https://github.com/iotaledger/trinity-wallet/releases

[2019-09-18 21:27] cvarley100 commented on #2227
Indeed. That is a release candidate version. When deemed stable, release candidate versions are released in full. So, 1.1.0 will be promoted shortly to full release.

[2019-09-19 07:32] userneu3 commented on #2227
thank you

[2019-09-19 07:32] #2227 closed, assigned to nobody

[2019-09-20 10:13] captPython opened #2233 "iota Trinity wallet Seedvault issue "Unrecognised SeedVault Key""
### Bug description
Hi Firends,
I have recently used trinity-desktop-1.0.0.AppImage wallet and generated vault seeds. Eveerythings works well I had kept a encrypted seeds and noted down the password But now when I am trying to login again using the same seedVault and using the password to decrypt it then it is throwing an error as shown in Screenshot.

### Environment Specs
Ubuntu 18

- Manufactur

[2019-09-20 10:29] cvarley100 commented on #2233
Hi @captPython. This error suggests the password you entered is not correct. Perhaps you wrote it down incorrectly, or used a different password? Let me know if either of those could be the case.

Also, did you just leave a review on Google? We'd appreciate it if you let us try resolve this issue with you before leaving a negative review.

[2019-09-23 16:47] andrewmakarskiy commented on #2115
How long does SOON take?

[2019-09-23 16:55] cvarley100 commented on #2115
@andrewmakarskiy Builds will be signed with a new key from the next release onwards. So look out for the public key in the release artefacts for 1.2.0.

[2019-09-23 17:06] rajivshah3 commented on #2195
Fixed in #2209

[2019-09-23 17:06] #2195 closed, assigned to laumair

[2019-09-23 17:07] rajivshah3 commented on #2196
Fixed in #2209

[2019-09-23 17:07] #2196 closed, assigned to laumair

[2019-09-23 17:09] rajivshah3 commented on #2031
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **src/ui/views/wallet/AddCustomNode.js:80**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cf198681f6bde001c020d24?event_id=5d759915004f3b6875850000&i=gh&m=fx)

[2019-09-23 17:10] rajivshah3 commented on #2031
This issue hasn't appeared in a recent release, so it has probably been fixed

[2019-09-23 17:10] #2031 closed, assigned to nobody

[2019-09-25 14:38] rajivshah3 opened #2250 "App crashes when device has been restored from a backup"
### Bug description
When a new iOS device has been restored from an iCloud backup, Trinity does not get past the splash screen and Realm file decryption fails. The Realm encryption key may be missing from the backup.

### Environment Specs

- Manufacturer: Apple
- Model: iPhone 11 Pro, iPhone 11 Max Pro
- OS version: iOS 13.1

What build of Trinity are you running? Please provide the full version

[2019-09-25 18:58] captPython commented on #2233
@cvarley100 thanks for your comment.. Seems seeds file were Corrupted..

Never mind.. I was able to recover another copy of it .. I had already changed or deleted that review .. Thanks for your help again

[2019-09-25 18:58] #2233 closed, assigned to nobody

[2019-10-07 14:52] cvarley100 opened #2284 "Ledger Index Improvements"
### Description
Proposed change:
- Remove support for pages. Those who use them  can rebuild from an older Trinity version if needed
- Hide indexes under the advanced toggle
- Accounts are added one by one. If index 0 is in use in Trinity then use index 1 etc.

### Motivation
Ledger indexes add unnecessary complexity and risk. Users often forget to write down their index number(s). Continued suppo

[2019-10-09 10:51] curVV commented on #2162
Just built 1.1.0. No issues.

[2019-10-09 23:10] alexsporn commented on #1932
any updates on this?

[2019-10-14 19:32] ghost commented on #2284
agreed

[2019-10-15 10:04] SuperFluffy opened #2294 "Allow copying IOTA amount and time received/sent/in wallet from the app"
### Description

Allow copying specific IOTA amounts you have received or sent or own from within the trinity wallet. This also applies to the specific time you have made a transaction. Places include `Balance` and `History`.

### Motivation

Sometimes you write down the exact amount of tokens you received, for example in a Google Doc or a Spreadsheet (for tax purposes, the relevant authorities wa

[2019-10-15 13:38] vinox2016 opened #2295 "Save options not possible"
### Bug description

Cannot save settings in options. If I press "save", nothing happens. But the color animation of the button works.

Had node management on manual, wanted to set it back to automatic node management.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Dell
- Model: Precision M7720
- OS version: Windows 7 64  bit

What build of Trinity are you running?

[2019-10-28 18:20] Jx77on opened #2310 "Feat: Ledger (nano s / X) rescue / import function (24 word seed import)"
Feature request:
Create a possibility to import the ledger nano s or X 24 words seed to get independent from Ledger Hardware if needed.

Cause:
To get access to the IOTA seed in case of Ledger software tools, Hardware or so on won't be available in future
or you lost your ledger hardware and need access to your funds before the new ordered ledger will arrive.

Source of an generator is available,

[2019-10-29 13:35] cvarley100 commented on #2310
@Jx77on This tool currently exists for obtaining a seed from your mnemonic: https://github.com/muXxer/recover-iota-seed-from-ledger-mnemonics

We currently do not have plans to add such a feature to Trinity.

[2019-10-29 13:51] cvarley100 commented on #2295
@vinox2016 `Auto node management` just represents the default settings, you need to change the individual settings before you save.

[2019-10-29 13:51] #2295 closed, assigned to nobody

[2019-11-02 10:16] UmbahaSpodPaha opened #2316 "(Mobile) Sliders invisible on dark theme."
### Bug description
Black slider is almost invisible on dark theme and it almost seems that these tiles are broke because of the way that slider blends in with background.

### Environment Specs
- Manufacturer: Samsung
- Model: Galaxy S10
- OS version: Android 9
- Trinity version: 1.1.0 (85)

### Steps To Reproduce
1. Change Trinity Mobile theme to Dark
2. Make slides up and down on tx history pag

[2019-11-03 13:50] doxmare opened #2317 "Login button not working on Android 10"
### Bug description
In the welcome screen from Trinity on Android 10 the login button does not do anything at all (no wrong password notification or anything else)

### Environment Specs
What device are you running Trinity on?

Manufacturer: Google
Model: Pixel 2 XL
OS version: Android 10

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About T

[2019-11-13 03:34] rajivshah3 opened #2337 "Crash on launch when running Android 5.0"
### Bug description
Crashes on Android 5.0 (API level 21) are occurring with messages similar to #1135 and #1463. According to Google Play, this crash has occurred since build 83, but it's possible that this issue occurred before that.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Huawei (Firebase Test Lab)
- Model: P8 Lite (ALE-L23)
- OS version: Android 5.0.1

W

[2019-11-13 03:49] rajivshah3 commented on #2337
Relevant issue: https://github.com/android/ndk/issues/964

Relevant NDK documentation: https://android.googlesource.com/platform/bionic/+/master/android-changes-for-ndk-developers.md#available-in-api-level-23

Linking against `libta` is a possible [workaround](https://talk.sonymobile.com/t5/Android-5-x-Lollipop/Compilation-problem-undefined-reference-to-dlopen/m-p/1285691/highlight/true#M362)

[2019-11-15 16:02] #1049 closed, assigned to laumair

[2019-11-17 17:37] fabiancdng opened #2347 "Trinity wallet does not start on Linux (Kubuntu 19.04)"
#979 # Bug description
I download the official AppImage, did this "chmod +x" thing, started the AppImage and nothing happened (no window appeared). I already tried running it in the terminal or with "AppImageLauncher".

- Dell Laptop
- Linux (Kubuntu 19.04)
- libsecret and gnome-keyring installed

- Trinity version: 1.1.0 (I tried other versions as well)

### Steps To Reproduce
1. Donwloaded
2. Se

[2019-11-17 21:00] skipokylas opened #2348 "Can't open app after installing it first time"
### Bug description
A general description of the bug.

### Environment Specs
What device are you running Trinity on?

- OS version: macOS Mojave 10.14.6

- Trinity version: last on Sunday, November 17

### Steps To Reproduce
1. Install app from site
2. open first time
<img width="1276" alt="Screenshot 2019-11-17 at 10 55 19 PM" src="https://user-images.githubusercontent.com/29805382/69013951-0dd09

[2019-11-18 15:52] fabiancdng commented on #2347
Okay, I could fix this bug by deleting ".config/Trinity".

[2019-11-18 15:52] #2347 closed, assigned to nobody

[2019-11-18 20:55] rajivshah3 commented on #2348
@skipokylas after some investigation this seems related to the macOS keychain (https://github.com/desktop/desktop/issues/3625). Can you please try the following and let me know if it solves the issue?

1. Quit Trinity
2. Open Keychain Access (`/Applications/Utilities/Keychain Access`)
3. Right-click the `login` keychain and lock it:
![image](https://user-images.githubusercontent.com/19519564/69092

[2019-11-18 20:58] rajivshah3 commented on #2348
This issue has been linked to an error in Bugsnag
[**Error** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5ce6a1f1dfbdf60019b3a725?event_id=5dd2d08a00531fced0940000&i=gh&m=li)

[2019-11-18 21:04] rajivshah3 commented on #2317
@Doxmare please provide all information requested in the template such as manufacturer and model, as these are necessary for us to investigate the issue properly

[2019-11-18 21:17] doxmare commented on #2317
Done

[2019-11-28 15:41] scaprile opened #2368 "no GUI"
### Bug description
The AppImage seems to be running (no prompt), but no GUI nor error msgs

### Environment Specs
CentOS 7.7.1908
Linux mycomputername 3.10.0-1062.el7.x86_64 #1 SMP Wed Aug 7 18:08:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
trinity-desktop 1.1.0 AppImage

### Steps To Reproduce
1. execute (either by double click, manually run on bash, or menu after accepting installation)
2. get p

[2019-12-01 08:58] Jamiehix opened #2375 "IFTTT Connector for Trinity V2"
### Description
A connector so that IFTTT (If This Then That) can interact with Trinity V2.

Some existing projects that may be possible to collaborate with: https://github.com/iota-community/ifttt

https://github.com/0570dev/iota/tree/master/software/arduino/iota-ifttt

https://ecosystem.iota.org/projects/iota-integration-gateway

### Motivation
IFTTT can provide a lot of usability cases that eve

[2019-12-09 14:16] FritzPeterAlbrecht opened #2386 "Trying to send funds from ledger - confirmation not showing up"
I'm trying to send funds with my ledger. Trinity stops working at the point where I have to confirm the tx on my ledger. Confirmation on the ledger not showing up! Also something is popping up on my desktop and directly disappears without a chance to read whats going on.

This is happening the first time. Can't touch my funds.

[2019-12-09 15:15] #2386 closed, assigned to nobody

[2019-12-09 15:16] cvarley100 commented on #2386
@FritzPeterAlbrecht How did you resolve this?

[2019-12-09 15:38] FritzPeterAlbrecht commented on #2386
It was caused by spreaded funds on the ledger. Four addresses had balances, as I learned the Ledger can just handle to addresses in one tx due to memory limitations. So in Trinity just go to your account, click settings and then click adresses!

[2019-12-09 15:39] FritzPeterAlbrecht commented on #2386
https://medium.com/@hbmy289/how-to-access-iota-funds-spread-over-too-many-inputs-on-ledger-nano-s-74708548fa6e

[2019-12-09 15:44] cvarley100 commented on #2386
@FritzPeterAlbrecht Ah brilliant, glad you sorted the issue. We need to add this information to Trinity so it's easier to find.

[2019-12-18 17:51] GuidAnce-git opened #2399 "Apple Pay and Android Pay for buying IOTAs with Moonpay"
# Description
Possibility to pay Moonpay with build in Apple Pay or Android Pay

### Motivation
During the hole process, entering the credit card information takes most time. With Apple Pay or Android Pay this process can speed up dramatically.

### Requirements
1. iOS/Android build in payment method available for Moonpay

### Open Questions (optional)

### Am I planning to do it myself with a PR?

[2019-12-18 18:03] cvarley100 commented on #2399
@GuidAnce-git Apple Pay will be available sooner or later. Android Pay likely in the future.

[2019-12-18 20:09] Josey87 opened #2400 "'amount' field doesn't support comma's when buying via moonpay"
### Bug description
The IOS app I use displays a comma in the on-screen keyboard when entering the amount of IOTA you want to order via Moonpay. In my region it is common to use a comma as decimal separator (netherlands). The mask in the amount field can't cope with this input, since it gives NaN for several fields that use this number as input. See screenshot.

![Trinity issue](https://user-image

[2019-12-18 22:36] GuidAnce-git commented on #2399
@cvarley100 Nice to hear. Thanks for the tip.

[2019-12-19 04:57] SushiTee opened #2401 "Cannot accept terms of moonpay (german UI)"
### Bug description
Cannot accept terms of moonpay (german UI). The bug is indicated by the orange lines.
In english UI it works as the text fits there.

<img width="320" alt="20191219_043925000_iOS" src="https://user-images.githubusercontent.com/293612/71146080-11bd3100-2224-11ea-91af-9aeb466abe13.png">

### Environment Specs
- Manufacturer: Apple
- Model: iPhone SE
- OS version: iOS 13.3
- Trini

[2019-12-19 09:48] RainerB commented on #2115
@cvarley100 @andrewmakarskiy looking at [trinity-wallet desktop-1.2.0](https://github.com/iotaledger/trinity-wallet/releases/tag/desktop-1.2.0) it seems the gpg pubkey is still missing.

[2019-12-19 15:49] web2perform commented on #2401
Same here with Samsung Galaxy S8+, newest version.

[2019-12-19 15:50] cvarley100 commented on #2401
Hey @SushiTee & @Leibi133 please use English for now. A fix will be pushed ~later today~ tomorrow.

[2019-12-19 15:57] web2perform commented on #2401
Also note that the KYC note in red color is also visually interrupted in the German version.

[2019-12-21 01:04] rajivshah3 opened #2405 "Alabama is the default state for MoonPay registration when it is not supported"
### Bug description
When signing up for MoonPay and selecting USA as your country, the default state is Alabama. However, only California, Illinois, and Massachusetts are supported. The user is allowed to continue even with Alabama selected.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone 11
- OS version: iOS 13.3

What build of Trinity are you

[2019-12-22 17:26] Thoralf-M opened #2414 "bundle is not fully broadcasted"
### Bug description
Trinity doesn't always broadcast the full bundle, I've seen this twice before with bundles from other people

### Environment Specs
- OS version: Win 10
- Trinity version: v1.2.0

### Steps To Reproduce
1. Send a transaction
2. ?

### Expected behaviour
Trinity should rebroadcast the bundle or reattach it with the data stored in the state if I do a manual sync or click on retry

[2019-12-23 12:25] #2401 closed, assigned to nobody

[2019-12-23 16:26] #2405 closed, assigned to nobody

[2019-12-28 21:12] KiwiCat123 opened #2432 ""send max" button doesn't work"
# Bug description
On the Send page the `send max` button doesn't work. Pressing it does nothing and there is no transaction pending and no founds on a used address.

### Environment Specs
- Model: iPhone 11 Pro
- OS version: 13.2.2
- Trinity version: 1.2.2 (98)

### Steps To Reproduce
1. go to the send page
2. press `send max`

### Expected behaviour
amount of all available founds on this account

[2019-12-29 09:51] tguney opened #2439 "Node out of sync"
### Bug description
When i log on to trinity i get:
Your currently selected node is out of sync. Please change node or try again.
![Screenshot_2019-12-29-12-50-33-841_com iota trinity](https://user-images.githubusercontent.com/59331512/71555162-dd265200-2a39-11ea-88ee-3db752859b6d.jpg)

### Environment Specs
Xiaomi mi max2 android 7.1.1

What build of Trinity are you running? Please provide the fu

[2019-12-29 12:12] martinpaulik commented on #2439
I have same problem. I uninstall Trinity wallet and installed again, but there is still problem with nodes.

OS: Windows 10 and Android

[2019-12-29 12:18] tguney commented on #2439
I installed trinity on desktop Windows 10. Same problem.

[2019-12-29 12:51] martinpaulik commented on #2439
And does not work with any node.

[2019-12-29 13:41] retonag commented on #2439
Same problem here.
Win10 + Trinity v1.2.1

[2019-12-29 13:44] amani1104 commented on #2439
Same problem on MacOS Mojave with Trinity 1.2.1 and 1.2.0

[2019-12-29 13:49] martinpaulik commented on #2439
Trinity 1.2.1 (last build)

[2019-12-29 13:50] IoTMOD commented on #2439
This is not a Trinity bug. The IOTA network is currently down.
The IOTA engineering team is on it.
https://twitter.com/iota_dev/status/1211249303517315072

[2019-12-29 13:58] martinpaulik commented on #2439
Thanks.

[2019-12-29 14:10] martinpaulik commented on #2439
It is not first issue of IOTA. They plan to do big thing with IOT, but there are still some problems.

[2019-12-29 21:47] #2046 closed, assigned to nobody

[2019-12-29 21:51] rajivshah3 commented on #2439
As @IoTMOD mentioned, this is a network issue

[2019-12-29 21:51] #2439 closed, assigned to nobody

[2019-12-29 21:54] rajivshah3 commented on #2348
Hi @skipokylas , did the above steps solve the issue for you?

[2019-12-29 21:54] rajivshah3 commented on #2162
@curVV so the issue is resolved?

[2019-12-30 01:31] Hyp3r1onX opened #2440 "Error on Node Sync"
# Bug description
When trying to log into my IOTA Account i get the error that the node is out of Sync.
I tried different nodes (manually selected some) and still getting the error.
I also completely uninstalled and reinstalled the IOTA Desktop Wallet and still same error.
I also tried to disable the System Proxy Setting same error.

### Environment Specs
What device are you running Trinity on?
-

[2019-12-30 02:03] rajivshah3 commented on #2440
Please see https://github.com/iotaledger/trinity-wallet/issues/2439#issuecomment-569507443. The issue should be fixed soon

[2019-12-30 02:03] #2440 closed, assigned to nobody

[2019-12-30 11:17] skipokylas commented on #2348
Hi @rajivshah3 , Yes, it solved the problem.
Thank you.

[2019-12-30 11:17] #2348 closed, assigned to rajivshah3

[2019-12-31 01:32] janfiedler opened #2441 "Message in transaction do not correspond to index in bundle"
# Bug description
If I receive transaction in bundle, where is multiple transactions to different addresses. Message in incoming transaction detail I see message from transaction index 0 and not to correspond to transaction with my address.

For example this bundle:
https://thetangle.org/bundle/OGRIIXSE9UGTIIXCZDVVEQIZTODEOVFFOELDQTRXXKX9NECUHA9HSJHO9YDXBA9AYGEQYFWAPQKWKPDBD

My address is in tran

[2020-01-02 21:28] s-motzer opened #2444 "App crashes on iOS during MoonPay checkout process"
### Bug description
During  the checkout process with MoonPay the app crashes when hitting "CONTINUE" after the step "billing address". Last try from me: January 2nd, 21:22 UTC time

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone 11 Pro 256 GB
- OS version: 13.3

What build of Trinity are you running? Please provide the full version (you can fi

[2020-01-03 18:38] KiwiCat123 opened #2445 "wrong currency symbol shown if too high amount"
### Bug description
When I try to buy from Moonpay an amount greater than 150USD there's a warning `KYC required for an amount greater than €150`. No matter which currency I entered it always shows the € symbol.

### Environment Specs
- Model: iPhone 11 Pro
- OS version: 13.2.2
- Trinity version: 1.2.2 (98)

### Steps To Reproduce
1. try to buy iota with moonpay
2. on `Choose the amount if MIOTA f

[2020-01-03 20:06] rajivshah3 commented on #2444
This issue has been linked to an error in Bugsnag
[**Error** in **node_modules/invariant/browser.js:39**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5dd3b3f3e7767a00196816e9?event_id=5e0f9d3d0054ce0e2f570000&i=gh&m=li)

[2020-01-03 20:08] rajivshah3 commented on #2444
Likely related to https://github.com/react-native-community/react-native-webview/issues/161. Since we don’t use CocoaPods to link this library we’ll have to figure out another way to resolve this

[2020-01-04 18:05] rajivshah3 opened #2446 "TypeError in /exchanges/moonpay/select-payment-card"
## Error in Trinity Desktop

**TypeError** in **/exchanges/moonpay/select-payment-card**
Cannot destructure property `brand` of 'undefined' or 'null'.

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5e0100eba8378e0019ba6b7a?event_id=5e10ab9e0054c94f16950000&i=gh&m=ci)

## Stacktrace

    iota://dist/bundle.js:200959 - SelectPaymentCard_SelectPaymentCard.formatCard

[2020-01-06 04:02] rajivshah3 commented on #2445
@KiwiCat123 can you try to reproduce the issue again? It seems to work correctly for me on v1.2.2 (98) as well as the latest build from the `develop` branch. I wonder if the exchange rate endpoint was down when this issue occurred 🤔

![image](https://user-images.githubusercontent.com/19519564/71794384-3e888b00-300f-11ea-97af-175c6f407adb.png)

[2020-01-09 17:50] #2446 closed, assigned to laumair

[2020-01-09 17:50] rajivshah3 commented on #2446
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **/exchanges/moonpay/select-payment-card**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5e0100eba8378e0019ba6b7a?event_id=5e16b775005559049da30000&i=gh&m=fx)

[2020-01-12 11:32] KiwiCat123 commented on #2445
@rajivshah3 I just could reproduce it. I can record a video of it if you need. I set the currency to USD, entered 151 and then this message appears again with €.
My iPhone is set to German. Maybe it has something to do with that. I’ll test it again on another iPhone.

[2020-01-12 21:35] rajivshah3 commented on #2445
@KiwiCat123 ah, maybe I was entering the amount before switching the currency. I'll try switching the currency first and also try switching the device language to German

[2020-01-13 12:29] cvarley100 commented on #632
No plans to do this on mobile

[2020-01-13 12:29] #632 closed, assigned to rihardsgravis

[2020-01-13 12:30] cvarley100 commented on #1888
We are no longer continuing to support Windows 7 as of today.

See: https://support.microsoft.com/en-gb/help/4057281/windows-7-support-will-end-on-january-14-2020

[2020-01-13 12:30] #1888 closed, assigned to nobody

[2020-01-13 14:39] cvarley100 commented on #2441
Unfortunately there is no way to guarantee we display the relevant message from the index in a bundle. In a typical IOTA bundle the message is at index 0 so we have chosen to display this one.

[2020-01-13 14:39] #2441 closed, assigned to nobody

[2020-01-13 15:36] #2444 closed, assigned to rajivshah3

[2020-01-13 16:23] cvarley100 opened #2469 "Overall Stability Review"
We are approaching a feature cut-off for V1. To reduce overhead in continued maintenance we need to perform a stability review of both mobile and desktop versions.

Significant outstanding crashes, bugs and issues should be identified and fixed. A review of Bugsnag logs,  #help and #trinity-discussion channels and recent issues will help in identifying any outstanding problems.

[2020-01-13 18:36] cvarley100 commented on #2317
@Doxmare Did this start happening out of the blue? Did you restore your OS from back-up or update from a much older version?

[2020-01-13 18:37] #2310 closed, assigned to nobody

[2020-01-13 18:49] #2445 closed, assigned to cvarley100

[2020-01-13 19:22] doxmare commented on #2317
@cvarley100 Out of the blue, but I didn't open the app for a few months at least

[2020-01-14 11:30] jairomer opened #2473 "Buy IOTA with moonpay "There was a problem in your transaction. Please try again"."
The issue tracker is only for reporting bugs. If you need technical assistance with the Trinity wallet, please consult the [documentation](https://docs.iota.works/trinity). For further assistance, please visit the #help channel on [Discord](https://discord.iota.org).
If you have general questions on IOTA you can go to https://iota.stackexchange.com/, https://forum.helloiota.com/, or browse Discord

[2020-01-14 11:32] cvarley100 commented on #2473
Hi @jairomer. Thanks for the report. Binance has suspended IOTA withdrawals while they perform maintenance. We will update the error message in Trinity to reflect this.

[2020-01-14 14:10] rihardsgravis commented on #2194
Fixed in #2364

[2020-01-14 14:10] #2194 closed, assigned to rihardsgravis

[2020-01-14 14:13] #2162 closed, assigned to rihardsgravis

[2020-01-14 20:41] rihardsgravis commented on #2004
Added with #2364

[2020-01-14 20:41] #2004 closed, assigned to nobody

[2020-01-14 20:45] rihardsgravis commented on #1969
Updated in #2319 by querying an IOTA Foundation deployed API with multiple fallback endpoints

[2020-01-14 20:45] #1969 closed, assigned to nobody

[2020-01-15 10:42] cvarley100 opened #2477 "Select Country listed instead of Select State in MoonPay"
### Bug description

Select Country is listed twice of in MoonPay on desktop.

[2020-01-15 10:44] cvarley100 opened #2478 "MoonPay add payment card layout issue"
### Bug description

- Remember credit card settings checkbox not visible on some resolutions

### Environment Specs

- OS version: Windows 10
- Dell XPS laptop connected to a 27" screen with 3200 x 1800 recommended resolution with size of text, app, other set 150% (default).

- Trinity version: 1.2.0

![unknown-1](https://user-images.githubusercontent.com/25092479/72427592-f8a49300-3783-11ea-94f0

[2020-01-15 10:45] cvarley100 opened #2479 "Controls hidden after returning from unsuccessful MoonPay tx"
### Bug description

All app UX controls are hidden and not accessible when clicking the Go Back button after unsuccessful MoonPay tx. This results in the user to not able to see or do anything in Trinity anymore.

### Environment Specs

Windows 10

What build of Trinity are you running?

- Trinity version: 1.2.0

[2020-01-15 10:46] cvarley100 opened #2480 "Incorrect date of birth formatting in MoonPay"
### Bug description

Entering a DOB with incorrect formatting provides no error prompt

### Environment Specs
What device are you running Trinity on?

- OS version: Windows 10

What build of Trinity are you running?

- Trinity version: 1.2.0

[2020-01-15 11:27] #2432 closed, assigned to cvarley100

[2020-01-15 11:31] cvarley100 opened #2481 "MoonPay incorrectly displays USA"
### Bug description

USA is not yet supported for IOTA purchases by MoonPay but it shows in the wallet.

### Environment Specs

Trinity version: 1.2.0

[2020-01-15 12:47] #2473 closed, assigned to nobody

[2020-01-15 16:42] rajivshah3 commented on #2115
Sorry for the delay in resolving this. We're updating the instructions so that you can retrieve the key from a public keyserver (https://github.com/iotaledger/documentation/pull/595)

[2020-01-15 16:42] #2115 closed, assigned to rajivshah3, rihardsgravis

[2020-01-16 09:27] martinpaulik opened #2483 "Can't to purchase IOTA from Trinity Wallet by MoonPay"
Hello guys,
last days I can't to purchase IOTA from Trinity Wallet. There is error message:

![image](https://user-images.githubusercontent.com/59334427/72510748-4388de00-384a-11ea-8d32-9ff15bb8c48f.png)

Trinity Wallet version 1.2.1
OS Windows 10 (fully patched)

Could you please help me?

[2020-01-16 09:29] cvarley100 commented on #2483
Hi @martinpaulik. Please check the error log and share what you see. In your top menu, Trinity > Error Log.

[2020-01-16 09:35] martinpaulik commented on #2483
Thanks for reply. There it is:
![image](https://user-images.githubusercontent.com/59334427/72511926-c9595900-384b-11ea-8f77-ceec488e8554.png)

Node Settings:
![image](https://user-images.githubusercontent.com/59334427/72512120-db3afc00-384b-11ea-9685-67995f53c8c3.png)

Thanks.

[2020-01-16 09:42] cvarley100 commented on #2483
@martinpaulik Is your device time correct?

[2020-01-16 09:47] martinpaulik commented on #2483
Yes, time on my device is correct for our Time Zone (Prague). I have same problem with next wallet on OS Android.

[2020-01-16 10:03] cvarley100 commented on #2483
Okay, that's strange. Try turning off `automatic node management` and `autoselect primary node`. You can then connect to a specific node e.g. https://nodes.thetangle.org:443

[2020-01-16 10:34] martinpaulik commented on #2483
Thanks. Tried both options, but there is still timestamp error.

[2020-01-16 10:56] martinpaulik commented on #2483
I am sure that it is bug, because I did not make any changes on my devices.

[2020-01-16 11:06] cvarley100 commented on #2483
@martinpaulik It seems strange that is is affecting both of your devices. Have there been any changes to your network e.g. using a VPN?

[2020-01-16 11:09] martinpaulik commented on #2483
No, I did not make any changes on my devices.

[2020-01-16 11:14] martinpaulik commented on #2483
BTW: I tried more nodes, but with same result :-(

[2020-01-16 11:19] cvarley100 commented on #2483
@martinpaulik Oh. My bad. I see the issue now.

Binance has currently suspended withdrawals. MoonPay uses Binance to fulfil purchases. It will hopefully be back up and running shortly.

We will add clearer messaging to the purchase flow in Trinity so that you will be aware of these sorts of issues in future.

[2020-01-16 11:24] martinpaulik commented on #2483
OK, no problem :-) Thanks for your message.

[2020-01-16 16:51] #2483 closed, assigned to nobody

[2020-01-16 17:19] cvarley100 opened #2484 "IOTA price (current value) is often inaccurate"
### Bug description

The price displayed in the wallet is often out of date/inaccurate. It differs to that displayed on the CoinGecko page.

[2020-01-16 18:20] #655 closed, assigned to rihardsgravis

[2020-01-16 18:20] #1974 closed, assigned to rihardsgravis

[2020-01-19 01:29] shubener opened #2487 "Fatal error unable to open realm at path Trinity wallet"
The issue tracker is only for reporting bugs. If you need technical assistance with the Trinity wallet, please consult the [documentation](https://docs.iota.works/trinity). For further assistance, please visit the #help channel on [Discord](https://discord.iota.org).
If you have general questions on IOTA you can go to https://iota.stackexchange.com/, https://forum.helloiota.com/, or browse Discord

[2020-01-20 12:31] cvarley100 opened #2499 "Error log displays incorrect time"
### Bug description
The error log displays the current timestamp for all entries.

### Environment Specs

Desktop. 1.2.0.

### Steps To Reproduce
Have an error. Open error log.

### Expected behaviour
Time should be correct.

### Actual behaviour
Time was incorrect.

[2020-01-20 12:50] #2499 closed, assigned to nobody

[2020-01-20 14:44] #2400 closed, assigned to rajivshah3

[2020-01-20 14:44] #2477 closed, assigned to nobody

[2020-01-20 14:44] #2478 closed, assigned to nobody

[2020-01-20 14:44] #2480 closed, assigned to nobody

[2020-01-20 14:44] #2481 closed, assigned to nobody

[2020-01-20 14:46] cvarley100 opened #2501 "Seed should be autocapitalised"
### Bug description
Users must turn on caps lock to manually enter a seed. It ought to be autocapitalised to avoid this friction point.

### Environment Specs

iOS/Android 1.2.0

[2020-01-20 15:01] #2414 closed, assigned to laumair

[2020-01-20 15:08] #2501 closed, assigned to nobody

[2020-01-20 15:12] #2479 closed, assigned to nobody

[2020-01-20 16:01] cvarley100 opened #2503 "Incorrect currency on MoonPay alert warning"
### Bug description
MoonPay amount warning alerts only display in Euros.

### Environment Specs

Desktop 1.2.1.

### Expected behaviour
Error alerts should use currently selected currency.

[2020-01-20 16:35] #2503 closed, assigned to nobody

[2020-01-20 19:11] hardtacker opened #2506 "Cannot buy via MoonPay"
Hello, i tried it serval times but I cannot buy IOTA Coins via MoonPay in the Wallet.

I run throw the process, after I fill in my Credit Card Information the next summary page shows the Credit Card Number as xxxx xxxx xxxx xxxx and expired day is shown as unkown.

For my understanding there should be the right information from the Credit Card be shown.

When I click on send, I got an Error that t

[2020-01-21 04:04] rajivshah3 commented on #2444
An error linked to this issue has been marked as fixed in Bugsnag
[**Error** in **node_modules/invariant/browser.js:39**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5dd3b3f3e7767a00196816e9?event_id=5e266c470055ff7326860000&i=gh&m=fx)

[2020-01-21 07:35] rihardsgravis commented on #2484
Fixed in the market data API - older, still active deployments where overriding the actual data.

[2020-01-21 07:35] #2484 closed, assigned to nobody

[2020-01-22 02:02] rajivshah3 commented on #2487
@shubener does this happen every time you open the app?

[2020-01-22 02:02] rajivshah3 commented on #2506
Hi @hardtacker, this should be fixed in the next release

[2020-01-22 02:02] #2506 closed, assigned to nobody

[2020-01-22 13:27] shubener commented on #2487
yes, it is every time. 
    On Tuesday, January 21, 2020, 09:02:25 PM EST, Rajiv Shah <notifications@github.com> wrote:

@shubener does this happen every time you open the app?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-22 18:05] laumair commented on #2487
@shubener Can you please share the processes (specifically Trinity processes) running on your OS?

[2020-01-22 18:23] laumair opened #2513 "Support sweeps for ledger accounts"
### Description
Currently, sweeps are only enabled for non-ledger accounts. Since, the [support](https://github.com/rihardsgravis/entangled-node/pull/23) is now added, we need to integrate it in Trinity.

Related: https://github.com/iotaledger/trinity-wallet/issues/2190

### Motivation
Users should be able to recover funds from a ledger account.

### Requirements
- Trinity should detect funds on a

[2020-01-22 20:29] shubener commented on #2487
How can I find out the Trinity processes I'm running? I'm not sure how to determine that. Thanks. 
    On Wednesday, January 22, 2020, 01:05:42 PM EST, Umair Sarfraz <notifications@github.com> wrote:

@shubener Can you please share the processes (specifically Trinity processes) running on your OS?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2020-01-26 21:04] Thoralf-M commented on #802
I have the same problem now with v.1.2.1 on win 10.
I can create the first account without a problem, but if I want to add a second seed the "Continue" button does nothing, nothing in the error log
Reset in Trinity and reinstall didn't fix it

[2020-01-26 21:53] Thoralf-M opened #2522 ""Continue" button at the "Enter your seed" page doesn't work for additional accounts"
### Bug description
The continue button doesn't work when adding a second seed to Trinity

### Environment Specs
- OS version: Win 10
- Trinity version:  v.1.2.1

### Steps To Reproduce
1. Create one account with a seed
2. Try to add another account

### Expected behaviour
Account should be created with the seed

### Actual behaviour
"Continue" button at the "Enter your seed" page does nothing
Res

[2020-01-27 18:33] Vid201 commented on #1049
This bug exists on the latest mobile version 1.2.3 and on the latest desktop version 1.2.1 as well.

[2020-01-27 19:50] rajivshah3 commented on #1049
@Vid201 would you mind opening a new issue? There have been a lot of changes since this issue was opened

[2020-01-27 20:25] rajivshah3 commented on #2487
You can use Task Manager to view the processes

[2020-01-27 23:41] shubener commented on #2487
i just see 3 Trinity.exe processes running and and it says disabled in UAC virtualization. 
    On Monday, January 27, 2020, 03:25:03 PM EST, Rajiv Shah <notifications@github.com> wrote:

You can use Task Manager to view the processes

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-29 13:15] skipokylas commented on #2348
Hi @rajivshah3, similar problem
<img width="1230" alt="Screenshot 2020-01-29 at 3 14 08 PM" src="https://user-images.githubusercontent.com/29805382/73359701-202e4c00-42aa-11ea-99e6-d4de4154cf31.png">

[2020-01-29 14:30] rajivshah3 commented on #2348
This seems like a slightly different issue. We're going to update Realm soon and see if that solves the problem

[2020-01-29 14:30] rajivshah3 commented on #2487
We're going to update Realm soon and hopefully that should fix the issue

[2020-01-29 14:32] rajivshah3 commented on #2368
Are you able to start it from the terminal (e.g. `./trinity-desktop-1.1.0.AppImage`)? Do any messages appear when you do?

[2020-01-29 17:01] scaprile commented on #2368
@rajivshah3 I think I already provided that info (quoted bellow). There are no messages on the terminal, there is no GUI either (except for the very first run, when a requester asking for installation is shown)
I also provided a list of processes running. If there is some test/debugging I can do, just let me know.

[2020-01-30 15:28] Vid201 opened #2529 "Currency/timeframe reset after app restart"
### Bug description
After trinity gets completely closed and restarted the setting for the graph on balance page gets reset back to USD and 24h.

### Environment Specs
What device are you running Trinity on?

a)
- Manufacturer: OnePlus
- Model: OnePlus 5
- OS version: Android 9

b)
- Manufacturer: HP
- Model: Envy
- OS version: Ubuntu 19.10

What build of Trinity are you running?

a)
- Trinity ver

[2020-01-31 17:52] Jking0190 opened #2530 "Trinity Freeze"
It's impossible to use Trinity Walltet on Windows 10 with a transaction history over 1500.
It freeze between 5-10 minute after each click.

Windows 10
Trinity 1.2.1

[2020-02-02 15:58] desjob commented on #2067
reinstalled with the latest updates. still the same issue. any suggestions?

[2020-02-02 16:02] pablo-hp commented on #2067
eu troquei para um aparelho com android 8.0 e não tive problemas mais com a carteira.

[2020-02-02 17:27] Jking0190 commented on #2530
Same Problem on IOS I cant access my wallet with big transaction history.
Wait longer than 15 minutes for the seed to initialize. But nothink happen :(

[2020-02-02 17:44] Jking0190 commented on #2530
Same problem on ios. Cant access my wallet with a big transaction history.

[2020-02-10 14:37] #2513 closed, assigned to laumair

[2020-02-10 14:38] cvarley100 commented on #2522
This appears to be user-specific. Have managed to reproduce on a VM. Will continue to investigate.

[2020-02-10 14:45] cvarley100 commented on #2337
@rajivshah3 Are these logs from Bugsnag?

[2020-02-10 14:49] #1604 closed, assigned to nobody

[2020-02-10 14:50] Thoralf-M commented on #2522
I had the RC version installed before which overwrote the main application, uninstalled it and installed the normal Trinity version. Maybe there was something left that caused the problem

[2020-02-10 14:52] cvarley100 commented on #1228
Closing due to related issue #1413

[2020-02-10 14:52] #1228 closed, assigned to cvarley100

[2020-02-10 14:53] cvarley100 commented on #1858
Unable to reproduce.

[2020-02-10 14:53] #1858 closed, assigned to nobody

[2020-02-10 14:54] cvarley100 commented on #1900
Resolved for the most part in #2486.

[2020-02-10 14:54] #1900 closed, assigned to nobody

[2020-02-10 14:55] cvarley100 commented on #1901
Cannot reproduce.

[2020-02-10 14:55] #1901 closed, assigned to nobody

[2020-02-10 14:55] cvarley100 commented on #1909
Cannot reproduce.

[2020-02-10 14:55] #1909 closed, assigned to cvarley100

[2020-02-10 14:55] cvarley100 commented on #1925
@SleepingFox88 has this since been resolved?

[2020-02-10 14:55] cvarley100 commented on #1962
Cannot reproduce.

[2020-02-10 14:55] #1962 closed, assigned to nobody

[2020-02-10 14:56] #1968 closed, assigned to nobody

[2020-02-10 14:56] cvarley100 commented on #2109
Closing due to inactivity.

[2020-02-10 14:56] #2109 closed, assigned to nobody

[2020-02-10 14:57] cvarley100 commented on #2316
Minor issue. Won't fix.

[2020-02-10 14:57] #2316 closed, assigned to nobody

[2020-02-10 14:57] cvarley100 commented on #2522
It is likely due to RC interference I suspect.

[2020-02-11 03:27] nandgator commented on #2083
### Bug description
Unable to resize window vertically. I'm using [elementary OS](https://elementary.io), so the `wingpanel` turns black if any window is maximized or side docked.

The 1<sup>st</sup> screenshot shows a normal trinity wallet window after launch (notice the `maximize` / `minimize` button on the top-right corner). The `Settings` & `Log in` buttons goes below the screen & I'm unable t

[2020-02-11 15:12] ocmone opened #2550 "Crash when typing the seed using CAPS-LOCK (WIN10)"
### Bug description
Reproducible crash of Trinity Desktop 1.2.2. on Win10:

1) Type-in parts of the seed using CAPS-LOCK.
2) Erase typed sequence in one go using CTRL/BACKSPACE
3) Start typing again
4) Crash (Blank Screen)

Happens also when  doing 1) without CapsLock, but then switching to CapsLock before 3)

### Environment Specs
- Manufacturer: Lenovo
- Model: Ultrabook with Core i5-4200U, 64bi

[2020-02-13 06:10] rcop89 opened #2551 "Node problem"
![0E03E770-03A2-420A-B519-E64C9432E6E8](https://user-images.githubusercontent.com/61000304/74406385-6bf30080-4e27-11ea-9dec-4246925a0415.png)
![9950CCD7-EFCF-4831-A22F-DD6CAA4DE08D](https://user-images.githubusercontent.com/61000304/74406393-71504b00-4e27-11ea-9b9e-f79594535734.png)

The issue tracker is only for reporting bugs. If you need technical assistance with the Trinity wallet, please cons

[2020-02-13 06:10] rcop89 commented on #2551
Can anybody help 😔

[2020-02-13 06:33] arne-fuchs commented on #2551
The coordinator is offline at the moment and you shouldn't login in trinity right now.

[2020-02-13 06:55] rcop89 commented on #2551
Ok cheers

[2020-02-13 20:05] Boomer3828 commented on #2551
How long is this gonna take. Download removed from the website but no message about what's going on... very disappointed.

[2020-02-13 20:51] Antonel-hub commented on #2551
Hola,,tengo el mismo problema,cuanto tiempo tardar esto, yo llevo cambiando los nodos desde ayer por la noche y nada de nada,espero que se solucione pronto.Y yo que pensaba que es una de las walet mas fiables que hay........pffff. Un saludo!!!

[2020-02-14 03:16] Boomer3828 commented on #2551
https://status.iota.org/

[2020-02-14 10:50] Alex-sandr11 opened #2554 "Description mistake correction."
### Description
Desciption improvement of "Branches" part on https://github.com/iotaledger/trinity-wallet.

### Motivation
This feature is needed to avoid misunderstanding or confusion.

### Requirements
On the description page it is said that one must use prefixes but examples use another prefixes ("feature" instead of "feat" and "bugfix" instead of "bug"). Examples should be corrected according

[2020-02-14 11:22] martinpaulik commented on #2551
This thing should take IoT Market? Nope. And I say it as bigger IOTA investor. Good idea, but realisation very bad.

[2020-02-14 11:28] martinpaulik commented on #2551
And what is worst, somebody switch off all mainnet. It was second case in last 2 month. We have not access to our funds. Terrible.

[2020-02-14 12:42] ocmone commented on #2551
1) What does a human-to-human transaction wallet have to do with IoT?
2) Mainnet is is still operating. You can still send data (which is the biggest IoT case)
3) Would you prefer to have your funds stolen? It was a wise decision to halt the coordinator in order to prevent attackers from stealing funds from Trinity users.
4) If you didn't know all this, you are not an IOTA investor, but a speculat

[2020-02-14 12:48] martinpaulik commented on #2551
Your post is very stupid :-) I am not speculator, but you stupid man and liar. There is proof:

![image](https://user-images.githubusercontent.com/59334427/74532943-b9a76000-4f30-11ea-85a6-092878e3dcac.png)

[2020-02-14 12:52] martinpaulik commented on #2551
BTW, Critical thinking is a feature of every intelligent people. Tangle should operate 20% IoT market, but M2M will use wallets as well. But our wallets does not work. What happened if wallet in my car will not work correctly? It will be big problem, dude. You are big optimist.

[2020-02-14 13:01] martinpaulik commented on #2551
Do you understand that "speculators" as me, ensure financing IOTA development? Or are you so stupid?

[2020-02-14 13:41] cvarley100 commented on #2551
As mentioned earlier. The Coordinator is currently offline. Please follow https://status.iota.org/ for status updates.

[2020-02-14 13:47] martinpaulik commented on #2551
You wrote this:
Mainnet is is still operating

Current status:
Mainnet:
Not operational.

OMG :-D Either you are simple BOT or blind or liar. Mainnet is down and users have not access to these funds  in wallets.

[2020-02-14 13:49] cvarley100 commented on #2551
The Coordinator being down means the mainnet does not process value transactions. Please be patient while we resolve the situation, and follow https://status.iota.org/ for official updates.

[2020-02-14 13:51] martinpaulik commented on #2551
Sorry, my previous post was not for you.

[2020-02-15 09:32] Erlix322 opened #2555 "Downloadlink not working"
# Problem Description:
  - Tried to download the wallet from your website, but it doesn't start... Also the link for the download appears to be dead. During inspect it shows that the <a>Download</a> tag is missing a link
  - Also on Github it is not clear how to download and install the wallet since releases only list source code and no installer

# Expected behaviour:
Download of Trinity is start

[2020-02-15 09:36] f-ben commented on #2555
Thats because trinity has issues right now. The IF is working on it and will release a new version soon. You can have a look at the status here: https://status.iota.org/

[2020-02-15 15:48] ocmone commented on #2551
@martinpaulik
Please refrain from personal insults.
The Trinity wallet has nothing to do with IoT devices. Those will have entirely different wallets with much lower base functionality.
And as I said, you can still do data transactions via the IOTA network, because they don't need the coordinator to propagate through the network. However, there are not many nodes active right now.

[2020-02-15 16:17] martinpaulik commented on #2551
You are wrong. If I would like to pay for sensors data then I need Trinity Wallet for payment. What wallet could I use now for hold IOTA tokens? Trinity Wallet is recommend by IOTA Foundation. And what node are active now? Thanks.

[2020-02-15 20:46] #2551 closed, assigned to nobody

[2020-02-15 22:18] c-mnd opened #2556 "readonly login: ability to use wallet without seed"
### Description
if you have a list of addresses, and unless you want to send funds, you don't need the seed.

### Motivation
protection of the seed

### Requirements
the list of addresses, created by the seed, stored seperately, protected by a 'weaker' password (or even none, if amounts are really tiny)

### Am I planning to do it myself with a PR?
No.

[2020-02-15 23:46] c-mnd commented on #2556
I've been trying (twice) to collect reactions on that issue on the #general channel of iota-discord, but there weren't any, sorry. Only fast guys without gh relations, sry.

[2020-02-16 14:53] viossat opened #2562 "Emergency kill switch"
### Description
Allow to disable Trinity on startup from a central remote server.

### Motivation
On February 12th 2020, a critical security issue has been suspected in Trinity. The mainnet Coordinator has been turned off the same day to prevent more funds to be stolen. However, that did not stop the seeds from continuing to leak.

### Requirements
Trinity should neither show password screen nor l

[2020-02-18 16:33] rcop89 opened #2574 "Can’t download trinity app on iPhone?!?!"
The issue tracker is only for reporting bugs. If you need technical assistance with the Trinity wallet, please consult the [documentation](https://docs.iota.works/trinity). For further assistance, please visit the #help channel on [Discord](https://discord.iota.org).
If you have general questions on IOTA you can go to https://iota.stackexchange.com/, https://forum.helloiota.com/, or browse Discord

[2020-02-18 16:34] rcop89 commented on #2574
Is someone having me on lol A pilots licence....

[2020-02-19 04:05] CptGrumpus opened #2583 "App won't open on Leger"
Just downloaded the 1.4.2 update. When I try to restore my wallet from my ledger it gets stuck at "generating address..." and never goes through.

[2020-02-19 05:21] honmashinsei commented on #2583
Same here. It hangs at the "Loading seed for the first time." screen. The IOTA logo stops spinning, Ledger kicks back into just the IOTA app ("generating address..." message disappears) and nothing.

[2020-02-19 11:28] Fumlop opened #2585 "Cant add seed manually, mobile Trinity Wallet busy with another action"
I tryed to enter a seed manually on a fresh created wallet...

1) Create new seed
2) Check balance shows zero --> all fine
3) add another wallet seed
4) enter manually an old seed.
5) press done

6) wallet say, busy with another action, please try again later

Cant add antoher wallet seed on latest mobile version

[2020-02-20 11:36] cvarley100 commented on #2574
The app was taken down as a security precaution.

Please follow https://status.iota.org for ongoing updates.

[2020-02-20 11:36] #2574 closed, assigned to nobody

[2020-02-21 13:17] Thoralf-M commented on #2522
I manually removed the Trinity RC entries in the windows credentials and that fixed it

[2020-02-21 13:17] #2522 closed, assigned to nobody

[2020-02-21 17:49] centercirclesolutions opened #2591 "Filter 0 value Data Transactions / Notifications"
Add a feature to Trinity to filter out 0 value data transactions if the user wishes to (perhaps a setting). Additionally the user could turn off notification for new data transactions avoiding notification of spam messages.

[2020-02-23 11:20] cvarley100 commented on #2591
We have this on desktop.

<img width="175" alt="Screenshot 2020-02-23 at 11 20 13" src="https://user-images.githubusercontent.com/25092479/75111147-7b93f580-562e-11ea-85fe-6f01cf975676.png">

[2020-02-23 14:42] MalteKiefer opened #2595 "APK at releases"
Hello,

is it possible to add the apk, when you release a new version?
I don't have Google Play Services, but I want to use your service.
Thanks.

[2020-02-23 19:57] Federico8484 opened #2596 "ERROR ACCESING TRINITY"
I download 1.4.2 for desktop windows 10. error migrating data.
I download 1.4.3 for desktop windows 10. same error

I can't access my IOTA. I can't verify if I've been stolen.
Moreover I don't know who to ask. Not customer service in iota web.
And I have to write an ISSUE here. This is not really what someone expects. Not professional at all.

In spanish: Muy **LAMENTABLE**.

[error.pdf](https://g

[2020-02-23 20:30] t00k commented on #2596
Hello Federico.
The migrating error should have been fixed in 1.4.3, please try to run it again using version 1.4.3..
If that is still not possible, the whole migration indicates that you used a VERY old version of Trinity, and should then not be affected of the exploit that came in 1.2.X versions.

Please read https://medium.com/@hbmy289/how-to-check-your-balance-without-using-trinity-e1cac78e97a

[2020-02-23 22:54] Federico8484 commented on #2596
sorry, I'm not an expert.
The solution you gave is not an option.
Would you tell to a visa user to reprogram a credit card?
If your bank account would have been hacked, would you accept the director of the bank telling you to start digging in informatic issues. Come on boy, This is not serious. This is not my job man.
I'm just a user. Not an expertise.
 If I had an old version of Trinity and that'

[2020-02-24 07:14] t00k commented on #2596
First of all. This isnt a bank, this is crypto.

And I am just a Discord moderator, not a dev. Trying to help you out.

[2020-02-24 10:01] Federico8484 commented on #2596
First of all. I wrote an issue because I couldn't open trinity.
Second of all I already said 1.4.3. Trinity didn't work.
And you didn't answer my question because you didn't gave me a SOLUTION to enter my trinity wallet.
Third of all. I ALREADY said there were no customer attention.
Fourth of all if you are just a moderator what are u doing telling me what to do if apparently as you said you are n