[2018-12-16 18:22] rajivshah3 commented on #816
@Hissi88 did you make the SeedVault inside Trinity Desktop?

[2018-12-16 18:28] Hissi88 commented on #816
Yes, The Continue Button when importing Seed Vaults worked until 0.4.4.

[2018-12-16 18:51] Hissi88 commented on #816
Same issue on my virtual Windows 7. But it´s working on Windows 10.
No problems at all with this until Trinity 0.4.4. Now I cant even create new SeedVaults in 0.4.5.

On Windows 7 the importing works, when it is the first account. Not working for additonal accounts though.

[2018-12-16 19:09] sloganking opened #817 "Clicking update banner notification does not allow user to update."
### Bug description
Red banner telling users to update their Trinity wallet version cannot be clicked to start the update process.

### Environment Specs
What device are you running Trinity on?

- OS version: Win10

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.4.5 (desktop)

### Steps To Reproduce
1. Ope

[2018-12-16 20:12] rajivshah3 opened #818 "GPU PoW"
### Description
Trinity Desktop should support using the GPU for Proof-of-Work.

### Motivation
Some users would like to use their GPUs for PoW, since GPUs tend to be faster than CPUs when performing calculations such as those involved in PoW.

### Requirements

- Create PoW implementation using OpenCL, WebGL, CUDA, etc
- Allow the user to switch the local PoW implementation between [Entangled](ht

[2018-12-16 21:19] rajivshah3 opened #819 "Failed bundle removed from wallet state after manual sync"
### Bug description
Reported on behalf of NetWalker - TangleSheep#1169 on Discord

If the remote PoW for a transaction fails, Trinity stores the bundle and tries to resend it in order to prevent the user from attempting to re-sign the transaction. It also marks the input addresses as spent. If the user does a manual sync, the bundle will disappear from the history (possibly related to #486). Howev

[2018-12-16 23:40] 7h7 opened #820 "Drag and drop doesn't work"
### Bug description
Drag and drop doesn't work
### Environment Specs
- OS version: Windows 10
- Trinity version: v0.4.5

### Steps To Reproduce
1. Add new account with existing seed
2. Mark 81 Trytes and try to drop them in Trinity

### Expected behaviour
The seed should be in the field

### Actual behaviour
Nothing happens, or if you drop it at the header the screen will stop at the "Drop SeedVau

[2018-12-17 07:33] laumair commented on #811
@gnodaij  Thank you for providing the information. This seems like a bug to me. I will investigate.

[2018-12-17 10:53] lukisi opened #821 "Missing application icon"
### Bug description
The IOTA/Trinity icon is not shown for the app in the dash (of Gnome Shell)

### Environment Specs
Laptop
- Manufacturer: Dell
- Model: XPS
- OS version: Ubuntu 18.04

Trinity
- Trinity version: 0.4.5

### Steps To Reproduce
1. Open the dash, search for trinity

### Expected behaviour
The app with the correct icon should be in the results.

### Actual behaviour
The app appears

[2018-12-17 14:14] laumair commented on #811
@gnodaij What was the sequence in which you added accounts? Did you add account `0` first? Also, did you rename any account?

[2018-12-17 15:10] gnodaij commented on #811
i did more experiments and i believe it has something to do with the seeds and ledger nano s

wallet "0" 's seed is in the ledger nano and wallet "m" 's seed is in the trinity.  "0" is added later through ledger nano s.

when i try to send, it seems i can only send "0"'s balance through "M" and vise versa.
![2018-12-17 11 03 01](https://user-images.githubusercontent.com/44387307/50095634-ebe7ff80-

[2018-12-17 16:41] laumair commented on #811
@gnodaij I can see that the order of accounts is wrong if you added the `0` account after. Did you add the `0` account after updating to v0.4.4 or before?

[2018-12-17 16:46] gnodaij commented on #811
added it before 0.4.4, no problem

deleted "0" and added in 0.4.4 and 0.4.5, both went wrong

[2018-12-17 17:12] rajivshah3 commented on #821
Can you post a screenshot of what icon is shown instead of the Trinity icon?

[2018-12-17 17:55] nuriel77 opened #823 "Support for cookies"
### Description
Have Trinity return cookies. For example a load balancer might set a session cookie to ensure succeeding calls from Trinity always end up at the same IRI backend.

### Motivation
This feature can be helpful in case of running IRI behind a proxy/load balancer.
The load balancer will ensure session persistence of a client to a specific IRI backend node on subsequent calls.

Example o

[2018-12-18 09:46] lukisi commented on #821
![trinity-shot](https://user-images.githubusercontent.com/17383110/50145523-14541600-02b2-11e9-98ba-51dbaf331c9f.jpg)

[2018-12-18 20:57] greenkeeper[bot] opened #827 "An in-range update of husky is breaking the build 🚨"
## The devDependency [husky](https://github.com/typicode/husky) was updated from `1.2.1` to `1.3.0`.

🚨 [View failing branch](https://github.com/iotaledger/trinity-wallet/compare/develop...iotaledger:greenkeeper%2Fhusky-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a devDependency of this project. It **m

[2018-12-18 21:44] #827 closed, assigned to nobody

[2018-12-19 04:27] laumair commented on #811
@gnodaij Thank you for reporting this bug. https://github.com/iotaledger/trinity-wallet/pull/824 should fix it.

Till the next desktop release, I would suggest that you name your accounts with non-numeric characters to avoid this issue.

[2018-12-19 15:50] gnodaij commented on #811
you can't prevent people from using numbers to name their wallets, so this should not be an issue.

[2018-12-19 16:17] cvarley100 commented on #811
Yeah @gnodaij, it’s a bug that has since been fixed. When the next version is released it will be resolved.

[2018-12-19 18:15] yippykaiyay012 opened #830 "Blank Screen After Computer Sleeps"
### Bug description
If the Trinity Wallet is open and the computer sleeps, upon waking the wallet is stuck on a blank screen and unable to recover.
The wallet must be closed from the task bar.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: HP
- Model: Touchsmart 15
- OS version: Windows 10

What build of Trinity are you running? Please provide the full version (you

[2018-12-19 18:18] sloganking opened #831 "Shroud not fully cover up transaction history."
### Bug description
The blue shroud you're using to cover up the transaction history only covers up most of it but leaves the top transaction partially non covered.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: Galaxy S8+
- OS version: Android 8.0.0

What build of Trinity are you running? Please provide the full version (you can find it in Setting

[2018-12-19 18:35] rajivshah3 commented on #831
@cvarley100 is this an issue with the lib we're using? If so I can open an issue at that repo

[2018-12-19 22:01] steffenroeber opened #832 "Cannot login to Trinity"
I always get a 'Cannot fetching account information..." error if I try to login with password.

### Expected behaviour
Login with password works

### Actual behaviour
I get an error message and cannot login

I'm using V
![unbenannt](https://user-images.githubusercontent.com/46009216/50250717-f1288400-03e1-11e9-9f78-5078e6281a9a.PNG)
0.4.5

[2018-12-19 22:03] steffenroeber commented on #832
Correct Screenshot:
![trinity](https://user-images.githubusercontent.com/46009216/50250807-3351c580-03e2-11e9-9cdc-1d84b084eeb7.PNG)

I tried some different nodes, but none works.

[2018-12-20 02:09] rajivshah3 commented on #832
Hi, what OS are you running and what is the manufacturer and model of your computer?

[2018-12-20 05:42] steffenroeber commented on #832
Hi, OS  is Windows 10 homeMy pc is an amd x4 phenom

Gesendet von Yahoo Mail auf Android

  Am Do., Dez. 20, 2018 at 3:09 schrieb Rajiv Shah<notifications@github.com>:   Hi, what OS are you running and what is the manufacturer and model of your computer?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-20 12:29] #811 closed, assigned to laumair

[2018-12-20 17:11] viossat commented on #519
Missing translations in most languages:

- `global.experimentalNodeExplanation`
- `global.youReceived`
- `global.youSent`
- `global.androidCopyPasteWarning`
- `global.confirm`
- `global.delete`
- `global.missingPermissionExplanation`
- `unitInfoModal.unitInfoExplanation`
- `unitInfoModal.unitSystem`
- `send.swipeToSend`
- `snapshotTransition.attachProgress`
- `progressSteps.transferComplete`
- `se

[2018-12-20 17:22] viossat opened #833 "Missing French translations"
### Bug description

Missing French translations (and in most others languages)

### Environment Specs

Trinity version: 0.5.1

### Missing translations

- `global.experimentalNodeExplanation`
- `global.youReceived`
- `global.youSent`
- `global.androidCopyPasteWarning`
- `global.confirm`
- `global.delete`
- `global.missingPermissionExplanation`
- `unitInfoModal.unitInfoExplanation`
- `unitInfoModa

[2018-12-21 05:43] ghost opened #837 "Transfer error"
Hi I cannot send a coin from the Ledger Nano S.
What should I do?
![screen shot 2018-12-21 at 08 39 10 am](https://user-images.githubusercontent.com/18265958/50326639-74d69380-04fc-11e9-8205-5c9d93624fb0.png)

[2018-12-21 05:45] ghost commented on #837
![screen shot 2018-12-21 at 08 44 54 am](https://user-images.githubusercontent.com/18265958/50326690-b9622f00-04fc-11e9-87b8-6c04e81fd680.png)

[2018-12-21 08:38] farl4web opened #838 "Error fetching account information when using Ledger"
**PLEASE NOTE** If you are experiencing this issue, please fill out this form:

**Make sure you complete all the steps described.** (NB. Resetting your wallet in step 4 is not dangerous. All you need to reinitialise the wallet is your Ledger and account index number)

[code]

------

I cannot login with my Ledger on Trinity Desktop wallet. I get error that it's not able to connect to the node. I u

[2018-12-21 12:08] ghost commented on #837
solution
https://medium.com/@hbmy289/how-to-access-iota-funds-spread-over-too-many-inputs-on-ledger-nano-s-74708548fa6e

[2018-12-21 12:09] #837 closed, assigned to nobody

[2018-12-21 15:38] IOTANGLE42 commented on #589
Hi, someone is actively working on this bug? It's 1,5 months since creation and I have no access to my IOTAs since over 1 month :(

[2018-12-21 16:15] Hissi88 commented on #816
Still existing on 0.4.6.

[2018-12-21 17:29] Hissi88 commented on #816
I removed all entries in the Windows credential-manager and did a reinstall, finally it is working then again.
Maybe there was a corrupt entry. I even had dev-keys in it, because I tried to compile Trinity myself a few weeks ago...
Could then also fit, that @rajivshah3 got reports with 'Wrong password'.

What's odd, though, is that on a fresh install the import of the first vault worked, but all t

[2018-12-21 17:30] rajivshah3 commented on #816
I think @rihardsgravis was able to reproduce this on Windows 7, so there might actually be a bug.

[2018-12-22 02:44] rajivshah3 commented on #838
Hi @farl4web , have you tried different nodes?

[2018-12-22 02:45] rajivshah3 commented on #833
These strings are left in English because they're untranslated. Unfortunately, we cannot do anything about that

[2018-12-22 02:45] #833 closed, assigned to nobody

[2018-12-22 17:47] Hissi88 commented on #675
Sadly, I´ve to reopen this issue. It´s reproducable again and since 0.4.6. it has an "upgrade":

I added 4 Ledger Accounts (A, B, C, D) in alphabetical order. But as soon as one account gets an input, the order is mixed in addition. And as soon as the order is mixed, I get the issue describe above and the Ledger accounts get unusable until re-adding.

![ledger1](https://user-images.githubuserconte

[2018-12-23 15:13] KiwiCat123 opened #846 ""Remove custom node" button is smaller than "Save""
### Bug description
"Remove custom node" button is smaller than "Save" button in Node settings when a custom node is selected

### Environment Specs
Trinity 0.4.6
Windows 10

### Expected behaviour
Those buttons should have the same size.
![trinity0](https://user-images.githubusercontent.com/21984138/50384982-81f6ac80-06cd-11e9-8c23-875b88d27ac3.PNG)

[2018-12-23 18:27] KiwiCat123 opened #847 "Text above circle while a tx gets promoted in Trinity Mobile"
### Bug description
The text that indicated that the transaction gets promoted is above the circle. For example in the German language this string is long enough to reach the position of the circle.

Trinity mobile 0.6.0 (36) to (39)
iPhone 8
iOS 11.3.1

### Expected behaviour
Circle should be behind the text.

### Actual behaviour
Longer text overlaps the circle.
![img_3384](https://user-images.g

[2018-12-23 18:49] f-ben opened #848 "'Write down your seed' section bugged on trinity mobile"
### Bug description
If you create a new seed and choose to write down your seed the lines of the characters can get mixed up. **This happens 1 out of 5 times on my device so its not persistent.**

### Environment Specs
- Manufacturer: OnePlus
- Model: 3T
- OS version: 8.0.0
- Trinity version: Trinity Mobile v 0.6.0 (35)

### Steps To Reproduce
1. Create a new Seed
2. Choose 'write down your seed'

[2018-12-23 20:53] Hissi88 commented on #675
I´ve found it! It´s the "[ ]" in the accounts name for all issues above ;)
"( )" is no problem. @rajivshah3

Btw. I did a Debug session myself and recorded some errors, but those are **not** related to the issue above. But maybe useful anyway:
![error1](https://user-images.githubusercontent.com/45494848/50387433-7c648b00-06fc-11e9-8c71-8aebf5a4e7da.JPG)
![error2](https://user-images.githubusercont

[2018-12-23 20:59] rajivshah3 commented on #675
Thanks @Hissi88 ! Did these account names cause any problems in previous versions?

[2018-12-23 21:13] Hissi88 commented on #816
I could succesfully reproduce and solve it again:
As soons as I have (dev) entries addionally to the normal Trinity entries in the Windows credential-manager, the Continue button doesnt work.
When I remove them, it´s working again instantly.

![grafik](https://user-images.githubusercontent.com/45494848/50387568-b84d1f80-06ff-11e9-9b1f-7f1c020c9f56.png)
![grafik](https://user-images.githubuserconte

[2018-12-23 21:14] rajivshah3 commented on #816
Interesting. Thanks for the extra information!

[2018-12-23 21:35] Hissi88 commented on #675
Yes, I have this issue since I´ve started to test with my Ledger (0.4.2) and I´ve always used the [ ] in the account name. (Except the moment when I closed this issue for a short time ;) )
That the order was mixed weirdly, is new since 0.4.6. But no [ ], then everything seems fine.

Btw. this issue is reproducable on Win 10 also and seems to affect Ledger accounts only.

[2018-12-24 07:22] laumair commented on #848
@f-ben Thank you for reporting. I'll investigate.

[2018-12-24 09:05] farl4web commented on #838
Yes, I did. Some were advised on Discord. But nothing changes...

[2018-12-24 13:18] f-ben commented on #519
"swipe to confirm" not translated when creating a new seed (it is translated when initiating a new tx though)
![screenshot_20181223-220139](https://user-images.githubusercontent.com/2088471/50399487-1588b580-0780-11e9-84d8-e5e0e72241f5.jpg)

"Generate a new deposit address every time you wish to receive IOTA" - not translated and I couldnt find a string on crowdin
"Generate address" button is tran

[2018-12-24 15:30] cryptoninjarocks commented on #676
I don't know why, but the Trinity App 0.5.1 works again!

[2018-12-24 17:28] ashokprogress commented on #440
Fatal Exception: NSInvalidArgumentException*** -[AVCaptureSession addOutput:] Cannot add output <AVCaptureMetadataOutput: 0x1c0637e00> to capture session <AVCaptureSession: 0x1c0013d50 [AVCaptureSessionPresetPhoto]> because more than one output of the same type is unsupported Raw Text
--
0 | CoreFoundation | __exceptionPreprocess
2 | AVFoundation | -[AVCaptureSession addOutput:]
3 | mobile | -[RNC

[2018-12-25 01:09] UmbahaSpodPaha opened #851 "Trinity Mobile freeze after fresh install (or after deleting app data)"
### Bug description
Trinity hangs/freezes on splash screen after first open of the Trinity app (fresh install)
_I would consider this one as an important thing to fix._

### Environment Specs
Tested and reproduced on:
- Samsung Galaxy S8  (Android 8.0)
- Samsung Galaxy S9+ (Android 8.0)
- Honor Play (Android 8.1.0)

### Trinity version:
Reproduced both on **0.5.1** and **0.6.0 (alpha)**

### Steps

[2018-12-25 06:33] rajivshah3 commented on #851
Hi @UmbahaSpodPaha ,

Samsung Galaxy S9+ (Android 8.0)

What are the full model numbers (e.g. SM-XXXX) of these devices? I'll try to see if I can find related events in our crash reporting system.

[2018-12-25 06:35] rajivshah3 commented on #847
This might be related to the `position: 'absolute'` attribute used here:
https://github.com/iotaledger/trinity-wallet/blob/514baa937844bd1e5a42c5d84c2694f3d4576591/src/mobile/src/ui/components/TransactionRow.js#L137

[2018-12-25 06:38] rajivshah3 commented on #838
@farl4web is this reproducible with a new, unused seed?

[2018-12-25 06:39] rajivshah3 commented on #832
Possibly related to #838 . Are you using a Ledger? @steffenroeber

[2018-12-25 06:55] rajivshah3 commented on #821
@lukisi is the default icon showing in the dock as well when Trinity is running? Or does the IOTA logo appear there?

[2018-12-25 07:07] rajivshah3 opened #852 "Transactions sent to self do not appear as both sent and received transactions"
### Bug description
When sending a transaction to yourself, the transaction should appear as both "Sent" and "Received" as it does in Trinity Mobile:
![image](https://user-images.githubusercontent.com/19519564/50415473-215c9200-07e9-11e9-9769-fe201f6684e7.png)

Instead, it just shows as "Sent":
![image](https://user-images.githubusercontent.com/19519564/50415483-2faaae00-07e9-11e9-8e18-880b6bc0fd2

[2018-12-25 07:41] steffenroeber commented on #832
Yes, i do.

Gesendet von Yahoo Mail auf Android

  Am Di., Dez. 25, 2018 at 7:39 schrieb Rajiv Shah<notifications@github.com>:
Possibly related to #838 . Are you using a Ledger? @steffenroeber

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-25 07:43] rajivshah3 commented on #712
This issue has been linked to an error in Bugsnag
[**TypeError** in **/Users/vagrant/git/src/shared/node_modules/iota.lib.js/lib/api/api.js:2018**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5c20dc2461ee71001a4625eb?event_id=5c20dc240031fca9aea00000&i=gh&m=li)

[2018-12-25 07:49] rajivshah3 commented on #521
This issue has been linked to an error in Bugsnag
[**EXC_BAD_ACCESS** in **folly::Expected<long long, folly::ConversionCode> folly::detail::str_to_integral<long long>(folly::Range<char const*>*)**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5c1c4a071b0cb10019170d4f?event_id=5c1c4a4e0032049d87030000&i=gh&m=li)

[2018-12-25 07:54] rajivshah3 commented on #832
Is anything showing up in the error log?

[2018-12-25 07:55] rajivshah3 commented on #832
Most likely a duplicate of #838

[2018-12-25 07:55] #832 closed, assigned to nobody

[2018-12-25 07:56] rajivshah3 commented on #838
@steffenroeber looks like you're having the same issue. Is this reproducible with a new, unused seed?

[2018-12-25 09:37] steffenroeber commented on #838
The error log says: ' Incorrect seed name'

[2018-12-25 10:39] UmbahaSpodPaha commented on #851
G950F and G965F/DS but there was no actual crash ever. It just freezes and doing nothing until full restart of the app.

[2018-12-25 11:36] steffenroeber commented on #838
No, a new seed works.

[2018-12-25 18:35] rajivshah3 commented on #838
@steffenroeber can I ask what the name of the affected account is? We've had a few bugs relating to numbers or certain characters in the account name

[2018-12-25 18:38] steffenroeber commented on #838
What do you mean with ,name of amount'?

Gesendet von Yahoo Mail auf Android

  Am Di., Dez. 25, 2018 at 19:35 schrieb Rajiv Shah<notifications@github.com>:
@steffenroeber can I ask what the name of the affected account is?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-25 18:39] rajivshah3 commented on #838
For example, "Main Account" or "Second Account". It's a name you give for the account in Trinity which appears in the left side of the app

[2018-12-25 18:43] steffenroeber commented on #838
Cannot remember exactly. Where can I find this name without logging in?

Von: Rajiv Shah <notifications@github.com>
Gesendet: Dienstag, 25. Dezember 2018 19:40
An: iotaledger/trinity-wallet <trinity-wallet@noreply.github.com>
Cc: steffenroeber <steffenroeber@yahoo.de>; Mention <mention@noreply.github.com>
Betreff: Re: [iotaledger/trinity-wallet] Cannot login new Trinity desktop wallet (#838)

For

[2018-12-25 18:44] rajivshah3 commented on #838
Ah right, you won’t be able to see that without logging in. Do you remember if the account name had numbers or brackets (`[]`)? It’s fine if you don’t remember

[2018-12-25 18:46] steffenroeber commented on #838
As far as I can remember, I only used letters.

[2018-12-25 18:47] steffenroeber commented on #838
And I'm pretty sure, I've not used any of: brackets (`[]`)

[2018-12-25 18:48] steffenroeber commented on #838
Maybe a 'space' char but not sure.

[2018-12-25 18:58] steffenroeber commented on #838
I recovered my wallet by replacing the %appdata%\Roaming\Trinity folder by an older one (I made a copy recently). Now I have one that works (the older one) and one that fails to login.
Account names (3) are 'Steffen', 'Steffen Ledger' and 'Janice'
Does this help?

[2018-12-25 18:58] steffenroeber commented on #838
The new one has following error log:
 Ledger device: Invalid INS command (0x6d00)
 Request Error: Request timed out.

[2018-12-26 05:23] #848 closed, assigned to laumair

[2018-12-26 09:14] laumair commented on #851
@UmbahaSpodPaha Thank you for reporting this issue. https://github.com/iotaledger/trinity-wallet/pull/854 & https://github.com/iotaledger/trinity-wallet/pull/855 should fix it.

[2018-12-26 09:16] lukisi commented on #821
When Trinity is running the default icon is showing in the dock as well.

[2018-12-26 20:30] rajivshah3 commented on #838
@farl4web @steffenroeber could you both see if the issue persists in v0.4.6?

[2018-12-26 21:09] steffenroeber commented on #838
Hi,

problem still exists in 0.4.6.

Von: Rajiv Shah <notifications@github.com>
Gesendet: Mittwoch, 26. Dezember 2018 21:30
An: iotaledger/trinity-wallet <trinity-wallet@noreply.github.com>
Cc: steffenroeber <steffenroeber@yahoo.de>; Mention <mention@noreply.github.com>
Betreff: Re: [iotaledger/trinity-wallet] Cannot login new Trinity desktop wallet (#838)

@farl4web <https://github.com/farl4web>

[2018-12-27 09:41] #851 closed, assigned to laumair

[2018-12-27 19:42] rajivshah3 commented on #821
@rihardsgravis would this be fixed by adding the icon path to the `icon` field as shown in the [electron-builder docs](https://www.electron.build/configuration/linux)? It says it converts the macOS icon by default but I guess that's not occurring for some reason. I don't have an Ubuntu VM so I can't really test this

[2018-12-28 04:55] KeithSSmith commented on #821
I was having this same issue where the Trinity Icon would not show up when searching through applications or in the dock (broken link).  I was able to fix these by doing the following:

Fix Default Icon while searching apps (Download trinity.png from GitHub icons):
Edit: `/home/[user]/.local/share/applications/appimagekit-trinity-desktop.desktop`
Add: `Icon=/opt/trinity/trinity.png`

Fix Broken Li

[2018-12-28 05:43] rajivshah3 commented on #821
Thanks for that info @KeithSSmith . Without those edits, does appimagekit-trinity-desktop.desktop look like [this](
https://github.com/AppImage/appimage.github.io/blob/efa393a0757e0bdd8f4e300399712f18e76be385/database/Trinity_Desktop/trinity-desktop.desktop)? If so,  it seems like an icon isn’t being included when the app is packaged

[2018-12-28 08:17] greenkeeper[bot] opened #863 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.11.1` to `7.12.0`.

🚨 [View failing branch](https://github.com/iotaledger/trinity-wallet/compare/develop...iotaledger:greenkeeper%2Feslint-plugin-react-7.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

es

[2018-12-28 16:00] KeithSSmith commented on #821
Just did a fresh install of Ubuntu 18.04.1 with updates and upgrades, the icons in search and in dock are still showing the default icon.  The appimagekit-trinity-desktop.desktop file looks like this (doesn't match the link you posted):

[2018-12-28 17:00] #863 closed, assigned to nobody

[2018-12-28 17:06] rajivshah3 commented on #821
Thanks @KeithSSmith

Looks like this needs to be set during packaging. I think specifying it in the `electron-builder` config should fix it

[2018-12-30 08:58] abasees commented on #838
Can confirm same issues with Ledger Nano S.

I've tried troubleshooting by selecting over 10 different recommended nodes and turning off the proxy setting however no luck.

Interestingly, I did manage to log in to the wallet initially however after leaving it open inactive for too long I had to re-sign in and that is when issue presented itself.

[2018-12-30 22:05] dyrdon commented on #838
I have the same issue aswell..
Same error as above or something with Ledger App Not opened by User error - But only in Log on the main screen it says „Node error“ and i tried all of them ..It seems like Trinity is not recognising the App properly.

Trinity and Ledger up to Date.
Windows 10

[2018-12-30 22:34] 7h7 opened #866 "No error with invalid addresses"
### Bug description
No error if you want to send value to an invalid address (last trit is not 0)

### Environment Specs
- OS version: Win 10

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.4.6

### Steps To Reproduce
1. Try to send value to an address of which the last trit is not 0 (-1 or 1)

### Expecte

[2018-12-30 23:48] rajivshah3 commented on #866
For context, IRI has a check to ensure that the last trit of the address is 0:
https://github.com/iotaledger/iri/blob/1ec6dcc007a0cd119d6a9c9878842515390ced9b/src/main/java/com/iota/iri/TransactionValidator.java#L179-L181

This check is not implemented in Trinity. As a result, a signed transaction that will not confirm is sent to a node. This should be checked before sending is initiated

[2018-12-31 08:40] calm86 opened #869 "Validating address on Ledger not working"
I am trying to transfer funds to my trinity desktop wallet. I use a Ledger Nano S and when I press the "Receive" button the Trinity wallet asks to open the IOTA app on Ledger Nano S to validate the address. In the background under this message I can see a QR but when I open the IOTA app on the Ledger the screens disappears ( also the QR ) and no address is showing up on the Ledger nano to validate

[2018-12-31 14:46] Kris191 opened #870 "Pi/arm7 Support"
### Description
Support for Raspberry PI OS and Arm7 architecture.

### Motivation
Linux based system and the platform can provide a solid wallet PC

### Requirements
Ability to install on ARM linux version

### Open Questions (optional)
IS this possible? Current the AppImage file will not execute in the PI OS

### Am I planning to do it myself with a PR?
I do not have the skills to do this, mealy

[2018-12-31 18:28] rajivshah3 commented on #870
I think we were waiting for https://github.com/AppImage/AppImageKit/pull/699 to be merged (but now it's merged 🎉). I'll look into what we need to do to support ARM builds

[2018-12-31 22:23] keenan-codes opened #871 "Will not import the address that is less than 81"
### Bug description
Cannot import my wallet because it is too short. It says that it can import any address yet it will not import anything that is not exactly 81 characters.

### Environment Specs
- Manufacturer: APPLE
- Model: MacBook Pro 2016
- OS version: 10.13.6
- Trinity version: 0.4.6

### Expected behaviour
import the address into the wallet.

### Actual behaviour
denies import because add

[2018-12-31 22:38] rajivshah3 commented on #871
I’m not sure what you mean by “import the address”. Do you mean the seed?

[2019-01-01 00:09] keenan-codes commented on #871
yes.

[2019-01-01 19:56] rajivshah3 commented on #871
You can add `9`s until your seed becomes 81 characters. So if your seed is 79 characters, add `99` to the end of it to make it 81 characters. If your seed is significantly less than 81 characters, you should probably move to a new one.

[2019-01-01 19:56] #871 closed, assigned to nobody

[2019-01-01 22:44] greenkeeper[bot] opened #872 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.12.0` to `7.12.1`.

🚨 [View failing branch](https://github.com/iotaledger/trinity-wallet/compare/develop...iotaledger:greenkeeper%2Feslint-plugin-react-7.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

es

[2019-01-03 00:21] #872 closed, assigned to nobody

[2019-01-03 00:23] rajivshah3 commented on #869
@calm86 what happens if you open the IOTA app on Ledger before trying to generate an address?

[2019-01-03 09:10] ashokprogress commented on #440
@rajivshah3  any inputs

[2019-01-04 11:37] laumair commented on #819
Related issue https://github.com/iotaledger/trinity-wallet/issues/486

This should be fixed in https://github.com/iotaledger/trinity-wallet/pull/375

[2019-01-04 11:37] laumair commented on #486
Should be fixed in https://github.com/iotaledger/trinity-wallet/pull/375

[2019-01-04 15:43] rajivshah3 commented on #691
https://github.com/electron/electron/commit/7ba432113fcd8a8fecdc4ab57a7aed61846ad47b has been merged and will probably be released in the next `v3.0.x` version of Electron

[2019-01-04 22:19] ghost commented on #593
Same problem it's not working even if I close the app

[2019-01-05 11:27] Laurentiu-Andronache opened #883 "Please remove the stupid feature where you can't paste the seed, and also wtf is SeedVault, I can't even import the seed from file because I don't have the password to this SeedVault thingy"
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2019-01-05 13:42] cvarley100 commented on #883
Please fill out the issue template correctly.

[2019-01-05 13:54] Laurentiu-Andronache commented on #883
It's all in the title.

[2019-01-05 18:13] rajivshah3 commented on #883
We’ve disabled the clipboard for security reasons. Also, if you don’t have the password for a SeedVault, you probably didn’t create one.

[2019-01-05 18:13] #883 closed, assigned to nobody

[2019-01-05 20:03] calm86 commented on #869
@rajivshah3 it is no help, still the same problem

[2019-01-06 18:41] farl4web commented on #838
Problems is still there. I can't access my accounts.

Error log:  Ledger device: App has not been initialized by user (0x6986)

[2019-01-06 19:38] farl4web commented on #838
After trying several nodes. I now found a now which is working: https://nodes.thetangle.org:443/. After that I can finally login after weeks of trying several nodes. Welcome to IOTA! ;)

[2019-01-06 19:48] rajivshah3 commented on #712
This issue has been linked to an error in Bugsnag
[**RCTFatalException: Unhandled JS Exception: null is not an object (evaluating 'r.state')** in **RCTFatal**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba63a4d3438d3001ad7602b?event_id=5c321ff4003201e321670000&i=gh&m=li)

[2019-01-06 19:53] KnockKnockNe0 commented on #464
I got the same issue on Debian 9.6 (stretch) and Ubuntu 16.04 (xenial)
trinity-desktop-0.4.6.AppImage complains about missing dependencies
But both libsecret and gnome-keyring are installed:
libsecret-1-0 libsecret-1-dev libsecret-common libsecret-tools gnome-keyring

[2019-01-06 20:00] rajivshah3 commented on #568
Hi @vincenzopalazzo , is the behavior you're seeing similar to https://github.com/iotaledger/trinity-wallet/issues/691? It's a bit hard to tell from your screenshot

[2019-01-06 20:03] rajivshah3 commented on #440
@AshokICreate I'm not sure how to fix this. We're waiting for a fix from `react-native-camera`

[2019-01-07 10:09] vincenzopalazzo commented on #568
Hello @rajivshah3, no my problem is resolved.

Look this
![selection_016](https://user-images.githubusercontent.com/17150045/50762236-aa091280-126c-11e9-8d44-09c6709aab9e.png)

[2019-01-07 10:13] vincenzopalazzo opened #887 "The app icon not displayed"
Bug description
The app icon not displayed

Environment Specs
What device are you running Trinity on?

Manufacturer: Del
Model: E5270
OS version: Linux mint 19
What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

Trinity version: 0.4.6

[2019-01-07 16:09] rajivshah3 commented on #887
Duplicate of https://github.com/iotaledger/trinity-wallet/issues/821

[2019-01-07 16:09] #887 closed, assigned to nobody

[2019-01-07 16:10] rajivshah3 commented on #568
Thanks @vincenzopalazzo , I'll close this since it's resolved

[2019-01-07 16:10] #568 closed, assigned to nobody

[2019-01-07 19:35] sloganking opened #890 "Show list of nodes available for quorum"
### Description
Give the user the ability to see the full list of nodes that are dynamically selected for quorum.

### Motivation
This will increase the trustlessness of the Trinity wallet and make it more clear to users how the wallet operates.

### Requirements
- Create UI option that when selected, shows the full list of nodes available to be selected for quorum.

### Open Questions (optional)

[2019-01-07 19:41] sloganking opened #891 "Allow blacklisting of nodes to the quorum-able nodes list."
### Description
Allow users to blacklist select nodes from the list of quorum-able nodes provided by the developers.

### Motivation
- This will let users tell their wallets to not use nodes that the user specifically does not trust.

### Requirements
- UI options will be created that will allow users to mark nodes in the existing list of nodes, as non trusted. This will cause Trinity to not use t

[2019-01-07 19:48] sloganking opened #892 "Allow manual adding of nodes to quorum-able nodes list."
### Description
Allow users to manually add nodes to the quorum-able nodes list.

### Motivation
- Will allow users to include their own nodes if now already in the list and they desire to do so.
- Will allow users to increase the total quorum-able nodes list size, which can increase security and network connection reliability.

### Requirements
- Add UI option in settings which takes in a specifi

[2019-01-07 19:53] sloganking opened #893 "Add option to manually shuffle the current selected quorum of nodes."
### Description
A UI option will be added which will allow the user to shuffle the nodes currently selected by Trinity for quorum.

### Motivation
This will allow users to quickly change their quorum of nodes if they think the currently quorum-ed nodes are behaving strangely.

### Requirements
- Add UI that displays which nodes are currently selected for quorum
- Add shuffle button which will swit

[2019-01-07 19:57] sloganking opened #894 "Allow user to set number of nodes required in quorum."
### Description
Allow the user to set the change the number of nodes required for quorum consensus to be greater than ~~3~~ the default amount.

### Motivation
This will allow users to require more security over speed, when it comes to confirming the state of their transactions on the IOTA network.

### Requirements
- UI option created allowing the setting of number of nodes required in each quoru

[2019-01-07 20:00] sloganking opened #895 "Allow setting of a specific node that will always be a part of the quorum."
### Description
Allow user to specify specific node(s) that will always be included in the wallet's quorum.

### Motivation
This will allow users to insure that nodes which they specifically trust (such as their own) will always be hosted in their wallet's quorum

### Requirements
- Add UI option to force specific node in wallet's quorum.
- The specified node will always be used in the wallet's qu

[2019-01-08 01:23] rajivshah3 commented on #386
This seems to be resolved

[2019-01-08 01:23] #386 closed, assigned to rajivshah3

[2019-01-08 09:56] rihardsgravis commented on #830
Possibly `node-usb` dependency related issue https://github.com/tessel/node-usb/issues/220

[2019-01-08 15:37] #817 closed, assigned to rihardsgravis

[2019-01-08 15:40] #675 closed, assigned to rihardsgravis

[2019-01-08 17:13] #846 closed, assigned to rihardsgravis

[2019-01-09 03:37] sloganking opened #901 "Re-preform getTransactionsToApprove if PoW taking too long."
### Description
If the Proof of Work being done to send a transaction takes longer than a set period of time "say 30 seconds", Trinity will re-preform getTransactionsToApprove, and resume completing Proof of Work on top of fresh trunkTransactions and branchTransaction.

### Motivation
- It is often difficult for devices which complete PoW slower than the rest of devices on the network to broadcast

[2019-01-09 14:24] laumair commented on #901
Related issue https://github.com/iotaledger/trinity-wallet/issues/205

[2019-01-09 18:40] #866 closed, assigned to 7h7, rajivshah3

[2019-01-10 04:29] neethu567 opened #906 "IOTA installation problem in centOS 6"
I am using centOS6 x86_64-bit,in the installation process of  IOTA Trinity Wallet,
after completing the first 3 installation steps met with the following error.
1.Prerequisites
Node.js (8+)
Yarn
2.# git clone https://github.com/iotaledger/trinity-wallet.git   (Runs correctly)
3.#cd trinity-wallet  (Runs correctly)
4.#yarn && yarn deps:shared
yarn install v1.12.3
[1/4] Resolving packages...
[2/4] F

[2019-01-10 06:16] rajivshah3 commented on #906
Hi,
Just to clarify, are you trying to run the development version of Trinity or the production version?

[2019-01-10 11:19] neethu567 commented on #906
development version

[2019-01-10 12:49] Brootux commented on #303
Can anyone provide me a appimage with updated electron to >3.0.14 for testing? https://github.com/electron/electron/issues/12820#issuecomment-452702533

[2019-01-10 14:02] neethu567 commented on #906
https://github.com/iotaledger/trinity-wallet

[2019-01-10 19:41] rajivshah3 commented on #906
@neethu567 please try some of these solutions: https://github.com/yarnpkg/yarn/issues/4468. This is likely not an issue with Trinity

[2019-01-10 19:41] #906 closed, assigned to nobody

[2019-01-11 01:17] sloganking opened #907 "PoW is set to remote but can't turn on Auto-promotion"
### Bug description
Auto promotion cannot be turned on because the wallet thinks the connected node does not support remote proof of work, however the wallet is set to remote proof of work and successful using it to send transactions.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsumg
- Model: GalaxyS8+
- OS version: 8.0.0

What build of Trinity are you running

[2019-01-11 01:18] rajivshah3 commented on #907
Hi @SleepingFox88 , does this occur on multiple nodes or only one node?

[2019-01-11 01:23] sloganking opened #908 "Told to change node but logs in anyway"
### Bug description
When logging in, wallet gives error and tells user to connect to new node. upon ignoring the message and waiting however, the wallet logs in successfully.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: GalaxyS8+
- OS version: Android 8.0.0

What build of Trinity are you running? Please provide the full version (you can find it i

[2019-01-11 01:34] rajivshah3 commented on #908
This isn't supposed to be an error; it's just providing information. We should change the color accordingly though, since red is only used for errors.

[2019-01-11 01:42] sloganking commented on #908
Great. Maybe modify the string too, since it's still possible that the wallet might successfully log in?

[2019-01-11 01:43] sloganking commented on #907
@rajivshah3 having difficulty replicating the issue on different nodes but am unaware what the original one was.

Will update you if I come across the issue again or find the original node I had the issue with.

Edit:

I can say that when already having PoW set to remote, and connecting to a new node that does not have Remote PoW enables, Trinity successfully turned off remote PoW in settings.

Ed

[2019-01-11 02:40] rajivshah3 commented on #303
@Brootux would you mind checking if this is reproducible in the latest version of Trinity? It looks like https://github.com/electron/electron/pull/15555 was included in Electron v3.0.11, which we've been using since v0.4.4.

Could you send me an email at rajiv@iota.org? I can email the build to you (since it's not an official build I shouldn't upload it publicly)

[2019-01-11 04:51] neethu567 commented on #906
Thankyou

[2019-01-11 19:39] KiwiCat123 opened #909 "password box to remove seed not centered"
### Bug description
 The password box at the page to remove a seed is not centered on certain languages. I had this bug when language is set to German and Indonesian.

### Environment Specs
What device are you running Trinity on?

Trinity mobile 0.6.0 (36)
iPhone 8 iOS 11.3.1

### Expected behaviour
The pasword box should be centered as it is when language is set to English.

### Actual behaviour

[2019-01-11 19:46] KiwiCat123 opened #910 "Text is not fully visible at Snapshot Transition"
### Bug description
The "Attaching address" text during the snapshot transition is not fully visible above the progress bar.

### Environment Specs
iPhone 8 iOS 11.3.1
Trinity mobile 0.6.0 (36)

### Expected behaviour
Text should be fully visible.

### Actual behaviour
Half of the text above the progress bar is not visible.
![img_3589](https://user-images.githubusercontent.com/21984138/51056007-eb

[2019-01-11 19:57] KiwiCat123 opened #911 "empty password warning is sometimes too near to status bar"
### Bug description
The empty password and unrecognized password warnings are sometimes nearer to the status bar as normal.

### Environment Specs
iPhone 8 iOS 11.3.1 and iPhone 5S iOS 12.0.1
Trinity mobile 0.6.0 (36) and (37)

### Steps To Reproduce
completely close Trinity App
next steps are visible in the video

### Expected behaviour
warnings should always have the same size and distance to th

[2019-01-11 20:08] KnockKnockNe0 commented on #464
"Missing security dependencies" is displayed together with this:

[code]
Sounds... critical to me

The line is:
`var request = pretendingNotToRequire(module).XMLHttpRequest;`

And then i get this:

[code]
Just warnings but it doesn't work

[2019-01-11 22:47] sloganking opened #912 "UI not reset when cancel sending"
### Bug description
Upon swiping to send a transaction and entering the confirm or cancel screen, If the user hits the back button native to the android OS. The confirmation screen is exited but the swipe option for send is still on the right side of the screen.

### Environment Specs

- Manufacturer: Samsung
- Model: GalaxyS8+
- OS version: Android 8.0.0

What build of Trinity are you running? Pl

[2019-01-11 22:49] rajivshah3 commented on #910
Can also reproduce on iPhone 6S. This was probably introduced by the update to RN 0.57

[2019-01-11 22:57] rajivshah3 commented on #911
Interesting 🤔 does this occur on v0.5.1 as well?

[2019-01-12 00:30] KiwiCat123 commented on #911
No, only happens on the lastest alpha.

[2019-01-12 20:40] KnockKnockNe0 commented on #464
What i found out is:
The module that uses libsecret/gnome-keyring is "keytar"
So i tested that:

[code]

Create file: sectest.js
[code]

[code]
So the keyring does work and keytar does work.

The tool "seahorse" is a useful GUI for managing the keyring.

Any Ideas?

[2019-01-12 20:52] KnockKnockNe0 commented on #464
The iota.lib.js does work too
`$ npm install iota.lib.js`
[code]
[code]

When i got a ncat listening on the port:
[code]

[2019-01-13 01:07] rajivshah3 commented on #464
@KnockKnockNe0 once you do `npm run start` and see `compiled with warnings`, are you reloading the page? Sometimes it won't reload by itself and shows a white/blue screen

[2019-01-13 13:47] 7h7 commented on #820
Works now with Trinity version: v0.4.6

[2019-01-13 18:14] KnockKnockNe0 commented on #464
I just get the Electron window with blue bg and white text "Missing security dependencies [...] libsecret missing [...]"
How would i reload that page? F5? (Didn't do anything)

[2019-01-13 19:09] KnockKnockNe0 commented on #464
I'm not sure why, but now i get a different error **"Cannot connect to Secret Service API"**
I located that msg in **"trinity-wallet/src/desktop/src/ui/global/FatalError.js"**
Changed line 21 to `<h1>Cannot connect to Secret Service API {error}</h1>`
This shows me the actual error: **Unknown or unsupported transport “disabled” for address “disabled:”**

[2019-01-14 07:51] rajivshah3 commented on #538
An error linked to this issue has been marked as fixed in Bugsnag
[**java.lang.RuntimeException** in **ViewController.java:151**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bccd5ad6a617e00197272b8?event_id=5c3bb5740032bdbeb0d80000&i=gh&m=fx)

[2019-01-14 21:31] sloganking commented on #901
While #205 is a related issue, it attempts to solve the same problem in a different way. I suggest implementing the changes recommended here as well as #205

[2019-01-15 17:46] cvarley100 commented on #831
Fixed in https://github.com/iotaledger/trinity-wallet/pull/916. @SleepingFox88 please reopen if the issue persists following next alpha release.

[2019-01-15 17:46] #831 closed, assigned to nobody

[2019-01-15 22:30] rajivshah3 opened #923 "Update to iOS 12.1 SDK"
### Description
The following warning now shows when we deploy iOS builds to App Store Connect:
`WARNING ITMS-90725: "SDK Version Issue. This app was built with the iOS 12.0 SDK. Starting March 2019, all iOS apps submitted to the App Store must be built with the iOS 12.1 SDK or later, included in Xcode 10.1 or later."`

We should update to (and test) the iOS 12.1 SDK well ahead of the March deadli

[2019-01-16 13:29] cvarley100 commented on #911
I can't seem to reproduce this one @KiwiCat123

[2019-01-16 13:31] cvarley100 commented on #912
Fixed in https://github.com/iotaledger/trinity-wallet/pull/929

[2019-01-16 13:31] #912 closed, assigned to nobody

[2019-01-16 14:48] cvarley100 commented on #907
@SleepingFox88 This could be related to the changes in 1.6.0 for specifying attachToTangle support. In which case https://github.com/iotaledger/trinity-wallet/pull/913 would have fixed it.

[2019-01-16 15:14] #908 closed, assigned to nobody

[2019-01-16 15:14] #909 closed, assigned to nobody

[2019-01-16 15:14] #910 closed, assigned to nobody

[2019-01-16 16:24] KiwiCat123 commented on #911
@cvarley100 I tested it again on my iPhone 8 and iPhone 5S with iOS 12.0.1 and this bug still exists in the newest version (37).
This bug only occurs after you reopen the app after you closed it completely in the app switcher.

[2019-01-16 21:15] sacrificium-dev commented on #621
Wanted to try Trinity Wallet on Ubuntu 18.04.1 LTS. Have the same issue. Downloaded trinity-desktop-0.4.6.AppImage. All dependencies are up to date. Someone else this problem again with Trinity Wallet 0.4.6?

[2019-01-16 21:18] rajivshah3 commented on #621
@DannyS86 is the `gnome-keyring-daemon` process running?

[2019-01-16 21:20] IOTANGLE42 commented on #621
@DannyS86 do you run App with sudo? Only work when you do NOT start with sudo

[2019-01-16 21:46] sacrificium-dev commented on #621
@IOTANGLE42 yes, I started with sudo. Without the trinity wallet won't come up without displaying any information in the Terminal.
@rajivshah3 yes, the `gnome-keyring-daemon` is running.
Thank you guys!

[2019-01-16 22:03] luca-moser commented on #621
I've deleted the folder `~./.config/Trinity`. Downloaded `trinity-desktop-0.4.6.AppImage`, `chmod +x`ed it and ran the app image file without sudo. Trinity then finally loaded correctly and recognized the installed dependencies, however, it doesn't register correctly as an application as one has to manually run the binary from the terminal. Opening "Home" and searching for "Trinity" doesn't give a

[2019-01-16 22:31] sacrificium-dev commented on #621
@luca-moser thank you, that's it! Deleting the `~./.config/Trinity` was the solution in my case. Then I was able to start the Trinity Wallet (without sudo).
Another question by the way: is there anywhere saved a wallet-file that I can copy to my external HDD or is the SeedVault the only solution for securing the wallet outside from my computer?

[2019-01-17 05:57] sloganking commented on #901
This should optimally be done on all transactions. This includes, single transactions, bundled transactions and promotion transactions.

Promotion and bundled transactions will have to only have one of their approving transactions be updated, since it's important for them to be put on top of specific transactions as well.

[2019-01-17 06:09] sloganking opened #950 "Trinity not login"
### Bug description
Trinity not login. Stuck on black screen before password request.

### Environment Specs

- Manufacturer: Samsung
- Model: GalaxyS8+
- OS version: Android 8.0.0

- Trinity version: 0.6.0 (38)

### Steps To Reproduce

(Unknown if cause)
1. Send transaction
2. transaction sending completed
3. get biometric request on send page for unknown reason
4. exit app while request was open

[2019-01-17 12:31] laumair commented on #950
@SleepingFox88 When you force exit the application, does it not open the login screen?

/cc @cvarley100

[2019-01-17 12:34] laumair commented on #907
@SleepingFox88 Are you still facing this issue on the latest alpha build?

[2019-01-17 12:38] laumair commented on #895
@SleepingFox88 Thank you for this feature request. One important consideration is node(s) health. If the specified nodes aren't synced, this could affect the usability of the wallet.

Perhaps, for such cases Trinity should fall back to default nodes.

[2019-01-17 12:41] laumair commented on #893
Can you please elaborate on this? If a node becomes unresponsive or is not synced, it will automatically be removed from the list of quorum nodes.

[2019-01-17 12:43] laumair commented on #892
User's custom nodes would be part of the quorum nodes. Personally, I don't think there is a need to add a separate option for manually entering quorum nodes.

[2019-01-17 12:50] laumair commented on #448
Done in https://github.com/iotaledger/trinity-wallet/pull/841

[2019-01-17 12:50] #448 closed, assigned to nobody

[2019-01-17 12:52] laumair commented on #453
Done in https://github.com/iotaledger/trinity-wallet/pull/631

Also related https://github.com/iotaledger/trinity-wallet/pull/884

[2019-01-17 12:52] #453 closed, assigned to laumair

[2019-01-17 13:02] laumair commented on #560
@Adrienlafuge Did your account name contain any special characters?

[2019-01-17 13:03] #458 closed, assigned to nobody

[2019-01-17 13:06] laumair commented on #820
@7h7 Thanks. Please feel free to reopen if you face this issue again.

[2019-01-17 13:06] #820 closed, assigned to nobody

[2019-01-17 13:19] laumair commented on #712
Misses `return` after the promise rejection. I'll submit a PR to fix this.

[2019-01-17 17:10] KnockKnockNe0 commented on #464
Seems that that error message is depending on the locale setting
[code]

[2019-01-17 17:47] KnockKnockNe0 commented on #621
I got the same issue on Debian 9.6 (stretch) and Ubuntu 16.04 (xenial)
The error message seems to depend on the locale:
[code]
gnome-keyring-daemon is running (tested with seahorse) and i'm not root.

The keytar example mentioned in https://github.com/atom/node-keytar/issues/132 actually does work here, showing my password.

[2019-01-17 20:38] laumair commented on #712
Fixed in https://github.com/iotaledger/iota.js/pull/349

[2019-01-17 20:38] #712 closed, assigned to rajivshah3, laumair

[2019-01-18 20:16] sloganking commented on #893
This feature's intention is to allow the user to get reults from new nodes if the user thinks currently quorumed nodes are behaving strangly.

That could mean the user suspects the quorum results were incorrect.

Allowing the user to get a second opinion from different nodes may aleveate any doubts they have about the validity of the previous quorum results and make the user have greater trust in

[2019-01-18 20:21] sloganking commented on #950
Force killing the application does fix the issue.

However simply exiting and re-opening the application does not.

[2019-01-18 20:23] sloganking commented on #907
I have been unable to reproduce the issue so far on both v0.6.0 (36) as well as the latest alpha build.

[2019-01-18 20:31] sloganking commented on #895
The Intention of this feature request is to allow users to always get results from a specified node. It would be annoying if users had to keep re-specifying this behavior to Trinity.

I propose quoruming other nodes if the specified node is not synced, and alerting the user that the specified node was not part of the quorum because it is out of sync. As opposed to removing it from the specified no

[2019-01-18 21:08] sloganking opened #958 "Warn user if can't connect to enough nodes to form quorum."
### Description
In the unlikely event that Trinity cannot connect to enough nodes to form a quorum, Trinity will warn and protect the user by not allowing the sending of transactions.

### Motivation
- Sending and receiving transactions without node quorum is unsafe.

### Requirements
- Warn the user if a quorum of specified number of nodes cannot be formed.
- Stop allowing sending and receiving o

[2019-01-18 21:54] rajivshah3 commented on #894
Is there any specific reason for 3? We currently have it set to 7:
https://github.com/iotaledger/trinity-wallet/blob/a1578acd0a4d404739ebbbd02e83a82983a698a9/src/shared/config.js#L52

[2019-01-18 22:42] sloganking commented on #894
No spwcific reason to use three. My appologies I had assumed we currently default to three nodes for quorum. I will update the issue.

[2019-01-18 22:45] rajivshah3 commented on #894
No worries, I didn't know if 3 was on purpose. This is a good suggestion 👍

[2019-01-19 21:18] mostar opened #964 "blank screen on first run"
### Bug description
blank screen on first run

### Environment Specs
What device are you running Trinity on?

- Manufacturer:
- Model:
- OS version: ubuntu 14.04

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:
Trinity Desktop v0.4.6

### Steps To Reproduce
1. chmod 755 trinity-desktop-0.4.6.AppImage
2. ./tri

[2019-01-19 22:09] sloganking commented on #964
@mostar Could you provide any pictures of what "blank screen" is? Does the Trinity window open and only show the background color or something else?

[2019-01-20 09:30] mostar commented on #964
Trinity window open and only show the background color

[2019-01-21 03:25] rajivshah3 opened #967 "Quorum UI (meta-issue)"
### Description
This basically serves as a meta-issue to discuss and track progress on UI additions that should allow a user to customize how node quorum should operate. Thanks to @SleepingFox88 for the suggestions.

### Tasks

- [ ] List of available nodes for quorum (#890)
- [ ] Node blacklist (#891)
- [x] Add custom node that **may** be part of quorum (#892)
- [ ] Manual re-selection of nodes f

[2019-01-21 03:29] rajivshah3 commented on #967
We might be able to combine #895 (Add custom node that will always be part of quorum) and #892 (Add custom node that may be part of quorum). When adding a node that **may** be part of the quorum, we could also have a checkbox that says something like "Always include this node in quorum"

[2019-01-21 03:41] rajivshah3 commented on #911
Hmm, maybe this is related to https://github.com/testshallpass/react-native-dropdownalert/issues/168?

[2019-01-21 05:03] laumair commented on #560
Closing this because of inactivity. Please feel free to reopen if the problem persists.

[2019-01-21 05:03] #560 closed, assigned to nobody

[2019-01-22 09:04] ghost opened #973 "[Linux Mint][Desktop] menu icon badly displayed"
### Bug description
When installing Trinity desktop under Linux Mint, the app is added in the "Office" section and the icon isn't displayed.
It would be better to create the menu entry in a more relevant section (e.g. Other or Accessories).

![image](https://user-images.githubusercontent.com/9414596/51523845-d310d200-1e2c-11e9-8e7f-fa9a4c397175.png)

### Environment Specs
- OS version: Linux Mint

[2019-01-22 09:28] ghost opened #975 "[Google authenticator] typo when adding 2FA"
### Bug description
When activating 2FA on Google authenticator, the code is named ":Trinity desktop wallet". I guess the colon is a misstype.

### Environment Specs
- OS version: Linux Mint 19.1
- Trinity version: desktop 0.4.6
- Google Authenticator 5.00 for Android

### Steps To Reproduce
1. activate 2FA with Google authenticator

### Am I planning to do it myself with a PR?
No

[2019-01-23 02:54] rajivshah3 commented on #975
![img_f27ae53ae40d-1](https://user-images.githubusercontent.com/19519564/51579339-9fff2a80-1e8e-11e9-9475-c04987ee6e65.jpeg)
![img_3ea76536cf50-1](https://user-images.githubusercontent.com/19519564/51579347-a4c3de80-1e8e-11e9-9023-fc6065d301a0.jpeg) (code redacted)

I'm unable to reproduce this with a QR code generated by Trinity Desktop v0.4.6 (macOS Mojave), scanned with Authy or Google Authenti

[2019-01-23 03:32] delki8 commented on #508
@rajivshah3 Confirmed. Also happens here.

[2019-01-23 05:23] #662 closed, assigned to nobody

[2019-01-23 06:23] ghost commented on #975
Google Authenticator 5.00 for Android.
Trinity Desktop 0.4.6 on Linux Mint 19.1 (sorry i edited the first post)

![screenshot_20190123-071737](https://user-images.githubusercontent.com/9414596/51587058-c4372780-1edf-11e9-9949-72ccd1c68e8f.png)

[2019-01-23 10:08] ghost commented on #973
Plus: when the application is open, the icon isn't displayed in the menu bar

![capture du 2019-01-23 11-04-44](https://user-images.githubusercontent.com/9414596/51599060-13d91b80-1eff-11e9-9598-e7bdb7db6f93.png)

[2019-01-23 21:37] KiwiCat123 opened #984 "empty password warning is sometimes too near to status bar"
reopened issue #911

### Bug description
The empty password and unrecognized password warnings are sometimes nearer to the status bar as normal.

### Environment Specs
iPhone 8 iOS 11.3.1 and iPhone 5S iOS 12.0.1
Trinity mobile 0.6.0 (39)

### Steps To Reproduce
completely close Trinity App
next steps are visible in the video

### Expected behaviour
warnings should always have the same size and di

[2019-01-23 22:31] jojoCoWorker opened #987 "Can't create a new account"
### Bug description
Can't create a new account

### Environment Specs
Android 6.0.1 on a Nexus 5

- Trinity version: v. 0.6.0(39)

### Steps To Reproduce
1. Add new account (in my case from a wallet with already several accounts created before)
2. Create a new seed (OR Use existing seed, the same happens...)
3. Back up / Import your seed
4. Write an account name
5. clic on "Done" flag

### Expecte

[2019-01-24 11:42] laumair commented on #987
@jojoCoWorker Does it always display this error alert when you try adding a new account? What happens if you wait a few seconds and then press `Done` ?

[2019-01-26 21:20] tanevanwifferen opened #991 "Add a dapp browser with secure iota.js integration"
### Description
A web browser window within trinity in which websites can be visited that require iota.js functionality.

### Motivation
In a fragmented world, everyone has his/her own implementation of the iota.js library on his/her website. Problems that exist are:

- a user must trust every website with their seed to login OR must have a different seed for each dapp
- even if trust is establish

[2019-01-26 22:10] rajivshah3 commented on #991
This is a good idea. We would have to take special care to ensure that the website cannot inject malicious code into Trinity though

[2019-01-28 17:00] #691 closed, assigned to nobody

[2019-01-29 02:33] rajivshah3 commented on #923
Bitrise stack changed to [osx-vs4mac-stable](https://github.com/bitrise-io/bitrise.io/blob/master/system_reports/osx-vs4mac-stable.log) which has the iOS 12.1 SDK

[2019-01-29 02:33] #923 closed, assigned to rajivshah3

[2019-01-29 03:07] rajivshah3 opened #998 "Error in MainActivity"
## Error in Trinity Mobile

**Error** in **MainActivity**
Nothing to pop

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5c208b1a3936db001cf6d4c9?event_id=5c4fab260034bb5907980000&i=gh&m=ci)

## Stacktrace

    node_modules/react-native/Libraries/BatchedBridge/NativeModules.js:146 - createErrorFromErrorData

[View full stacktrace](https://app.bugsnag.com/iota-found

[2019-01-29 03:08] rajivshah3 commented on #998
Possibly coming from https://github.com/wix/react-native-navigation/blob/740ad3c326f29f51205b8f0fb046ff0658076925/lib/android/app/src/main/java/com/reactnativenavigation/viewcontrollers/stack/StackController.java#L296. It seems to be coming from the Loading screen

[2019-01-29 10:54] vincenzopalazzo commented on #821
@rajivshah3 Hello, I noticed the equal problem in gitkraken, the icon not viasualizzed in the docky, could it be an Electron problem?

[2019-01-29 17:43] moedn opened #1000 "50 Mi got stuck – visible but no access"
First of all: Thank you all for the amazing work that has done! If I can help by providing any additional information, please let me know.

### Bug description
App crashes every time, I try to
- send
- generate a receive address

This is account-specific. Both functions work fine on another account (see ### History)

### Environment Specs

- Manufacturer: LG
- Model: Nexus 5
- OS version: Lineage

[2019-01-29 23:37] rajivshah3 commented on #1000
Hi @moedn

So the `Moe` account reappeared after resetting the wallet? Or is this a different seed with the same account name?

[2019-01-29 23:38] rajivshah3 commented on #984
@KiwiCat123 I'll close this one and reopen the old one so that the conversation isn't fragmented

[2019-01-29 23:38] rajivshah3 commented on #984
Duplicate of #911

[2019-01-29 23:38] #984 closed, assigned to nobody

[2019-01-30 14:03] moedn commented on #1000
Hi @rajivshah3 and thanks for the fast reply

The `Moe` account reappeared after resetting the wallet. I have 2 account names on the same seed.

[2019-01-30 14:33] laumair commented on #1000
@moedn You can still use your old seed in Trinity. Light wallet automatically appends `9`s if some characters are missing from your seed. So in order to use your old seed in Trinity, I suggest you manually add `9` at the end of your seed.

[2019-01-30 14:40] laumair commented on #1000
@moedn What happens if you manually sync your `ruediger` account? Does it show the 50 Mi transaction in history?

[2019-01-30 17:02] moedn commented on #1000
Hi @laumair

Good to know, thanks.

When I try a manual sync, the app crashes.
History for 'ruediger' shows 100 Mi, history for 'Moe' shows 50 Mi (see screenshots).
<img src="https://user-images.githubusercontent.com/45949491/51998229-85ddd180-24b8-11e9-878a-cf889e393a7c.jpg" width="300">
<img src="https://user-images.githubusercontent.com/45949491/51998226-85ddd180-24b8-11e9-8962-a2cfe4faa261.jpg

[2019-01-30 17:58] laumair commented on #1000
@moedn

Thanks for providing the info. Can you share the bundle or transaction hash for both 50 Mi and 100 Mi transactions?

[2019-01-31 11:44] kuhlmannmarkus opened #1004 "Balance not displayed correctly when using nodes in private tangle"
### Bug description
Trinity Android Wallet doesnt show balance when using a private tangle, even though the actual value transmitting transaction is recognized. Also manual sync and snapshot transition do not solve the issue. As disussed on discord with Umair Sarfraz @laumair, this might happen due to quorum queries to mainnet nodes.

### Environment Specs
Nexus 5x, LineageOS 15.1

- Manufacturer:

[2019-01-31 11:51] kuhlmannmarkus commented on #544
@georgmittendorfer Thank you for this issue. I totally agree with you here. Theres one thing I want to add here: The automatic switching might still be useful, if I have the chance to set, which nodes may be chosen. As far as I can see, theres no possibility to remove nodes from the predefined list. I think this would actually be enough, since you then would be sure to use a node, which is complia

[2019-01-31 14:24] laumair commented on #1004
@kuhlmannmarkus Thanks for reporting this. Manual sync or Snapshot transition won't work.

Basically, you're seeing a zero balance because the node you add is from devnet, while quorum is using nodes from mainnet. We need to fix it by detecting if the custom node is from devnet or mainnet and perhaps disabling quorum in such a case.

[2019-01-31 14:28] rajivshah3 commented on #1004
Would an alternative solution be to allow devnet nodes to be selected for quorum? We could fix this with https://github.com/iotaledger/trinity-wallet/issues/967

[2019-01-31 14:30] laumair commented on #1004
@rajivshah3 Yeah I think that's a good option. However, we'll also need to provide a default list of devnet nodes to the users. Otherwise, quorum can't execute.

[2019-01-31 15:14] kuhlmannmarkus commented on #1004
Just to be clear here: I'm not using a public devnet node. I'm using a node from my private tangle. These nodes do not have neighbors outside of my network.

[2019-01-31 17:22] Noc2 opened #1005 "WebSocket Signature support"
### Description
WebSocket support similar to https://medium.com/getscatter/the-blockchain-isnt-just-for-web-applications-silly-rabbit-926a4ea5ccd1 to allow (d)apps to send/sign IOTA transactions without getting directly access to the seed.

### Motivation
To make it easier for all kinds of applications to integrate IOTA. In this case your seed can become your identity. It’s also very interesting t

[2019-01-31 17:24] moedn commented on #1000
@laumair Thanks for the help!
bundle hashes:
50 Mi: HEDNXSJNJJFFDRHSEJSYUKYYVGRJE9GHALBZQGSOEDG9GUYCNBWQVAKXJXBXJKJ9SDNHBCIHOTVSTQGWA

100 Mi:
JKZNKNFODCFBPBTBPA9YIISBIDTM9CZKXOFWDDGREJCR9SC9RNKTPGZAVIVGNIJPTSPKTBEOUAWKILLNC

[2019-01-31 22:52] laumair commented on #1000
Thanks. Wanted to make sure both transactions were confirmed.

I think that the problem is specific to `Lineage 14.1` where it doesn't remove the data from `AsyncStorage` on wallet reset.I'll investigate and fix the issue but you'll have to reinstall the app to fix this issue right now.

**Please make sure you've backed up your seeds.**

[2019-02-01 05:04] benbeton commented on #838
any update here? I'm facing the same issue.

[2019-02-01 05:35] rajivshah3 commented on #838
@benbeton are you getting any error messages?

[2019-02-01 07:06] #538 closed, assigned to nobody

[2019-02-01 07:07] rajivshah3 opened #1009 "SyntaxError when parsing JSON"
## Error in Trinity Mobile

**SyntaxError** in **[native code]:0**
JSON Parse error: Unrecognized token '<'

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ad06524d607e6001a8d95f5?event_id=5c53f018003565f377880000&i=gh&m=ci)

## Stacktrace

    [native code] parse
    node_modules/promise/setimmediate/core.js:37:14 tryCallOne
    node_modules/promise/setimmediate/

[2019-02-01 07:10] rajivshah3 commented on #1009
This is probably coming from places where we attempt to decode JSON without using a `try-catch` block, such as the one below:
https://github.com/iotaledger/trinity-wallet/blob/ec3728166f6fdbebdbe3bc3c5364d20a7519fb5c/src/shared/actions/marketData.js#L103

[2019-02-01 17:20] moedn commented on #1000
@laumair thanks for the effort!
I did a snapshot for `ruediger` (100 Mi), and for `Moe` (50 Mi). `ruediger` worked out of the box, for `Moe` the app first showed `0 i, is that correct?` → `No` → crash. After restart: `50 Mi, is that correct?` → `Yes` → alright!
When I repeat the snapshot for `Moe`, it suggests me  `0 i` again → `No` → crash → restart → `50 Mi` → `Yes` → cool. I can repeat that as

[2019-02-02 18:53] benbeton commented on #838
@rajivshah3 I'm getting the same error messages as seen in the first post.
Running Trinity 0.4.6 with Ledger Nano S (latest FW) and latest macOS

[2019-02-04 16:41] laumair commented on #1000
@moedn No it's not possible they are lost. After reinstallation, can you perform a snapshot transition on your `ruediger` account?

[2019-02-04 16:46] laumair opened #1013 "Improve code test coverage for shared"
### Description
Add missing test coverage for `shared` directory.

### Requirements
Complete test coverage for:

- [Redux actions](https://github.com/iotaledger/trinity-wallet/tree/feature/realm/src/shared/actions)
- [IOTA utils](https://github.com/iotaledger/trinity-wallet/tree/feature/realm/src/shared/libs/iota)
- [General purpose utils](https://github.com/iotaledger/trinity-wallet/blob/feature/

[2019-02-04 17:56] Brootux commented on #303
Sorry for my late reply, tested with latest stable (0.4.6). The problem seems to be gone for my sytem (ubuntu 18.04, and so on, see above). Probably this issue can be closed.

Thank you

[2019-02-06 12:55] moedn commented on #1000
@laumair snapshot will only detect a balance of `100 Mi`. I repeated 6 times (`ruediger` account)

[2019-02-07 11:15] laumair commented on #1000
@moedn Do you have `
AQSJISVWJQYCPASQXGIAEHZKYWVNTKIXNLWR9FHGKBIWKJBBRBBDDWJVTCBSUPWUDYJCX9OVYOCUARDSA` address in your wallet?

You can check that in Settings > Account Management > View Addresses.

[2019-02-07 12:08] janimator0 opened #1035 "NFC for quickly sending IOTAs between peers."
### Description
Adding NFC to Trinity to allow Visa like tapping between smart phones when sending and receiving.

### Requirements
Usage for sending IOTA: Sender inputs the amount he wants to send. Sender and Receiver tap phones which transfers Receivers receiving address to Sender and pops up a sending confirmation on Senders device seamlessly. Sender confirms transaction and IOTAs are are now i

[2019-02-07 17:47] rajivshah3 opened #1036 "Trinity may report unspent addresses as spent when reattaching a transaction"
### Bug description
When reattaching a pending transaction, Trinity may sometimes show an error message such as "Could not broadcast transfer: One or more of the addresses have already been spent from". It will then show a more detailed message in the error log and provide the addresses that are supposedly spent. Upon searching on [thetangle.org](thetangle.org), the reported addresses are not actu

[2019-02-07 17:54] KiwiCat123 commented on #1036
This bug sometimes occurred when there was a network issue before the transaction got broadcasted. Trinity reported an error but it showed this transaction in the history and after pressing Retry it said that it was already spent from that address.
Maybe this helps.

[2019-02-07 17:56] rajivshah3 commented on #1036
Aha, that might be the cause. In the instance I saw (and another instance reported on Discord) there was also a network issue.

[2019-02-07 19:25] KiwiCat123 opened #1040 "auto-lock not disabled while data migration"
### Bug description
Trinity doesn't prevent the auto-lock on the data migration page after the update. Data migration could take a few minutes so the iPhone locks itself before the migration is finished.

### Environment Specs
- Model: iPhone 6
- OS version: iOS 12.1.1

- Trinity version: Trinity mobile 0.6.1 (41)

### Expected behaviour
The phone shouldn't auto-lock during the data migration as i

[2019-02-07 22:06] Robbobrob commented on #838
Anyone of the developers around to to comment on this issue? Is there worked on and when a solution can be expected? I also tried above suggestions, even back to v4.5 but that doesn't work either.

[2019-02-08 05:32] rajivshah3 commented on #303
Great, thanks for the update!

[2019-02-08 05:32] #303 closed, assigned to rajivshah3

[2019-02-08 05:33] rajivshah3 commented on #838
@Robbobrob what OS are you running, and are you getting any error messages?

[2019-02-08 09:07] KiwiCat123 opened #1044 "seed name can not be changed"
### Bug description
It is not possible to change the name of a seed in the settings. "Save" button in "Edit account name settings" does nothing after editing the name.

### Environment Specs
- Model: iPhone 6
- OS version: iOS 12.1.1

- Trinity version: mobile 0.6.1 (41)

### Expected behaviour
account name should be changed and trinity should go back to "account management" page

### Actual behav

[2019-02-08 09:17] Robbobrob commented on #838
MacOS 10.14.3 (latest). I got the same messages as the start of this tread screenshots.
Now Trinity did work before though. Maybe Mac OS updates caused conflicts? (on 3- and 8 February there were MacOS updates for 10.14.3)

[2019-02-08 12:18] laumair commented on #1044
@KiwiCat123 Thanks for reporting the bug. Fixed in https://github.com/iotaledger/trinity-wallet/pull/1045

[2019-02-08 12:41] laumair commented on #1036
Should be fixed with https://github.com/iotaledger/trinity-wallet/pull/1046

[2019-02-08 16:26] dyrdon commented on #838
Hello,

I found out trying to update my Ledger Firmware, that my usb drivers was not working properly. I updated my drivers ( not through the Windows auto Update, but specifically for my computer ) and everything is working just fine right now.
Trying other usb ports might help already.
Good luck and greetings.

[2019-02-08 16:31] rajivshah3 commented on #1044
@laumair can this be closed?

[2019-02-08 21:25] KiwiCat123 commented on #1044
it's fixed in (42)

[2019-02-08 21:34] #1044 closed, assigned to laumair

[2019-02-08 21:45] KiwiCat123 opened #1049 "Currency/timeframe on balance page reset after app restart"
### Bug description
After trinity gets completely closed and restarted the setting for the graph on balance page gets reset back to USD and 24h.

### Environment Specs
What device are you running Trinity on?

- Model: iPhone 6 and iPhone 8
- OS version: iOS 12.1.1

- Trinity version: mobile 0.6.1 (42)

### Steps To Reproduce
1. changed settings for the graph (for example to EUR 7d)
2. closing the

[2019-02-08 22:25] KiwiCat123 opened #1050 "Trinity freezes when seed has big history"
### Bug description
Trinity starts freezing after a few seconds when using a seed with many addresses and a big history. And after some time using it the freezes longer and Trinity becomes unusable. The phone starts heating up a lot at when sending iota.

### Environment Specs

- Model: iPhone 8, iPhone 6
- OS version: iOS 12.1.1

- Trinity version: 0.6.1 (42)

### Expected behaviour
trinity shoul

[2019-02-08 22:26] rajivshah3 commented on #1049
@laumair do we store the chart state and data in Realm or AsyncStorage?

[2019-02-08 22:27] rajivshah3 commented on #1050
Could you give some more information about this?

[2019-02-08 22:28] KiwiCat123 commented on #1050
@rajivshah3 I couldn't see the error again while sending because Trinity always freezes before I could send with this seed

[2019-02-09 23:08] Robbobrob commented on #838
My Ledger was uptodate and it works also fine with other Ledger-apps so no issue with usb ports (and thus the drivers of it). Then im not sure if you can manually update Mac hardware drivers like you can on a Windows system; but since the usb ports work fine i don't think there lies the problem.
I did tried other ports though but no result.
But thanks for your suggestions.

[2019-02-09 23:25] KiwiCat123 commented on #1040
maybe there should also be a warning to not minimize or close this app during data migration

[2019-02-10 22:12] rajivshah3 opened #1051 "Entangled build steps should be documented and/or automated"
### Description
The commands we use to build the mobile libraries for https://github.com/iotaledger/entangled should be documented somewhere in the repo. We should also automate this process so that we don't need to build the frameworks locally.

### Motivation

- It outlines the steps so that we don't need to refer to previous Slack messages or documentation on another repo
- It will allow users

[2019-02-11 12:33] moedn commented on #1000
@laumair I don't (see screenshot). Is it possible to add it?
<img src="https://user-images.githubusercontent.com/45949491/52563415-a2a3ce80-2e01-11e9-97ec-e8021febbc12.jpg" width="300">

[2019-02-12 02:18] #1036 closed, assigned to laumair

[2019-02-12 05:55] rajivshah3 commented on #712
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **/Users/vagrant/git/src/shared/node_modules/iota.lib.js/lib/api/api.js:2018**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5c20dc2461ee71001a4625eb?event_id=5c61db8e0035953a853b0000&i=gh&m=fx)

[2019-02-12 05:55] rajivshah3 commented on #712
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **/Users/vagrant/git/src/shared/node_modules/iota.lib.js/lib/api/api.js:2006**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5b99078506bdad001b9010c1?event_id=5c475cbe00343c21e71c0000&i=gh&m=fx)

[2019-02-12 05:55] rajivshah3 commented on #712
An error linked to this issue has been marked as fixed in Bugsnag
[**RCTFatalException: Unhandled JS Exception: null is not an object (evaluating 'r.state')** in **RCTFatal**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba63a4d3438d3001ad7602b?event_id=5c46cc69003431c450af0000&i=gh&m=fx)

[2019-02-12 11:41] rihardsgravis commented on #621
I will close this issue as the original issue is reported to be fixed (Trinity doesn't register correctly as an application should be opened as a new issue).

[2019-02-12 11:41] #621 closed, assigned to rihardsgravis

[2019-02-12 17:46] laumair commented on #1050
Can't seem to reproduce.

@KiwiCat123 How many addresses (roughly) do you have in wallet?

At which point does it fail? `Syncing Account` ?

[2019-02-12 18:51] laumair commented on #1049
@rajivshah3 No. I don't think we need to store chart data in Realm. However, we should store [currency](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/reducers/marketData.js#L7) & [timeframe](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/reducers/marketData.js#L11).

[2019-02-12 18:56] laumair commented on #1000
@moedn Not possible to manually add an address. It's automatically generated from your seed.

Are you registered on [IOTA discord](https://discordapp.com/invite/AnXGeBr) ? I'll need your test seed to debug what's wrong. My discord handle is `Umair Sarfraz [IF]`.

[2019-02-12 18:57] GoodHabitx commented on #838
I'm having this exact same issue. I haven't been able to log into my trinity wallet all day.

[2019-02-12 20:40] rajivshah3 commented on #1049
So they're currently being stored in AsyncStorage? Hmm. I was expecting this to be an issue with a Realm schema but I guess it's something else

[2019-02-12 21:15] KiwiCat123 commented on #1050
@laumair I'm using 3 seeds. One has more than 300 and another one about 150 addresses I think. The history for those 2 seeds is big and I'm using my own node with local snapshots disabled. The app seems to freeze fast after changing between those seeds.
It's not possible to send transactions anymore because the app becomes unusable before I could.
It mostly failed at `Syncing Account` and sometime

[2019-02-12 21:21] rajivshah3 commented on #1050
Are you tapping anything while the transaction is sending? I noticed an issue where the UI will completely freeze if you press buttons (e.g. to navigate to another tab)

[2019-02-12 21:24] KiwiCat123 commented on #1050
@rajivshah3 I think this issue you mean already existed in the versions before.
I can't even make a transaction on 0.6.1 because it already freezes before now.

[2019-02-12 22:51] jamji commented on #589
Same issue here on a Ubuntu 18.10 system.

[2019-02-13 08:33] laumair commented on #1049
Yes, [martketData reducer](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/reducers/marketData.js) persists in AsyncStorage. I don't think it should.

I'll work on this and will move `timeframe` & `currency` to realm storage.

[2019-02-13 17:50] KiwiCat123 opened #1066 "Duplicate accounts after renaming"
### Bug description
When there are 3 seeds added and all seeds get renamed Trinity shows duplicate accounts for the second and third seed with the old name. But those accounts with the old name are unusable. After restarting the app those duplicate seeds are gone and all accounts have the new names. Trinity works normal again then.

### Environment Specs
- Model: iPhone 6
- OS version: iOS 12.1.1

[2019-02-13 18:02] KiwiCat123 commented on #1066
I reinstalled Trinity, added all 3 seeds, changed all their names and after refreshing the history of the third seed there was a duplicate of it

[2019-02-14 17:44] KiwiCat123 commented on #1049
This bug exists on the latest Desktop alpha 0.5.0 as well.

[2019-02-16 15:02] KiwiCat123 opened #1084 "snapshot transition doesn't work"
### Bug description
Snapshot transition is stuck at `Generating addresses and detecting balance`. It never shows a balance or aborts the process. The seed used only has about 10 used addresses.

### Environment Specs
- OS version: Windows 10
- Trinity version: 0.5.0 alpha

### Steps To Reproduce
1. start snapshot transition

### Expected behaviour
should show the detected balance

### Actual behav

[2019-02-16 15:44] KiwiCat123 opened #1085 "Receive closes automatically on Ledger account"
### Bug description
After generating a new address the receive page closes automatically after the address got generated when using a Ledger account in Trinity. It seems to close shorty after the `Generating Address` appears on the Ledger Nano S.

### Environment Specs
- OS version: Windows 10
- Trinity version: 0.5.0 alpha

### Steps To Reproduce
1. select Ledger account/seed
2. click on Receive

[2019-02-16 20:34] KiwiCat123 commented on #1050
The new 0.5.0 desktop alpha seems to be slower too with my seeds with big history. Especially showing a bundle takes a little.

[2019-02-16 21:58] KiwiCat123 opened #1088 "unable to cancel refreshing history without Ledger connected"
### Bug description
When trying to refresh the history of a ledger account without the Ledger connected Trinity shows the `Connect your Ledger` message. But clicking the `Cancel ` button doesn't really cancel the refresh. Trinity tries to refresh the history again and asks again to connect the Ledger. So it is like an endless loop and it is impossible to really cancel this process without connecti

[2019-02-18 22:20] #1084 closed, assigned to rajivshah3

[2019-02-19 10:51] IOTANGLE42 commented on #589
@rajivshah3  This bug is now more than 3 months old and also not assigned to someone. Someone working on that?

[2019-02-19 14:26] rajivshah3 commented on #589
@rihardsgravis would this be fixed by the Ledger app update?

[2019-02-19 14:48] #311 closed, assigned to rajivshah3

[2019-02-19 21:37] #1088 closed, assigned to rihardsgravis

[2019-02-19 21:37] #1085 closed, assigned to rihardsgravis

[2019-02-19 21:37] #1066 closed, assigned to laumair

[2019-02-22 17:00] UmbahaSpodPaha commented on #677
This is still not fixed properly. Also after setting up Trinity with Polish language for example, we still have "English" selected in options.

@rajivshah3

[2019-02-22 17:12] UmbahaSpodPaha opened #1127 "Mobile: Mask/hide seed when importing SeedVault (show only checksum)"
### Description
It would be good to make seed masked by default on SeedVault importing (like on desktop)

### Motivation
Security reasons (obvious) :)

### Open Questions (optional)
I'm open to talk if this feature request is clever or not!

### Am I planning to do it myself with a PR?
No

[2019-02-22 17:14] UmbahaSpodPaha commented on #680
Please have another look at this request devs! I'm sharing seedvaults between my PC/mobile often so It would be sick to finally have this one! :) Thanks

[2019-02-22 17:18] UmbahaSpodPaha commented on #657
Refreshing this one! It would be so good to have this one as well. Thanks

[2019-02-22 17:33] UmbahaSpodPaha opened #1128 "Mobile: We have to manually click camera icon second time after granting Camera permissions"
### Bug description
We have to manually click camera icon second time after granting Camera permissions when importing seed via qr code.

### Environment Specs
Samgung Galaxy S9+ Android 9.0 Pie

- Trinity version:
0.6.2 (49)

### Steps To Reproduce
1. Open fresh Trinity Mobile instance (initialize)
2. Click on I have seed already
3. Click on camera icon to scan QR code
4. Android asks for Camera

[2019-02-22 17:42] UmbahaSpodPaha opened #1129 "Mobile: Missing translations on Trinity "set up password" screen"
### Bug description
PASSWORD and RETYPE PASSWORD not translated of first account creation screen

### Environment Specs
Samgung Galaxy S9+ Android 9.0 Pie

- Trinity version:
0.6.2 (49)

![screenshot_20190222-182802_trinity](https://user-images.githubusercontent.com/35224101/53260374-9eb15f80-36d1-11e9-8deb-538b24426da4.jpg)

[2019-02-22 17:45] UmbahaSpodPaha opened #1130 "Mobile: "Bolt" icon on "Root Warning" screen is cut and low quality"
### Bug description
When we have rooted device, that warning screen comes out on initial screen. The icon needs replacement to better quality and not to be cut.
Small thing but hurts my OCD. :D

### Environment Specs
Samgung Galaxy S9+ Android 9.0 Pie

- Trinity version:
0.6.2 (49)

![screenshot_20190222-181924_trinity](https://user-images.githubusercontent.com/35224101/53260546-0667aa80-36d2-11e9

[2019-02-22 17:48] UmbahaSpodPaha opened #1131 "Mobile: Black cursor blends with the background"
### Bug description
Black cursor blends with the background. I remember that I already submitted that bug somewhere and I was said that It will be repaired in next version but it's still not repaired.

### Environment Specs
Samgung Galaxy S9+ Android 9.0 Pie

- Trinity version:
0.6.2 (49)

![screenshot_20190222-180138_trinity](https://user-images.githubusercontent.com/35224101/53260690-665e5100-36

[2019-02-22 17:52] UmbahaSpodPaha opened #1132 "Mobile: When we're typing SeedVault password, text that was on top of the screen blends with statusbar"
### Bug description
When we're typing SeedVault password, text that was on top of the screen jumps up and blends with statusbar which looks horrible.

Sorry for the photo quality. It took it with an actual potato.
(screenshot restriction on that screen)

### Environment Specs
Samgung Galaxy S9+ Android 9.0 Pie

- Trinity version:
0.6.2 (49)

![photo0002](https://user-images.githubusercontent.com/3

[2019-02-22 18:00] UmbahaSpodPaha opened #1133 "Mobile: Language selector acts weird (GIF attached)"
related: https://github.com/iotaledger/trinity-wallet/issues/677

### Bug description
- after setting up Trinity in PL language and after entering the settings, clicking the current language (Polish) we can see that English is selected anyway
- language selector acts weird as on the gif below (it only applies language when you select it straight from the list) but if you not choose anything and cl

[2019-02-22 18:01] UmbahaSpodPaha commented on #1133
related: https://github.com/iotaledger/trinity-wallet/issues/677

[2019-02-22 19:05] no8ody commented on #544
I think many node operators would welcome this feature as they always want to be connected to their own node.

[2019-02-22 19:36] KiwiCat123 opened #1134 "snapshot transition always shows 0i"
### Bug description
The snapshot transition always shows 0i as detected balance although my seed doesn't have many used addresses and has an address with iotas on it. I clicked about 20 times on `No` as it showed me 0i as balance. The same happened on another seed too.

### Environment Specs

- OS version: macOS 10.14.3

- Trinity version: 0.5.0-RC1

### Steps To Reproduce
1. start snapshot transi

[2019-02-22 21:14] rajivshah3 opened #1135 "Trinity does not launch on Motorola and LG devices"
### Bug description
Trinity crashes as soon as the user launches it on some Motorola and LG devices

### Environment Specs
This crash has been reported on:

- Motorola Moto G3 - Android 6.0.1
- Motorola Moto G4 - Android 6.0.1 (via Google Play pre-launch testing)
- LG K3 2017 - Android 6.0.1 (via Google Play pre-launch testing)

What build of Trinity are you running? Please provide the full versio

[2019-02-23 03:41] rajivshah3 commented on #1135
Actually, this might be an Android 6 issue, not a Motorola/LG issue

[2019-02-23 03:51] rajivshah3 commented on #677
Sorry we haven't fixed this yet. I'll make sure to get to this soon. I'll close this as a duplicate of #1133

[2019-02-23 03:56] rajivshah3 commented on #1130
@cvarley100 is this an issue with how the icons are generated? That icon is supposed to look like this:

![image](https://user-images.githubusercontent.com/19519564/53281354-f614f700-36f4-11e9-83d8-69ea839f7c1d.png)
https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/icons/icons/attention.svg

[2019-02-23 13:44] cvarley100 commented on #1130
Yes. I have tried to fix it to no avail - worth further investigation.

[2019-02-23 22:49] rajivshah3 commented on #1135
@thibault-martinez do you know why this might be happening? If I run `objdump -t` on the `libdummy.so` in our `develop` branch (which was built a long time ago) it looks different from the one that I built locally from the latest `entangled` commit:

[code]

[code]

Edit: I hope I didn't cause this with https://github.com/iotaledger/entangled/commit/3a392503054b3c432031125630b6af788f606480 😅 but h

[2019-02-24 08:10] Cr4mble opened #1137 "Button event not fired when focus is on textbox"
### Bug description
Example login:
If the password is entered and the keyboard is manually closed and the cursor with focus is still on the password textbox, the login button event is not triggered at the first time. The first click on the button is only focus lost on the textbox. Event is triggered at the second click.
Same for password change in settings menu, addresses in send menu, in general

[2019-02-25 14:47] rajivshah3 commented on #1135
Fixed in #1138

[2019-02-25 14:47] #1135 closed, assigned to rajivshah3

[2019-02-25 15:54] cvarley100 commented on #987
This is likely due to the timeout issue surrounding quorum. Wait times should be reduced now: https://github.com/iotaledger/trinity-wallet/blob/mobile-next/src/mobile/patches/react-native%2B0.57.5.patch

[2019-02-25 15:54] #987 closed, assigned to nobody

[2019-02-25 15:58] cvarley100 commented on #958
@SleepingFox88 Currently if quorum fails, send would be cancelled. Do you mean something other than that?

[2019-02-25 15:59] cvarley100 commented on #950
Has since been fixed. See https://github.com/iotaledger/trinity-wallet/pull/959

[2019-02-25 15:59] #950 closed, assigned to nobody

[2019-02-25 16:34] cvarley100 commented on #852
@rajivshah3 I cannot repro this.

[2019-02-25 16:36] rajivshah3 commented on #852
Ah, looks like this was fixed. Will close

[2019-02-25 16:36] #852 closed, assigned to rajivshah3

[2019-02-25 16:37] #819 closed, assigned to nobody

[2019-02-25 16:46] rajivshah3 commented on #657
Hi, unfortunately we cannot implement this for legal reasons. We ask that you read the terms and conditions and privacy policy carefully, as it includes information about our liability and how we will process your data

[2019-02-25 16:46] #657 closed, assigned to nobody

[2019-02-25 16:49] rajivshah3 commented on #521
An error linked to this issue has been marked as fixed in Bugsnag
[**EXC_BAD_ACCESS** in **trytes_to_trits**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bcd5e7f7a6f2b00195d5662?event_id=5c71b99e0035aa355c280000&i=gh&m=fx)

[2019-02-25 16:50] rajivshah3 commented on #521
An error linked to this issue has been marked as fixed in Bugsnag
[**EXC_BAD_ACCESS** in **folly::Expected<long long, folly::ConversionCode> folly::detail::str_to_integral<long long>(folly::Range<char const*>*)**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5c1c4a071b0cb10019170d4f?event_id=5c1c4a4e0032049d87030000&i=gh&m=fx)

[2019-02-25 16:50] rajivshah3 commented on #521
Error has not appeared in the latest alpha build

[2019-02-25 16:50] #521 closed, assigned to nobody

[2019-02-25 16:52] rajivshah3 commented on #276
Hi @ouya99 , is this issue still occurring?

[2019-02-25 16:54] rajivshah3 commented on #305
@snckills is this still occurring in the latest beta version?

[2019-02-25 16:55] rajivshah3 commented on #907
@laumair @SleepingFox88 can this be closed?

[2019-02-25 16:59] rajivshah3 commented on #676
@SleepingFox88 @cryptoninjarocks has this issue happened in the latest build? We upgraded a networking lib in v0.6.0 as part of the React Native upgrade.

[2019-02-25 17:03] rajivshah3 commented on #625
We've changed the way that we do PoW for performance reasons. In the current alpha builds, we now pass the bundle, trunk and branch transaction, and min weight magnitude to a function and receive the nonces for all transactions in the bundle, instead of passing each transaction individually. Unfortunately, the new implementation doesn't allow us to implement this since we don't know how many trans

[2019-02-25 17:03] #625 closed, assigned to nobody

[2019-02-25 17:08] ouya99 commented on #276
Hi @rajivshah3. Just test on macbook with Android phone. Is working now. seems fixed. Closing issue

[2019-02-25 17:08] #276 closed, assigned to nobody

[2019-02-25 18:36] sloganking commented on #907
I have not been able to reproduce the issue so I will close the issue now. If it ever happens again it can be re-opened.

[2019-02-25 18:36] #907 closed, assigned to nobody

[2019-02-26 09:22] cryptoninjarocks commented on #676
Hello rajivshah3,
the Trinity App works without issues.

Thanks for the support!

best regards,
cryptoninja

[2019-02-26 18:55] sloganking commented on #676
@rajivshah3 I have not experienced the issue since it resolved itself in v0.5.1

[2019-02-26 18:55] rajivshah3 commented on #676
Great! Thanks @cryptoninjarocks @SleepingFox88

[2019-02-26 18:55] #676 closed, assigned to nobody

[2019-02-26 18:56] rajivshah3 commented on #1130
Is this the only icon that's affected?

[2019-02-26 18:58] UmbahaSpodPaha commented on #1130
I believe yes

[2019-02-26 19:55] UmbahaSpodPaha commented on #1129
Also @rajivshah3 there is a untranslated button in RECEIVE screen.
![screenshot_20190226-205230_trinity](https://user-images.githubusercontent.com/35224101/53442121-caea1a80-3a08-11e9-96a5-c0b00141ffb6.jpg)

[2019-02-28 06:26] Robbobrob commented on #838
I see Desktop 5.0 is in testphase; when can a release version be expected? - and is a fix for this  Ledger wallet issue included?
And/or will the Ledger-app be also updated?

[2019-03-02 19:28] rajivshah3 opened #1158 "Error message shows in green instead of red"
### Bug description
The "Error fetching account information" message shows in green, when it should be shown in red:
![image](https://user-images.githubusercontent.com/19519564/53686605-3a0c8b00-3cf7-11e9-83f1-108fddc00b98.png)

### Environment Specs

- Manufacturer: Apple
- Model: MacBook Pro
- OS version: macOS 10.14.4 Beta

What build of Trinity are you running? Please provide the full version

[2019-03-03 12:39] vuapo-eth commented on #589
Having this issue on Gnome as well.

[2019-03-03 12:41] vuapo-eth commented on #589
Don't know whether it's related but when starting the AppImage from command line, I'm stuck with the instructions to install libsecret-1-dev (even after doing so).

[2019-03-04 00:27] Robbobrob commented on #838
Surprisingly today wallet access. But transactions problematic: even transaction is placed on Tangle (so receiver has incoming), no confirmation. When i promote the transaction i get message like  'possibly no connection to device'. After several attempts (incl disconnection Ledger etc) finally done. Maybe something wrong with the Ledger IOTA-app?

[2019-03-04 03:40] CrashTD opened #1159 "Nano Setup - Add check that user really noted the Index"
### Description
Adding a check to the setup process, comparable to the one used for the seed to make sure the user wrote down the Index Number. So asking the user to reenter the Index and check if its correct.

### Motivation
The last few days in the help channel and on Reddit I noticed that when people restore their Trinity accounts they regularly don't know which index they used.

While Trinity

[2019-03-04 14:04] laumair opened #1162 "Improve Realm migration setup"
### Description
Improve realm schema migration setup. Preferably use [linear-migrations](https://realm.io/docs/javascript/latest/#linear-migrations).

### Motivation
The current realm migration setup is very limiting and only support migration from schema version `0` to `1`. It will fail if new properties are added/removed from the defined schemas.

### Requirements

- Migration setup should work

[2019-03-04 14:04] laumair commented on #1162
Related https://github.com/iotaledger/trinity-wallet/pull/1143

[2019-03-04 16:12] cvarley100 commented on #677
Reopened as #1133 specifies three different problems, of which two are fixed in #1146.

[2019-03-04 16:37] cvarley100 commented on #446
Decided against the need of such a feature. Instead, we will add information about the risks of deep linking (Related https://github.com/iotaledger/trinity-wallet/pull/1143)

[2019-03-04 16:37] #446 closed, assigned to nobody

[2019-03-04 16:40] #486 closed, assigned to nobody

[2019-03-04 16:53] cvarley100 commented on #1040
@KiwiCat123 Auto-lock is not enabled on the migration screen

[2019-03-04 17:00] cvarley100 commented on #1040
Do not close message added in #1146

[2019-03-04 17:00] #1040 closed, assigned to rajivshah3

[2019-03-04 17:00] rajivshah3 commented on #1040
@cvarley100 I think @KiwiCat123 may have been referring to the OS auto-lock. We can use `react-native-keep-awake` here

[2019-03-04 17:01] cvarley100 commented on #1040
I see, thanks, I'll add that to the PR.

[2019-03-04 19:01] cvarley100 commented on #654
@UmbahaSpodPaha I can't repro the first issue. It seems to work as expected.

I think it might get a bit too granular if we start accommodating for things like the Polish 4, 3, 2 plural form, as this may be different in multiple languages and we would have no idea.

[2019-03-04 19:02] rajivshah3 commented on #654
I think this is supposed to be handled by the `i18next` lib. I'm looking into it

[2019-03-04 21:35] rihardsgravis commented on #973
Duplicate issue #821

[2019-03-04 21:35] #973 closed, assigned to nobody

[2019-03-05 14:53] mgrassotti opened #1169 "Add push notifications (local) for incoming transactions on Mobile"
### Description
Notify the user about new incoming transactions with a push notification (local)

### Motivation
Eliminate the need of opening the app or checking the account status repeatedly, for incoming transactions

### Requirements
- A local push notification is sent when the wallet is receiving a new transaction.

### Open Questions (optional)
Push notifications may be dependent on backgrou

[2019-03-05 16:44] rajivshah3 commented on #1169
Great suggestion! Unfortunately this is dependent on background processes (#128, I'll continue work on that once higher-priority tasks are done) so that we can sync the wallet while it's not open.

[2019-03-05 18:47] cvarley100 commented on #1132
@UmbahaSpodPaha I'm going to mark this as won't fix for the time being. Unfortunately, the nature of the way we have chosen to use StatusBar means that this cannot be fixed without a pretty hacky solution. I'd rather keep the code clean I think.

[2019-03-05 18:47] #1132 closed, assigned to nobody

[2019-03-05 18:49] rajivshah3 commented on #1132
Could we get the height of the status bar and then add that to the padding of the text so it would move down a bit?

[2019-03-05 18:56] cvarley100 commented on #1132
The way `android:windowSoftInputMode="adjustPan"` works will mean that has no effect, the padding will be pushed up.

[2019-03-05 18:57] rajivshah3 commented on #1132
Ah, I see

[2019-03-06 10:29] cvarley100 commented on #1131
This is an issue with the current version of React Native. See: https://github.com/facebook/react-native/issues/22762

Will hopefully be fixed in a future version.

[2019-03-06 14:14] mmsbrggr opened #1170 "AppImage terminates immediately on Ubuntu"
### Bug description
AppImage does not open at all. When run in terminal it immediately exits with now error messages and no logs.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Lenovo Thinkpad
- Model: E540
- OS version: Ubuntu 18.10

- Trinity version: 0.4.6 (also in 0.4.5, 0.4.4, 0.4.3, 0.4.2 and 0.5.0-RC1)

### Steps To Reproduce
1. Run `./trinity-desktop-0.4.6.

[2019-03-07 11:37] #519 closed, assigned to rajivshah3

[2019-03-07 11:37] #706 closed, assigned to nobody

[2019-03-07 11:37] #847 closed, assigned to nobody

[2019-03-07 11:37] #911 closed, assigned to nobody

[2019-03-07 11:37] #975 closed, assigned to nobody

[2019-03-07 11:37] #1128 closed, assigned to nobody

[2019-03-07 11:37] #1129 closed, assigned to nobody

[2019-03-07 11:37] #1130 closed, assigned to nobody

[2019-03-07 11:37] #1133 closed, assigned to nobody

[2019-03-07 11:37] #1137 closed, assigned to nobody

[2019-03-07 12:02] cvarley100 commented on #508
@delki8 @jojoCoWorker Could you give some alternative instructions on how to reproduce this? We have followed the above instructions and can't repro the issue.

[2019-03-08 10:09] rriixx commented on #593
any update on this?

[2019-03-12 03:15] rajivshah3 opened #1176 "Handle rate limiting errors"
### Description
Trinity should handle rate limiting errors appropriately instead of treating them as generic errors

### Motivation
Nodes will occasionally return an [HTTP 429 response code](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429) if they have rate limiting enabled and the user has reached the limit. Currently, we simply tell the user to try again. However, in the case of rat

[2019-03-12 22:57] rajivshah3 commented on #684
This is happening more often now that we've added quorum and IRI uses local snapshotting. A seed may be set up and show a limited number of transactions, but then Trinity could sync with a node that has transactions from a while ago. When these older transactions are synced, Trinity notifies the user even though these transactions may be several months old

[2019-03-14 01:47] #679 closed, assigned to laumair

[2019-03-14 15:35] rajivshah3 commented on #1170
Seems like an issue we were running into on mobile was also affecting certain versions of Ubuntu. This should be fixed in #1174

[2019-03-14 15:35] #1170 closed, assigned to nobody

[2019-03-15 19:30] UmbahaSpodPaha commented on #654
I just received an message about typo in polish localization when in fact there is not any. :D

It's about this problem though.

**Maybe we can change the form of this to:
"Keys left to randomize: _value_" ? or something like that.**

[2019-03-15 19:32] UmbahaSpodPaha commented on #654
Or can I just do it by myself in PL localization maybe to not interfere with what already is done?

[2019-03-15 20:53] UmbahaSpodPaha commented on #654
Another polish guy noticed it in and sent me message so I developed an individual workaround for PL lang (I will explain in ENG):

**_individualLetterCount_** and _**individualLetterCount_plural**_
are now both:

and

**_randomiseCharsToContinue_** and **_randomiseCharsToContinue_plural_**
are now both:

- - - - - - - - - - - - - - - - - - - - - - - - - - - -

I hope it can stay like this! ;) I on

[2019-03-16 03:31] rajivshah3 commented on #1134
@KiwiCat123 sorry for the delayed response. Are you using a Ledger?

[2019-03-16 15:29] KiwiCat123 commented on #1134
No, I don't.

[2019-03-16 18:52] rajivshah3 commented on #1134
Is there anything in the transaction history, and does a balance show on the main screen?

[2019-03-16 20:23] KiwiCat123 commented on #1134
Yes, there are transactions in the history and it shows the correct balance on main screen.

I've tested this with different seeds on different computers and it never worked.

[2019-03-17 18:25] rajivshah3 commented on #1134
Is this reproducible in 0.4.6?

[2019-03-17 20:37] #1051 closed, assigned to rajivshah3

[2019-03-19 09:20] t0rv1c commented on #589
Something has changed with the Ledger Iota App because there are new symptoms with the issue. Now if I get to the screen where you choose your ledger account index and click continue, if the ledger app has not been opened yet, it will prompt to open it. As soon as I do that, I will have a Warning message on the ledger that will be available for 1 second and then disappear. When it disappears, the

[2019-03-19 15:26] IOTANGLE42 commented on #589
This problem already exists since months and I contacted the guys multiple
times. Cant access My Wallet on Linux since that time. But no one give a
shit about this problem. Really Strange...

t0rv1c <notifications@github.com> schrieb am Di., 19. März 2019, 10:20:

[2019-03-19 17:46] rajivshah3 commented on #589
This is an issue with [node-hid](https://github.com/node-hid/node-hid) which is used to communicate with the Ledger. If you attempt to reproduce the issue in dev mode, you'll get this error:

[code]

This actually isn't a Trinity bug - there's some issue with the `udev` rules. This is why you will sometimes need to use `sudo` with the Ledger Live app. I'm looking into another workaround because ru

[2019-03-19 18:36] t0rv1c commented on #589
Hi @rajivshah3 , thanks for your quick reply. Perhaps you could ask what Ledger did to their Ledger Live application about the udev rule because I no longer need to sudo to use the Nano S with Live anymore (I had to for a while).

[2019-03-19 18:51] rajivshah3 commented on #589
I just looked at their repo, and it seems like they now link to a [support article](https://support.ledger.com/hc/en-us/articles/115005165269) detailing how to configure the `udev` rules. We'll use the same approach

[2019-03-19 20:57] rajivshah3 commented on #589
This will be fixed in #1192. I'll change the priority to P2 since there's a support article for it. Sorry for the delay in fixing this issue!

[2019-03-19 21:02] IOTANGLE42 commented on #589
Nice to see a progress :)

Rajiv Shah <notifications@github.com> schrieb am Di., 19. März 2019, 21:57:

[2019-03-21 07:27] kriss-t opened #1195 "Can't login with Password and google authentificator."
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2019-03-21 15:59] #1134 closed, assigned to rajivshah3

[2019-03-21 16:32] #680 closed, assigned to nobody

[2019-03-21 16:35] rajivshah3 commented on #1195
@kriss-t can you please fill out the template? We need more information in order to investigate your issue

[2019-03-21 19:14] #1127 closed, assigned to nobody

[2019-03-23 17:35] Iwanth commented on #838
Hi, I have the same issue. I stored my IOTA coins on a hard ledger using trinity. Now I am not able to log in. It is said: error fetching account information. I tried all available different nodes, but all nodes are returned while fetching my account information. I also disabled my system proxy, but that didn't help as well. I tried to get into contact with Trinity, but a 404 error message was sho

[2019-03-25 13:38] #1158 closed, assigned to nobody

[2019-03-26 14:36] kyrothespacecat commented on #838
Same error. MacOS 10.14.3 (18D109), Trinity 0.4.6, Ledger Nano S. Already tried to change nodes, disable user system proxy.

[2019-03-27 16:18] ghost opened #1217 "Don't convert messages that contain only Trytes"
I would like to propose a change to how messages are handled.

Current Behavior: When I enter a message into the message field, it is converted to Trytes, whether the content already is in Tryte format or not.

Proposed Behavior: Check if message is not A-Z9 before converting to Trytes, leave the messages untouched that already are Trytes.

Why is this important? I think this would be very handy f

[2019-03-28 11:05] LaPingvino opened #1221 "Android app doesn't scale well on ChromeOS"
### Bug description
When trying to use the Android app on ChromeOS, the result is as seen in the screenshot: blown up to an extent that the app is unusable.
![Screenshot 2019-03-28 at 11 34 31](https://user-images.githubusercontent.com/10294/55152973-b73deb00-5151-11e9-93cf-aa1aa6068ed6.png)

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Acer
- Model: Chromebook R1

[2019-03-28 19:32] FlensGold commented on #838
Also having the same problem. Already updated Ledger Nano S to latest FW, also using Trinity 0.4.6.
Deleting the "APPDATA" Folder allows me to login and create new wallets, but have no access to those created earlier having my IOTA.

[2019-03-29 02:31] rajivshah3 opened #1223 "Build fails on Xcode 10.2"
### Bug description
The iOS build is failing on the public release of Xcode 10.2 (10E125) for multiple reasons:

- [ ] New `kJSTypeSymbol` case is not handled when calling `JSValueGetType` (https://github.com/realm/realm-js/issues/2246, https://github.com/realm/realm-js/issues/2305)
- [ ] Swift native modules cause a crash at launch (https://github.com/facebook/react-native/issues/24139)

[2019-03-31 15:25] UmbahaSpodPaha opened #1228 "Mobile: Account name autofilled from SeedVault stays in the account name field"
### Bug description
When we had finished first setup of the wallet and try to import new SeedVault file BUT cancel the importing, the account name from seedvault will stay forever in the Account Name field. (**see -> steps to reproduce**)

### Environment Specs
- Manufacturer: Samsung Galaxy S9+
- OS version: Android 9

- Trinity version:
v 0.6.2 (52)

### Steps To Reproduce
1. Go into Settings ->

[2019-03-31 15:32] UmbahaSpodPaha opened #1229 "Mobile: Need to press "Okay" button two times on SeedVault password field"
### Bug description
When we're typing password for our SeedVault file, we need to press "Okay" two times because when we clicking for the first time, keyboard is closing and Okay button sweeps down and stays untriggered. We need to click it second time when it's on the bottom of the screen (keyboard hidden)

### Environment Specs
- Manufacturer: Samsung Galaxy S9+
- OS version: Android 9

- Trinit

[2019-03-31 15:46] rajivshah3 commented on #1229
If you dismiss the keyboard (normally by tapping in an empty area on the screen) does the "Okay" button work on the first press?

[2019-03-31 15:49] UmbahaSpodPaha commented on #1229
@rajivshah3 Actually it's NOT working on first try. Works on second. So it's not keyboard issue but this exact button itself?

[2019-03-31 15:50] rajivshah3 commented on #1229
Maybe. I'll have to look into it

[2019-03-31 15:59] rajivshah3 commented on #1221
@LaPingvino we don't officially support ChromeOS but I'll see if I can resolve this issue. What happens if you maximize the window so that it fills up as much of the screen as possible?

~Also, you could try using the AppImage for Trinity Desktop (check out the [releases](https://github.com/iotaledger/trinity-wallet/releases) page). It seems like ChromeOS now supports AppImages based on what I've

[2019-03-31 22:42] lucaspukus commented on #838
Im having the same problem with latest Mac OS & trinity wallet 0.4.6.
Was this issue resolved?

[2019-04-01 01:07] jtpavlock commented on #838
Having same issue trinity 0.4.6 Windows 10

[2019-04-01 09:31] cyrilstandke commented on #838
Same problem here, windows 10, trinity 0.4.6
I no longer have access to my IOTA stored on Ledger Nano S with Trinity!!!

[2019-04-01 09:57] rihardsgravis commented on #838
@looseboy2 @jtpavlock @lucaspukus @FlensGold @kyrothespacecat  and others who who have encountered the problem – could you, please, fill this info. That would greatly help to mitigate the issue:
[code]

[2019-04-01 10:37] lucaspukus commented on #838
I. have not pressed the "reset" button as it says my wallet will be wiped of all data. I don't really want to lose my coins

[2019-04-01 11:29] lucaspukus commented on #838
OK so I sorted it out.
I reset my wallet, reopened & added my old key when asked to create an account. Then created another account using my ledger nano & it worked. Deleted the first account I created & now I have my Ledger nano account with full balance showing

[2019-04-01 12:34] #1223 closed, assigned to rajivshah3

[2019-04-01 13:35] LaPingvino commented on #1221
About the AppImage: my device is an ARM device, so it will probably still
not work if there are any Intel binaries involved, also it depends on the
Linux Beta working, which is still having issues on my device resulting in
not being able to use it yet.

When maximizing the screen the result is exactly the same: big letters
filling up so much that the app is completely unusable, and it doesn't
spre

[2019-04-01 18:10] gisinator commented on #838
Same problem here. Running Ubuntu 18.04.2 and I could successfully login to my account via Trinity 0.4.6 and Ledger Nano S in the afternoon.

Then upgraded Ledger firmware, reinstalled IOTA app and since then no logins any more. I get the same error msg as everybody here: "Error fetching account information"

I tried almost all nodes available, turned proxy on and off but still: nothing. Kinda fru

[2019-04-01 18:13] cvarley100 commented on #838
@gisinator Please fill out the form shared by Rihards. It will help us to debug the issue

[2019-04-01 18:23] gisinator commented on #838
Trinity version: 0.4.6
Ledger device IOTA app version (IOTA>About>Version): 0.4.2
OS and version: Ubuntu 18.04.02
Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): This did the trick. I remember I used the 0 index for my initial account. So, after resetting I chose index 1 for a new account. It worked, but - of course - showed a zero-balance. Then I

[2019-04-01 23:24] rajivshah3 opened #1241 "Localization: Add support for German (Switzerland)"
### Description
Add support for German (Switzerland) (`de_CH`)

### Requirements

- [ ] Desktop integration
- [ ] Mobile integration
- [ ] Shared integration

### Am I planning to do it myself with a PR?
Yes

[2019-04-02 07:55] kyrothespacecat commented on #838
Trinity: latest version
Ledger: latest version
OS: mac os latest version
Ledger IOTA app: latest version

– didn’t reset. i will lose my money if i do it. Or will not?
– if Index is seed, so it is not 0
– didn’t tried add non-ledger
– "Error fetching account information”
– nothing happens, nothing generated

[2019-04-02 12:01] CrashTD opened #1245 "Check that file selected in SeedVault Import is really a Seedvault File"
### Bug description
Noticed lately that people misinterpret what the SeedVault import is for and drop normal .txt files on it and then are confused why it ask for a password.

### Steps To Reproduce
1. Create .txt file with seed (or random characters)
2. Select as SeedVault while creating account

### Expected behaviour

Trinity should show error "Not a SeedVault File".

### Actual behaviour
Trini

[2019-04-02 14:44] Libitinarius commented on #838
Hi I have the same issue, I cna't log in to ANY node, proxy is OFF,

Trinity version:  -----> v04.6beta
Ledger device IOTA app version (IOTA>About>Version): ----->0.4.2
OS and version: Windows 10 Pro 10.0.174
Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): I didn't try
Ledger uses an Index that is not 0 (y/n): -----> YES
Can you successfully add a

[2019-04-02 15:30] cyrilstandke commented on #838
Hi,

After i tried to repro the issue it's been resolved by itself. I didn't change anything.
Now i can login again...

However, I will be interested in the solution found to solve this problem as i'm still afraid it can happen again to me.

Regards,

________________________________
De : Libitinarius <notifications@github.com>
Envoyé : mardi, 2 avril 2019 14:44
À : iotaledger/trinity-wallet
Cc :

[2019-04-02 15:36] rajivshah3 commented on #838
Hi @looseboy2 , would you still be able to fill out the template with as much information as you can remember? This might help us isolate the cause of the issue

[2019-04-02 16:28] rajivshah3 commented on #305
@snckills could you check if this occurs in the latest beta version?

[2019-04-02 16:36] rajivshah3 commented on #1245
I'll check if this happens on mobile as well

[2019-04-02 18:23] cyrilstandke commented on #838
Hi,

Here we go...

Trinity version: v0.4.6

Ledger device IOTA app version (IOTA>About>Version): v0.4.2

OS and version: Windows 10, 64 bit, build 1809

Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): no I didn’t reset my wallet

Ledger uses an Index that is not 0 (y/n): y

Can you successfully add a non-Ledger account (y/n): no I haven’t tried

[2019-04-03 23:01] LaPingvino commented on #1221
I see that the Desktop App is an Electron App? Could you work on reworking it as a PWA, as such adding support for many more platforms, as it's mostly HTML already anyway? I imagine that some things you need still lack support though... I think it's really advantageous for the development of what PWAs can do if those things are reported and maybe even worked on e.g. on the Chrome side.

Either way

[2019-04-04 09:00] Octo77 commented on #838
I have the same problem, havent been able to log in for weeks!, allways fault with trying to get account information from the node, tries more than 20 nodes, changing proxy, nothing works.
Please help, this is not good for me or IOTA wallet reliability!

using windows 10, latest Trinity wallet, connect with Ledger.

[2019-04-04 10:20] cvarley100 commented on #838
@Octo77 Please fill out the form

[2019-04-04 10:27] cvarley100 commented on #838
@jtpavlock @lucaspukus @FlensGold @benbeton @iwanth @dopefleeky Please can you fill out the template we shared. It will greatly help us to debug this issue 🙏

[2019-04-04 10:34] rajivshah3 commented on #838
@cvarley100 the issue went away for @looseboy2 so I just asked them to fill out what they remember

[2019-04-04 19:31] jtpavlock commented on #838
@cvarley100 It started working after nothing special on my end I just gave up one night and woke up the next morning to it working on the first try. Unfortunately, I can't remember the specifics nor did I try much debugging beforehand.

Sorry I couldn't be of more help.

[2019-04-04 22:11] FlensGold commented on #838
1. Trinity version: v0.4.6Beta
2. Ledger device IOTA app version (IOTA>About>Version): 0.4.2
3. OS and version: Windows 10 Prof
4. Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): didn't reset wallet
5. Ledger uses an Index that is not 0 (y/n): not sure, guess it was 1 or 0
6. Can you successfully add a non-Ledger account (y/n):
7. You can get pass

[2019-04-05 08:10] laumair opened #1267 "Document realm migration steps"
### Description
Document steps required for realm migration.

### Motivation
To make it easier for all developers to do migration whenever it's required.

### Requirements
Create a markdown document enlisting all steps required for performing migration.

### Am I planning to do it myself with a PR?
Yes.

[2019-04-05 08:23] #1162 closed, assigned to laumair

[2019-04-05 16:22] ghost commented on #589
@rajivshah3 This fixed this issue completely for me

[2019-04-05 22:44] thomazchamberlain commented on #1169
Hi @rajivshah3 It's true that you would need background tasks in order to implement this feature. However, you wouldn't need anything like react-native-background-task or react-native-background-fetch to do it. The library you would use for receiving push notifications is react-native-firebase and it includes the class RNFirebaseBackgroundMessage which you then register in App.js.
For example crea

[2019-04-05 22:46] rajivshah3 commented on #1169
Interesting. Would we have to send the notifications from a server if we used Firebase messaging though?

[2019-04-05 23:03] thomazchamberlain commented on #1169
I didn't see that part of the issue and just got excited when I saw push notifications, oops my bad. Now I'm clearer on the task I don't believe `RNFirebaseBackgroundMessage` should be used that way. I made an assumption that it wasn't just a local notification. Does this mean the plan is to have the device constantly poll for a notification to display?

[2019-04-05 23:06] rajivshah3 commented on #1169
Yeah, we'd prefer if there wasn't a central server responsible for the notifications (in the spirit of decentralization 😃 )

Right. We'll have to think about an interval that would be reasonably frequent but wouldn't kill the user's battery

[2019-04-05 23:38] thomazchamberlain commented on #1169
A project for Qubic maybe 😀
I didn't realise there wasn't a service gateway serving the App (tangle not included). Very interesting challenge indeed. Assuming Qubic's eventual success I will be excited to see what can be done.

Is there any other immediate need for any dev work on Trinity from the community?

[2019-04-05 23:48] rajivshah3 commented on #1169
Yeah, everything is Tangle-based except for the default node list which comes from a server (we have a hardcoded list as a fallback).

I'll check with the team, but most of the stuff we're working on/planning to work on is in the issues on GitHub. Let me know if you'd like to work on one of them and if you need any guidance! We'd be happy to help

[2019-04-06 00:06] thomazchamberlain commented on #1169
Sweet, I'll just head to the issues 👍. I'm pretty new to the opensource side of things so I wasn't sure how I should go about asking to work on something. Thanks a lot.

Last thought I want to share before I forget it later as I've just realised it. Once Qubic is functionality ready to run microservices, there's going to be an amazing opportunity to build some next-generation infrastructure on the

[2019-04-06 23:11] kon75 commented on #838
Same issues here.
1. Trinity version: v0.4.6 beta
2. Ledger device IOTA app version (IOTA>About>Version): 0.4.2
3. OS and version: MacOS 10.14.4
4. Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): have not tried to reset yet
5. Ledger uses an Index that is not 0 (y/n): No, it is not 0
6. Can you successfully add a non-Ledger account (y/n): have not

[2019-04-07 12:39] Oldmate099 opened #1269 "Checksum different on printout when compared to adding seed for first time"
I have created over 53 accounts using the following process

Create new seed,
Change letters / numbers
Print seed
I print to PDF and have it on the screen to type back in
I type the seed in for the first time and the seed loads.

Problem / Issue:
On Occasion (approx 5 times out of 52) the checksum on the printed version (PDF) on screen is different to the checksum shown on the screen when completi

[2019-04-07 16:36] rajivshah3 commented on #1269
Hi @Oldmate099 please fill out the template. It gives us important information necessary to investigate the issue such as Trinity version and OS.

[2019-04-07 16:37] rajivshah3 commented on #1195
@kriss-t is this still occurring?

[2019-04-07 17:24] kriss-t commented on #1195
Hi Rajiv.....I still have problems..😞
Last time when I login with no problem was maybe in december or January...
Now I try to ad dmore iot to my wallet ..I alreayd have a lot of them...but
can't login...it jsut freeze and do nothing....
I update the wallet to newer version and then it say wrong password...but
is not wrong becasue I didn't change it..is still my old one...
I don't find my seed so I

[2019-04-09 07:50] laumair opened #1282 "Could not rebroadcast transaction"
### Bug description
Trinity often throws an exception during funds transfer `Could not rebroadcast transaction`.

### Environment Specs
What device are you running Trinity on?

- Model:  iPhone 6 Plus
- OS version: iOS 12.1.1

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:  0.6.1 (42)

### Steps To Reproduce

[2019-04-09 17:38] Libitinarius commented on #838
Any news or solutions ?

[2019-04-09 18:20] cvarley100 commented on #838
Hi @libitinarius we are currently investigating this issue. We’ll let you know here any developments.

[2019-04-11 11:34] hharvin commented on #593
Any update or workaround for this problem yet??

[2019-04-12 07:31] LadaLoveMoney commented on #593
No, I lost the iota on ledger, now I'm using trinity and paper backup

[2019-04-12 07:48] hharvin commented on #593
Do you think the new nano x will work with IOTA. Got to get my tokens backThanks Hiram
    On Friday, April 12, 2019, 3:31:54 AM EDT, LadaLoveMoney <notifications@github.com> wrote:

No, I lost the iota on ledger, now I'm using trinity and paper backup

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-13 13:25] stefanowitschdev commented on #838
Same issue here:

Trinity version: v0.4.6 beta
Ledger device IOTA app version (IOTA>About>Version): 0.4.2
OS and version: Windows 10 (release 1809)
Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): have not yet tried resetting wallet
Ledger uses an Index that is not 0 (y/n): n (I am using Seed Index 0)
Can you successfully add a non-Ledger account (

[2019-04-14 21:27] UmbahaSpodPaha opened #1306 "Desktop: Missing translation string"
### Bug description
Missing translation strings (see photo at the bottom):
- "Ledger device access cancelled"
- "Cannot perform the action without Ledger device access."

### Trinity version:
Latest version as of today - FEB 14.
Desktop + ledger account

### Steps To Reproduce
1. Refresh ledger account history **without ledger connected**
2. Warning box will show up on the screen (saying that ledg

[2019-04-15 10:09] laumair commented on #838
@stefanowitschdev What error exactly do you see in your Error log?

[2019-04-15 19:14] rajivshah3 opened #1315 "Migration from alpha build 52 causes a crash"
## Error in Trinity Mobile

**Error** in **/Users/vagrant/git/src/shared/storage/index.js:721**
Migration is required due to the following errors:
- Property 'WalletSettings.deepLinking' has been added.

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cb4cef9d57cc5001d3b7afd?event_id=5cb4d7ff0037f41b8bb40000&i=gh&m=ci)

## Stacktrace

    /Users/vagrant/git/src/sha

[2019-04-16 03:42] #589 closed, assigned to rajivshah3, rihardsgravis

[2019-04-16 10:55] #419 closed, assigned to rihardsgravis

[2019-04-16 11:01] rihardsgravis commented on #305
Will close this issue for now. If it's reproducible on the latest release, a new issue should be opened.

[2019-04-16 11:01] #305 closed, assigned to rihardsgravis

[2019-04-16 11:05] #518 closed, assigned to nobody

[2019-04-16 11:08] cvarley100 commented on #713
We are considering adding support for tags after full release.

[2019-04-16 11:14] #1282 closed, assigned to nobody

[2019-04-16 11:15] ouya99 commented on #713
When is "full" release scheduled?

[2019-04-16 11:17] cvarley100 commented on #1050
Closed via #1293

[2019-04-16 11:17] #1050 closed, assigned to laumair

[2019-04-16 11:18] cvarley100 commented on #713
Getting to full release is our main priority at the moment.

[2019-04-16 13:17] rihardsgravis commented on #381
Reproduction steps (on macOS):
1. Add a German keyboard layout (Settings->Keyboard->Input sources)
2. In a password field (e.g. on Login) try to write `^` (it's `士` key to the left from `1` key)

For German layout the key acts as a dead key and seems like there is a bug in Electron password field (text fields are fine), where dead keys are not registered.

[2019-04-16 16:24] #1315 closed, assigned to laumair

[2019-04-16 16:45] rajivshah3 commented on #1195
@kriss-t please fill out the issue template, it's hard for us to help you without this information

[2019-04-16 16:47] rajivshah3 commented on #1315
An error linked to this issue has been marked as fixed in Bugsnag
[**Error** in **/Users/vagrant/git/src/shared/storage/index.js:721**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cb4cef9d57cc5001d3b7afd?event_id=5cb5fba10037dcaa56060000&i=gh&m=fx)

[2019-04-16 16:52] rajivshah3 opened #1327 "App crashes when setting a password that is not strong enough"
## Error in Trinity Mobile

**TypeError** in **MainActivity**
undefined is not an object (evaluating 'f.feedback.warning')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cb4d5c394589f001a0f9e1d?event_id=5cb4e2d50037e86443e80000&i=gh&m=ci)

## Stacktrace

    src/ui/components/PasswordFields.js:159 - Component
    src/ui/views/onboarding/SetPassword.js:70 - value

[2019-04-16 16:53] rajivshah3 commented on #1327
This might be coming from here (the line numbers in the stacktrace don't seem to make sense):

https://github.com/iotaledger/trinity-wallet/blob/9d1941864f8133ba985c9c567301f14b6919c1f5/src/mobile/src/ui/components/PasswordFields.js#L94-L97

[2019-04-16 17:34] #1327 closed, assigned to nobody

[2019-04-16 17:35] rajivshah3 commented on #1327
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **MainActivity**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cb4d5c394589f001a0f9e1d?event_id=5cb4e2d50037e86443e80000&i=gh&m=fx)

[2019-04-16 18:41] t0rv1c commented on #589
@rajivshah3 I have been using ledger udev rules set up for months now. No problem with Ledger Live but it doesn't work with Trinity. Not sure why you closed this thread. There hasn't been any fix yet...

[2019-04-16 21:52] laumair opened #1329 "Cap the number of bundles to be pulled in and reconstructed at one time"
### Description
We should put a limit on the number of bundles that can be pulled in and reconstructed at a time.

### Motivation
Pulling in many bundles at once can cause performance issues (especially on android).

### Requirements
- Bundles should be constructed incrementally (if the number of bundles is large).
- Older bundles should have higher priority.

### Am I planning to do it myself wit

[2019-04-17 14:03] rajivshah3 opened #1339 "Crash on iOS when generating addresses"
### Bug description
We're receiving reports of crashes occurring on iOS when generating addresses or signatures

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone 7, iPhone X
- OS version: iOS 12.2 (16E227)

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: v0.

[2019-04-17 18:06] rajivshah3 commented on #1339
There was also a similar crash on an iPhone XS (iOS 12.1.4) in build 52

<details>
<summary>Crash report</summary>

[code]

</details>

[2019-04-17 20:21] KiwiCat123 opened #1342 "unlocking with fingerprint is possible although it is disabled in settings"
### Bug description
After the app was closed for some time and the password screen is there again it is possible to tap on the fingerprint icon next to the password field and there it is possible to unlock Trinity with the fingerprint sensor although it is disabled in the security settings.

### Environment Specs

- Model: iPhone 8, iPhone 6
- OS version: iOS 12.1.1

- Trinity version: 0.6.2 (54)

[2019-04-18 01:07] rajivshah3 opened #1344 "Error in migration"
## Error in Trinity Mobile

**Error** in **/Users/vagrant/git/src/shared/storage/index.js:801**
Migration is required due to the following errors:
- Property 'AccountInfoDuringSetup.completed' has been added.

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cb63496c566b0001916feed?event_id=5cb738d00037f49e6c130000&i=gh&m=ci)

## Stacktrace

    /Users/vagrant/git/s

[2019-04-18 01:08] rajivshah3 commented on #1344
Possibly related to #1315

[2019-04-18 01:19] #684 closed, assigned to rihardsgravis

[2019-04-18 01:43] #1245 closed, assigned to rajivshah3, rihardsgravis

[2019-04-18 17:29] #696 closed, assigned to nobody

[2019-04-18 20:51] kon75 commented on #838
Any other forums discussing this issue? Need help in getting this resolved.

[2019-04-19 09:16] cvarley100 commented on #1342
@KiwiCat123 Can you share a screenshot of your biometric settings?

[2019-04-19 13:35] KiwiCat123 commented on #1342
@cvarley100
![IMG_4415](https://user-images.githubusercontent.com/21984138/56426460-af88e680-62b8-11e9-936b-b414c59bbc8b.PNG)

[2019-04-20 17:15] #656 closed, assigned to rihardsgravis

[2019-04-20 18:32] #1342 closed, assigned to rajivshah3

[2019-04-21 00:43] rajivshah3 opened #1367 "TypeError in src/libs/keychain.js:107"
## Error in Trinity Mobile

**TypeError** in **src/libs/keychain.js:107**
null is not an object (evaluating 'n.item')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5cbbb9bfbb1e33001a25e3e0?event_id=5cbbbc5d0037e493df0c0000&i=gh&m=ci)

## Stacktrace

    src/libs/keychain.js:107 -

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trinity-mobile/error

[2019-04-21 00:50] rajivshah3 commented on #1367
https://github.com/iotaledger/trinity-wallet/blob/31595ce7463e79da5ca9d0c1bbb75384edab6a5f/src/mobile/src/libs/keychain.js#L105-L109

We should check whether `saltItem` is `null` before trying to access the `item` property. `keychain.get` may return `null` if an item is not found in the user's keychain:

https://github.com/iotaledger/trinity-wallet/blob/d52d6b5aa944c79d507bdcc8b3aa235fae9181b2/src

[2019-04-24 03:06] rajivshah3 opened #1382 "Deep links should be handled from initial launch"
### Description
If a deep link is opened for the first time, the app should persist it until the wallet is unlocked and the deep linking warning is accepted.

1. User taps on a deep link for the first time
2. After unlocking the wallet if necessary, the user should be shown the deep linking warning
3. If it is accepted, the transaction data should be pre-filled in the Send tab

### Motivation
If a

[2019-04-24 21:09] sloganking opened #1386 "Incorrect? Already spent from address error"
### Bug description
- Trinity reports unspent address as spent when re-attaching transaction.
- Trinity attempts to "retry" this transaction forever, even after confirmation.

### Possibly related issue
#1036

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: Galaxy S8+
- OS version: Android 9

What build of Trinity are you running? Please provide the

[2019-04-26 22:21] UmbahaSpodPaha opened #1411 "Can't save wallet state file (only share) on Android"
### Bug description
I can only share wallet state file (instead of having chance to save it OR to share like with seedvault export)

### Environment Specs
Samsung Galaxy S9+
Android 9.0
Trinity 0.7.0 (59)

### Steps To Reproduce
Try to export the wallet state file and Trinity will try to share it (Whatsapp, Messenger and stuff) without having choice to save it to your device

### Expected behaviou

[2019-04-26 22:33] UmbahaSpodPaha commented on #1411
UPDATE!

I checked Download folder on my phone and I can see that Trinity actually saving that file (all I did was clicking on Export, then that Share window popped out and I closed it). So it's actually saving that file there anyway.

[2019-04-26 22:43] UmbahaSpodPaha opened #1412 "Non-capitalised letters not accepted on seed input"
I KNOW that this is how seed is supposed to be but the way Trinity does this auto-correct in seed field is not right.

### Environment Specs
Samsung Galaxy S9+
Android 9.0
Trinity 0.7.0 (59)

### Steps To Reproduce
Navigate to the "Enter seed" screen or "Confirm your seed" and try to write small letters or characters or numbers other than 9.

### Expected behaviour
- Trinity should accept small le

[2019-04-26 22:46] UmbahaSpodPaha commented on #1229
Refreshing this one. Still happening on the latest alpha build **0.7.0 (59)**!

[2019-04-26 22:52] UmbahaSpodPaha opened #1413 ""SeedVault" as default name for new account with SeedVault backup option"
### Environment Specs
Samsung Galaxy S9+
Android 9.0
Trinity 0.7.0 (59)

### Steps To Reproduce
Create new account (new seed) and choose SeedVault export as an backup option.
Trinity will try to give your new account "SeedVault" name instead of "First/Second/Third..account"...

### Expected behaviour
The autofilled name on new account/new seed should be "First/Second/Third...account" or maybe even

[2019-04-27 09:58] rajivshah3 commented on #521
An error linked to this issue has been reopened in Bugsnag
[**EXC_BAD_ACCESS** in **trytes_to_trits**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bcd5e7f7a6f2b00195d5662?event_id=5cc427e10038c566b94d0000&i=gh&m=ra)

[2019-04-27 14:17] suits-at commented on #593
I just had the same problem, but I got it running.  I could solve it by following these steps:

1. close trinity wallet
2. close ledger live
3. open iota app on ledger nano s
4. accept warning message
5. open trinity wallet again

Hope that helps! :)

[2019-04-28 09:59] dopaminedecay commented on #838
same problem here:

1. Trinity version: 0.4.6
2. Ledger device IOTA app version (IOTA>About>Version): 0.4.2
3. OS and version: MAC OS Sierra 10.12.6
4. Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n): didn’t´t try
5. Ledger uses an Index that is not 0 (y/n): no
6. Can you successfully add a non-Ledger account (y/n): didn’t´t try
7. You can get pass

[2019-04-28 18:59] rajivshah3 opened #1421 ""Node out of sync" error on all nodes"
### Bug description
Users have reported periods where they receive "Node out of sync" on every node that they attempt to connect to. I can't reproduce this issue on-demand, but I've seen it occur a few times.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: MacBook Pro
- OS version: macOS Mojave 10.14.5 Beta (18F118d)

What build of Trinity are you run

[2019-04-28 19:43] rajivshah3 opened #1422 "Cannot read property 'meta' of undefined"
## Error in Trinity Desktop

**TypeError** in **/index.html**
Cannot read property 'meta' of undefined

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5c8f662c1823c1001a6d1e86?event_id=5cc5ec1e0038d8cf4df30000&i=gh&m=ci)

## Stacktrace

    src/ui/views/onboarding/seedStore/Ledger.js:187 - Function.e [as mapToProps]

[View full stacktrace](https://app.bugsnag.com/

[2019-04-29 03:59] rajivshah3 commented on #521
An error linked to this issue has been marked as fixed in Bugsnag
[**EXC_BAD_ACCESS** in **trytes_to_trits**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bcd5e7f7a6f2b00195d5662?event_id=5cc428470038ce2cd4820000&i=gh&m=fx)

[2019-04-29 06:20] sloganking commented on #1386
Still ongoing in Trinity V 0.7.0 (59)

[2019-04-30 11:09] laumair commented on #1386
@SleepingFox88 I cannot seem to reproduce this issue.

What notification did you see after you retried the failed transaction for the first time in history?

[2019-05-02 11:01] rajivshah3 commented on #1421
Fixed in #1436

[2019-05-02 11:01] #1421 closed, assigned to nobody

[2019-05-02 12:48] KiwiCat123 opened #1439 "First setup starts at language page again after entering settings"
### Bug description
When entering the node settings for example via the dropdown menu on the upper left at the setup for the first seed it resets the setup and starts again at the language settings but when entering the seed again it shows an error that this seed already exists although setup was never finished before.
### Environment Specs
What device are you running Trinity on?

- OS version: De

[2019-05-02 13:10] KiwiCat123 opened #1440 "closing settings during manual sync makes Trinity unusable"
### Bug description
When closing out out settings when a manual sync is in progress it is impossible to use Trinity. Account can't be changed and settings can't be opened again. The user hast to close Trinity or to wait until the manual sync has finished to use everything again as normal.

### Environment Specs

- OS version: Windows 10
- Trinity version: 0.5.0-RC2

### Steps To Reproduce
1. start

[2019-05-02 13:32] KiwiCat123 opened #1442 "advanced settings enabled even tough all other setting button disabled"
### Bug description
Every time it is possible to open the dropdown menu on the upper left it is possible to click on `Advanced settings` even tough all the other options are disabled. On reloading history, manual sync or loading seed for the first time for example.

### Environment Specs
- OS version: Debian 9.9
- Trinity version: 0.5.0-RC2

### Steps To Reproduce
1. add first seed to Trinity
2. a

[2019-05-03 08:46] #1382 closed, assigned to rajivshah3

[2019-05-03 09:34] Hissi88 opened #1458 "Mobile: Crash when double clicking on Log In"
### Bug description
The app crashes when you type in the **correct** password and then double click on Log In

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: S6
- OS version: Android 7.0

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: v 0.7.0 (59 & 61)

### St

[2019-05-03 18:05] rajivshah3 opened #1459 "TypeError in src/ui/components/PasswordFields.js:94"
## Error in Trinity Mobile

**TypeError** in **src/ui/components/PasswordFields.js:94**
undefined is not an object (evaluating 'this.state.feedback.warning')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ca12f96486ce8001af3706c?event_id=5ccc82890038d4321be90000&i=gh&m=ci)

## Stacktrace

    src/ui/components/PasswordFields.js:94 - Component
    src/ui/views/onb

[2019-05-03 22:43] rajivshah3 opened #1463 "Crash on launch when running Android 5.0/5.1"
### Bug description
When launching Trinity on an Android running 5.0 or 5.1, the app will crash immediately

### Environment Specs
What device are you running Trinity on?

- Samsung Galaxy S4, Android 5.0.1
- Huawei Ascend Mate 7, Android 5.1.1
- Google Nexus 6, Android 5.0.1 (Firebase Test Lab)
- Google Nexus 6, Android 5.1.1 (Firebase Test Lab)

What build of Trinity are you running? Please prov

[2019-05-04 00:55] Hillgoth5 opened #1465 "Mobile-won’t allow me to type"
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2019-05-04 00:59] Hillgoth5 commented on #1465
When I attempt to type my trinity password nothing was appearing. I deleted both apps and reinstalled, now when I attempt to enter my 81 seed again the wallet is not accepting any of the keystrokes.

[2019-05-04 01:14] rajivshah3 commented on #1465
@Hillgoth5 please fill out the template. It asks important information that we need in order to investigate your issue

[2019-05-04 02:00] Hillgoth5 opened #1466 "Won’t accept"
### Bug description
Anything I attempt to type as as my password or seed does not appear. It’s as if my keyboard is inactive.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: IPhone
- Model: XR
- OS version: 12.2

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 7.0

### Steps To

[2019-05-04 02:00] #1465 closed, assigned to nobody

[2019-05-04 02:01] rajivshah3 commented on #1466
Can you send a screen recording of what it looks like when you try to enter a seed? Please do not use your real seed in the screen recording

[2019-05-04 02:06] Hillgoth5 commented on #1466
![ACC43D4F-B753-4011-853C-3F5944BBEF5B](https://user-images.githubusercontent.com/50252962/57172555-38d70780-6de7-11e9-9999-918b3c7260a9.png)
Unfortunately nothing appears when I type

[2019-05-04 02:08] rajivshah3 commented on #1466
Do you hear the iOS keyboard sound when you type (double check to make sure your phone isn't on silent)? Do the keys pop up like this when you press them?

![image](https://user-images.githubusercontent.com/19519564/57172578-ffef6080-6def-11e9-886f-c3d83108a30f.png)

[2019-05-04 02:10] Hillgoth5 commented on #1466
I do have the clicking and the keys do pop

[2019-05-04 02:10] Hillgoth5 commented on #1466
![0875B954-2438-4CCD-B601-46B567180051](https://user-images.githubusercontent.com/50252962/57172605-e77b4800-6de7-11e9-8423-c31c2a9d7a8f.png)

[2019-05-04 02:13] rajivshah3 commented on #1466
IOTA seeds must only use capital letters and the number 9, so it's not accepting the lowercase characters. However we should make this a bit more user-friendly

[2019-05-04 02:14] Hillgoth5 commented on #1466
I did forget about the caps, I really appreciate your help...it is working. Thank you so much for the help.

[2019-05-06 15:18] Vale11 opened #1476 "Desktop: Using Max amount switch raises error"
### Bug description
The issue appears when using the switch button "max" to withdraw maximum amount from trinity wallet. If enter the same amount manually it goes thought. Happening on every node.

### Environment Specs
Trinity v .0.4.0

- Manufacturer: Apple macbook pro
- Model: Macbook pro 2016
- OS version: High Sierra 10.13.6

### Steps To Reproduce
1. Install trinity wallet
2. Try to sent max

[2019-05-06 18:48] #1463 closed, assigned to rajivshah3

[2019-05-07 00:17] jojoCoWorker commented on #508
Sorry @cvarley100 I didn't see your post... I still can see the same behaviour in v.0.4.6
I can reproduce it following the above instructions on windows 7 so maybe it's a margin problem related to the OS you use ?

[2019-05-07 02:16] rajivshah3 commented on #508
@rihardsgravis are you able to reproduce this? I think I was able to reproduce it a while ago on 0.4.6 using macOS, but it didn't occur every time. It doesn't look like this is reproducible in v0.5.0-RC2

[2019-05-07 02:19] rajivshah3 commented on #508
@jojoCoWorker does the beginning of the seed eventually show up if you press the left arrow key a few more times?

[2019-05-07 06:28] jojoCoWorker commented on #508
@rajivshah3 no it doesn't.
If you press the left arrow Key, then you press some leters, you'll see the beginning of the seed...
I can't test on v0.5.0-RC2 (windows 7...)

[2019-05-07 08:27] #1439 closed, assigned to rihardsgravis

[2019-05-07 08:27] #1440 closed, assigned to rihardsgravis

[2019-05-07 08:27] #1442 closed, assigned to rihardsgravis

[2019-05-07 08:46] rihardsgravis commented on #1476
@Vale11 Could you, please, describe what error is thrown when clicking the Max switch button? Also - can this be reproduced on latest Trinity version `0.4.6`?

[2019-05-07 23:36] mrbianchi opened #1480 "Trinity RPC API to wallet management"

[2019-05-08 16:22] dopaminedecay commented on #838
Hello,
Still the same issues with Trinity Wallet Version 0.5.
I was hoping it would be fixed with the update.
Is there any progress in solving this issue? I need to access my wallet.
Thank you

[2019-05-08 19:18] Thoralf-M commented on #830
Same issue with v0.5.0 and win 10, but the screen is just white

[2019-05-09 09:59] derlefti commented on #838
In my case step 4 (resetting the wallet) solved the problem. The funds were NOT lost via the reset.

[2019-05-09 11:07] PeterRistCMS commented on #305
I've just downloaded and installed the latest version `0.5.0` on my MAC with 10.14.4 and I only see the blue background. Please let me know if I can provide any log files for you.

Solution: Re-install 0.4.6, then re-install 0.5.0

<img width="1281" alt="trinity_background" src="https://user-images.githubusercontent.com/16235754/57449207-ef2a6900-728d-11e9-850a-b58125d30d2f.png">

[2019-05-09 12:01] cvarley100 commented on #305
@PeterRistCMS Please could you first update to 0.4.6 before 0.5.0.

[2019-05-10 19:12] Noigu99 commented on #838
Same issue, please help!

**Trinity version:** 0.5.0 beta
**Ledger device IOTA app version (IOTA>About>Version):** 0.4.2
**OS and version:** Windows 10 PRO
**Cannot add Ledger account even after wallet reset (Settings>Advanced Settings>Reset wallet) (y/n):** didn't reset, as I'm afraid to be asked for some info I don't know/remember!
**Ledger uses an Index that is not 0 (y/n):** how do I know this

[2019-05-10 19:19] cvarley100 commented on #838
@Noigu99 If you wrote down your Ledger account index (default is 0) then resetting Trinity is not a problem.

Can you check that your device time is correct?

[2019-05-10 19:51] Noigu99 commented on #838
I don't remember at all regarding the Index, that's why I'm afraid of resetting it. Time is right and by the way I could access the wallet multiple times before 2-3 weeks since when the problem arose.

[2019-05-11 01:30] thucar opened #1498 "Windows7: v0.5.0 does not start"
### Bug description
After upgrading to v0.5.0 the wallet does not start. I see three Trinity.exe processes in my task manager.

### Environment Specs
- Model: PC
- OS version: Win7 x64
- Trinity version: v0.5.0

### Steps To Reproduce
1. Upgrade/install v0.5.0
2. Click the Trinity icon

### Expected behaviour
Trinity wallet should open

### Actual behaviour
Trinity wallet does not open but three T

[2019-05-11 01:46] cvarley100 commented on #1498
Hi @thucar. Windows 7 is not currently supported in version 0.5.0. The new Realm database introduced in 0.5.0 does not support Windows 7. We are working on a fix and a new build will be ready soon.

[2019-05-11 01:46] #1498 closed, assigned to nobody

[2019-05-12 08:07] userreqts commented on #593
I just had the same problem and couldn't get it working even using the tips above.
So I tried it on a different Ledger nano S, and the same thing happened!
It is the first time I have installed the iota app on this device and it didn't even show the warning message - just went straight to the IOTA (underlined)
:(

[2019-05-12 13:11] hharvin commented on #593
I got it to finally work. Delete wallet than restore but plug in Ledger and open IOTA wallet and keep scrolling all the way through till the very end than open app on computer and try to restore.
    On Sunday, May 12, 2019, 4:07:33 AM EDT, userreqts <notifications@github.com> wrote:

I just had the same problem and couldn't get it working even using the tips above.
So I tried it on a different Le

[2019-05-12 17:37] rajivshah3 opened #1501 "Tray app does not show correct fiat value"
### Bug description
Trinity does not show the correct fiat value of the user's balance in the tray app. It shows $0 instead.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: MacBook Pro
- OS version: macOS 10.14.5 Beta (18F118d)

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Tri

[2019-05-12 19:15] Lupomannaro commented on #838
Hi, same problem, what to do?

Error fetching account information. Trying again with a different node." followed by "The node returned an error while fetching your account information. If the problem persists, try changing node or disabling your system proxy in Trinity setting." I have tried multiple nodes and proxy enabled/disabled

[2019-05-12 20:27] laumair opened #1502 "Snapshot transition leads to duplicate addresses"
### Bug description
Performing snapshot transition assigns address to a different (incorrect) account.

### Environment Specs
What device are you running Trinity on?

- OS version: Windows 10

What build of Trinity are you running?

- Trinity version: Desktop v0.5.0

### Steps To Reproduce
1. Create two accounts (A & B)
2. Perform snapshot transition on A
3. Check address history of account B

###

[2019-05-13 08:21] lukisi commented on #821
Trinity 0.5.0 still has same problem. I tried both an update (via the menu in app) and a fresh install on another computer.

[2019-05-13 08:52] vincenzopalazzo commented on #821
@lukisi I have same problem but I resolved with this code

- Edit: `/home/[user]/.local/share/applications/appimagekit-trinity-desktop.desktop`

In the file edit a path for the image, I have downloaded the image for project github

[2019-05-13 09:23] cvarley100 commented on #1466
We will look at ways to make this more clear to the user.

[2019-05-13 09:23] #1466 closed, assigned to nobody

[2019-05-13 09:46] laumair opened #1508 "Cannot build iOS on xcode 10.2"
### Bug description
`react-native run-ios` returns error `Could not find iPhone simulator` on xcode version 10.2.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- OS version: Mojave

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: `develop` branch

### Steps To Reproduce

[2019-05-13 09:47] #1508 closed, assigned to nobody

[2019-05-13 12:21] rihardsgravis commented on #1306
Seem to be added now:
https://github.com/iotaledger/trinity-wallet/blob/3aba852c0686ae9ea99bdb17b4acd686a95d0d2c/src/shared/locales/en/translation.json#L812
https://github.com/iotaledger/trinity-wallet/blob/3aba852c0686ae9ea99bdb17b4acd686a95d0d2c/src/shared/locales/en/translation.json#L813

[2019-05-13 12:21] #1306 closed, assigned to rajivshah3

[2019-05-13 12:31] rihardsgravis commented on #964
@mostar Is this still reproducible on `0.5.0`?

[2019-05-13 15:12] rajivshah3 commented on #1269
@Oldmate099 could you confirm whether this is still occurring in the latest version? We also need you to fill out the template

[2019-05-13 15:14] rajivshah3 commented on #1459
This issue has been linked to an error in Bugsnag
[**TypeError** in **src/ui/components/PasswordFields.js:160**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ccc470e1b16d500195ad598?event_id=5cd987b60039f3df22d00000&i=gh&m=li)

[2019-05-13 15:15] rajivshah3 opened #1513 "TypeError: null is not an object (evaluating 'l.wait')"
## Error in Trinity Mobile

**TypeError** in **MainActivity**
TypeError: null is not an object (evaluating 'l.wait')

This error is located at:
    in t
    in u
    in WithMergedOptions(t)
    in C
    in u
    in LoadNamespace(Connect(l))
    in RCTView
    in u
    in Connect(u)
    in RCTView
    in s
    in RCTView
    in u
    in Connect(u)
    in RCTView
    in RCTScrollView
    in ScrollVi

[2019-05-13 15:19] rajivshah3 opened #1514 "TypeError: null is not an object (evaluating 't.settings.versions.version')"
## Error in Trinity Mobile

**TypeError** in **MainActivity**
null is not an object (evaluating 't.settings.versions.version')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ccc49a6ea1b70001aa3a227?event_id=5cd94afb0039ed0401320000&i=gh&m=ci)

## Stacktrace

    src/ui/routes/entry.js:84 - getInitialScreen
    src/ui/routes/entry.js:74 -

[View full stacktrace](h

[2019-05-14 16:26] t00k commented on #685
This issue is back on 0.5.0, Windows 10. User Thomas L.#5149 on Discord experiencing this exact issue. Also with Ledger account.

[2019-05-14 16:29] rajivshah3 commented on #464
Is anyone able to reproduce this issue in the latest build?

[2019-05-14 16:32] rajivshah3 commented on #522
This error hasn't occurred in a recent release

[2019-05-14 16:32] #522 closed, assigned to nobody

[2019-05-14 16:35] rajivshah3 commented on #341
Users can now drag-and-drop their seeds from another application

[2019-05-14 16:35] #341 closed, assigned to nobody

[2019-05-15 05:17] mrbianchi commented on #1480
I was thinking something like Electrum Wallet rpc

[2019-05-15 05:18] mrbianchi commented on #1480
http://docs.electrum.org/en/latest/merchant.html#jsonrpc-interface

[2019-05-15 16:54] KnockKnockNe0 commented on #464
Version 0.5.0 does work for me with Ubuntu 16.04 (Xenial) \o/

[2019-05-15 16:55] rajivshah3 commented on #464
Great!

If anyone else is still running into issues, please leave a comment here and I'll reopen the issue

[2019-05-15 16:55] #464 closed, assigned to rihardsgravis

[2019-05-15 17:06] KnockKnockNe0 opened #1527 "0.5.0 doesn't work with ssh x-forwarding"
When i do
`$ ssh -XY foo@remote `
and run trinity-desktop-0.5.0.AppImage in the remote shell,
i get no response at all, no error, no electron GUI, nothing.
(It does work locally on the remote machine, though)

Not critical, just wondering :-)

[2019-05-15 19:37] #1501 closed, assigned to rihardsgravis

[2019-05-16 03:38] ATimesThree opened #1537 "Can’t change currency - iPhone 7"
The issue tracker is only for reporting bugs. If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you have general questions on IOTA

[2019-05-16 04:33] rajivshah3 commented on #1537
It looks like our exchange rate endpoint crashed, possibly due to an issue at Heroku. It should be working now. Thanks for reporting!

[2019-05-16 04:33] #1537 closed, assigned to rajivshah3

[2019-05-16 13:21] KiwiCat123 opened #1538 "Already spent from address after sending failed"
### Bug description
I tried to make a transaction. Internet connection was bad and it failed at `Preparing inputs`. The log reported something like `could not get quorum subtangle milestone`. Directly after that I tried it a second time and this time it took more than a minute to `prepare inputs` and it failed at `Broadcasting` this time. The error log shows the same error again that occurred on t

[2019-05-16 14:30] CrashTD opened #1540 "Appimage ask every time for Desktop Integration. Even after selecting No last time."
### Bug description
At every launch i get the window with title "Install" and "would you like to integrate trinity with your system?". Even after i selected "No" the last time.

![desktopintegration](https://user-images.githubusercontent.com/45145914/57861766-7f6d2e80-77f7-11e9-87a3-b66df4500424.png)

That seems to be a feature of electron.

### Environment Specs
Linux (4.19.36-1-MANJARO)
Trinity

[2019-05-16 14:31] rajivshah3 commented on #1540
Did this start appearing in a certain release?

[2019-05-16 14:32] CrashTD commented on #1540
No, was the same with 0.4.6. sorry, should have added that info. Not sure about earlier versions.

[2019-05-16 14:32] rajivshah3 commented on #1540
Ok, will look into this

[2019-05-16 14:37] rajivshah3 commented on #1540
You can try this: https://github.com/electron-userland/electron-builder/issues/1962#issuecomment-454486453

It seems like a bug with `electron-builder` or `AppImage`

[2019-05-16 15:22] CrashTD commented on #1540
bingo. that fixed it. creating a empty file `$HOME/.local/share/appimagekit/no_desktopintegration`

thanks!

[2019-05-16 15:22] #1540 closed, assigned to nobody

[2019-05-16 16:06] FlensGold commented on #838
Any news about this? I have quite a lot IOTA in my wallet and would be happy if I could access them again...
I have been using the IOTA Light wallet earlier and moved to trinity hoping that it would be secure in combination with a Ledger Nano....I am afraid this was a big mistake :-(

Already updated to Trinity 0.5, same problem...

[2019-05-16 16:08] cvarley100 commented on #838
@Noigu99 The default index is 0. It tells you to write down the index if you change it. If you are comfortable doing so, then I suggest resetting the wallet and trying again.

@Lupomannaro @FlensGold Can you check that your computer's time is correct?

[2019-05-16 16:10] FlensGold commented on #838
Maybe a stupid question: Where can I check the time of the device (Ledger Nano S)?

[2019-05-16 16:13] cvarley100 commented on #838
Apologies @FlensGold. I mean the time on your computer OS.

[2019-05-16 16:14] FlensGold commented on #838
No problem, but the time is in synch with time.org
It is automatically set by windows (option is on)

I just resetted my wallet (Settings>Advanced Settings>Reset wallet) and after restart of trinity I could set up a new wallet in combination with Ledger. I choosed Index 0 since as far as I remember that was the one I used earlier. After a while trinity started with a balance of 0 which also did no

[2019-05-16 18:28] Lupomannaro commented on #838
Time is correct, so any solutions?

[2019-05-16 18:56] PresenceNumerique opened #1542 "Windows 10: v0.5.0 does not start."
### Bug description
Trinity wallet does not start.

### Environment Specs
- OS version: Windows 10

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:0.5.0

### Steps To Reproduce
1.Install/upgrade
2.Double Click trinity shortcut

### Expected behaviour
Wallet should launch

### Actual behaviour
Nothing happens

[2019-05-16 18:57] cvarley100 commented on #838
@Lupomannaro @FlensGold Did either of you use the first Trinity Ledger release (0.4.0-alpha)?

[2019-05-16 19:16] t00k commented on #1542
Hey Presence!
What version did you have before updating to 0.5.0?
Some people have had issues going from older versions and directly to 0.5.0, the solution has been to install 0.4.6, and then go to 0.5.0 from there.

Might be worth a try!

[2019-05-16 19:18] PresenceNumerique commented on #1542
Hello there,
I upgraded from 0.4.0 from what i remember.

I uninstalled 0.5.0 and installed it again and got same result: wallet not launching.

I will try installing 0.4.6 then.

[2019-05-16 19:43] PresenceNumerique commented on #1542
Ok, i tried it:
Installed v0.4.6 : everything is working.
Upgraded to v0.5.0: Wallet won't launch.

[2019-05-16 20:20] Lupomannaro commented on #838
Not sure, it was first, but had no problems before, error appeared 3 weeks ago

[2019-05-16 20:37] dopaminedecay commented on #838
What does the error log say (Trinity>Error log) ?

[2019-05-16 20:54] Lupomannaro commented on #838
Leadger device: App has not been initialised by user (0x6986)

[2019-05-16 21:00] #1502 closed, assigned to laumair

[2019-05-16 21:13] dopaminedecay commented on #838
I had the same issue. The error log in the Trinity Wallet said:
**App has not been initialised by user (0x6986)**

In that case you need to initialize the Ledger device by opening the IOTA App on the Ledger Nano S
and accepting the warning shown on the device when connected to Trinity Wallet.
You need to press both Ledger buttons to confirm.
(I had to scroll down on the Ledger device with one butt

[2019-05-16 22:40] cvarley100 opened #1543 "Trinity Desktop 0.5.0 fails to open on Linux Mint 18.2"
### Bug description
Trinity Desktop 0.5.0 does not open on Linux Mint 18.2.

[2019-05-16 22:47] cvarley100 commented on #1476
@Vale11 Please try this again on 0.5.0 and share the error message.

[2019-05-16 23:14] cvarley100 opened #1544 "Make it as clear as possible that users must note down their Ledger account index"
### Description
During Ledger setup, users are warned to note down their Ledger account index.
We should make it as clear as possible that users must note down the index and store it safely.

### Motivation
There have been several cases of users forgetting this index.

### Am I planning to do it myself with a PR?
Yes.

[2019-05-17 01:12] UmbahaSpodPaha commented on #1544
My idea for this is to completely hide Index number config under Advanced options during setup. Not showing this option to users everytime.

And Advanced options would be small font with not clearly visible text.

[2019-05-17 04:47] Lupomannaro commented on #838
Thank you, i’ll will try this out

[2019-05-17 11:28] Vale11 commented on #1476
Yeah, it seems like this issue was fixed. I'm not able to reproduce it on 0.4.6 and 0.5.0.

Thank you

[2019-05-17 11:34] #1476 closed, assigned to rihardsgravis

[2019-05-17 11:36] rajivshah3 commented on #1544
Duplicate of https://github.com/iotaledger/trinity-wallet/issues/1159 :trollface:

[2019-05-17 19:38] #1159 closed, assigned to nobody

[2019-05-17 19:39] rajivshah3 commented on #1544
Fixed in #1550

[2019-05-17 19:39] #1544 closed, assigned to nobody

[2019-05-17 20:05] shuaibbenjamin opened #1551 "Trinity Desktop Wallet v0.5.0 for Mac OS fails to load login screen"
### Description of issue
When opening Trinity it starts to load normally but then it resolves only to a blank screen. Basically it loads blank with only the background color visible. Setup Incomplete. All options doesn’t work in that state and it just stays there. This has been a problem for over a week since the wallets self-prompted update.

- Manufacturer: Apple
- Model: MacBook Pro
- OS versio

[2019-05-17 20:36] shuaibbenjamin commented on #1551
### Solved

Solution: Install v0.4.6. Then, update to v0.5.0.
URL: https://github.com/iotaledger/trinity-wallet/releases/tag/0.4.6

Thanks!

[2019-05-17 20:36] #1551 closed, assigned to nobody

[2019-05-18 23:58] rajivshah3 commented on #1459
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **MainActivity**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ccc470e1b16d500195ad598?event_id=5ce07b490039f541282e0000&i=gh&m=fx)

[2019-05-18 23:58] rajivshah3 commented on #1459
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **src/ui/components/PasswordFields.js:94**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ca12f96486ce8001af3706c?event_id=5ce01d8b0039e64f44920000&i=gh&m=fx)

[2019-05-18 23:58] rajivshah3 commented on #1459
This issue has been linked to an error in Bugsnag
[**RCTFatalException: Unhandled JS Exception: undefined is not an object (evaluating 'this.state.feedback.warning')** in **RCTFatal**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ccedeb40c27b0001a735706?event_id=5cdeca620039f2fa538f0000&i=gh&m=li)

[2019-05-18 23:58] rajivshah3 commented on #1459
An error linked to this issue has been marked as fixed in Bugsnag
[**RCTFatalException: Unhandled JS Exception: undefined is not an object (evaluating 'this.state.feedback.warning')** in **RCTFatal**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ccedeb40c27b0001a735706?event_id=5cdeca620039f2fa538f0000&i=gh&m=fx)

[2019-05-19 09:43] t00k commented on #1542
This seems to be a problem with the Credentials Manager. I just helped a guy on Discord with this exact same issue.

My short guide to fix it will follow below. Make sure to have your seeds backed up or remember the index for your Ledger.

I hope this will help you in your case. Will monitor this thread with your answer as well.

[2019-05-19 13:41] PresenceNumerique commented on #1542
I tried this and result is unfortunately identical: wallet does not launch.

[2019-05-19 16:38] t00k commented on #1542
That's too bad! :(

Will keep my eyes open in the Discord and hope that the devs find the cause of it.

[2019-05-19 18:02] rajivshah3 opened #1556 "N.write is not a function"
## Error in Trinity Desktop

**TypeError** in **/index.html**
N.write is not a function

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5cde8c5c3c107400195ffef3?event_id=5ce13dde0039f048e01c0000&i=gh&m=ci)

## Stacktrace

    webpack/bootstrap:11 - Function.acceptTerms

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5cde8c5c3

[2019-05-19 20:03] rajivshah3 commented on #1542
Can you post a list (screenshot works too) of the files in `C:\Users\username\AppData\Roaming\Trinity`?

[2019-05-19 20:19] Lupomannaro commented on #838
it helped to solve the problem, thank you!

[2019-05-19 20:24] PresenceNumerique commented on #1542
Sure, here you go:
![image](https://user-images.githubusercontent.com/46331204/57987663-d9ceef00-7a84-11e9-850c-b88cdcba087a.png)

[2019-05-20 11:28] rihardsgravis commented on #1543
Linux Mint 18.2 requires an upgrade to libstdc++6 (this version is required by Electron).
It is advised to [update Linux Mint to version 19.1](https://community.linuxmint.com/tutorial/view/2) or update just the libstdc++6 version:
[code]

[2019-05-20 11:28] #1543 closed, assigned to rihardsgravis

[2019-05-20 15:04] rajivshah3 commented on #508
@jojoCoWorker ah, didn't realize you were using Windows 7. Is this reproducible on the latest version for Win 7?

[2019-05-20 17:34] FlensGold commented on #838
Sorry, I do not get this, maybe you could explain it again? Are you talking about the "IOTA App" on the Ledger Nano S? Where can I initialize it again?

[2019-05-20 18:42] jojoCoWorker commented on #508
Today with v0.5.0-RC2 on windows7, it is reproductible.

[2019-05-20 18:59] jojoCoWorker commented on #508
Same with v0.5.0 for win7, 2 letters are hidden on the left.

[2019-05-20 19:00] rajivshah3 commented on #508
Thanks for the quick reply! I'll look into this, I wonder if it's platform specific

[2019-05-20 19:37] dopaminedecay commented on #838
Yes, the IOTA App on the Ledger Nano S.
I edited my previous comment. Hope its more clear to understand now.

[2019-05-20 19:47] FlensGold commented on #838
I am feeling a bit stupid.
When accessing the IOTA APP on the Ledger (using both buttons) I get into a menu with 3 options:
IOTA, About and Exit: App.
I can browse that menu by using 1 button and have to use both buttons to access one option (Option IOTA is only a title, so nothing happens, Exit gets back to the wallet menu. I still have no clue where to find those "small lines" :-(

[2019-05-20 20:14] dopaminedecay commented on #838
yes, the warning that you have to accept/confirm to initialize the device just flashes on the devices screen for a very short while. I didn´t noticed it first few times either. So as soon as this warning appeared, i clicked one of the ledger buttons few times to scroll down in the warning to confirm.  Hope it works for you.

[2019-05-20 21:23] FlensGold commented on #838
I do not get it. Tried several times, never got to that option. Do you have trinity started while testing it?

If it is important: My Trinity error log says " Incorrect Ledger device or changed mnemonic".

[2019-05-21 08:35] cvarley100 commented on #838
@FlensGold This would suggest that you are trying to access the wallet with a different Ledger, or your Ledger recovery phrase has changed.

[2019-05-22 05:18] iarcho commented on #1542
upgraded from version 0.3 to 0.5 on windows 10 and when i start wallet the logo shows then it dissapear and nothing is shown anymore

[2019-05-22 07:18] cvarley100 commented on #1542
@iarcho It is recommended in the release notes that you first upgrade to 0.4.6 before upgrading to 0.5.0.

[2019-05-22 19:06] #821 closed, assigned to rihardsgravis

[2019-05-22 20:25] FatBirdie opened #1582 "Trinity Desktop fails to open on Linux Mint"
### Bug description
Linux AppImage will not start GUI, but starts 5 processes called 'trinity-desktop'

### Environment Specs
Desktop, Linux Mint

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:
0.5.0

### Steps To Reproduce
1. Start
2. Nothing

[2019-05-22 20:32] FatBirdie opened #1583 "Node problem"
### Bug description
Getting red error message box when starting Trinity:
Node error: The node returned an error while fetching your account information. If your problem persists, try changing node or disabling your system proxy in Trinity settings.

After this, menu options Trinity -> Error log and Trinity -> Settings -> *all* seem to be out of order. No matter what is clicked, nothing happens.

#

[2019-05-22 20:39] rihardsgravis commented on #1582
@FatBirdie  what version of Linux Mint? Possible duplicate of #1543

[2019-05-22 20:59] rajivshah3 commented on #1583
@FatBirdie are you able to log in? What about using the Settings button in the bottom left?

[2019-05-22 21:05] FatBirdie commented on #1543
That did open the GUI but its all black inside the window.

[2019-05-22 21:10] FatBirdie commented on #1583
No, no login. There is no settings button. Attaching screenshot.

[2019-05-22 21:10] FatBirdie commented on #1583
![Screenshot from 2019-05-22 23-08-12](https://user-images.githubusercontent.com/40865389/58209182-cfac2b00-7ce6-11e9-9b1d-625895f1e9d0.png)

[2019-05-22 21:12] FatBirdie commented on #1583
Linux mint 19 on this computer by the way.

[2019-05-22 21:47] #1459 closed, assigned to rajivshah3

[2019-05-23 17:25] rajivshah3 commented on #1583
Have you run a version of Trinity before 0.4.6?

[2019-05-23 17:39] rajivshah3 opened #1594 "Trinity does not work correctly on Windows when username has special characters"
### Bug description
We're seeing error reports where Realm initialization is failing with an error similar to one of the following:
[code]
[code]

This may be related to a bug in Realm where paths with special characters are not supported (https://github.com/realm/realm-js/issues/2319)

### Environment Specs
What device are you running Trinity on?

- Manufacturer: N/A
- Model: N/A
- OS version: Wi

[2019-05-23 17:45] rajivshah3 commented on #1594
A possible workaround may be to create another user account (without special characters in the username) for using Trinity

[2019-05-23 17:46] FatBirdie commented on #1583
Works well with 0.4.0, but I've just re-installed my system with latest build of Linux mint, and now it seems to work fine for some reason. Sorry for taking up everyones time.

[2019-05-23 17:46] #1583 closed, assigned to nobody

[2019-05-23 17:47] FatBirdie commented on #1582
Works well with 0.4.0, but I've just re-installed my system with latest build of Linux mint, and now it seems to work fine for some reason. Sorry for taking up everyones time.

[2019-05-23 17:47] #1582 closed, assigned to rihardsgravis

[2019-05-23 20:16] cvarley100 commented on #1583
Not at all @FatBirdie, thanks for taking the time to submit the report!

[2019-05-23 21:11] FatBirdie opened #1596 "Triniy Failed TX"
### Bug description
Been playing around with the new release of Trinity today and I've signed seveal transactions, moving IOTA from one ledeger to another. All of the sudden when signing a transaction I get an error message saying "Something went wrong while sending your transfer. Please try again."
The message kept appearing and I restarted Trinity, where I then was met with an message  "missing

[2019-05-23 22:12] FatBirdie commented on #1596
Continued trying to send and with small amount it worked fine. I then increased the amount tenfold and again got the "transaction failed" error, and in the error log I see "Invalid bundle".

[2019-05-23 22:37] FatBirdie commented on #1596
Furthermore I've not been asked by Trinity to install any dependencies again, nor have I followed the steps Trinity asked me to follow as I found it strange. Even stranger that I'm no longer asked to install the packages anymore. Clarity?

[2019-05-23 22:56] rajivshah3 opened #1598 "Android 64-bit support"
### Description
64-bit version for Android

### Motivation
All Google Play apps that use native code must provide a 64-bit version by August 1 in order to publish an update. https://developer.android.com/distribute/best-practices/develop/64-bit

### Requirements

- [x] Update Realm to [2.28.0](https://github.com/realm/realm-js/releases/tag/v2.28.0) or later (#1608)
- [x] Update React Native to 0.5

[2019-05-23 23:26] rajivshah3 commented on #1596
The dependency thing is definitely odd. The “invalid bundle” issue is likely because the Ledger device only supports a limited number of input transactions

[2019-05-24 07:48] FatBirdie commented on #1596
Ledger device only supports a limited number of input transactions?

[2019-05-24 08:02] FatBirdie commented on #1596
Do you mean, it can not collect funds from several addresses and make a transaction of it? So then what, all my funds are locked on the Ledger and I can not move them?

[2019-05-24 08:19] FatBirdie commented on #1596
Any dev for Trinity and Ledger care to comment?

[2019-05-24 08:55] FatBirdie commented on #1596
So strange, left the computer running with a transaction failing repeatedly. Came back now a while later, and now its gone through and is done. I'm properly confused.

[2019-05-24 11:47] rihardsgravis commented on #1594
We should try to store Realm database in another, not user related path (e.g. the application path) for the Realm db.

[2019-05-24 13:06] rajivshah3 commented on #1596
You can move your funds, you just might need to do it in more than one transaction

That's weird 🤔

[2019-05-24 14:23] ratiodep opened #1604 "Transaction history empty"
### Bug description
Transaction history stays empty with several seeds, even after Reattaching/Manual synchronising with different nodes.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Dell
- Model: Precision M7720
- OS version: Win 7 64 Bit

- Trinity version: 0.51

### Steps To Reproduce
1. Open Trinity

### Expected behaviour
Transaction history displayed entire

[2019-05-24 14:26] ratiodep opened #1606 "Old transactions pending again"
### Bug description
Old transactions (Mid June 2018) that are already confirmed are pending again.

Rettaching/manual synchronisation with differnt nodes did not help.

![pending](https://user-images.githubusercontent.com/50994219/58334757-7f48e080-7e40-11e9-8c89-96ce922bfa5b.png)

### Environment Specs

- Manufacturer: Dell
- Model: Precision 7720
- OS version: Win 7 64 bit

- Trinity version: 0.

[2019-05-24 14:35] ratiodep opened #1607 ""Could not broadcast transfer" appearing every minute"
### Bug description
A general description of the bug.

Error log: " Already spent from addresses: (...)"

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Dell
- Model: Precision 7720
- OS version: Win 7 64 bit

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.51

### Steps To R

[2019-05-24 14:44] rajivshah3 commented on #1607
Duplicate of #1386

[2019-05-24 14:44] #1607 closed, assigned to nobody

[2019-05-24 15:09] ratiodep commented on #1607
Sorry

Am Fr., 24. Mai 2019 um 16:44 Uhr schrieb Rajiv Shah <
notifications@github.com>:

[2019-05-25 08:02] ratiodep opened #1621 "Biometric auth fails after reopening Trinity"
### Bug description
Biometric auth fails after reopening Trinity

![Screenshot_20190524_225830_com iota trinity](https://user-images.githubusercontent.com/50994219/58366513-c46a2280-7ed3-11e9-9da4-5aaac1212020.jpg)

### Environment Specs

- Manufacturer: Huawei
- Model: P20 pro
- OS version: Android 9

- Trinity version: 0.71

### Steps To Reproduce
1. Open Trinity, log in with password
2. Close T

[2019-05-25 13:18] ratiodep opened #1622 "Create Error message when no internet connection"
### Description

Let the user know if there is no internet connection.

![inet](https://user-images.githubusercontent.com/50994219/58369809-0e68fd80-7f00-11e9-976c-c56668b0f2e7.png)

### Motivation
Error message "node error (...)" could be misleading if in reality the cause is the non-existent Internet connection.

[2019-05-25 15:20] rajivshah3 commented on #1621
I think I've seen this on iOS a few times but it's hard to reproduce reliably

[2019-05-25 17:11] ratiodep commented on #1621
Yes. Only had it twice yet, then never again.

[2019-05-25 19:58] rajivshah3 opened #1623 "Cannot read property 'errorLog' of undefined"
## Error in Trinity Desktop

**TypeError** in **/index.html**
Cannot read property 'errorLog' of undefined

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5ce6a71384b6d7001a5b929e?event_id=5ce99e210039eb7195a00000&i=gh&m=ci)

## Stacktrace

    shared/storage/index.js:84 - Realm.realm.write
    shared/storage/index.js:79 - Function.updateErrorLog
    shared/action

[2019-05-26 16:19] Nick2567 opened #1625 "Fatal error launching Trinity desktop wallet v0.5.1. Linux/Ubuntu"
### Bug description
I was prompted to update Trinity from v0.4.6. The update completed and a message said "Trinity will now restart" but the message did not disappear so I restarted Trinity manually. Upon launching Trinity-desktop-0.5.1. a fatal error message displays. I still have access to Trinity, Edit, Help menus.

### Environment Specs
What device are you running Trinity on?

- Manufacturer:

[2019-05-26 23:00] rajivshah3 commented on #1625
Was there a stacktrace in the error message, or did it only say `Uncaught ReferenceError: setImmediate is not defined`?

[2019-05-27 06:23] ratiodep opened #1626 "Error message when checking for updates without internet connection"
This issue has already been submitted with #282 but happens now again (maybe never fixed in Win 7?)

![bug_nointernet](https://user-images.githubusercontent.com/50994219/58399622-0b355500-8059-11e9-885b-def3a6ec9b16.png)

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Dell
- Model: Precision 7720
- OS version: Win 7 64 bit

- Trinity version: 0.51

### Steps To Repr

[2019-05-27 13:39] FatBirdie commented on #1596
Last transaction made generated errors, but I let it be and a few hours later something happened as it appeared on thetangel.org as "Bundle". Its been more than 3 days not, and its still "Pending". I've tried "Retry" many times in Trinity, but it makes no difference to the pending state.
I know the tangle used to have long times for transactions before, but I though this was not a problem any more

[2019-05-27 16:27] Nick2567 commented on #1625
The first time I launched 0.5.1 there was a more detailed error message but now I just see the image below. I have access to the menu for Trinity --> Error Log but nothing appears.

![image](https://user-images.githubusercontent.com/32357455/58430429-452a4980-80a1-11e9-85cb-159ad0a2e8e0.png)

[2019-05-27 17:47] FatBirdie commented on #1596
Trying to "retry" the "Promoting" transaction in Trinity, but keep getting "Invalid Bundle provided" in the error log and red error box with message "Could not promote transaction. Something went wrong while promoting your transaction. Please try again". Also, sometimes the "Retry" button completely hangs it seems, the icon on the button just keeps spinning without any end. No errors and no stop.

[2019-05-27 18:37] FatBirdie commented on #1596
Been running and quitting Trinity all day trying to get this to work. All of the sudden, now I get the "missing security dependencies" again, from out of nowhere! I've been doing the exact same thing every single time I've started the wallet, trying to retry sending the transaction and checking the log, yet now all of the sudden for some reason it wants me to install things to my system. Seriously

[2019-05-27 18:39] rajivshah3 commented on #1596
Hey, sorry for not replying. Did this ever happen to you in previous versions?

[2019-05-27 18:41] FatBirdie commented on #1596
No, it has not. But why would Trinity tell me to do this now, when I've started the software probably 20 times already today only doing the same thing every time? It makes no sense what so ever to me. Either I need it, and Trinity should tell me right away first time, or I don't and it should never bother me with it.

[2019-05-27 18:48] rajivshah3 commented on #1596
I don't know, that's why I asked if this happened in previous versions. It's evidently a bug and I'm trying to isolate where it may have come from

[2019-05-27 18:59] FatBirdie commented on #1596
Okay, let me know if you need any information to aid in the bug search although that bug is more strange than anything I'm much more concerned with why my transaction as the retry button keeps spinning, and I'm getting all these strange errors sporadically.

[2019-05-27 20:34] rajivshah3 commented on #1625
Hmm. Do you remember anything from the detailed message?

[2019-05-27 20:36] rajivshah3 commented on #1596
Can you check if there is a process called `gnome-keyring` (or similar) running?

[2019-05-27 20:36] FatBirdie commented on #1596
Yes, gnome-keyring-daemon is running

[2019-05-27 20:38] rajivshah3 commented on #1596
Hmm, that's definitely odd if Trinity's not seeing that it's running. Have you installed or updated anything recently?

[2019-05-27 20:40] FatBirdie commented on #1596
Between downloading latest Trinity, having all the transaction issues and getting the message to install libsecret (which I now have)- No. No updates to the system.

[2019-05-27 20:40] rajivshah3 commented on #1596
Did you not have it before?

[2019-05-27 20:41] FatBirdie commented on #1596
Before I was on 0.4.something, and no. No such message then.

[2019-05-27 20:42] rajivshah3 commented on #1596
Can you paste the command that you used to install `libsecret` here?

[2019-05-27 20:43] FatBirdie commented on #1596
Just as Trinity asked me to: sudo apt-get install libsecret-1-dev

[2019-05-27 20:44] rajivshah3 commented on #1596
Can you paste the output of `apt list --installed | grep libsecret` ?

[2019-05-27 20:55] FatBirdie commented on #1596
libsecret-1-0/bionic,now 0.18.6-1 amd64 [installed]
libsecret-1-dev/bionic,now 0.18.6-1 amd64 [installed]
libsecret-common/bionic,bionic,now 0.18.6-1 all [installed]

[2019-05-28 00:58] aayush opened #1630 "Seeing install libsecret-1-dev message even if its installed"
### Bug description
With this version trinity-desktop-0.5.1.AppImage  i am seeing libsecret error.
It is asking me to install libsecret-1-dev. I installed it but still seeing this issue.
Someone in discord asked me to check if gnome-keyring is installed. gnome-keyring was installed in my system before i install libsecret-1-dev

### Environment Specs
I am running it on ubuntu 18.04

What build of T

[2019-05-28 01:03] aayush commented on #1630
I was not seeing this error in version 5.0, i switched to 5.1 and seeing this error message

[2019-05-28 02:26] rajivshah3 commented on #1630
~@rihardsgravis do you think #1548 caused this? The only change was in [this commit](https://github.com/atom/node-keytar/commit/95d135533e12d90778f747765870052072674da2)~

[2019-05-28 02:29] rajivshah3 commented on #1596
Hmm, that seems normal. This is likely the same issue as #1630. Regarding the transaction that wouldn't confirm, would you happen to still have the bundle hash or transaction hash available through something like your browser history?

[2019-05-28 02:50] rajivshah3 commented on #1630
Ah wait, I think I might know what happened. If you’ve backed up your seeds/Ledger account indexes, could you try resetting the wallet to see if that helps?

[2019-05-28 03:00] rajivshah3 commented on #1630
The app is probably running into an error at launch, but it’s not related to libsecret. When we started showing errors on launch to the user so that they (and we) could see what was actually happening instead of a blank screen, we used a screen that is already used to show error messages to Linux users. This screen would show a specific message if a certain error happened, and the missing dependen

[2019-05-28 07:08] FatBirdie commented on #1596
Retry button for the "pending" transaction hsa been spinning non stop now for 10+ hours. This cant be normal?

[2019-05-28 07:11] FatBirdie commented on #1596
Yes, here is the bundle hash:
IYBGKYF9LKWWGFLVCRJRQADTNPXRCFYYSTDJWYXTZFVYTLFETDIPHCSXADJAVAGAXWCPLELTIKKNKIIJ9

[2019-05-28 07:21] FatBirdie commented on #1596
Regarding #1630 and resetting the wallet. I think this was wheat I did before.
I tried first downloading Trinity again, and it did not show the libsecret message the first time I started it, but the second time it did, where I then reset the wallet and were not prompted again about installing libsecret until I posted the screenshot here.

[2019-05-28 15:42] Noki opened #1636 "Fatal error: bad allocation"
### Bug description

The wallet crashed and now there is no way to start it again. There are no UI elements that allow any interaction.

### Environment Specs
What device are you running Trinity on?

- OS version: Windows 10

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: Trinity Desktop v0.5.1

### Expected

[2019-05-28 15:49] rajivshah3 commented on #1636
Can you try restarting your computer? It looks like it failed to allocate memory.

[2019-05-28 17:21] Noki commented on #1636
@rajivshah3 that was the first thing i tried. The error was still present after restarting. I than deleted the Trinity folder in %appdata% and setup the wallet from scratch.

[2019-05-28 18:11] rajivshah3 commented on #1636
So it worked after you deleted the `%appdata%` folder?

[2019-05-28 18:36] Noki commented on #1636
Yes. But that way I had to manually add all seeds again which is quite annoying and happend quite often over the last couple of weeks. The trinity wallet seems to have a lot of issues once you add multiple seeds with a couple of thousend active addresses... :-(

[2019-05-28 19:02] ratiodep opened #1639 "Message "New update available" doesn't close automatically after update process was started"
### Description
Close the red message "New update (...)" after the user started the update procedure

Trinity 0.71
Win 10 64 bit

[2019-05-28 19:16] rajivshah3 commented on #1636
Did you happen to see the size of the `AppData\Trinity` folder? We're investigating issues where the size of the database is unusually large. I wonder if this was related

[2019-05-28 19:31] rg80 commented on #1596
Hi, same problem here with latest trinity for OSX V10.14.5 and Nano X with latest firmware. I'm trying to transfer some IOTAs between accounts on the same wallet but It always fails with "Invalid Bundle".
Please tell me if I can help with some test. :)

![Schermata 2019-05-28 alle 21 30 12](https://user-images.githubusercontent.com/51135324/58506547-e68fc900-818f-11e9-98a4-6a5e6bacce8a.png)

[2019-05-28 19:51] rajivshah3 commented on #1596
@rg80 please see https://github.com/iotaledger/trinity-wallet/issues/1596#issuecomment-495419664

[2019-05-28 19:52] rajivshah3 commented on #1596
@FatBirdie can you please switch to remote PoW in settings and enable auto-promotion? Then click "retry" again

[2019-05-28 20:48] Nick2567 commented on #1625
No, unfortunately not. After restarting the wallet again I though it would either run without error or the same error message would appear.

Do you think I should download v0.4.6 again or download v0.5.1 and restore from seed vault?

[2019-05-28 21:17] FatBirdie commented on #1596
@rajivshah3 Yes, changed to a node which would accept remote PoW, and enabled auto-promotion. Saw a quick green upper right box  "auto-promotion ....."-something, as it was successful, followed by a red box with an error message. In the error log I now have:  Transaction is inconsistent. Reason: tails are not solid (missing a referenced tx):

Do you need the TX?

[2019-05-28 21:18] rajivshah3 commented on #1596
Is it the same as the bundle hash you gave before?

[2019-05-28 21:19] FatBirdie commented on #1596
Wait. I tried retrying it again, and it went successfully!

[2019-05-28 21:19] FatBirdie commented on #1596
No, not the same hash as before.

[2019-05-28 21:20] rajivshah3 commented on #1596
Ok, so that one is still pending?

[2019-05-28 21:21] FatBirdie commented on #1596
No, the second time now I pressed "Retry" after the first one produced the error, it went through almost immediately. The transaction has now been completed.

[2019-05-28 21:25] FatBirdie commented on #1596
Thanks for the help by the way.
Just let me know if there is anything I can check or do to help in regards to this particular issue.

[2019-05-28 21:27] rajivshah3 commented on #1596
Great!

I think this issue can be closed since the tx eventually confirmed (the errors it was giving aren't exactly related to Trinity--some are related to Ledger or IRI). The issue with missing security dependencies is being tracked in #1630

[2019-05-28 21:27] #1596 closed, assigned to nobody

[2019-05-28 21:31] FatBirdie commented on #1596
Okay, should whoever is handling the development of the Ledger software for IOTA be notified about it perhaps?

Thanks again!

[2019-05-28 22:45] laumair opened #1640 "Rebroadcast Error Loop"
### Bug description
Auto-retrying of failed transactions can get into an infinite loop if there is a problem with stored trytes.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model:
- OS version: 10.14.6 Beta

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: Develop `b

[2019-05-28 22:47] rajivshah3 commented on #1640
Is this related to #1538 and #1386?

[2019-05-28 22:50] laumair commented on #1640
I think those two issues are related to UI components not updating properly but thanks for mentioning them here. I will also check these two issues.

[2019-05-28 23:19] dannydazz opened #1641 "Incorrect Seed"
Error log keeps showing INCORRECT SEED NAME. Assuming it has to do with the LedgerNano? Ive tried everything on this. Ive researched EVERYTHING online such as forums, github, etc...and nothing. Hopefully I can find some help through here. TIA!

-Dan

The issue tracker is only for reporting bugs. If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](h

[2019-05-29 06:20] Noki commented on #1636
@rajivshah3 the size was indeed very large. The trinity.realm was 2.03 GB in size, which is about one of windows memory limits.

[2019-05-29 12:48] christopher-wilke commented on #1604
Same thing happened to me. Balance shows correct value.

[2019-05-29 15:22] #1630 closed, assigned to rihardsgravis

[2019-05-29 17:20] laumair opened #1645 "SSL error"
### Bug description
Trinity (sometimes) throws the following exception during login

[code]

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model:
- OS version: iOS simulator iPhone 7 Plus

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: Latest develop `2fd5d665eb1472bd

[2019-05-29 17:40] tolotos-rgu commented on #1594
I have the same behavior. My Win10 username is "first name""blank""last name" the first name conains a German Umlaut (ü)

[2019-05-29 17:53] #1645 closed, assigned to laumair

[2019-05-29 18:38] suefkem commented on #1594
Same issue here. Win10 Pro (1803), had the issue with trinity wallet after the last update. Username: Firstname(Whitespace)Lastname(with german Umlaut)

-  uninstalled it and deleted files located in appdata/roaming, downloaded and tried to install fresh -> same error.
app from testflight/ios does somehow always reset and forces me to completly set up everything from scratch after I colse the app.

[2019-05-29 18:40] rajivshah3 commented on #1594
That's odd 🤔 would you mind creating another issue for that?

[2019-05-29 18:41] suefkem commented on #1594
No problem. Gonna do that now. Feel free to delete this to keep it clean in here

[2019-05-29 18:54] suefkem opened #1647 "Testflight Trinity App (0.70) removes data after closing app"
### Bug description
A general description of the bug.

When using the app from testflight on iOS it did reset all my data after closing the app. happened 3 times. (Have to import seedvault again, enter all passwords and create account)
__
aswell does not show any currency information (just the graph without any digets to see how it stands)

### Environment Specs
What device are you running Trinity

[2019-05-29 21:04] rajivshah3 commented on #1647
Can you try setting up your accounts, then go to General > iPhone Storage > Trinity to see how much storage Trinity is using?

[2019-05-30 00:55] #1641 closed, assigned to nobody

[2019-05-30 08:13] suefkem commented on #1647
Hey,
did set it up again and it says 46MB.
Shall I go ahead and install the 12.3.1 iOS? I mean.. its a long time ago that an apple update actually helped fixing stuff but you will never know until you try :D
BR

[2019-05-30 09:11] Noki commented on #1636
![image](https://user-images.githubusercontent.com/198902/58622232-70907c80-82cb-11e9-8777-bc607f483fc5.png)

DB has grown back to almost 2 GB in less than one day. How do I optain the encryption key so I can have a look why it grows so fast?

[2019-05-30 09:43] #1542 closed, assigned to nobody

[2019-05-30 10:25] weidtn commented on #1501
I'm on 0.5.1 on Linux and still have "$ 0.00". Also the values under the chart are all zero.

EDIT: same on android

[2019-05-30 13:49] rajivshah3 commented on #1647
That might help, I'm not entirely sure. It definitely couldn't hurt to update though

[2019-05-30 13:53] rajivshah3 commented on #1636
On Windows I think you can get it from Credentials Manager. If it doesn't let you see the key for that, you can use something like https://www.nirsoft.net/utils/credentials_file_view.html (I've never used this though so I'm not sure if it's safe). Then you would convert the decryption key into a 128-character hex key which you can put into [Realm Studio](https://realm.io/products/realm-studio/) to

[2019-05-30 15:18] suefkem commented on #1647
upgrading to ios 12.3.1 alone did not help but upgrading to trinity 0.71 at least lets me sign in straight agin.
however the app just closes while signing in.

[2019-05-30 17:53] sloganking commented on #1386
Has this issue been fixed?

I see #1607 marked this issue as a duplicate and is now closed.
Also #1644 marked this issue as closed and has been merged.

I updated mobile trinity to v0.7.2(67) and after an initial "Address already spend from" error message, the problem seems to be fixed for me.

[2019-05-30 18:06] jurjendevries opened #1665 "Chrome OS Linux beta support"
### Description
Trinity support for Chrome OS Linux beta. See https://support.google.com/chromebook/answer/9145439 for more information about Chrome OS Linux Beta.
Currently it gives an error "Cannot connect to secret service api"

### Motivation
A lot of people have a Chromebook with Chrome OS. Chrome OS can run extensions such as Metamask. Since it haves linux support it can run a lot of other a

[2019-05-30 18:21] sloganking opened #1666 "Biometric auth fails upon sending transaction"
### Bug description
When attempting to send a transaction, Trinity's bio-metric field will not initialize properly and fail.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: Galaxy S8+
- OS version: 9.0.0

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.7.2 (6