[2018-07-31 09:46] cvarley100 opened #205 "Client-side tip reissuance during PoW"
### Problem

- Weaker devices can suffer from the length of time it takes them to complete Proof of Work.
- By the time a bundle is broadcast, its transactions may already be quite deep, and risk being considered as lazy tips by tipsel.

### Solution

- To avoid increasing alpha, we can issue a new tip at each point Proof of Work is completed for a transaction in the bundle.

### Considerations

-

[2018-07-31 12:10] cvarley100 opened #207 "Add local spend status"
### Problem

- Address spend status can be overwritten by `wereAddressesSpentFrom`
- Even with quorum, it does not make sense to overwrite a locally assigned spend

### Solution

- Add additional variable `local` to address object. If `local` is true, do not overwrite `spent` (even with manual sync)

[2018-08-07 13:18] laumair opened #221 "Signed trytes get stuck in case of multi device usage"
If transaction fails after the inputs are signed, Trinity stores the signed trytes and allows a manual [retry](https://github.com/iotaledger/trinitywallet/blob/develop/src/shared/actions/transfers.js#L733). These signed trytes can get stuck in the wallet if:
1) Inputs are spent from another device.
2) Receive address is spent from another device.
3) Remainder address is spent from another device (

[2018-08-16 19:53] #221 closed, assigned to nobody

[2018-08-17 02:33] rajivshah3 opened #233 "Selectively trigger builds for CI tests"
### Description
For PRs, there should be a pipeline that obtains the git diff between a branch and `develop`/`master`. If changes to the `desktop` folder, for example, are not detected, then pipelines for Trinity Desktop should not run unnecessarily.

### Motivation
We used to use Bitrise's [Selective Builds](https://devcenter.bitrise.io/builds/selective_builds/) feature to mitigate unnecessary bu

[2018-08-19 23:22] laumair opened #244 "Remove auto adjustment of max depth during promotion"
### Bug description
[Promotion](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/actions/transfers.js#L354) automatically adjusts depth. But since, this feature has been added to [iota.lib.js v0.5.0](https://github.com/iotaledger/iota.js/blob/develop/lib/api/api.js#L325), it should be removed from Trinity. Would also be good to automatically re-attach inconsistent transactions

[2018-08-24 10:50] l3wi opened #260 "[MacOS] App silently fails after denied keychain access"
### Bug description
After Denying access to the keychain the application wont accept passwords for unlocking or saving them. It doesn't throw an error, just fails silently and appears unresponsive.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: MacOS
- Model: SuperDooper
- OS version: High Sierra

What build of Trinity are you running? Please provide the full versi

[2018-08-24 12:41] #244 closed, assigned to laumair

[2018-08-25 17:24] yotardis opened #269 "generated seed & printed copy are different"
### Bug description
I installed/run trinity on my desktop, generated seed (typed 10 add. characters as advised), looked at created account settings, displayed seed, then used the print copy option on that same page ('imprimer une copie papier" in french) and ended up with a 81char string that has nothing to do with the generated/displayed seed.

### Environment Specs
Home computer

- Manufacturer:

[2018-08-25 19:02] wonkytonky opened #270 "Show time in system timezone"
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2018-08-25 19:08] rajivshah3 commented on #270
Hi @wonkytonky ,
This is intended. At this time (pun not intended), we show the transaction time in UTC. In a future update, we'll show the time in the same timezone as the system.

[2018-08-25 19:15] wonkytonky commented on #270
cool, keep up the good work

[2018-08-25 21:16] themarkschmidt opened #272 "Readability of the USD value"
### Description
Readability of the USD value should be enhanced (especially for bigger holdings).
Formatting 1500000 to 1'500'000 for example.

### Motivation
Minor UX enhancement.

### Am I planning to do it myself with a PR?
No.

[2018-08-25 21:22] rajivshah3 commented on #272
That's a good idea. We can probably use https://github.com/yahoo/react-intl/wiki/API#number-formatting-apis for this

[2018-08-25 22:28] Tsangares opened #273 "libsecret missing but it is installed on Arch linux"
### Bug description
I installed the app via the AppImage. Install went sucessfully. When running the app it says to `sudo pacman -S libsecret`. I did that but it turns out `libsecret` was already installed on my machiene. I reinstalled both libsecret and the Trinity, but the error is still there.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Macbook Pro 2015
- OS

[2018-08-25 22:33] Tsangares commented on #273
When running `./trinity-desktop-0.3.2.AppImage` I was met with `Error.ServiceUnknown: The name org.freedesktop.secrets was not provided by any .service files`.

Quick google search led me to the arch forum: https://bbs.archlinux.org/viewtopic.php?id=123644

They told me to install `gnome-keyring`

    sudo pacman -S gnome-keyring

Now everything works.

[2018-08-25 22:33] #273 closed, assigned to rihardsgravis

[2018-08-25 23:34] ouya99 opened #274 "Add ability to search transaction history by Tag"
### Bug description
Transactions window's search function should be able to do a TAG search

### Environment Specs
What device are you running Trinity on?
Linux

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 1.0 (desktop)

### Steps To Reproduce
1. Sent a transaction with trinity wallet (Desktop) (value 999

[2018-08-25 23:35] ouya99 commented on #274
Maybe this search does not work at all... typing "555" also lists my transaction with value 999

[2018-08-25 23:44] ouya99 opened #275 "Transactions window's refresh icon, does a refresh on the left sidebar only"
### Bug description
Transactions window's refresh icon, does a refresh on the left sidebar only

### Environment Specs
What device are you running Trinity on?
Linux

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 1.0 (desktop)

### Steps To Reproduce
1. Go to Main Screen / Transaction Panel
2. Click on its "

[2018-08-25 23:47] ouya99 commented on #275
same applies clicking on "new address" in "receive panel". Also it refreshes the left sidebar.. but in this case it also generates a new address to receive funds

[2018-08-26 00:06] ouya99 opened #276 "Message for receiving transaction with QR code scan is limited to 37 characters"
### Bug description
Message for receiving transaction with QR code scan is limited to 37 characters

### Environment Specs
What device are you running Trinity on?
Linux

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: v.1.0 (desktop)

### Steps To Reproduce
1. Go to "Receive Transaction"
2. Type "123456789012

[2018-08-26 00:07] ouya99 commented on #276
![message](https://user-images.githubusercontent.com/2676451/44623656-bea7c800-a8d4-11e8-8290-4e34618489d3.png)

[2018-08-26 02:20] rajivshah3 commented on #276
Thanks for the report @ouya99 . I can't reproduce this with iOS, maybe it's an issue with Trinity Mobile?

Could you elaborate on what happens when you scan the code? Does it fill in part of the address, none of it, cause a crash, etc?

[2018-08-26 07:49] rihardsgravis commented on #274
@ouya99 The search filters transfers with equal or more value (not just equal) than you type in.

[2018-08-26 08:23] rihardsgravis commented on #275
The sidebar is not refreshed - it's disabled while the current account is updated (updating transfers, balance and spend status information) to prevent account switching while this process is happening.

[2018-08-26 08:23] #275 closed, assigned to nobody

[2018-08-26 11:34] ouya99 commented on #276
@rajivshah3 when scanning a message with 37 chars, trinity mobile fills in the correct address and correct message. When scanning a message with 38 chars, it does not take the QR code at all.. nothing happens

Tested on Linux(Desktop) in combination with Nexus5 (Android) to scan the QR code from Desktop screen

[2018-08-26 11:36] ouya99 commented on #274
@rihardsgravis Thanks for the explanation. Then it's an enhancement. For a new user it's not easy to see what fields the search is applied on, but this is even another enhancement (maybe small help icon etc..)

[2018-08-26 20:30] Fransooijs opened #278 "Generated QR code for amount in Euro's is actually amount in iota"
### Bug description
When generating a QR code for Euro's in the receive tab, the QR code generated is in iotas, not €.

So a QR code to be generated for 5 euro's, actually generates a 5i QR code.

### Environment Specs
- Manufacturer:   Samsung
- Model:              Galaxy S8
- OS version:       8.0.0

- Trinity version: v 0.4.0 (16)

### Steps To Reproduce
1. Open Trinity and go to Receive --> QR

[2018-08-26 20:30] ivan93sd opened #279 "Add support for Serbian (Latin)"
### Description
Add support for Serbian (Latin) for the Trinity wallet.

[2018-08-26 20:41] rajivshah3 commented on #279
@ivan93sd thanks, I've added Serbian (Latin) to [Crowdin](https://crowdin.com/project/iota-trinity-wallet/sr-CS#). I'll also add it to #277

[2018-08-27 01:11] laumair opened #281 "Changing currency in settings does not update denominations in Receive/Send screens"
### Bug description
When currency is changed in settings, the updated currency does not show up in send/receive screens.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone 6
- OS version: 11.4

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.4.1 (17)

### S

[2018-08-27 09:21] yotardis commented on #269
did you get the pdf you asked for ? I Sent you the link via reddit yesterday morning…

[2018-08-27 09:26] rihardsgravis commented on #269
Yes, thank you - I've got the pdf. The error was that I suspected - the characters where misinterpreted while converting the raw print job to pdf (the QR code on the paper wallet contains the correct seed, but the characters are wrong). #284 fixes this issue as the seed in the paper wallet does not contains raw text (it's outlined) anymore.

[2018-08-27 10:20] yotardis commented on #269
cool, waiting patiently for next version :)

[2018-08-27 12:28] sdellava opened #286 "abnormal bundle with 0 iota tx"
### Bug description
generating a 0 iota tx with or without a message, the wallet generate a bundle with two tx.

One tx appear to be useless, especially in case of presence of a message.

### Environment Specs
- Trinity version: desktop

### Steps To Reproduce
1. send a 0 IOTA tx to a valid address and check the created bundle.

[2018-08-27 18:33] bronsin190 opened #287 "I have currently Trinity IOTA Light wallet 2.5.7, how do I use new version 0.3.2?"
I have currently Trinity IOTA Light wallet 2.5.7? Do I need to update the version to 0.3.2? if so how can update to the latest wallet?  or do I need to download 0.3.2 version and transfer my coins. Please advise. thanks

[2018-08-27 18:37] rajivshah3 commented on #287
Hi @bronsin190 , the wallet you have is https://github.com/iotaledger/wallet. This is different from Trinity. If you'd like to test Trinity, please do not use it with amounts that you cannot afford to lose. As it's currently in beta testing, bugs may occur. You can still use the wallet you currently have for the time being, but eventually that one will no longer be supported.

[2018-08-27 18:37] #287 closed, assigned to nobody

[2018-08-27 18:46] bronsin190 commented on #287
Thank you so much for your reply. I'll wait for the time being.

[2018-08-27 22:02] Dimfred opened #288 "Seed is unpasteable"
### Seed is unpasteable
STRG+V is also grey

### Environment Specs
- Win10
- Trinity version: v0.3.2

[2018-08-28 00:25] laumair commented on #286
@sdellava Zero value transactions don't have any inputs. If you manual sync or reset your wallet, the next time you sync you won't be able to find those transactions in your wallet.

The second transaction in the zero value bundle is sent to one of your own addresses so that these transactions show up if you manual sync or reset.

[2018-08-28 00:28] rajivshah3 commented on #288
Hi @Dimfred , this is an intended feature for your security. Malicious websites or apps could monitor the clipboard and steal your seed.

[2018-08-28 00:28] #288 closed, assigned to nobody

[2018-08-28 00:46] laumair commented on #286
We should add this information to [feature docs](https://github.com/iotaledger/trinity-wallet/blob/develop/docs/featureguide/featureguide.md#zero-value-transfers. ).

[2018-08-28 00:52] rajivshah3 commented on #286
It seems like it's already there

[2018-08-28 11:42] Dimfred commented on #288
Okay I see. Makes sense

[2018-08-28 14:00] JoinJoin opened #290 "installing libsecret-1-dev is not enough, needs gnome-keyring too"
In Kubuntu (18.04), when attempting to run trinity-desktop-0.3.2.AppImage, it asks you to install libsecret-1-dev but refuses to start after the installation.

It seems, you also need gnome-keyring and it's dependencies.

Is there a workaround for this?

[2018-08-28 15:01] sdellava commented on #286
ok. tnx. Clear.

[2018-08-28 15:01] #286 closed, assigned to nobody

[2018-08-28 16:37] jiangh77 opened #291 "Updating Trinity Wallet"
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2018-08-28 16:38] #291 closed, assigned to nobody

[2018-08-28 16:40] jiangh77 opened #292 "Re: Updating Trinity Wallet"
When a newer Trinity Desktop Wallet come out, do I need to un-install the older version first before installing newer version or can I install newer version on top of older version without un-installing older version

Thank you

[2018-08-28 16:43] jiangh77 opened #293 "Re: Using wallet without Changing Node"
When using Trinity Wallet to send a transaction, is the wallet automatically connected to node or do I need to connect to a node manually before sending

Thank you

[2018-08-28 17:20] rajivshah3 commented on #292
Hi @jiangh77 , when a new version comes out you should be able to download it and install it on top of the older version. Since the app data is not stored in the same location as the application itself, your information should be preserved in the update.

[2018-08-28 17:20] #292 closed, assigned to nobody

[2018-08-28 17:21] rajivshah3 commented on #293
Hi @jiangh77 , when you first set up the wallet it is automatically connected to a node which is selected from a list. If you would like to connect to another node, you can do so in the wallet settings.

[2018-08-28 17:21] #293 closed, assigned to nobody

[2018-08-28 18:08] jiangh77 commented on #292
Thank you

[2018-08-28 18:08] jiangh77 commented on #293
Thank you

[2018-08-28 18:11] jiangh77 opened #296 "Re: Changin to a new PC"
When I change to a new PC, would I be able to download Trinity Desktop Wallet and install again and have access to my account using the same seed I generated?  Then I can un-install Trinity Desktop Wallet on my old PC

Thank you

[2018-08-28 18:34] rihardsgravis commented on #290
Installing `gnome-ring` should be a required step (as it's needed to communicate to `libsecret` on some desktop environments) and it should be added to the missing linux dependencies Tutorial.

[2018-08-28 21:33] octocat-mona opened #297 "Error message when checking for updates manually"
### Bug description
Error window shown when checking for updates.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Windows
- Model: 10
- OS version: 1803

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:
`0.3.2`
### Steps To Reproduce
1. Create new wallet
2. Click the hamburger s

[2018-08-28 21:35] rihardsgravis commented on #297
Fixed with #282

[2018-08-28 21:35] #297 closed, assigned to nobody

[2018-08-28 21:39] rajivshah3 commented on #296
Yes, as long as you have your seed safely backed up you can log in and access your funds from any wallet. Your IOTA are always associated with your seed, not your device.

For future reference, you can ask these types of questions in the #help or #trinity-discussion on [Discord](https://discord.gg/fNGZXvh). Issues on GitHub are generally used for bugs only.

[2018-08-28 21:39] #296 closed, assigned to nobody

[2018-08-29 01:41] rajivshah3 commented on #278
Thanks for reporting this @Fransooijs , it should be fixed in the next release

[2018-08-29 01:49] Fransooijs commented on #278
Glad I could help. Thanks for fixing it so quickly. Amazing work y'all doing.

[2018-08-29 02:57] Drago99 commented on #269
Same issue as yotardis here.

[2018-08-29 04:08] #278 closed, assigned to rajivshah3

[2018-08-29 06:58] #269 closed, assigned to rihardsgravis

[2018-08-29 10:00] #290 closed, assigned to nobody

[2018-08-29 14:49] #281 closed, assigned to laumair

[2018-08-29 14:54] #279 closed, assigned to rajivshah3

[2018-08-29 15:41] gjeee opened #302 "Can not install Trinity on Xenialpup 7.5 CE"
### Bug description
I can not install Trinity on a Linux Puppy distro (more specific Xenialpup 7.5 CE). Trinity says I miss a specific libsecret package:

![ss2](https://user-images.githubusercontent.com/13155183/44798683-6c0b2c00-abb2-11e8-93f0-7fdcbf154b60.png)

However I double checked and I do seem to have this particular lib. Pls see screenshot below:

![ss4](https://user-images.githubusercon

[2018-08-29 16:33] rajivshah3 commented on #302
Hi @gjeee , have you tried installing `gnome-keyring`? According to #290 this might be necessary as well

[2018-08-29 16:43] gjeee commented on #302
am i missing something from this list?

![ss5](https://user-images.githubusercontent.com/13155183/44802220-aa045200-abaa-11e8-8a46-23debeaa10f5.png)

[2018-08-29 17:41] Brootux opened #303 "[Linux/AppImage] App silently fails when drag-and-drop a selected text"
### Bug description
If we drag any selected text in any textbox, and drop the text inside or outside of the app, it freezes and only is killable via ctrl-c in terminal. If killed via `kill -9 [pid]` there are still some mounts in /tmp left (seems like appimage magick) and the GUI is still open.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Lenovo
- Model: Thinkpad

[2018-08-29 17:47] Brootux commented on #303
Note: when the default ubuntu dialog "application does not respond" dialog appears on top of the app, ill cannot interact with any other running app (i.e. browser). This seems more like a ubuntu bug(?).

[2018-08-29 18:04] rajivshah3 commented on #303
Hi @Brootux , does running Trinity with `--disable-gpu` help? See https://github.com/electron/electron/issues/12820

You can build Trinity yourself by following these steps: https://github.com/iotaledger/trinity-wallet/tree/develop/src/desktop#building-the-application. In step 4, run `npm run compile:linux`

[2018-08-29 18:56] Brootux commented on #303
@rajivshah3 yes with `--disable-gpu` the problem disappears. So if its a known bug, we may can close this.

[2018-08-30 13:39] snckills opened #305 "trinity desktop wallet x window display only background image"
### Bug description
trinity desktop wallet x window display only plain dark blue background image

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Microsoft
- Model: Hyper V managed virtual computer
- OS version: CentOS Linux 7.5.1804 latest update

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

[2018-08-30 16:56] rajivshah3 commented on #303
@Brootux the `--disable-gpu` option is a workaround, but ideally there should be a solution to this. I'll keep looking into it

[2018-08-30 17:09] joanmarcriera opened #306 "Mac Trinity fails to check for update"
### Bug description
Open Trinity 0.3.2 in Mac and check for update, error appears.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: MacBook Air 13-inch Early 2015
- OS version: macOs High Sierra 10.13.6

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.3.2

### S

[2018-08-30 17:44] snckills commented on #305
This is a screenshot of the X Window

![trinity_bg_only](https://user-images.githubusercontent.com/36031919/44869133-1061a100-ac8d-11e8-8d63-62272c1a5edb.JPG)

[2018-08-30 18:10] yotardis commented on #306
same "yml" error on windows (v0.3.3). seems global

[2018-08-30 20:24] UmbahaSpodPaha opened #308 "Missing translations in Trinity desktop (crowdin translated to 100%)"
### Bug description
Missing translations (almost all of them are already translated on crowdin for PL lang but not added to Trinity)

### Environment Specs
What device are you running Trinity on?

- Manufacturer: PC
- OS version: Windows 7 x64

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.3.3

### Missin

[2018-08-30 20:33] UmbahaSpodPaha opened #309 "Missing colon in transaction details"
### Bug description
A general description of the bug.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Desktop
- OS version: Windows 7 x64

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.3.3

### Errors
Missing colon "**:**" after "**Message**" on transaction details.
Small t

[2018-08-30 20:37] UmbahaSpodPaha opened #310 "Translate paper wallet into other languages"
### Bug description
Translation request

### Environment Specs
What device are you running Trinity on?

- Manufacturer: PC
- OS version: Windows 7 x64

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.3.3

### Request
I would like to see paper wallet translated. I can fully translate it to PL language for ex

[2018-08-30 21:25] rajivshah3 commented on #306
@joanmarcriera I think this was fixed in v0.3.3

[2018-08-30 21:26] rajivshah3 commented on #306
@yotardis you're still seeing this bug?

[2018-08-30 21:28] rajivshah3 commented on #308
Making the list a checklist:

- [ ] "All" (on transaction type selector)
- [ ] "BETA version warning: Do not send large amounts with this wallet."
- [ ] "Close" (also on TRINITY INFO screen)
- [ ] "Drop SeedVault file here or click to browse"
- [ ] "Help" -> "Trinity Help" (on menu -> help)
- [ ] "Randomise x characters to continue" (BLUE BUTTON on seed generator screen)
- [ ] "THEME" and "LABEL"

[2018-08-30 21:33] rajivshah3 opened #311 "Implement Realm Database"
### Description
The existing database (AsyncStorage/electron-settings) should be replaced with Realm. This should make the app faster, as Realm has many advantages over the current database libraries.

### Motivation

- Performance improvements
- Easier database migration across versions
- Ability to encrypt the wallet state
- Standardize state format across desktop and mobile (allowing for state

[2018-08-31 07:58] laumair opened #312 "Incorrect transaction value"
### Bug description
Reversed bundle is stored if a transaction fails leading to an incorrect display of transfer value.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone 6
- OS version: 11.4

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:  v(0.4.1) 17

###

[2018-08-31 11:22] obany opened #314 "Rounding discrepancy between balance and list item"
### Bug description
The iota total shown in the balance is rounded using a different method than the items in the transactions list.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Microsoft
- Model: Surface Book
- OS version: Win10
- Trinity version: 0.3.3

### Steps To Reproduce
1. Viewing account that has single transaction of 26666666667
2.
3.

### Expected beha

[2018-08-31 11:30] yotardis commented on #306
ah sorry, I downloaded 0.3.3 and thought I had installed it already when I checked that update thing, but I must have done it a bit later, I don't see it right now indeed, sorry for false alarm

[2018-08-31 11:48] rihardsgravis commented on #306
Fixed in #282

[2018-08-31 11:48] #306 closed, assigned to rihardsgravis

[2018-08-31 16:12] DaveRL opened #315 "Check for Updates Dialog reports error"
### Bug description
When selecting Check for Updates from the menu before logging in Trinity checks for updates and reports that I have the latest release. The dialog has no buttons to dismiss and no title bar icons to close. Clicking back on the application causes the dialog to disappear but the menus on Trinity are blank and the application is non-functional. Also the console get's the following

[2018-08-31 16:31] DaveRL commented on #315
![screenshot from 2018-08-31 08-50-15](https://user-images.githubusercontent.com/108496/44924578-910db500-ad00-11e8-9f08-668dd945f1b5.png)

[2018-08-31 17:05] stricki commented on #315
On windows 10 I get the message that latest.yml cannot be found. I got version 0.3.2 and wanted to update to version 0.3.3
![trinity_update_error](https://user-images.githubusercontent.com/17906700/44926146-cc37d480-ad50-11e8-851d-cbbe1a563554.png)

[2018-09-01 07:18] #312 closed, assigned to laumair

[2018-09-01 20:49] PJanisio commented on #315
When trying to check update from 0.3.2, error message below (win7):

![err](https://user-images.githubusercontent.com/9625885/44949801-4cd20000-ae39-11e8-9126-5905c9328812.PNG)

[2018-09-01 22:35] Wingman2 opened #317 "QR Sent generator is not converting from currency to IOTA"
QR Sent generator is not converting from currency to IOTA

### Bug description
When asking to receive IOTA from the mobile wallet and imputing the value in a selected currency ie,(US$). The QR generated is asking for the value inputted in US$, not in the IOTA equivalent

### Environment Specs
Android 8, One Plus 5 for asking and sending from PC windows 10

- Manufacturer: Oneplus
- Model: 5
- OS v

[2018-09-02 00:35] rajivshah3 commented on #317
Hi @Wingman2 , this bug was fixed in https://github.com/iotaledger/trinity-wallet/pull/298. It should appear in the next release

[2018-09-02 00:35] #317 closed, assigned to nobody

[2018-09-02 00:38] rajivshah3 commented on #315
Hi @PJanisio , yours is a different issue which was fixed in version 0.3.3 (see #282). The issue here is that there doesn’t seem to be any “close” or “OK” buttons on the dialog that pops up when an update isn’t available

[2018-09-02 12:38] SvenHildebrandt opened #318 "2FA - automatic trigger of confirmation once necessary amount of numbers is typed in"
Description

When I enter the 2FA-Code, the wallet should note once I typed in the necessary amount of numbers and then trigger the confirmation automatically instead of having to hit "register" to confirm the code.

See 2FA at Binance or Bitfinex for example.

Motivation

Minor UX enhancement.

Am I planning to do it myself with a PR?

No.

[2018-09-02 12:40] SvenHildebrandt opened #319 "Order of confirmation / not confirmation (yes / no) buttons"
Description

Atm, the whole wallet has a no / yes order regarding confirmation buttons for example. I believe this is (or it just feels) uncommon for me, if I am used to a yes / no order.

Maybe this is just a personal feeling.

Motivation

Minor UX enhancement.

Am I planning to do it myself with a PR?

No.

[2018-09-02 12:42] SvenHildebrandt opened #320 "Manipulation of height of the wallet"
Description

Atm it seems one is just able to adapt the width of the wallet and not the height. Would be nice to be able that too.

Motivation

Minor UX enhancement.

Am I planning to do it myself with a PR?

No.

[2018-09-02 12:44] SvenHildebrandt opened #321 "Automatic setting of currency"
Description

Maybe the trinity wallet could link the selected currency to the country chosen? At the moment most of us would probably use USD as in default, but maybe this will change at a later time.

Motivation

Minor UX enhancement.

Am I planning to do it myself with a PR?

No.

[2018-09-02 16:21] rajivshah3 commented on #319
I haven't used Windows in a few years so I don't really remember, but for me it's generally no/yes (I use a Mac)
![image](https://user-images.githubusercontent.com/19519564/44958200-b2aaa000-aeaa-11e8-86e3-5bc10322535f.png)

[2018-09-02 16:23] rajivshah3 commented on #318
Hi @SvenHildebrandt , I think this is the expected behavior on Trinity Mobile. Are you referring to Trinity Desktop? If so, then I agree, as the goal is to have the same UI flow/behavior on both Mobile and Desktop

[2018-09-02 16:24] SvenHildebrandt commented on #319
You are correct - I obviously had the wrong "feeling" about it.

Please nevermind and see this comment as "done".

[2018-09-02 16:25] rajivshah3 commented on #319
👍

[2018-09-02 16:25] #319 closed, assigned to nobody

[2018-09-02 16:25] SvenHildebrandt commented on #318
Yup - referring to desktop mac.

[2018-09-02 20:44] mbeliv opened #322 "Biometric failed"
Hi can’t use biometric finger print anymore, also the fingerprint doesn’t show anymore beside the password
![d4e372b9-0021-4e3f-b1d7-405524e730f7](https://user-images.githubusercontent.com/379873/44960527-4f7f3480-aecf-11e8-8dc8-55b164f6a1ad.png)

The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult t

[2018-09-02 20:47] mbeliv opened #323 "Biometric Auth failed"
Hi can’t use biometric finger print anymore, also the fingerprint doesn’t show anymore beside the password
![d4e372b9-0021-4e3f-b1d7-405524e730f7](https://user-images.githubusercontent.com/379873/44960527-4f7f3480-aecf-11e8-8dc8-55b164f6a1ad.png)

By resetting my wallet, they asked me for my old seed and also they permit me to create a new password.  So it means that anybody reinstalling a wallet

[2018-09-03 03:43] ratman-codes opened #324 "Trinity Window doesn't allow resize from top left and right corners"
### Bug description
I have two monitors, one 1080p and one 4K. Sometimes, when I open Trinity, it will take up the entire screen (or more of the entire screen) even though it's not in maximized mode (and clicking maximized still makes it take up the whole screen, obviously). In this case, it becomes incredibly difficult to grab the bottom left or bottom right corner of the window to resize because

[2018-09-04 10:28] #322 closed, assigned to nobody

[2018-09-04 10:30] cvarley100 commented on #323
Hi @mbeliv.

Please provide more details regarding your Biometric Authentication issue.

Regarding your concerns about managing to enter someone else's seed, this video may be informative: https://www.youtube.com/watch?v=p8YIdmwcubc&feature=youtu.be

[2018-09-04 16:40] #207 closed

[2018-09-05 19:18] f-ben opened #336 "Make trinity desktop more userfriendly"
### Description
The exported seedvault file should by default be named like the account it was exported from. For example: mainaccount20180905.kdbx
### Motivation
its more userfriendly

### Description
The user should be able to order the accounts in the sidebar. Right now it´s not possible to order at all. If I have three accounts and want my third account to be on the top I have to delete and re

[2018-09-05 20:22] f-ben commented on #336
![address](https://user-images.githubusercontent.com/2088471/45118926-30480780-b15a-11e8-9ada-d655e6db0920.jpg)
As you may have noticed I actually copy/pasted the wrong address into paint but you get the idea ;)

[2018-09-06 02:41] rajivshah3 opened #338 "Use system timezone for timestamps"
### Description
Timestamps currently use UTC instead of the local timezone for the system. `moment-timezone` should be implemented in order to show the timestamps in the local timezone.

### Motivation
- It's not apparent to users that the timestamp is in UTC
- It's easier for users to understand timestamps in their own timezone rather than UTC

### Requirements

- [x] Detect system timezone
- [x]

[2018-09-06 03:30] rajivshah3 opened #339 "Document picker does not allow SeedVault import on iOS"
### Bug description
SeedVault files sometimes cannot be imported on iOS

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone 6S
- OS version: iOS 12 Developer Beta 12 (16A5366a)

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: v0.5.0 (20)

### Steps To Reproduc

[2018-09-07 06:48] laumair opened #340 "Incorrect transaction value for bundles created by exchanges"
### Bug description
Bundles with multiple outputs leads to an incorrect calculation of transaction value.

Related issue: https://github.com/iotaledger/trinity-wallet/issues/312 (This issue was related to only failed transactions)

### Environment Specs

- Manufacturer: Apple
- Model: 6
- OS version: 11.4
- Trinity version:  v(0.4.1) 17

### Steps To Reproduce

Pull in transactions for bundle `9RI

[2018-09-07 13:54] b-f- opened #341 "Trinity desktop beta: allow pasting seed from KeePass during initial wallet setup"
### Description
Functionality proposal 1: Allow pasting seed from tools like KeePass or remove copy/paste context menu option from "SEED" input.
Functionality proposal 2: Add explanatory tooltips to "camera" icon, "eye" icon, "drop seed" placeholder and warn user about potential security risks.

Safety improvement proposal 1: allow seed paste operation from a tool should be allowed and clipboard c

[2018-09-07 21:44] #340 closed, assigned to laumair

[2018-09-08 04:47] ghost opened #345 "Following the documented instructions in the repository does not produce a working build on windows."
Following the documented instructions in the repository does not produce a working build on windows.

If you follow the below on windows:
git clone https://github.com/iotaledger/trinity-wallet.git
Go to the trinity-wallet directory
cd trinity-wallet
Run the setup to install dependencies
yarn full-setup

You do not get a working build.

Suggested remedy:

Specify the environment that is assumed wit

[2018-09-08 17:12] rajivshah3 commented on #345
Hi @ChocoMachine , can you elaborate on what happens when you try to run these steps? This should work, assuming you have the [prerequisites](https://github.com/iotaledger/trinity-wallet#prerequisites)

[2018-09-08 17:18] rihardsgravis commented on #345
To produce a working build on Windows, you should additionally follow the instructions on the [Trinity desktop readme](https://github.com/iotaledger/trinity-wallet/blob/develop/src/desktop/README.md) or [Trinity mobile readme](https://github.com/iotaledger/trinity-wallet/tree/develop/src/mobile). This should be clarified in the main repo Readme.

[2018-09-08 22:48] leucinedreams opened #347 "Desktop wallet locks and refuses to unlock. No clear way to reset the wallet."
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2018-09-09 03:00] ghost commented on #345
This is what I have done so far:
I had to run the following to get the initial install npm scripts to work:
**npm install -g concurrently**
**npm i -g cross-env**
I started to use Bash to run the scripts.
.
I has some issues with Aragon so ended running the below:
**npm install -g node-gyp**
**CXX=g++-6 npm install argon2**
I didn't understand the last command, but the issue with Aragon went away!

[2018-09-09 08:49] laumair commented on #345
@ChocoMachine Have you tried installing `electron` globally?

[code]

[2018-09-09 14:52] rajivshah3 commented on #347
@leucinedreams you can reset the wallet by deleting the folder for your OS:
- Windows : `%APPDATA%/Trinity`
 - Linux: `~/.config/Trinity`
 - macOS: `~/Library/Application Support/Trinity`

You're right, though, this should be documented somewhere

[2018-09-09 14:57] rajivshah3 commented on #345
npm install -g concurrently
npm i -g cross-env

🤔 that's really weird, these should be getting installed by `npm`. What version of `npm` and `node` do you have?

I didn't understand the last command, but the issue with Aragon went away!

If you specify `CXX=` before a command that compiles something (we're compiling `argon2` in this case) then you're basically telling it what C++ compiler to use.

[2018-09-10 06:20] #308 closed, assigned to rajivshah3

[2018-09-10 06:20] #309 closed, assigned to rihardsgravis

[2018-09-10 07:16] ghost commented on #345
I had another go at work today and seem to have got it working.
I still had to add:
**npm install -g concurrently**
**npm i -g cross-env**
But then ignored the root commands in particular  **full-setup** I think that command returns too quickly, indicating the install has been completed, when probably in the background somewhere it hasn't and packages are still being downloaded.
Then following the

[2018-09-10 07:16] #345 closed, assigned to nobody

[2018-09-12 06:13] #324 closed, assigned to rihardsgravis

[2018-09-12 10:18] cvarley100 commented on #270
Duplicate of https://github.com/iotaledger/trinity-wallet/issues/338

[2018-09-12 10:18] #270 closed

[2018-09-12 10:36] #318 closed, assigned to rihardsgravis

[2018-09-12 10:37] cvarley100 commented on #318
Fixed in https://github.com/iotaledger/trinity-wallet/pull/353

[2018-09-12 18:18] rihardsgravis commented on #320
Fixed in #352

[2018-09-12 18:18] #320 closed, assigned to rihardsgravis

[2018-09-13 12:09] v2future opened #365 "how to build in dev env, is there a doc?"
I have downloaded the source code, is there a guide how to build?

[2018-09-13 12:10] rihardsgravis commented on #365
For Trinity desktop follow [Trinity desktop Readme](https://github.com/iotaledger/trinity-wallet/tree/develop/src/desktop), for Trinity Mobile follow [Trinity mobile Readme](https://github.com/iotaledger/trinity-wallet/tree/develop/src/mobile).

[2018-09-13 12:11] #365 closed, assigned to nobody

[2018-09-15 00:18] delki8 commented on #347
@leucinedreams I was unable to reproduce the problem following the given steps. In my Ubuntu 16.04 the password was accepted correctly after the client is idle for a few minutes and start asking for the password.

[2018-09-15 00:41] rajivshah3 commented on #347
@leucinedreams I'm also unable to reproduce the issue on macOS 10.14

[2018-09-16 13:18] ghost opened #376 "Trinity Android crashes during import of seedvault"
## Bug description
Trinity Android crashes during import of seedvault

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: Galaxy S8+
- OS version: Android 8.0.0

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: v0.5.0 (22)

### Steps To Reproduce
I've created a IOTA

[2018-09-16 15:38] rajivshah3 commented on #376
Hi @BurningPixels , thanks for the report! If it's ok with you I just updated your comment with the latest version of Trinity Mobile. Are you able to obtain the logs during the crash with Logcat (https://developer.android.com/studio/command-line/logcat)? If not I can use the Android simulator but it's best if we can get the logs from a real device.

[2018-09-16 17:39] rajivshah3 opened #377 "Add support for Hungarian"
**Note**
The feature request will probably be integrated faster if you do a pull request for it.
If you want to discuss the feature before you actually write the code you are welcome to do it by first submitting an issue.

### Description
Add support for Hungarian (`hu`)

### Requirements

- [x] Desktop integration
- [x] Mobile integration
- [x] Shared integration

### Am I planning to do it mysel

[2018-09-17 13:03] theshock9 opened #381 "Trinity Desktop Wallet - Password with special character Issue"
### Bug description
If you install the Trinity-Desktop-Wallet and start it up you have to type in your Password (Here everything went fine)

Then i Start the Wallet and type in the PWD I got an error for "Bad Password"
I got a PWD that starts with this special Character (circumflex)

`^`

So i type ^1XXXXXXXXXXX but it only gives me 1XXXXXXXXXXX
This special character (circumflex) is not accepted

[2018-09-17 13:49] laumair opened #382 "Snapshot transition adds an extra transaction to an address with all nines"
### Bug description
Snapshot transition adds an unnecessary extra transfer object

### Environment Specs

- Manufacturer: Apple
- Model: iPhone 6
- OS version: 11.4

- Trinity version:  v(0.5.0) 20

### Steps To Reproduce
1. Perform snapshot transition
3. Go to history and see attached address details

### Expected behaviour
During snapshot transition, there should not be any extra transfer object

[2018-09-17 14:02] cvarley100 opened #383 "Update React Native Navigation to V2"
### Description

Update RNN to v2: https://wix.github.io/react-native-navigation/v2.

### Motivation

Should fix Android splash screen hang issue, and allow global modal system.

### Am I planning to do it myself with a PR?
Yes

[2018-09-18 02:54] rajivshah3 opened #384 "Mobile v0.5.0 release broke Desktop auto-updates"
### Bug description
Reported by alexsporn#6593 on Discord:

Error: Cannot find latest-mac.yml in the latest release artifacts (https://github.com/iotaledger/trinity-wallet/releases/download/mobile-v0.5.0/latest-mac.yml): HttpError: 404 Not Found
"method: undefined url: https://github.com/iotaledger/trinity-wallet/releases/download/mobile-v0.5.0/latest-mac.yml\n\nPlease double check that your authe

[2018-09-18 06:15] rajivshah3 opened #386 "Buildkite pipelines do not fail if a command fails"
### Description
If a command in the Buildkite pipeline fails, the entire build should fail and abort.

### Motivation
Currently, some commands are allowed to fail and the build will report as passed ([example](https://buildkite.com/iota-foundation/trinity-mobile-prs/builds/513#fef05025-0e5d-45ac-a9df-a78c1e08ec5f)). The pipeline needs to be refactored so that a failing command will fail the whole

[2018-09-18 07:55] laumair commented on #376
@BurningPixels Thanks for reporting. This is indeed a bug on Android >= 6.0. The read permissions need to be granted during runtime. https://github.com/joltup/rn-fetch-blob/blob/master/README.md

[2018-09-18 21:13] rihardsgravis commented on #381
Cannot reproduce on macOS or on Ubuntu.
@theshock9 can you reproduce this once more? When you type the first character `^`. Is it not showing up in the password field at all (masked or unmasked) or is it disappearing at some time entering other characters?

[2018-09-18 21:15] rihardsgravis commented on #347
Cannot reproduce on macOS or on Ubuntu. Will close this until no new occurrences.

[2018-09-18 21:17] rihardsgravis commented on #302
Fixed in #300

[2018-09-18 21:17] #302 closed, assigned to nobody

[2018-09-18 21:50] rihardsgravis commented on #336
This Issue should be split intro several issues each addressing one topic.

[2018-09-18 21:50] #336 closed, assigned to nobody

[2018-09-19 01:54] delki8 commented on #303
@Brootux can you please check if I did the right steps to reproduce the bug? I recorded this video https://vimeo.com/290608713 trying to reproduce it.

[2018-09-19 12:46] #260 closed

[2018-09-19 13:49] theshock9 commented on #381
I can.
If i close the Wallet and reopen it i got the same result!

If I type "^1" it only shows "1" (unmasked)
Normally you have to type two letters to see the input by this special character!
I got Ubuntu too. If i type "^" in the console it shows nothing until i type the second letter "1" = "^1"

[2018-09-19 13:52] rihardsgravis commented on #381
@theshock9 Do you have a English or a different keyboard layout? And what key combination do you use to write that character?

[2018-09-19 13:57] theshock9 commented on #381
I got the German keyboard layout!

There is no Key combo. I just have to press this buttuns
^ is on the left side of the number 1

https://en.wikipedia.org/wiki/German_keyboard_layout#/media/File:KB_Germany.svg

[2018-09-19 14:04] curVV commented on #305
I get the same when building from source on linux.

Output of `yarn start`:
[code]

[2018-09-19 16:23] thieuanh1995hn opened #401 "Can not copy paste the seed when login !"
I try but still can not copy paste the seed when login !
Please check !

[2018-09-19 18:40] rajivshah3 commented on #401
Hi, on Trinity Desktop and Trinity Mobile (Android) this is an intended feature. The clipboard is not secure and your seed could be stolen.

[2018-09-19 18:40] #401 closed, assigned to nobody

[2018-09-20 04:43] rajivshah3 commented on #303
@delki8 @Brootux this is likely a bug upstream. If you guys are willing to help `electron` solve the issue, it might help if you posted your repro steps and environment details (especially GPU - this sounds like it might be GPU-specific issue) on https://github.com/electron/electron/issues/12820. Unfortunately I don't have a Linux VM so I can't be of much help. I'll also ask around on Discord to s

[2018-09-20 07:02] Brootux commented on #303
@delki8 i think the steps are correct, ill did not drop it into a editor or something. I can make a video later this day (after work).

@rajivshah3 my T420 only has some intel graphics inside, will check exact model and post it here and in the electron issue. Also will check on another linux box.

[2018-09-20 07:07] Brootux commented on #303
Tested on another linux box with nvidia graphics -> no problem.

[2018-09-20 09:03] rajivshah3 commented on #303
@Brootux aha - must be the Intel. In the thread I linked to above, there are two others with Intel HD Graphics who are having issues. Unfortunately I don’t think there’s much that can be done on the Trinity side to fix this, but I’ll leabe this issue open until we upgrade to a version of Electron that fixes this

[2018-09-20 12:22] wonkytonky opened #404 "blank screen after typing bunch of random chars in new seed"
### Bug description
creating new account
fill in my own new seed
i keep typing chars until >81  turns into blank screen

![image](https://user-images.githubusercontent.com/19390834/45817814-2dafeb00-bce0-11e8-8c4b-d15de250f36e.png)

### Environment Specs
What device are you running Trinity on?

- Manufacturer:
- Model:
- OS version: win 10

What build of Trinity are you running? Please provide the

[2018-09-20 14:17] rihardsgravis commented on #404
Fixed in #405

[2018-09-20 14:17] #404 closed

[2018-09-20 14:56] HBMY289 opened #406 "Cannot enter character "9" when manually entering a new seed"
### Bug description
When adding a new account and entering an existing seed manually, the character "9" cannot be entered / is not accepted. Nothing appears or happens if you hit the "9" key either on normal keyboard or number pad.

### Environment Specs
Desktop version (0.3.4) on Win 7 (but issue was also reported on Mac)

### Steps To Reproduce
1. Add new Account
2. Choose "No, I have one" optio

[2018-09-20 15:01] rajivshah3 commented on #406
Fixed in #405

[2018-09-20 15:01] #406 closed, assigned to nobody

[2018-09-20 16:04] thieuanh1995hn commented on #401
It’s will be dificult when identify a iot device by their address.
Vào Th 5, 20 thg 9, 2018 lúc 01:40 Rajiv Shah <notifications@github.com> đã
viết:

[2018-09-20 19:42] antalm commented on #384
I can confirm it is also broken on Linux. Also, my screen resolution is 1920x1080, however the error screen appears to be at least twice the size of my screen. I cannot scroll to see the missing parts of the error text, nor can I copy its text, so it is basically useless.
![trinity_update_error](https://user-images.githubusercontent.com/29548853/45842789-011ac400-bd1e-11e8-9e60-d0e9489a39f5.png)

[2018-09-21 00:20] delki8 commented on #303
@Brootux and @rajivshah3, I don't think that the problem is with the Intel graphics, I forgot to tell you that my video was recorded on an Ubuntu running Intel graphics. Maybe the issue with electron is already fixed?
![screenshot from 2018-09-20 20-17-41](https://user-images.githubusercontent.com/2289068/45853296-6d8fc600-bd12-11e8-8dcf-c418505c387c.png)

[2018-09-21 03:26] rajivshah3 commented on #303
@delki8 could you post the output of `sudo lspci -v | sed -n '/VGA/,/^$/p'`?

[2018-09-21 03:28] rajivshah3 commented on #303
Also @Brootux is this still reproducible in the latest version (v0.3.5)?

[2018-09-21 12:24] #339 closed, assigned to rajivshah3

[2018-09-21 12:24] rajivshah3 commented on #347
@rihardsgravis I left this open because of this part: `No clear way to reset the wallet`

[2018-09-21 12:44] #376 closed, assigned to laumair

[2018-09-21 12:50] rajivshah3 commented on #381
Hi @theshock9 , are you still able to reproduce this issue? I asked someone else with the German keyboard layout on Windows and they said that it worked fine for them. Keep in mind that in order to type the `ˆ` character you may need to type `circumflex`+`space` as `circumflex`is a dead key

[2018-09-21 13:20] theshock9 commented on #381
I still can reproduce this issue.

I ask also some guys in the Forum but they say it works for them.
I try it on my Desktop-PC and my LapTop (Bouth on Windwos 10 Pro). Same Problem!

If I type circumflex+space it only shows me the Whitespace. Strange

[2018-09-21 13:29] theshock9 commented on #381
I can type it everywhere. I got 4 Linuxserver. It works everywhere. But not in the Trinity Wallet

And now the other guys tell me it dont work also. He just log out and try it. But if you restart the wallet (Close the Programm and Open it again) it dont work. 4 guys testing. It just shows the 1 and not the ^1

[2018-09-21 13:36] rajivshah3 commented on #381
Then i Start the Wallet and type in the PWD I got an error for "Bad Password"

Is this part (it works in one text field but not in the other) still reproducible? If it doesn't work in all fields, I wonder if it might be an electron bug (possibly https://github.com/electron/electron/issues/12128)

[2018-09-21 13:52] theshock9 commented on #381
If I first Type some letter then it works
Let’s say I type 1^1 then it shows 1^1

We test some thigs. If you Install the wallet and fire it up. It first ask you for the Seed. You type it in and the next step is the PWD thing. There I can type ^1 with no Problem because in trinity I type before something for the Seed. First PWD and Seccond PWD Field without Problems.
Close the Wallet and start it a

[2018-09-21 14:30] Brootux commented on #303
@rajivshah3

Yes, tested with v0.3.5 right now, the problem is still there.

Output of your command is:
[code]
`Lenovo 2nd Generation Core Processor` wtf?

[2018-09-21 14:39] Brootux commented on #303
![sysinfo](https://user-images.githubusercontent.com/7403220/45887795-d895d700-bdbc-11e8-9115-f12b85518eb4.png)

[2018-09-21 15:10] rajivshah3 commented on #381
Thanks for that information, I think I understand it a bit better now. That's really weird, I'll look into it

[2018-09-21 19:55] Tsangares opened #410 "New addresses are not generated when pressing "new address""
### Bug description
I see that this is not exactly a bug, but it seems like a problem to me.
In the main screen, I hit receive, there is a QR code and an address.
I am planning on giving someone one address so I copy it and hit "New Address".
I would EXPECT to see a new address and the previous one should never be shown to me again as to not get mixed up.
But INSTEAD, I see the animation of letter

[2018-09-22 18:09] rajivshah3 opened #411 "ExampleException in home#example"
## Test error in Example.com

**ExampleException** in **home#example**
Something really bad happened

[View on Bugsnag](http://app.bugsnag.com/errors/example/events/example?i=gh&m=te)

## Stacktrace

    app/controllers/home_controller.rb:123 - example
    app/controllers/other_controller.rb:12 - broken
    lib/important/magic.rb:4 - load_something

[View full stacktrace](http://app.bugsnag.com/er

[2018-09-22 18:09] #411 closed, assigned to nobody

[2018-09-22 18:11] rajivshah3 opened #412 "TypeError in src/libs/keychain.js:69"
## Error in Trinity Mobile

**TypeError** in **src/libs/keychain.js:69**
null is not an object (evaluating 'e.item')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba36c3fffe75a00193f3071?event_id=5ba658ea002f780017690003&i=gh&m=ci)

## Stacktrace

    src/libs/keychain.js:69 -

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/

[2018-09-23 11:40] rkuo2000 opened #414 "Trinity Mobile Wallet - yarn android:dev Error"
Windows 7, git-for-windows v2.19.0, node v9.8.0, npm v4.3.0,
$ cd src/mobile && yarn android:dev
yarn android:dev v0.22.0
$ cross-env NODE_ENV=development ./node_modules/.bin/react-native run-android
The system cannot find the path specified.
events.js:165
      throw er; // Unhandled 'error' event

[2018-09-23 15:36] rajivshah3 commented on #414
@rkuo2000 did you run `yarn` to install mobile dependencies?

[2018-09-23 15:40] rkuo2000 commented on #414
Yes, I follow the README.md under trinity-wallet & src/mobile
$cd ~/trinity-wallet
$yarn full-setup
$cd src/mobile
$yarn android:dev

[2018-09-23 15:44] rajivshah3 commented on #414
Please also double check that you have the following: https://facebook.github.io/react-native/docs/getting-started.html#installing-dependencies-3 (make sure to choose your development OS and target OS accordingly)

[2018-09-23 15:46] rkuo2000 commented on #414
Yes, react-native is installed, and Android SDK paths are added into ~/.bash_profile
$npm install -g react-native-cli
I did not do
$react-native init AwesomeProject
Maybe this is root-cause, let me check again.

[2018-09-23 15:49] rajivshah3 commented on #414
Ok, to isolate the issue can you go to an empty directory and do the following?

`react-native init TestApp`
`yarn`
`cross-env NODE_ENV=development ./node_modules/.bin/react-native run-android`

This will create a new app so we can see if it's an issue with the way React Native is installed or if it's just a Trinity issue

[2018-09-23 16:00] rkuo2000 commented on #414
Yes,  `react-native init TestApp`, under TestApp, `react-native run-android` works fine without Error message.

[2018-09-23 16:02] rajivshah3 commented on #414
If the command `cross-env NODE_ENV=development ./node_modules/.bin/react-native run-android` works with the TestApp then something seems to be wrong on the Trinity side of things. Can you try going to `src/mobile` and running `rm -rf node_modules && yarn`? It may take a while but you'll have to wait for all dependencies to install. I think I've heard that sometimes Yarn can install dependencies in

[2018-09-23 17:47] rajivshah3 opened #416 "Crash on EnterSeed screen on iPhone XS/XR"
## Error in Trinity Mobile

**N2Js19JavascriptExceptionE** in **unknown method**

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba4c32ee1ce1200194f94f1?event_id=5ba7c06d002f5cd96bab0000&i=gh&m=ci)

## Stacktrace

    unknown file:0 - unknown method

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba4c32ee1ce1200194f94f1?event

[2018-09-23 20:23] rkuo2000 commented on #414
It is yarn version issue, after I remove & reinstall yarn to v1.9.4.
 `yarn android:dev` still failed (in Win7), but `cross-env NODE_ENV=development react-native run-android` works, and I found src/mobile does not support to build in windows, it needs iOS or Linux to build the Android App.

[2018-09-24 00:59] delki8 commented on #303
@rajivshah3 sure,
[code]

[2018-09-25 11:22] HBMY289 opened #419 "Desktop: History entries not completely shown, flickers when mouse over"
### Bug description
The list of history transactions is not shown correctly. For some transactions most of the line is empty, some residual letters are visible. When moving the mouse over the items they sometimes appear and disappear again.

### Environment Specs
Trinity desktop 0.3.5 on Win 7 64 bit

### Steps To Reproduce
1. Open Trinity
2. View history
3. Move mouse over

Restart of Trinity doe

[2018-09-25 11:46] #416 closed, assigned to rajivshah3

[2018-09-25 16:22] rajivshah3 commented on #419
Is it solved if you run Trinity with the `--disable-gpu` flag?

[2018-09-25 16:24] rajivshah3 commented on #323
@mbeliv are you still experiencing this issue?

[2018-09-26 07:55] HBMY289 commented on #419
Yes, with that flag the issue is gone.
CPU is Intel Xeon E5-1620 v3 and the PC is equipped with an NVIDIA Quadro K2200 graphics card if that is of any interest.

[2018-09-27 01:51] rajivshah3 commented on #416
An error linked to this issue has been marked as fixed in Bugsnag
[**N2Js19JavascriptExceptionE** in **unknown method**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba4c32ee1ce1200194f94f1?event_id=5bac322e002f9c20b0570000&i=gh&m=fx)

[2018-09-28 01:25] Tsangares commented on #410
I did find as a solution: to send an empty transaction to one of my receiving addresses.

Then trininty does not use the empty transaction and it finds generates a new address on the front screen.

[2018-09-29 06:10] nicoschtein opened #431 "IOS 12 | iPhone X | Password autofill on | keyboard covers fields"
### Bug description
When password auto fill enabled, the bar covers the last password field on the update password screen (when updating to 0.5+).

### Environment Specs

- Manufacturer: Apple
- Model: iPhone X
- OS version: iOS 12

What build of Trinity are you running?

- Trinity version: 0.5 (22)

### Steps To Reproduce
1. Have version < 0.5
2. Enable Password Autofill in iOS 12
3. Update to 0.

[2018-09-29 12:27] gjeee opened #432 "Desktop: Progress bar when downloading/updating version"
title says it all. after clicking trinity--> check for updates it would be nice to get some visual clue how the download progresses (now you are left a bit in the dark)

[2018-09-29 16:04] SvenHildebrandt opened #433 "Crash while installing the new desktop wallet version - MAC"
### Bug description
André van Zegveld (Runs the IOTA Facebook side) is having issues installing the new trinity version.

### Environment Specs
What device are you running Trinity on?

See screenshot

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

Was updating to latest version

### Steps To Reproduce
Could not reproduce

###

[2018-09-29 18:44] rajivshah3 commented on #347
@leucinedreams I wonder if #435 will fix your issue

[2018-09-30 10:47] SvenHildebrandt opened #437 "UI - Display Adress Receive Adress in a line instead of a box-pattern"
### Description
Due to the fact some / most exchanges send you an e-Mail confirmation with the address to be confirmed in one line, it would enhance user experience if this would displayed in the wallet the same way. With the current style comparing the two adresses manually is a bit tricky. One step further would be a integrated "compare" field, where you could just copy and paste the address you

[2018-09-30 19:39] rajivshah3 opened #440 "NSInvalidArgumentException in RNCamera"
## Error in Trinity Mobile

**NSInvalidArgumentException** in **RNCamera**
*** -[AVCaptureSession addOutput:] Cannot add output <AVCaptureMetadataOutput: 0x2815cf5a0> to capture session <AVCaptureSession: 0x281775a50 [AVCaptureSessionPresetHigh]> because more than one output of the same type is unsupported

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bab2ce8b9b

[2018-09-30 19:42] rajivshah3 commented on #440
Related to https://github.com/react-native-community/react-native-camera/issues/1616

[2018-10-01 12:18] #377 closed, assigned to rajivshah3

[2018-10-01 12:19] #338 closed, assigned to rajivshah3

[2018-10-01 13:21] rajivshah3 commented on #270
Resolved in #434

[2018-10-01 17:13] #382 closed, assigned to laumair

[2018-10-03 12:05] ghost commented on #305
Same issue here on fully updated LMDE2 (Debian 8)

[2018-10-03 12:49] cvarley100 opened #445 "Tangle Explorer Integration"
### Description
Add option for users to navigate to external (or internal) Tangle Explorer from the transaction history.

### Motivation
User convenience.

### Requirements
- If linking to an external explorer (preferably TheTangle.org), add button to navigate to a particular bundle from its transaction history modal.

### Am I planning to do it myself with a PR?
Not right now. Open for someone to

[2018-10-03 13:20] cvarley100 opened #446 "Add Deep Linking recognisable image feature"
### Description
Deep linking enables users to open Trinity and pre-fill transaction data via a uri. Deep linking has already been implemented (see [here](https://github.com/iotaledger/trinity-wallet/blob/e2c0a137a157009aa11ac33c87be8ccf52d88ed0/src/desktop/main.js#L376) and [here](https://github.com/iotaledger/trinity-wallet/blob/7224cdae8804c212ea6550f50e34f4f88b62dfdc/src/mobile/src/ui/views/wal

[2018-10-03 13:25] rajivshah3 commented on #445
For mobile, we should discuss whether this would simply be a link that opens the web browser (essentially taking the user out of the Trinity app) or is implemented as a WebView (in-app browser). The concern with a WebView is that it’s not completely isolated from the app and could potentially inject arbitrary JavaScript. Using a WebView securely would require React Native 0.57 (https://facebook.gi

[2018-10-03 13:34] cvarley100 opened #447 "Internal transfer between accounts"
### Description
Trinity allows the user to add multiple accounts to the wallet. To simplify transfer between accounts, the user should be able to select an Account name, rather than copy paste an address between accounts (similar to transferring between accounts in online banking).

### Motivation
User convenience.

### Requirements
- Add  account name dropdown to recipient field on send page
- Ge

[2018-10-03 13:58] laumair opened #448 "Ensure polling for account sync covers all accounts"
### Description
Trinity (mobile) only polls for latest information for the currently-selected account. This means that other unselected accounts will have out of date information until they are selected.

Ideally, Trinity should poll for latest information for all accounts, both on load and in the background while using the app.

### Motivation

Only polling the selected account causes an unnecess

[2018-10-03 14:23] laumair opened #449 "Ensure transactions are pulled in near-instantly when polling"
### Description
Transactions are often pulled in after a delay. This could be because of several reasons. Mainly because of Trinity's polling setup which only polls for a single service at a time. The polling setup for pulling in transactions should be improved so that new transactions are fetched instantly.

### Motivation
User experience

### Requirements

There should be minimum delay when new

[2018-10-03 14:27] cvarley100 opened #450 "Support for secure custom keyboard s"
### Description
Custom keyboards add protection against keyloggers when typing in your password or seed. By adding a custom onscreen keyboard, with the ability to randomise letter placement, we can protect against malicious processes snooping on sensitive information.

### Motivation
- Protection against keyloggers

### Requirements
- Secure keyboard
- On desktop, an onscreen keyboard
- Ability to

[2018-10-03 14:50] cvarley100 opened #451 "Encrypted QR seed back up option"
### Description
Current seed storage options include SeedVault, paper wallet and writing it down. To improve security of the paper wallet, the seed should be encoded in a password-protected QR.

Using a combination of Argon2 password hashing and AES GCM encryption, we can store a secure copy of the seed, together with the IV in the QR (perhaps Base64). When scanned in Trinity, the encoding scheme

[2018-10-03 14:56] cvarley100 opened #452 "Send more transactions at once through remainder chaining"
### Description
Using the remainder address of one transaction as the input to another allows multiple transactions to be sent at once. When the first transaction has confirmed, the next chained transaction can be reattached and can then itself confirm.

### Motivation
Currently, new transactions cannot be issued if addresses are involved in pending transfers. Remainder chaining allows for multipl

[2018-10-03 15:00] laumair opened #453 "Node quorum"
### Description
Trinity only connects to a single node for fetching transactions, latest confirmation states, address spend statuses and latest balances. Trinity does make sure that the node it connects to is [synced](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/libs/iota/extendedApi.js#L510) but this does not guarantee whether the information it's getting from the node is

[2018-10-03 15:02] cvarley100 opened #454 "Yubikey 2FA"
### Description
2FA currently only supports TOTP. It should also support the Yubikey hardware device.

### Motivation
Additional two factor option

### Requirements
- Integrate with Yubikey API to authenticate Yubikey OTP

### Am I planning to do it myself with a PR?
No.

[2018-10-03 15:04] rajivshah3 opened #455 "Mobile background processes"
### Description
Trinity Mobile should support background processes such as auto-promotion and polling.

WIP #295
Blocked by #311

### Motivation
The user shouldn't have to keep the app open to auto-promote. Additionally, with background polling, the app will open with up-to-date information.

### Requirements

- [ ] Comply with OS requirements on background processes
- [ ] Periodically check the c

[2018-10-03 15:05] rajivshah3 commented on #455
This currently requires the implementation of Realm, as Redux does not allow us to access the state while the app is backgrounded

[2018-10-03 15:14] rajivshah3 opened #456 "Multisignature support"
### Description
Multisig enables accounts where multiple parties/devices are required to authorise token spends.

### Motivation
This provides increased security because an attacker must have access to multiple keys in order to sign transactions.

### Requirements
Create a list of what you want this feature request to fulfill.

### Open Questions (optional)
Anything you want to discuss.

### Am I

[2018-10-03 15:52] cvarley100 opened #457 "Trinity Mobile transaction history filtering and search"
### Description
Trinity Desktop has a comprehensive transaction filtering/search system. The same feature should be added to mobile.

<img width="513" alt="screen shot 2018-10-03 at 16 51 28" src="https://user-images.githubusercontent.com/25092479/46422585-98274900-c72c-11e8-8387-bf1116d1e545.png">

### Motivation
Filtering and search simplifies navigating transaction history

### Requirements
- F

[2018-10-03 15:55] cvarley100 opened #458 "Mobile animations"
### Description
Trinity Mobile is largely bereft of animations. We should add page transition animations during setup, setting transition animations, improved send animation and others.

### Motivation
Improve user experience

### Requirements
- Animations during setup, settings navigation and send

### Open Questions (optional)
- Consider other possible animations

### Am I planning to do it myse

[2018-10-03 16:14] laumair opened #459 "Support for single contact address"
### Description
There is a need for a more permanent contact address, aiming to overcome the limitations of address reuse. This would also enable donation addresses.

### Motivation

- To overcome address reuse issue
- To overcome network latency issues with multiple device usage

### Requirements

A solution that resolves

- Relying on wereAddressesSpentFrom api endpoint.
- Address reuse issues w

[2018-10-03 16:47] cvarley100 opened #460 "Make the Mobile price chart 'slideable'"
### Description
Trinity Desktop allows you to check the price at a particular point along the graph. The same feature should be possible by touching points on the graph on mobile.

<img width="531" alt="screen shot 2018-10-03 at 17 47 00" src="https://user-images.githubusercontent.com/25092479/46425734-5c907d00-c734-11e8-9c22-935eb5d1cb4b.png">

### Motivation
Clearer pricing information

### Requ

[2018-10-03 16:52] cvarley100 opened #461 "Add ability to reorder accounts"
### Description
There is currently no way to reorder your accounts in the wallet. The only way to do it at the moment is to remove and readd an account. A simple drag and drop reordering system would do.

### Motivation
User convenience

### Requirements
- Drag and drop ordering in Settings

### Am I planning to do it myself with a PR?
No.

[2018-10-03 17:08] cvarley100 opened #462 "Add currency selected in settings to price chart currencies"
### Description
Current chart currency options are USD, EUR, BTC and ETH. The user can select their own currency in settings for conversion throughout the app but this does not become a chart option. The chosen currency should also be an option in the chart.

### Motivation
User convenience.

### Requirements
- Add chart price conversion from USD to chosen currency
- Add relevant UI/UX

### Am I p

[2018-10-03 20:15] gspe opened #464 "Missing security dependencies on Void Linux"
### Bug description
I have Trinity Wallet Appimage on Void Linux but it doesn't start.
I have ```libsecret``` and ```gnome-keyring``` installed and started

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Dell
- Model:
- OS version: Void Linux x86_64 kernel 4.18.11_1

What build of Trinity are you running? Please provide the full version (you can find it in Settings

[2018-10-04 18:15] adertask opened #465 "delete or close please."
please close.

[2018-10-04 18:22] adertask commented on #465
damned.. pending .. so it is ok.

[2018-10-04 18:22] #465 closed, assigned to nobody

[2018-10-05 16:08] mateuszseczkowski opened #469 "Desktop: Add "Remove application settings" option available from GUI"
### Description
Functionality of removing settings of Trinity Desktop application from the GUI.

### Motivation
During testing and using Trinity Desktop wallet the need arose on removing application data during the following scenarios:
1. I forgott password and i needed to go to the %AppData% on Windows or preferences folder on Linux/MacOS to manually delete the Settings file. Only that helped to

[2018-10-05 16:51] f-ben opened #470 "Rename seedvault file"
### Description
The exported seedvault file should by default be named like the account it was exported from. For example: mainaccount20180905.kdbx

### Environment Specs
Trinity Desktop and Trinity mobile

### Motivation
its more userfriendly

### Am I planning to do it myself with a PR?
no

[2018-10-05 16:52] f-ben opened #471 "Display QR code on View Seed page"
### Description
In the account details the "show seed" option shows the seed as text. There should also be a QR-Code which can be scanned in trinity mobile.

### Environment Specs
Trinity Desktop and Trinity Mobile

### Motivation
its more userfriendly for users who use both desktop and mobile version

### Am I planning to do it myself with a PR?
no

[2018-10-05 16:54] f-ben opened #472 "Add tangleexplorer to history"
### Description
Clicking a transaction in the history opens the details which is fine but the user sees a lot of information he can not work with. After clicking on a hash or address a site like thetangle.org should be opened with the details of each hash. Ideally with an option in the settings which service to use (eg. thetangle.org or iotasear.ch)

### Environment Specs
Trinity Desktop and Trini

[2018-10-05 16:55] f-ben opened #473 "Add import for addresses by QR-Code"
### Description
Most desktop pc´s dont use webcams so the "scan address-qr-code" function is pretty useless on those devices. This feature should be improved so the user can also load a QR-Code imagefile to import the receiving address (maybe with an "open image file" option or even drag/drop an image into the qr-scan-field.

### Environment Specs
Trinity Desktop
### Motivation
its more userfriend

[2018-10-05 16:56] f-ben opened #474 "Add ability so see the complete address when initiating a transfer"
### Description
Not sure if needed, I personally would appreciate a feature like this: When sending a TX the user is not able to see the whole recipient address. Hovering the address field could show the whole address in a hovering textfield which is attached to the cursor. See screenshot for very poor example.

### Environment Specs
Trinity Desktop

### Motivation
its more userfriendly because th

[2018-10-05 17:00] f-ben opened #475 "When switching to detailed balances also switch history"
### Description
In the main window when clicking on the balance the balance changes to decimals ( for example from 1.4 GI to 1.4234534 GI ). The balances in the history do not switch and stay at 1.1 GI. Those balances should also be changed to 1.121134 GI

### Environment Specs
Trinity Desktop and Mobile

### Motivation
its less confusing for the user and the current situation seems like a bug

##

[2018-10-05 18:38] rajivshah3 commented on #472
Duplicate of #445

[2018-10-05 18:38] #472 closed, assigned to nobody

[2018-10-05 18:39] rajivshah3 commented on #475
Duplicate of #314

[2018-10-05 18:39] #475 closed, assigned to nobody

[2018-10-07 10:35] ovanwijk commented on #453
Even though this code is also to ensure a quick response it does show an interesting way for dealing with multiple nodes. :https://github.com/ovanwijk/IotaPublicNodeSelection/blob/695d9b91056ebcc4d5aa27d50e7024823f399877/src/MultiNodeInterface.js#L594

What it does is basically select a set of nodes, query them all at the same time. If it gets the first result back all other nodes have to reply wi

[2018-10-07 17:24] rajivshah3 commented on #464
There might be more detailed messages if you add the following:
`console.log(err)`
above this line:
https://github.com/iotaledger/trinity-wallet/blob/develop/src/desktop/src/ui/Index.js#L171

You can then run the development version of Trinity by cloning this repo and running `yarn && cd src/shared && yarn && cd ../desktop && npm install && npm run start`

[2018-10-07 17:42] laumair commented on #453
This is indeed an interesting way.

One problem that I see is that a _bad_ node could block funds. However, this approach could be well suited for `findTransactions` as hashes & signatures can be validated.

[2018-10-08 21:00] sbaechler commented on #341
1Password immediately hides shown passwords if the app loses focus.
Currently the users just paste the seed from the PW manager into notepad and then copy it by hand from there. Which is worse.

[2018-10-08 21:25] rajivshah3 commented on #341
I'm not familiar with KeePass' pasting feature. Are you referring to the auto-type feature?
We're also looking into supporting other password managers so that users have more flexibility.

[2018-10-09 14:08] b-f- commented on #341
Not the autotype feature. Just plane old paste. There is a "Paste" context menu (as described in issue description) which did not work at all.

[2018-10-09 15:45] gspe commented on #464
I did what you ask but it still doesn't work and I can't see any new error messages.

[2018-10-09 15:46] rajivshah3 commented on #464
Have you checked the debugger? When you run `npm run start` it should show a window that looks like the Chrome debugger. If you click on the `Console` tab it should show these messages

[2018-10-10 02:28] #414 closed, assigned to nobody

[2018-10-10 07:11] HBMY289 opened #486 "Avoid losing trytes of pending tx when doing manual sync after snapshot"
### Bug description
Generally, Trinity keeps trytes of sent transactions to allow reattaching. However, if there is a pending transaction and a global snapshot happens then performing a manual sync afterward will remove those trytes. As you will not have the possibility to reattach the affected bundle from within Trinity, you will end up in a situation with funds on a spent address.

### Environme

[2018-10-10 08:38] gspe commented on #464
My fault, I've recompiled and when I run ```npm start```  it just crash with this error messages:
[code]

[2018-10-11 20:07] Noki opened #488 "Old seeds with a couple of hundred addresses are unusable with Trinity"
### Bug description
Old seeds with a couple of hundred addresses are unusable with Trinity.

### Environment Specs
- OS version: Windows 10
- Trinity version: 0.3.6

### Steps To Reproduce
1. Create a new seed
2. Create a couple of hundred addresses using the see
3. Add some balance to the generated addresses and leave some addresses empty
4. Reset the trinity wallet
5. Restore the wallet using th

[2018-10-12 03:47] laumair commented on #488
@Noki How many addresses have you left empty?

This seems odd to me. Even if there are a couple hundred addresses, it shouldn't take that long.

[2018-10-12 07:01] Noki commented on #488
@laumair Here is the json with the balances:

[code]

* 370 addresses in total
* 224 addresses with 0 balance
* <20 empty addresses between two addresses that have a balance

That's exactly why I opened this bug. ;-)

btw.: The first 6 addresses were already used to send iota

[2018-10-12 07:54] laumair commented on #488
@Noki Thank you for providing the address information.

Address generation should be near instant with 370 addresses.

I did some quick tests with [entangled-node](https://github.com/rihardsgravis/entangled-node) and it took ~20 seconds for generating 500 addresses.
Trinity does make some network calls during address generation but those should be quick.

Also, as you mentioned this is an old seed

[2018-10-12 08:05] Noki commented on #488
There are some recent transactions/reattachments. If required to reproduce I could also provide the seed in a private email because so far I was only playing around with this one and the total balance is not really worth mentioning. ;-)

[2018-10-12 11:30] rajivshah3 commented on #488
@Noki is the animation freezing at all? I wonder if the address generation and the animation are running on the same thread

[2018-10-12 12:00] Noki commented on #488
@rajivshah3 The animation keep on moving. However I've seen this during my various tries:

![image](https://user-images.githubusercontent.com/198902/46867683-29ca4100-ce26-11e8-9eab-1f0b7778ad31.png)

When I wait long enough I get to this screen at some point:

![image](https://user-images.githubusercontent.com/198902/46867905-cf7db000-ce26-11e8-9559-7c95c5890e1c.png)

If I add a name it starts al

[2018-10-12 12:06] rajivshah3 commented on #488
Hmm, the "let's add a name" screen is odd. I'm not sure what would cause that screen to show

[2018-10-12 12:08] Noki commented on #488
@rajivshah3 Is this your correct Mailaddress (rajivshah1@icloud.com)? I will send you the seed so you could try on your own. ;-)

[2018-10-12 12:11] rajivshah3 commented on #488
Yep, that’s correct. Is it ok if I forward it to Umair and Rihards so they can take a look as well?

[2018-10-12 12:20] rihardsgravis commented on #488
Let's add a name is "fine" here. If adding an additional account does not success, the wallet returns to the onboarding last step ("Let's add a name").

[2018-10-12 12:23] rihardsgravis commented on #488
Address generation should happen fine with 400 addresses. The error log indicates that there was a network request time out, so probably requesting address balances time out.

[2018-10-12 12:27] rajivshah3 commented on #488
Ah, maybe it sent too many requests to the node at once?

[2018-10-12 12:57] Noki commented on #488
I just send you the "Seed of Death"! ;-)

Let me know once you have a solution.

[2018-10-12 13:58] KK7NZY opened #491 "Tray Icon not visible in macOS Mojave dark mode"
### Environment Specs

- Manufacturer: Apple
- Model: iMac
- OS version: Mojave
- Trinity version: 0.3.6

### Description

Trinity tray icon is not visible in black tray. Would be cool of the icon color was inverted/white. At the moment it looks like there is a space where the icon should be.

<img width="338" alt="screen shot 2018-10-12 at 9 56 29 am" src="https://user-images.githubusercontent.co

[2018-10-12 19:43] rajivshah3 commented on #491
@jdsantiagojr this will be fixed in the next release, please see #487

[2018-10-12 19:43] #491 closed, assigned to nobody

[2018-10-12 19:48] #412 closed, assigned to rajivshah3

[2018-10-12 19:49] rajivshah3 commented on #412
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **src/libs/keychain.js:69**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba36c3fffe75a00193f3071?event_id=5bc0b00600309d13c90f0005&i=gh&m=fx)

[2018-10-14 14:36] LoranTIm opened #496 "Trinity mobile crashes when importing seed vault on galaxy note 9."
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2018-10-14 16:35] rajivshah3 commented on #496
Hi @LoranTIm ,
Are you using Android 6.0 or later?

[2018-10-14 17:08] LoranTIm commented on #496
@rajivshah3 yes I'm using android 8.1.0

[2018-10-14 17:10] rajivshah3 commented on #496
Thanks for the report, this was likely fixed in #393. If the issue reappears in the next release, please reopen this issue

[2018-10-14 17:10] #496 closed, assigned to nobody

[2018-10-14 17:56] b0-ones opened #498 "Unresponsive on Login-Dialog"
### Bug description
If you have a diamond (#) in you password, it happens that you cant login to Trinity, it just does not login and does not give you an info about wrong password anymore.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: MacBook Pro
- OS version: Windows 10

What build of Trinity are you running? Please provide the full version (you can find it in Se

[2018-10-14 17:59] rajivshah3 commented on #498
Hi @b0-ones , when you say "diamond", are you referring to the 💎 emoji?

[2018-10-14 18:01] b0-ones commented on #498
Hi @rajivshah3,  No i mean a Hashtag #

[2018-10-15 09:05] Noki commented on #488
A little follow-up:

I managed to add the seed to the mobile wallet. It seems that the mobile wallet does the requests in another way.

[2018-10-15 16:45] rajivshah3 commented on #488
@Noki interesting 🤔

[2018-10-15 17:43] #383 closed, assigned to nobody

[2018-10-16 04:42] tejasvi8874 opened #503 "Ability to enter/detect proxy from environment variables"
- OS version: Windows 10

- Trinity version: 0.36

### Steps To Reproduce
1. Log in using seed

### Expected behaviour
Proxy settings should be auto fetched from environment variables or should be explicity solicited.

### Actual behaviour
http_proxy and https_proxy variables are completely disregarded and there's no way to enter proxy manually either.

### Errors

![image](https://user-images.git

[2018-10-16 05:35] mfecenko commented on #474
Hi, I would like to take this issue. Is it still unassigned?

[2018-10-16 15:14] rajivshah3 commented on #474
@mfecenko Nice! I think it's still unassigned. Would you like me to assign it to you?

[2018-10-16 15:18] rajivshah3 commented on #464
@gspe do you have anything running on port 1074?

[2018-10-16 15:54] mfecenko commented on #474
@rajivshah3 Yes, it would be cool.

[2018-10-16 15:54] rajivshah3 commented on #474
Great!

[2018-10-16 15:57] rajivshah3 commented on #474
Weird, it won't let me assign you 🤔  I'll mark this as assigned though so people know

[2018-10-16 16:00] mfecenko commented on #474
Okay.

[2018-10-16 20:15] paulhandy commented on #205
I would also suggest to modify the proof of work scheme to be interrupted at a user-configurable time to replace the branch transaction hash with a newer one.

[2018-10-16 20:35] f-ben commented on #474
Nice to see someone takes care of that :D thanks @mfecenko

[2018-10-17 07:31] ErikThiart opened #505 "Unable to paste seed"
I am unable to paste a seed in the trinity wallet.

Latest version.

[2018-10-17 11:07] initharrington opened #506 "iOS - attemping to import existing seed crashes application"
### Bug description
Trinity wallet crashes when selecting "No, I have one" on the "Thank you for downloading Trinity Do you need to create a new seed?" page.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone XS Max 256 GB (mt602ll/a)
- OS version: 12.0.1 (16A405)

What build of Trinity are you running? Please provide the full version (you can fin

[2018-10-17 13:08] rajivshah3 commented on #506
Thanks for reporting. This was fixed in #417 which will be released soon

[2018-10-17 13:08] #506 closed, assigned to nobody

[2018-10-17 13:09] rajivshah3 commented on #505
Hi @ErikThiart , are you using Trinity Desktop or Mobile? In the future, it is helpful if you fill out the issue template

[2018-10-17 18:27] KiwiCat123 commented on #488
If it helps I also have such a seed with exactly the same problem in Trinity. This problem seem to exist since the 0.3.0 alpha. Maybe I could help you with the seed.

[2018-10-17 20:57] ErikThiart commented on #505
Understood.

The desktop version, I see from Reddit you guys disabled it.

[2018-10-17 21:02] #505 closed, assigned to nobody

[2018-10-17 22:03] jojoCoWorker opened #508 "Seed's first 2 letters will disappear if go back with left arrow"
### Bug description
Seed display will disappear if go back with left arrow

### Environment Specs
- OS version: windows 7.0 pro
- Trinity version: v0.3.6 Beta

### Steps To Reproduce
1. Add a new account with existing seed
2. clic on the eye to see the letters you enter
3. Type enough letters to empty the display and at least one more
4. Go back to the left with left arrow.

### Expected behaviour

[2018-10-18 01:35] sloganking opened #509 "Can't exit ledger setup"
### Bug description
There is no way in the UI to exit setting up a Ledger Nano S device and buttons can still be pressed behind the request to set up a Ledger Nano S.

### Environment Specs

- OS version: Win10
- Trinity version: 0.4.0-alpha (Desktop)

### Steps To Reproduce
1. Click "add new account"
2. Connect Ledger Nano S
3. Click "Proceed with Ledger setup"
4. Click "Continue"

### Expected b

[2018-10-18 05:57] rihardsgravis commented on #509
This has been implemented and will be available in the next release.

[2018-10-18 05:57] #509 closed, assigned to rihardsgravis

[2018-10-18 08:03] gspe commented on #464
Hi, I've rebooted and pulled last version now it seams to compile and run.
When I start it with ``` npm run start``` it start but the only thing I can see is a blue screen with the top menu, when I click the menu items nothing happens and nothing is printed in the chrome console.

It seams similar to #534 and #305

After a minute or two this message is printed on shell:
[code]

[2018-10-18 17:48] KiwiCat123 opened #513 "Reload of transaction history never finishes"
### Bug description
After clicking the tx reload button in Trinity it never finishes to load. The seed where this happened was the second in Trinity so transaction weren't reloaded while starting.

### Environment Specs
- OS version: windows 10
- Trinity version: 0.4.0

### Steps To Reproduce
1. all founds were on the last address, all addresses before are used, trinity desktop needs to be closed

[2018-10-20 22:50] rajivshah3 opened #517 "java.lang.NumberFormatException during SeedVault import"
## Error in Trinity Mobile

**java.lang.NumberFormatException** in **NavigationActivity**
For input string: "raw:/storage/emulated/0/Download/SeedVault20180915-2112.kdbx"

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc50a82b839050019e235be?event_id=5bcb326700308891045d0000&i=gh&m=ci)

## Stacktrace

    Long.java:590 java.lang.Long.parseLong
    Long.java:804 j

[2018-10-20 22:53] rajivshah3 commented on #517
This issue has been linked to an error in Bugsnag
[**java.lang.NumberFormatException** in **MainActivity**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc669a9a9f3be00195f4367?event_id=5bc669b900308b14e1eb0000&i=gh&m=li)

[2018-10-21 16:43] rajivshah3 opened #518 "Ability to show/hide password when entering it"
### Description
In Trinity Desktop, the user has the ability to show/hide the password when entering it (during onboarding or login). This functionality should be included in Trinity Mobile as well.

![image](https://user-images.githubusercontent.com/19519564/47269632-afd53e80-d52e-11e8-9263-31daecf34212.png)

### Motivation
Match Trinity Desktop functionality.

### Requirements
When the eye icon

[2018-10-21 19:07] antalm opened #519 "Missing translations (crowdin translated to 100%)"
### Bug description
Missing translations.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone
- OS version: IOS 12.0

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.5.1

### Missing translations
- "Standard/Advanced" in settings menu Mode always shows Stand

[2018-10-21 19:11] sloganking opened #520 "Crash when importing seedvault"
### Bug description
Trinity app crashes after selecting seedVault file to import and hitting ok.

### Environment Specs

- Manufacturer: Samsung
- Model: Galaxy s8+
- OS version: Android 8.0.0

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.5.1 (27) (Mobile)

### Steps To Reproduce
1. Create seedVault file

[2018-10-22 02:17] rajivshah3 commented on #520
Duplicate of #517

[2018-10-22 02:17] #520 closed, assigned to nobody

[2018-10-22 10:13] jfghkl commented on #520
Samsung Galaxy S7 Android 8.0 - the same.

[2018-10-22 15:10] rajivshah3 opened #521 "EXC_BAD_ACCESS in trytes_to_trits"
## Error in Trinity Mobile

**EXC_BAD_ACCESS** in **trytes_to_trits**
Attempted to dereference null pointer.

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bcd5e7f7a6f2b00195d5662?event_id=5bcd5e7f00309d26285d0000&i=gh&m=ci)

## Stacktrace

    iotaWallet:0 - trytes_to_trits
    iotaWallet:0 - iota_sign_address_gen
    iotaWallet:0 - generateAddress
    Entangled

[2018-10-22 15:10] rajivshah3 opened #522 "EXC_BAD_ACCESS in RNCamera"
## Error in Trinity Mobile

**EXC_BAD_ACCESS** in **RNCamera**
Attempted to dereference garbage pointer 0x54.

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bcd4f64d8bf9400191eea42?event_id=5bcd4f64003085cac14a0000&i=gh&m=ci)

## Stacktrace

    iotaWallet:0 - __24-[RNCamera startSession]_block_invoke_2

[View full stacktrace](https://app.bugsnag.com/iota-foundat

[2018-10-22 19:13] cyclux opened #523 "Optional setting of "basic authentication" credentials for custom nodes"
### Description
Integration of "basic authentication" as an option for added custom nodes.

### Motivation
Some users prefer to secure their nodes from the public via setting credentials to the IRI API port.
Most used type is the "basic authentication" standard of the HTTP protocol.

### Requirements
On the node section of the settings menu, there could simply be two optional fields "user" and "pa

[2018-10-22 20:25] rajivshah3 commented on #523
We haven't really focused on it because not a lot of people seem to use it, but I don't think it would hurt to add it. Looking at https://github.com/iotaledger/iota.js/pull/221, it seems like there shouldn't be any drawbacks.

[2018-10-23 02:49] #347 closed, assigned to nobody

[2018-10-23 03:00] gnodaij opened #525 "password for the seedvault file seems to be fixed of 12 digits"
i am using trinity of MAC version

the password for the seedvault file seems to be fixed of 12 digits for me... shorter or longer won't let me through. it is so for the latest several versions.

[2018-10-23 03:04] rajivshah3 commented on #525
Hi @gnodaij , please fill out the template. It provides important information to help us reproduce this

[2018-10-23 03:13] gnodaij commented on #525
The issue tracker is only for reporting bugs or asking for feature requests.
If you need technical assistance for using Trinity Wallet, please consult the Trinity [documentation](https://docs.iota.works/trinity) and [knowledge base](https://iotaledger.atlassian.net/wiki/spaces/trinity/overview). For further assistance, please visit the #help channel on [Discord](https://discord.gg/7Gu2mG5).
If you

[2018-10-23 03:14] rajivshah3 commented on #525
What happens when you type the 13th character? Does it not show up, or does an error occur?

[2018-10-23 03:17] gnodaij commented on #525
the create button is not clickable, same happened when less than 12 digit

[2018-10-23 03:18] rajivshah3 commented on #525
Which version of Trinity are you running?

[2018-10-23 03:19] gnodaij commented on #525
the first version has the issue, it remains the same for the next several updates

[2018-10-23 03:21] rajivshah3 commented on #525
Does this occur when you try to export it from settings?

![image](https://user-images.githubusercontent.com/19519564/47333486-12266000-d651-11e8-826c-675888fa9ac1.png)

Or does it occur when creating a new account?
![image](https://user-images.githubusercontent.com/19519564/47333507-279b8a00-d651-11e8-86c2-9c9e626689b5.png)

[2018-10-23 03:22] gnodaij commented on #525
no other people report this issue? is it only happened to me?

[2018-10-23 03:22] rajivshah3 commented on #525
That seems to be the case. I can't reproduce this on my MacBook Pro running macOS Mojave and haven't heard about this issue before

[2018-10-23 03:23] gnodaij commented on #525
very wired

[2018-10-23 03:23] rajivshah3 commented on #525
Are you able to send a screen recording?

[2018-10-23 03:24] gnodaij commented on #525
i created the seedvault file successfully only with a 12 digit password

[2018-10-23 03:25] gnodaij commented on #525
i will try when i sit with my imac

[2018-10-23 03:28] gnodaij commented on #525
BTW, how to record screen in mac?

[2018-10-23 03:30] rajivshah3 commented on #525
You can use QuickTime: https://support.apple.com/guide/quicktime-player/record-your-screen-qtp97b08e666/10.4/mac/10.13

[2018-10-23 12:00] gnodaij commented on #525
i think it has something to do with the rule of the password...11 digit should be not long enough, 13 won't let through because the password contains phrase? so where can i find the rule for the seedvault file password?

[2018-10-23 12:49] rajivshah3 commented on #525
It should show suggestions to strengthen your password. These are the suggestions it should show:
https://github.com/iotaledger/trinity-wallet/blob/b6fbb281d64bed4a9499f86348ab1cebb5afef4f/src/shared/locales/en/translation.json#L191-L206

[2018-10-23 13:23] gnodaij commented on #525
what is the minimum length of the password?

[2018-10-23 13:26] rajivshah3 commented on #525
12 characters

[2018-10-23 13:57] cyclux commented on #523
Alright, I got quite some requests for tanglenodes.io so I implemented it there. Maybe the demand for this feature in Trinity is not so high (but it's also not so well documented for IRI yet though). Nevertheless, it does not seem like too much effort to implement it in Trinity. I might give it a shot for a PR if I find time.

[2018-10-23 14:07] #525 closed, assigned to nobody

[2018-10-23 15:11] rajivshah3 commented on #523
Sounds good! Let me know if you'd like me to assign this to you

[2018-10-23 20:04] mfecenko commented on #474
Are there any special requirements on design of hovering textfield like text color, background color or shape of the hovering textfield?  .......... Should it be displayed every time when input field is not empty or just at the momemt when address input becomes longer then width of input field?

[2018-10-23 20:27] f-ben commented on #474
Does it need a special style? I think it would be enough if just a white text appears which is attached to the cursor. The box on my screenshot was just to make it clearer what I mean because it´s a static image. If the text moves with the cursor I feel that a box is not necessary.
Personally I´d like the text to appear if it´s longer than the width of the input but I don´t know how hard it´s gonn

[2018-10-23 20:52] mfecenko commented on #474
Okay, I will try to make it like you said.

[2018-10-23 21:07] rihardsgravis commented on #474
I propose to:
- show the tooltip only when the address bar is not focused and start to display with a short delay after mouse move
- use `--box-bg` for background and `--box-body` for text

[2018-10-26 00:55] delki8 opened #529 "The prop `disposeOffAlert` is marked as required in 'withAlertsData(Alerts)', but its value is `undefined`"
### Bug description
The disposeOffAlert function was renamed to dismissAlert at c0c0c765236746443e31d2c0d0d78639fc4a3b5e but wasn't updated in neither Alerts.js from desktop nor mobile.

### Expected behaviour
The alert should be dismissed.

### Actual behaviour
The alert wasn't being dismissed and an error was being thrown in chrome console.

### Errors
![selection_2018-10-25 20 47 45](https://us

[2018-10-26 01:45] #529 closed, assigned to nobody

[2018-10-27 18:09] rajivshah3 commented on #431
Thanks for reporting this @nicoschtein ! Looking into this now, sorry for the delay

[2018-10-29 11:59] Citrullin opened #534 "Debian: App does not show content"
### Bug description
No content in Trinity app.
See: https://image.ibb.co/mRHx3A/empty-trinity.png

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Dell
- Model: latitude 7280
- OS version: Debian GNU/Linux 8

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).
Nothing happens after clicking the link. (

[2018-10-29 12:04] Citrullin commented on #305
I have probably the same issue in #534

[2018-10-29 18:00] #432 closed, assigned to rihardsgravis

[2018-10-30 15:53] #431 closed, assigned to rajivshah3

[2018-10-31 10:06] mgeier63 commented on #517
FYI, this happens / is reproducible on Android >= 8, i.e. Oreo and Pie
see [issue in `rn-fetch-blob`](https://github.com/joltup/rn-fetch-blob/issues/225)

[Pull request for `rn-fetch-blob` module](https://github.com/joltup/rn-fetch-blob/pull/226)

Please adjust dependency for `rn-fetch-blob` once accepted and a new version released.

[2018-10-31 10:37] mgeier63 opened #536 "[Android] DevSettings activity barely readable due to black window background"
### Bug description

Note: This affects only developers

The RN DevSettings (Ctrl+M | Dev Settings) are barely visible due to the (almost) black background color and thus basically unusable.

### Environment Specs
What device are you running Trinity on?

- Manufacturer:
- Model:
Android Emulator
- OS version:
Pie

What build of Trinity are you running? Please provide the full version (you can find

[2018-10-31 16:38] rajivshah3 commented on #517
Nice find @mgeier63 , thanks so much! I'll keep an eye on your PR and update `rn-fetch-blob` once it's merged

[2018-10-31 17:07] #536 closed, assigned to nobody

[2018-10-31 21:22] rajivshah3 opened #538 "java.lang.RuntimeException: Tried to create view after it has already been destroyed"
## Error in Trinity Mobile

**java.lang.RuntimeException** in **ViewController.java:151**
Tried to create view after it has already been destroyed

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bccd5ad6a617e00197272b8?event_id=5bda0d9c003138010b530000&i=gh&m=ci)

## Stacktrace

    ViewController.java:151 com.reactnativenavigation.viewcontrollers.ViewController.g

[2018-10-31 21:27] rajivshah3 commented on #538
This seems to occur when a user encounters an error during the login process. When an error occurs, a dropdown alert is shown on the loading screen: https://github.com/iotaledger/trinity-wallet/blob/b3716471d30953d2f3be081502a07dae4a643e35/src/shared/actions/accounts.js#L502 At the same time, the user is navigated away from the loading screen: https://github.com/iotaledger/trinity-wallet/blob/b371

[2018-11-01 10:59] georgmittendorfer opened #544 "Ability to disable auto node switching"
### Description

As a user of the wallet I would like to be able to tell the wallet what node(s) it should use so that I do not have to rely on other nodes, mainly for security and performance reasons.

If trinity wants to change to another node I would like to be asked and be able to prohibit this change.

In no case do I want to use another node without even being aware of it.

### Motivation

C

[2018-11-01 11:59] georgmittendorfer commented on #454
It should support U2F in general (I think that is the same that yubikey supports).

[2018-11-01 13:22] cvarley100 commented on #544
Hi @georgmittendorfer. Thanks for the issue submission. I agree that this is would be worth adding. For advanced users, granular selection of which nodes are used, and how, is a useful feature.

[2018-11-01 14:23] laumair commented on #544
Auto node switching doesn't check response status codes atm. So even if there's a network call timeout, a random node would be queried.

[2018-11-01 21:08] mfecenko commented on #474
PR created.

[2018-11-02 06:00] rihardsgravis opened #548 "[desktop] Add ES6 support for main process scripts"
### Description

Code executed in the main process (`src/desktop/main.js` and preload scripts) should support es6 and compiled via webpack.

### Motivation
Currently desktop wallet main process scripts cannot use shared `src/shared/` libraries that use `import` statements and other modern js features.

### Requirements
- The compilation should be merged with the current build flow and be supported

[2018-11-02 08:54] vincenzopalazzo opened #550 "The desktop portfolio does not upgrade"
### Bug description
The application on linux mint 19 raises an error when I go to the section to check for any updates to the application, the application remains freezed until I close the error panel

### Environment Specs
What device are you running Trinity on?

- Manufacturer: DEL
- Model: latitude E5270
- OS version:Linux mint 18

What build of Trinity are you running? Please provide the full

[2018-11-02 10:37] RedLQueen opened #551 "Ledger wallet bug report"
ok at first i wanna say that im just a user who wants to report unormall things about ledger and trinity wallet when we are using ledger 👍
all of them are on ledger , not trinity wallet:

1.First one which is not important so much is when we are opening iota app on ledger there is iota bran and an underlined IOTA txt on screen also there are two horizontal lines on top of ledger nano s' screen. wh

[2018-11-02 12:44] AlphanB commented on #306
Same error is exist in v0.3.6 on Windows. No problem with v0.4.0.
I think new version's folder structure of github repo is breaking old ones' update-file-path.
May be, there will be a global constant URL for version check.

[2018-11-02 18:26] b0-ones opened #554 "Ledger Account Page Problem"
### Bug description
Ledger Account Page different then 0 does not work.

![image](https://user-images.githubusercontent.com/44143077/47933148-07cb5800-ded4-11e8-8cf6-4070f3013ead.png)

![image](https://user-images.githubusercontent.com/44143077/47933175-1dd91880-ded4-11e8-8988-31574bd63b65.png)

After that, Trinity loads but without importing Ledger Account with Account Page 1 in this example. Als

[2018-11-02 22:10] rajivshah3 commented on #551
I think you're referring to the BIP32 path, which is a standard Ledger feature. From the Trinity Docs:

I think @wollac would be able to answer 1, 3, and 4

[2018-11-03 12:07] AdrienLafuge opened #560 ""Cannot read property 'length' of null" while trying to send a transfer from ledger"
I got this message in my Error Log while i'm trying to send iota from ledger account:

 Cannot read property 'length' of null

It also says: Tranfer errror, something went wrong while sending your transfer. Please try again.

I'm with that issue since yesterday.

Ps: My ledger is connected and in the Iota app while doing this.

Any suggestions ?

[2018-11-03 13:27] laumair commented on #560
@Adrienlafuge Do you have multiple addresses with balance or are all your funds on a single address?

[2018-11-03 13:32] AdrienLafuge commented on #560
@laumair I just sent 1 iota from main account to Ledger account to test, so on the ledger account, there only 1 iota on 1 address. On the main account I don't really know why but the full balance goes through two different addresses that i can see in "view addresses" and another one is empty balance, don't know why aswell (others addresses , under, are red and crossed). Did I answered to your ques

[2018-11-03 15:18] Wollac commented on #551
This is explained in the Trinity docs:

In that particular situation, on the start screen, it indicates that a double button press will close the application without the need to "exit" in the menu.

Concerning 2. When you experienced this behavior, was Ledger Live open in the background trying to access the Ledger? Did it ever happen with both Ledger Live and Trinity closed?

Concerning 4. It is t

[2018-11-03 15:39] rajivshah3 commented on #551
It does seem that the Ledger team has created some [React Native libraries](https://github.com/LedgerHQ/lib-ledger-core-react-native-bindings) though, so it could be a possibility in the future.

[2018-11-03 18:14] sloganking opened #562 "Trinity gives receiving address that already has funds."
### Bug description
Trinity gives receiving address that already has funds on it as a newly generated receiving address. If users hit "Sync address", Trinity crashes.

### Note
This bug occurred when using the Ledger Nano S

### Environment Specs
- OS version: Win10
- IOTA Ledger App version: 0.4.1
- Ledger Nano S Firmware Version: 1.4.2

- Trinity version: 0.4.0-BETA   (Desktop)

### Steps To Rep

[2018-11-03 18:38] rajivshah3 commented on #562
@SleepingFox88 are you able to reproduce this in the development version? Please use https://github.com/iotaledger/trinity-wallet/pull/563 as the `develop` branch may not work at this time

[2018-11-03 20:31] rajivshah3 commented on #550
@vincenzopalazzo do any windows pop up when you check for updates?

[2018-11-04 00:43] Wollac commented on #554
I could reproduce this for Account Index 0 and several instances of Account Page > 0.
Always leading to an "Incorrect Ledger device or changed mnemonic" error.

[2018-11-04 09:43] MickBenjamins opened #564 "[Feature Request] Option to rearrange account list"
### Description
On the desktop I want to be able to rearrange the Account list on the left hand side of the UI.

### Motivation
Currently the only way to rearrange the Account list is by deleting accounts, and adding them again in a different order

[2018-11-04 11:18] laumair commented on #560
Thank you for providing the information. I was thinking if this is related to the limit on number of inputs (for ledger accounts).

Looks like you only have one address with balance so it's unrelated to that.

[2018-11-04 11:22] laumair commented on #562
@SleepingFox88 Are you also facing this on mobile `v0.5.1`?

[2018-11-04 11:26] laumair commented on #564
Related issue https://github.com/iotaledger/trinity-wallet/issues/461

[2018-11-04 14:30] greenkeeper[bot] opened #565 "Invalid Greenkeeper configuration file"
We have detected a problem with your Greenkeeper config file  🚨

Greenkeeper currently can’t work with your `greenkeeper.json` config file because it is invalid. We found the following issue:

1. The group name `shared` is invalid. Group names may only contain alphanumeric characters, underscores and dashes (a-zA-Z_-).

Please correct this and commit the fix to your default branch (usually master)

[2018-11-04 15:12] kstrafe opened #566 "Allow copy-paste functionality for seeds"
### Description
Ability to copy-paste seeds.

### Motivation
Because it's not in any way "better security" to not allow copy-pasting. In any case, I have to resort to `xdotool` to automatically type out the clipboard. Secondly, the clipboard is cleared after 45 seconds by `pass`, the standard unix password manager.

I understand that it may be useful for security unaware individuals, but for peopl

[2018-11-04 17:47] laumair commented on #562
@SleepingFox88 Also, does it take a while before crashing or does it crash instantly after you press the sync button?

[2018-11-04 18:03] sloganking commented on #562
@laumair

I have not experienced any issues but may do some testing to see if there are any issues on mobile. The crashing as described above might be only when a Ledger Nano S is running the account, which would not be Ledger related.

It takes a couple seconds. Video below.
https://streamable.com/kis1b

Edit:

Take note the wallet only seems to crash when the account is managed by a Ledger Nano

[2018-11-04 19:31] rajivshah3 commented on #564
Closing as duplicate

[2018-11-04 19:31] #564 closed, assigned to nobody

[2018-11-04 20:05] f-ben commented on #519
On mobile the string on the delete account confirmation page are not completely translated
![image](https://user-images.githubusercontent.com/2088471/47969269-53693780-e075-11e8-8f8b-ef8e88283311.png)

[2018-11-04 21:47] vincenzopalazzo commented on #550
Hello, an error window appeared when I checked the update but this seems to have been resolved with the update released in these last days, I would like to point out that with the latest update you no longer see the application menu.
I attach a photo
![selection_001](https://user-images.githubusercontent.com/17150045/47970275-9cc08380-e083-11e8-93f5-f70d04751735.jpg)

[2018-11-04 22:02] rajivshah3 commented on #550
@vincenzopalazzo thanks, would you mind opening a new issue for this since it seems to be a different problem?

[2018-11-04 22:02] #550 closed, assigned to nobody

[2018-11-04 22:09] vincenzopalazzo opened #568 "Menu bar not displayed correctly"
### Bug description
The menu bar is not displayed correctly

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Del
- Model: E5270
- OS version:Linux mint 19

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.4.0

![selection_001](https://user-images.githubusercontent.com/17150045/

[2018-11-04 22:11] rajivshah3 commented on #568
Hi @vincenzopalazzo , has this always been the case, or was this introduced in 0.4.0?

[2018-11-04 22:14] vincenzopalazzo commented on #568
Hi @rajivshah3 , it was introduced with the update to version 0.4.0

[2018-11-04 23:49] #565 closed, assigned to rajivshah3

[2018-11-05 10:26] greenkeeper[bot] opened #572 "An in-range update of snyk is breaking the build 🚨"
## The dependency [snyk](https://github.com/snyk/snyk) was updated from `1.106.1` to `1.107.0`.

🚨 [View failing branch](https://github.com/iotaledger/trinity-wallet/compare/develop...iotaledger:greenkeeper%2Fshared%2Fsnyk-1.107.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

snyk is a direct dependency of this project

[2018-11-05 13:53] ghost opened #573 "[Ledger account] cannot send message"
### Bug description
It is impossible to send a message (i.e. a 0i transaction) with a Ledger account.

### Environment Specs
OS Linux Mint 18 (but i know someone who reproduce it under Windows 7)
Ledger firmware version: 1.4.2
IOTA app version: 0.4.1
Trinity version: 0.4.0-alpha

### Steps To Reproduce
1. Plug your Ledger and open the IOTA app on your Ledger.
2. Open a Ledger account on Trinity
3.

[2018-11-05 15:28] 70001 opened #574 "[Bug] [Ledger] [Linux] Can't get past "Choose Ledger account index""
### Bug description
When setting up the ledger nano s with trinity wallet, after choosing account index 0 and pressing on "next", nothing happens.
The animation of the button keeps spinning, but i can't get past this step.

### Environment Specs
Running Debian, Linux 4.9.0-8 with KDE (gnome-keyring installed)

- Trinity version: v0.4.0

### Steps To Reproduce
1. Download Trinity Appimage
2. Downlo

[2018-11-05 15:33] #572 closed, assigned to rajivshah3

[2018-11-05 17:54] #517 closed, assigned to nobody

[2018-11-05 19:25] TylerHann commented on #573
0i transactions don't require a signature from the Ledger, nor are messages signed. I believe both should be compatible with Ledger (run a check for 0i before querying Ledger).

[2018-11-05 20:15] VS15 opened #577 "Camera doesn't launch during initial setup of the seed/wallet - iOS"
Hi team,

Filing this Jira to track the issue with iPhone camera failure to launch during the initial setup of the seed/wallet after the installation (Iphone 8 plus/ iOS 12.0.1 (16A404)).
Steps to reproduce:
1. Install trinity wallet for iOS v 0.5.1 (27)
2. Go through the initial steps to generate a new seed.
3. Once done with the step 2 the wallet will request to import the newly generated seed
4

[2018-11-06 07:26] mgeier63 commented on #454
FYI, I have some experience coding with Yubikeys, so I am currenty looking into this.
Unfortunately, after starting to work with the current 2FA code in Trinity, I do have some general concerns ( unrelated to the use of Yubikey for 2FA) and posted them to the Trinity Bug Bounty Program.

[2018-11-06 08:03] mgeier63 commented on #488
Try this for a "public" seed with lots of used addresses ;-)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

Impossible to use with Trinity, spinning for hours now...

[2018-11-06 08:19] rihardsgravis commented on #498
Cannot reproduce on macOS or Windows 10. The wallet accepts `#` as a valid password character.

[2018-11-06 08:32] t0rv1c commented on #574
Same issue here (with Ubuntu 18.04)

[2018-11-06 08:37] marcodepolo commented on #574
Same issue for me on Ubuntu 16.04.04

[2018-11-06 08:45] marcodepolo opened #579 "Appimage suddenly crashes on opening"
### Bug description
When launching the appimage file yesterday, trinity was opening. This morning, no idea why it won't open. I'm starting it using by command line on ubuntu 16.04.04
No error message on output, command just return to prompt after less than a second

### Environment Specs
What device are you running Trinity on?

- Manufacturer:
Dell
- Model:
- OS version:
Ubuntu 16.04.04

What buil

[2018-11-06 09:52] b0-ones commented on #498
Sorry i thought it was because of the # in the password. But that also happens to people without a # in the Password, so it must be related to something else. But it happens all of a sudden again and i have to reset the Wallet to use it again.

See Discord Chat (German #hilfe) where this happened to another user called Lanz, who did not have a # in password:

https://discordapp.com/channels/397872

[2018-11-06 09:57] b0-ones commented on #498
![image](https://user-images.githubusercontent.com/44143077/48056742-b7dde100-e1b2-11e8-97cf-538a0300e069.png)

![image](https://user-images.githubusercontent.com/44143077/48056750-bb716800-e1b2-11e8-9d87-8dc2c2124122.png)

[2018-11-06 10:11] #469 closed, assigned to nobody

[2018-11-06 11:59] cvarley100 commented on #488
@mgeier63 I just tested this seed on desktop (Mac OS) and left it running while I continued working. It loaded eventually (in under 30 minutes).

[2018-11-06 12:13] Noki commented on #488
@mgeier63 Also worked on Windows for me...

[2018-11-06 12:52] mgeier63 commented on #488
I stand corrected. Tried it again with the release version of Trinity and it took ~ 15 minutes on an Nexus 5x to initially sync the Ax81 seed.
Probably running in development mode makes a big difference, 'cause that's when I witnessed the spinning for hours...

[2018-11-06 14:34] rajivshah3 commented on #517
An error linked to this issue has been marked as fixed in Bugsnag
[**java.lang.NumberFormatException** in **MainActivity**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc50a82b839050019e235be?event_id=5be1a4a70030809950ea0000&i=gh&m=fx)

[2018-11-06 14:35] rajivshah3 commented on #517
An error linked to this issue has been marked as fixed in Bugsnag
[**java.lang.NumberFormatException** in **MainActivity**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc669a9a9f3be00195f4367?event_id=5bdf12af00307eaf2dc20000&i=gh&m=fx)

[2018-11-06 15:29] gaaddaar opened #580 "Trinity Wallet "Reset Wallet Issue""
Hi,
I’ve reset wallet by mistake in Trinity wallet, and then i've set my wallet using with my seeds again but my assests were lost. How can i get my assets ?

### Bug description
Reset wallet with by mistake in trinity mobil wallet, reset again but there is no token

### Environment Specs
What device are you running Trinity on?
Mobil

- Manufacturer: Apple
- Model: 6s
- OS version: iOS 12.1

What

[2018-11-06 18:25] f-ben opened #581 "checksum highlighting on receiving addresses using ledger"
### Description
Since Ledger can only display a limited amount of characters and by default shows the first few characters and the complete checksum for a receiving address, trinity should highlight this part of the address.

### Motivation
Makes it a lot easier for ledger users to check that the address shown in ledger matches the one in trinity.

### Open Questions (optional)
Highlight only the

[2018-11-06 18:28] cvarley100 commented on #581
Already done 🙂

https://github.com/iotaledger/trinity-wallet/pull/575

[2018-11-06 18:28] f-ben commented on #581
stop being so good

[2018-11-06 18:29] #581 closed, assigned to cvarley100

[2018-11-06 20:57] #498 closed, assigned to rihardsgravis

[2018-11-06 21:02] #554 closed, assigned to nobody

[2018-11-06 21:22] #470 closed, assigned to nobody

[2018-11-07 02:16] rajivshah3 commented on #580
Hi @gaaddaar , please verify that you have entered the seed correctly. If you are entirely sure that your seed is correct, please try performing a snapshot transition and manual sync in the wallet settings.

[2018-11-07 08:08] gaaddaar commented on #580
Hi Rajivshah, Thanks for reply and i'm pretty sure that seeds are correct because last time i used with seeds with different mobile device.
How can i perform a snaphot transition ?
Then i can make manual sync ?

[2018-11-07 08:43] gaaddaar commented on #580
Hi Again,

İ’ve made snapdhot transition but still balance is “0”,

[2018-11-07 09:57] 70001 commented on #574
I have fixed it. The problem was that non-root was not able to access USB devices.
Running Trinity as root was not possible, therefore couldn't find it out earlier.

To fix it:

Download this script from LedgerHQ's github (e.g. with wget):
https://raw.githubusercontent.com/LedgerHQ/udev-rules/master/add_udev_rules.sh

Then make it executable and run it.

It should work then.
If not, you may need t

[2018-11-07 09:57] #574 closed, assigned to nobody

[2018-11-07 10:13] t0rv1c commented on #574
Awesome! Will try. Thanks

-------- Original Message --------
On Nov 7, 2018, 10:57, 70001 wrote:

[2018-11-07 10:58] rihardsgravis commented on #573
Fixed in #570

[2018-11-07 10:58] #573 closed, assigned to nobody

[2018-11-07 11:01] laumair commented on #580
@gaaddaar All your addresses in _Settings > Account Management > View Addresses_ have zero balance?

Also, do you remember roughly how many addresses did you have before resetting the wallet?

[2018-11-07 11:28] gaaddaar commented on #580
Hi Laumarir,

I've attached caps of my wallet and as you see all adresses balance is "0".
To be honest i can not remember but last transactions were done via Binance, i can get all adresses in case of it helps.
Thank you in advance.

https://drive.google.com/file/d/1w-rqX9OKauX10zzHpX-0ovxC0VFYhLLU/view?usp=sharing

[2018-11-07 11:38] laumair commented on #580
@gaaddaar According to the screenshot, all your addresses are spent. This seems to me a correct view of addresses.

Can you please check transactions on your _spent_ addresses via https://thetangle.org ?

[2018-11-07 12:04] gaaddaar commented on #580
@laumair I've searched and attached as below link,
all of them is my old transactions seem correct and last transaction is 537,82 Mi.
What does "Spent" mean ?

https://drive.google.com/file/d/1Oo0hMboKD-56_I_9BNY4JkTyqRP8TJv7/view?usp=sharing

[2018-11-07 12:27] laumair commented on #580
@gaaddaar

_Spent_ means that you've spent your tokens at least once from the address.

From the latest screenshot that you've attached, it looks like that you have already spent all your tokens. In such a case your balance should be zero.

[2018-11-07 12:43] gaaddaar commented on #580
@laumair Hi Again,
As i said, i reset wallet by mistake not spent my tokens.
Do these actions prove that my tokens have been lost ?
Because i didn't spent any token that i have.
If yes, how can proceed to get my tokens ?

[2018-11-07 12:56] laumair commented on #580
@gaaddaar

No, resetting the wallet has nothing to do with spending the tokens.

Are you on IOTA [discord](https://discordapp.com/invite/fNGZXvh)?  If not, can you please sign up and share your username? I'd have to check the addresses on your seed to see what's wrong.

[2018-11-07 13:03] gaaddaar commented on #580
@laumair Hi, my username is gaddar and i am online

[2018-11-07 13:30] t0rv1c commented on #574
@rajivshah3  Sorry, I didn't really pay attention when I saw the reply for the fix and was just happy to see it "fixed" and closed, but it doesn't fix the problem #574. I already had the rules added to my system and was happily using my ledger with Ledger Live... So this does not solve the issue.

[2018-11-07 16:55] gaaddaar commented on #580
@laumair Could you please mention Charlie here or on Discord ?
Then i will be able contact to him,

[2018-11-07 17:30] rajivshah3 commented on #574
@t0rv1c it looks like this was fixed in https://github.com/iotaledger/trinity-wallet/pull/570, which will be included in the next build. If the issue still persists with the upcoming version, we can reopen this

[2018-11-07 17:41] rihardsgravis commented on #315
Fixed in #510

[2018-11-07 17:41] #315 closed, assigned to nobody

[2018-11-07 18:31] laumair opened #585 "Unhandled exceptions when a new account is added"
### Bug description
There are some edge cases that aren't handled and they lead wallet to a state where it becomes completely unusable.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: iPhone 6
- OS version: 12.1

- Trinity version:  0.5.1  (27)

### Steps To Reproduce
**Case 1**
When _first_ account is added:
1. Add seed (Complete onboarding)
2. Close

[2018-11-07 18:39] laumair commented on #580
@cvarley100

After having a discussion with @gaaddaar on Discord, the problem is that the address where the funds were received from Binance isn't associated with the seed. Have personally checked addresses till 150th index.

My initial thoughts were that this could be related to the bug in desktop version 0.3.4 but @gaaddaar hasn't used the desktop app.

[2018-11-07 19:31] #474 closed, assigned to nobody

[2018-11-07 21:21] rajivshah3 commented on #580
So the address was generated with Trinity Mobile?

Was the address that the withdrawal was sent to similar to any of the addresses associated with the seed? It's possible that there was some sort of typo in the address and Binance allowed it (this would only happen if they didn't validate address checksums)

[2018-11-07 21:40] gaaddaar commented on #580
@rajivshah3 Hi Ravi,
Yes, address was created by Trinity Mobile,

For the second question, i can not understand well, I've copy and send the address created with Trinity via mail, then i pasted to Binance wepage withdrawal address webpage via laptop. So transaction was done correctly, and i see all funds in my Trinity Wallet,
After reset wallet by mistake in Trinity Mobile, i've re-set my seed in

[2018-11-07 21:46] rajivshah3 commented on #580
I see. When you generated this address, were you using Trinity 0.5.1 (27) or a different version? That might help us isolate the issue

[2018-11-07 21:49] gaaddaar commented on #580
@rajivshah3  To be honest, i don't remember but most probably could be old versiyon, i always check new version of Trinity.

[2018-11-08 08:22] marcodepolo commented on #579
could have been a linux issue as the ledger live appimage had the same symptoms. Both started working correctly after a simple system restart

[2018-11-08 11:15] t0rv1c opened #589 "Can't get passed the "choose your ledger account index""
### Bug description
Can't get passed the "choose your ledger account index". Clicking continue does nothing.
Ledger is definitely recognized as soon as I plug it in and enter the pass code.
Ledger works with Ledger Live although I need to sudo to get to interact with the Ledger wallet. Trying  to run Trinity with sudo doesn't work: it lets me know I need to install dependencies that are already in

[2018-11-08 15:33] gaaddaar commented on #580
@rajivshah3 Hi, have able to get some clue with this issue ?

[2018-11-08 15:40] rajivshah3 commented on #580
Hi, I haven’t really had time to investigate this issue at the moment. Other members of the team may be investigating this though.

[2018-11-08 16:53] gaaddaar commented on #580
Hi @cvarley100 , have you able to look out for my request ?

[2018-11-08 19:35] rajivshah3 opened #591 "java.lang.IllegalArgumentException when hashing password"
## Error in Trinity Mobile

**java.lang.IllegalArgumentException** in **NavigationActivity**
Factors and values given to Argon2 must be positive and have a positive length (encodedlen may be 0)

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5bc504eff98b72001dc037d7?event_id=5be385ef0030947b95690000&i=gh&m=ci)

## Stacktrace

    java.lang.IllegalArgumentException

[2018-11-10 20:34] f-ben commented on #566
Thats a security flaw which clearly will not pass any audit. Why not use a seedvault file?

[2018-11-10 21:07] kstrafe commented on #566
How is it a security flaw?

I can't manage a seedvault file on linux because 1) I do not want a dependency on KeePass 2) I don't want to run a GUI application just to manage passwords.

[2018-11-10 21:14] f-ben commented on #566
Maybe flaw is the wrong word. "Huge weakness" fits better I think. As someone who knows what he is doing I don´t need to tell you about keyloggers and similar software, you surely know that. The wallet has to protect users who do not know what they are doing and thus copy/paste is disabled. You´re better off cloning the repo and building your own version I guess.

[2018-11-10 21:22] kstrafe commented on #566
It doesn't matter on a compromised device, you can log keys as well as the clipboard. There's no difference in that. I'm already using the native cache from first entering the codes (Perhaps this is in a seedvault, I don't know), but when porting your stuff to another machine it really doesn't matter if you type 'em out or paste it in.
Besides that, a compromised machine might as well leak your ke

[2018-11-10 21:25] rajivshah3 commented on #566
Copy/paste is currently disabled because the clipboard behavior in Electron causes the seed to remain in memory even after the garbage collector is triggered. Therefore, it would appear in a memory dump. Once we pinpoint what causes the seed to remain in memory and contribute an appropriate fix to Electron (if needed), we may be able to allow copy/paste.

[2018-11-10 21:39] f-ben commented on #519
Trinity desktop when adding a ledger-seed
![image](https://user-images.githubusercontent.com/2088471/48306461-6bd7c700-e539-11e8-8b19-74921dfe53b5.png)

[2018-11-10 21:56] f-ben opened #593 "Ledger: Confirm IOTA warning message disappears"
### Bug description
When setting up the ledger while Trinity Desktop is opened you can get stuck in the "choose ledger account index" screen.

### Environment Specs
- OS version: Windows 10
- Trinity version: Desktop 0.4.1

### Steps To Reproduce
1. Open Trinity Desktop (new or existing account)
2. Open Ledger Live
3. Install IOTA Ledger app but dont open it
4. In Trinity add account and go on as

[2018-11-10 22:30] rajivshah3 commented on #566
You don't need a GUI application. I don't have a KeePass client. I just create the SeedVault from Trinity and save it somewhere safe. When I need it, Trinity will import and parse the KDBX. I don't need KeePass for that.

[2018-11-11 02:30] kstrafe commented on #566
@rajivshah3 does electron implement its own clipboard functionality? I'm using the system clipboard (the one provided from the X windowing system to be specific). Or is electron's clipboard paste handler the cause of lingering seeds in memory?

While this is a solution, it's not preferred as I can't access the seed outside of using trinity (or KeePass), which is not ideal.

You state that "Trinity

[2018-11-11 10:26] f-ben commented on #566
You only import your seedfiles once and then login with the password. No need to import the file everytime you open trinity.

Why would a regular user want to to this? Also you can keep your seed in your xdotool for everything else and use the seedvault file for trinity. This of course is a inconvinient way to handle the seed but your particular usecase (i dont get) is nothing a regular user worri

[2018-11-12 16:44] rajivshah3 commented on #416
An error linked to this issue has been reopened in Bugsnag
[**N2Js19JavascriptExceptionE** in **unknown method**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba4c32ee1ce1200194f94f1?event_id=5be9ae040030871a4f680000&i=gh&m=ra)

[2018-11-13 10:33] JonaFly opened #597 "The ios app can't open the camara to scan seed QR code"

[2018-11-13 18:03] rajivshah3 commented on #597
@wjy7551376 would you mind filling out the template? Also, can you verify that Trinity appears in the list under Settings > Privacy > Camera?

[2018-11-13 18:39] Gitulu commented on #593
Hello Guys,

I can confirm this, same version and everything up to date.
Thank you also for this great Workaround.

[2018-11-14 23:29] rajivshah3 opened #599 "Clicking "No" during snapshot transition keeps adding to the detected balance"
### Bug description
Originally reported by olaz preton#0333 on Discord

Clicking "No" repeatedly during the snapshot transition keeps adding to the detected balance, even though the detected balance is higher than the actual balance. It seems like Trinity is regenerating the same addresses, treating their balances as new, and then adding the balances to the detected balance.

### Environment Specs

[2018-11-15 09:48] #585 closed, assigned to laumair

[2018-11-16 08:59] rihardsgravis commented on #593
This is actually a bug on the Ledger IOTA App side. When doing the check request for an open IOTA App, the Ledger resets the user interface and the warning disappears (although it should stay there till accepted). There is no workaround on Trinity side, that is why the error says `Reopen the IOTA app on your Ledger device, accept the informational warning and try again`.

[2018-11-16 10:41] #593 closed, assigned to nobody

[2018-11-17 07:00] codehypes commented on #599
Can you please provide a screenshot of the feature you mentioned, as I find it difficult to reproduce the same scenario

Best Regards,

[2018-11-17 07:14] rajivshah3 commented on #599
Hi @coderntester , here's a screen recording of the issue:
[Snapshot Transition Bug.mov.zip](https://github.com/iotaledger/trinity-wallet/files/2591576/Snapshot.Transition.Bug.mov.zip)

I apologize for sending it as a .zip but it seems like GitHub doesn't accept video uploads

[2018-11-18 09:01] f-ben commented on #593
Hey Rihards,
thanks for reply. Reopening the IOTA ledger app doesn´t help. You have to go back one step in trinity or restart trinity completely. If thats not solvable by trinity the message should be extended to something like "Close Trinity, reopen the IOTA app on your ledger device, accept the informational warning and try again"

[2018-11-18 15:01] CrashTD opened #604 "DevTools with websocket access always running by default (appimage)"
Starting the .appimage via command line on linux shows

This address seems to be a websocket and accept json. not tested further. however, now its possible to access http://127.0.0.1:35437/json and get more information about trinity. especially the

which rewritten like this allows opening trinity inside the browser and use the browsers own dev tools / console

http://127.0.0.1:35437/devtools/insp

[2018-11-19 12:37] ghost opened #605 "[Linux Debian based distros] Bitcoin symbol not displayed"
### Bug description
The Bitcoin symbol is not correctly displayed in the market section of an account.

### Environment Specs
- OS version: Linux Mint 19 (some people reported the same issue on Debian based distros)
- Trinity version: 0.4.1 but already present in previous versions.

![image](https://user-images.githubusercontent.com/9414596/48707616-4bc29a80-ec00-11e8-867f-d1152943173e.png)

[2018-11-19 12:38] ghost commented on #605
nb: €, $ and ETH symbols are correctly displayed.

[2018-11-19 16:19] rajivshah3 commented on #605
We could try using the Thai Baht symbol like we've done for Android:

https://github.com/iotaledger/trinity-wallet/blob/b3cb1e1002fe56e7d8217deec016690b3c0cf4f0/src/mobile/src/ui/components/Chart.js#L99-L101

[2018-11-19 20:53] rihardsgravis commented on #604
Unsetting remote-debugging-port (#541) on runtime results in running the debug mode on random port rather disabling it. The application can only be terminated if debug mode is detected, fixed in #610

[2018-11-19 21:03] #604 closed, assigned to nobody

[2018-11-19 22:42] #384 closed, assigned to nobody

[2018-11-20 16:27] #513 closed, assigned to nobody

[2018-11-20 16:28] KiwiCat123 commented on #513
tested it again with Trinity 0.4.2 and it seems to be fixed now

[2018-11-20 23:10] sloganking opened #619 "Auto-promote intensity setting"
### Description
Have an option in settings where users can choose to auto-promote every few minutes or constantly until pending transactions are confirmed.

![photo_2018-11-20_18-08-54](https://user-images.githubusercontent.com/16965931/48808602-6162bd80-ecef-11e8-9c1e-b10277e456bd.jpg)

### Motivation
This will let users pick between saving power and having faster confirmations.

### Requirements

[2018-11-20 23:22] sloganking opened #620 "When sending to self, display an icon in history (instead of two transactions)"
### Description
When sending to yourself we currently have the wallet show two transactions, one sending and one receiving of the same amount. I suggest only showing one transaction but changing the Plus or Minus Icon to an arrow that loops back around to itself to indicate you sent funds to yourself.

### Motivation
Simply transaction history screen and reduce clutter.

### Requirements

Display

[2018-11-21 03:48] initharrington commented on #597
Hey @rajivshah3

I figure I would update as I found the same issue.

### Bug description
When using the trinity ios app to scan a QR code to load a seed, the screen is black and the camera does not launch.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Apple
- Model: MT602LL/A - iPhone XS Max 256GB
- OS version: 12.1 (16B92)

What build of Trinity are you running?

[2018-11-21 03:53] initharrington commented on #597
Seems to be similar to #577 as well.

[2018-11-21 04:44] codehypes commented on #599
Hi @rajivshah3

however that does not update the real balance of my account.what is its impact?

Best Regards,

[2018-11-21 04:49] rajivshah3 commented on #599
@coderntester right, it shouldn't affect the real balance. But it makes the user think that they found more IOTA than they should have 😄

[2018-11-21 11:52] luca-moser opened #621 "App doesn't recognize installed dependencies"
### Bug description
Trinity Desktop is unable to correctly determine the installed dependencies shown by "Missing security dependencies" screen:

Screenshot from 2018-11-21 12-49-01
![image](https://user-images.githubusercontent.com/1385611/48839441-d683d080-ed8b-11e8-80fa-e9f6208990f2.png)

![image](https://user-images.githubusercontent.com/1385611/48839600-47c38380-ed8c-11e8-9687-e3f0009f0a02.pn

[2018-11-21 18:27] cvarley100 commented on #589
@t0rv1c Have you tried again with the latest release? (0.4.2)

[2018-11-21 18:28] cvarley100 commented on #597
Duplicate of https://github.com/iotaledger/trinity-wallet/issues/577

[2018-11-21 18:28] #597 closed, assigned to nobody

[2018-11-21 18:30] cvarley100 commented on #566
Copy paste is disabled as a security design decision. Users should use SeedVault for digital storage of seeds.

[2018-11-21 18:30] #566 closed, assigned to nobody

[2018-11-21 18:32] cvarley100 commented on #551
Many of your questions are answered [here](https://github.com/IOTA-Ledger/blue-app-iota) and [here](https://trinity.iota.org/hardware).

[2018-11-21 18:32] #551 closed, assigned to nobody

[2018-11-21 18:36] cvarley100 commented on #562
@SleepingFox88 This should be fixed in https://github.com/iotaledger/trinity-wallet/pull/571. Please reopen this if it continues to occur.

[2018-11-21 18:36] #562 closed, assigned to nobody

[2018-11-21 19:19] sloganking opened #625 "Proof of Work progress indication"
### Description
Upon sending a transaction, show the number of transactions that have Proof of Work completed out of the total transactions in the bundle about to be broadcast. Similar to how the amount of addresses attached are now shown in snapshot transitioning.

### Motivation
This will assure progress is happening when Proof of Work is taking a while to complete. I.E. in large bundles.

### R

[2018-11-21 19:44] sloganking opened #627 "Add progress bar on transaction retry"
### Description
Add a progress bar for transactions sending status when users manually hit retry on existing transactions.

### Motivation
This will help users be more aware when there are bugs and the retry button is not working as well as it could. Be that with IRI or with Trinity itself.

### Requirements
- Add a transaction sending progress indicator near the spinning "retrying" Icon in transa

[2018-11-21 22:10] antalm commented on #519
Although not Trinity Mobile, but I don't want to open a separate one for this minor issue.
On the top left of the transaction history there's a filter (all/sent/received/pending/hide zero value). The "All" string (on the picture see "All (121)") is not translated.
![trinity_filter_all](https://user-images.githubusercontent.com/29548853/48870823-8f74fa00-ede2-11e8-987b-81046726e58f.png)

[2018-11-21 23:18] t0rv1c commented on #589
@cvarley100 yes, not working

[2018-11-21 23:19] t0rv1c commented on #589
@rajivshah3 how do I get a log?

[2018-11-22 00:17] rajivshah3 commented on #589
Since I don't know where this issue is coming from, it's hard to tell where the log should come from 😕

[2018-11-22 13:20] t0rv1c commented on #589
@rajivshah3 there is no option to get a debug log?
All I know is that despite the fact that the app acknowledges the Ledger wallet connection, it seems that it's not able to communicate with it. Also, note that at first I had the same issue using Ledger Live until someone suggested sudo with the app (yes, I had already establish the correct udev rules but that wasn't enough). After that everything

[2018-11-22 19:18] gaaddaar commented on #580
Hi All,
Is there any progress with my issue ?
@cvarley100 @rajivshah3 @laumair ?

[2018-11-22 19:52] sloganking opened #632 "Make checksum blue on all displayed addresses"
### Description
Make checksum blue on all displayed addresses

### Motivation
This will allow for faster user address verification, and further promote a consistent standard for how addresses are expected to be displayed.

### Requirements
Make the checksum of an address shown in blue like the address generation page already does.
https://i.imgur.com/gg33N32.png

On the:

Send page:
https://i.imgu

[2018-11-23 04:41] john-zaprite opened #633 "iOS Keyboard does not disappear after auto-filling from 1Password"
### Bug description
The keyboard does not disappear after using iOS 'Passwords' feature to auto-fill a password from 1Password.

### Environment Specs
- iPhone XS
- Trinity version: v 0.5.1 (28)

### Steps To Reproduce
1. Use 1Password to auto-fill a password when logging in
2. iOS keyboard does not disappear, so the Login button cannot be seen
3. 'Done' button on keyboard is greyed out, so you ca

[2018-11-23 22:10] IOTANGLE42 commented on #621
Same problem/bug is on Ubuntu 18.04.1 LTS. All asked libraries installed but still the message with "Missing security dependencies". Additionally I Installed Trinity Wallet on a new laptop and got there a stuck after "choose your ledger account index" like #589 .
Also on Ubuntu 18.04.1 LTS.
Is there already a solution?

[2018-11-23 23:24] IOTANGLE42 commented on #589
Had the same issue when I installed Trinity on a Fedora Linux laptop. Trinity opened and I could do the first steps but at "choose your ledger account index" it stucked. I couldn't select an account index.

[2018-11-24 04:53] mgeier63 opened #635 "new release of react-native-haptic-feedback has a changed package name, breaks stuff"
### Bug description
See here:

https://github.com/mkuczera/react-native-haptic-feedback/releases/tag/v1.4.0

### Environment Specs
build problem

### Steps To Reproduce
1. check out *fresh* repository and install dependencies
2. you will get react-native-haptic-feedback 1.4.2 or so
3. `> Task :app:compileDebugJavaWithJavac FAILED
/home/yao/AndroidStudioProjects/trinity-wallet/src/mobile/android/ap

[2018-11-24 18:29] #635 closed, assigned to nobody

[2018-11-24 19:31] rajivshah3 commented on #633
Hi @john-magill ,
Nice catch, I'm surprised I never noticed this before. This is actually an issue with the iOS SDK (I was able to reproduce this in native iOS apps such as 1Password). I'll submit a report to Apple and keep this thread updated with any progress made on that side. Thanks for reporting this!

[2018-11-24 21:22] john-zaprite commented on #633
Yes I see it's the same with keychain passwords too. It doesn't auto-submit the form. Interesting!

[2018-11-24 22:33] rajivshah3 commented on #633
Submitted to Apple: [rdar://46229116](https://openradar.appspot.com/radar?id=6158871106158592)

[2018-11-26 06:10] Rajir85 opened #639 "Privacy Policy Minor Typo"
### Bug description
- Minor Typo (spaces after privacy@iota.org email address) in App Privacy Policy.

-- Under Section "Consent and withdrawal" there is no space between "privacy@iota.org" and "or"
-- Under Section "Legitimate Interest and Right to Object" there appear to be two spaces between "privacy@iota.org" and "or"

### Environment Specs
- Manufacturer: Apple
- Model: iPhone 7
- OS version:

[2018-11-26 07:04] Trigs21 opened #640 "Zero balance after re-install"
Bug Description

After re-installing Trinity on my phone, entering my seed (which was checked several times for accuracy), entering my account name and password, it shows my balance as zero and I get a pop up window saying "Is your balance correct?" it continues to say that i should do a snapshot transition, however I cannot continue from this screen as the "Okay" button has no reaction when i cli

[2018-11-26 10:25] cvarley100 commented on #640
Hi @trigs21. How did you store your seed? The snapshot transition modal hang has been resolved for the next release.

[2018-11-26 10:32] Trigs21 commented on #640
Hi @cvarley100 The seed was generated through the trinity wallet option at the very beginning; I copied the seed and saved it locally.

[2018-11-26 10:46] laumair commented on #640
@Trigs21 Do you only see a single address in `Settings > Account Management > View Addresses` ?

[2018-11-26 14:41] Trigs21 commented on #640
@laumair Yes, I believe in the Trinity Desktop I can only see one address.

[2018-11-26 22:32] UmbahaSpodPaha opened #642 "Require 2FA token to show the account seed (if 2fa enabled)"
### Description
Currently, we only need to put the password to see our account seed in account settings.
It would be much more secure to additionally require 2FA token (when 2FA enabled obviously)

### Motivation
Our local community came up with this idea. More secure. Less possibility of stolen seed.

### Requirements
Add additional 2FA verification to see the account seed.

### Am I planning to

[2018-11-27 12:11] Trigs21 commented on #640
@cvarley100 does this mean that I will not be able to see my balance until next release when the hang is resolved?

[2018-11-27 12:21] cvarley100 commented on #640
@trigs21 The two items should be unrelated. So you generated the seed from within Trinity on Android. How did you copy it to store it?

[2018-11-27 12:35] Trigs21 commented on #640
@cvarley100 I just followed the instructions on the screen, i wrote it down and confirmed i backed it up.  I have also saved it in my email account so its available anytime should i need it.  I dont think the issue is with the seed as i had this seed for a while now and i never had an issue with my balance before, even after a few transactions, it is just recently that the balance did not show cor

[2018-11-27 13:00] Trigs21 commented on #640
@cvarley100 @laumair  Just wanted to let you know that after reinstalling the mobile Trinity wallet for the third time and following the steps in the help i finally managed to get the correct balance.  I wish i knew what was wrong the first two times but I'm sure glad i can sleep better at night knowing my balance is back.  Thank you for your time to help me.

[2018-11-27 13:10] #640 closed, assigned to nobody

[2018-11-27 16:12] LadaLoveMoney commented on #593
Hi i have same problem, but will not help me "go back one step" What shall I do now?

[2018-11-27 21:16] dreamfony opened #647 "Ability to use Trinity Desktop in offline mode"
I would like to use Trinity Desktop in offline mode on a air gaped computer. In offline mode I would like to

- generate a seed and a receive address
- generate and sign payments and export them to a file which I can import and transfer to the network on a second online computer with Trinity Desktop.

[2018-11-28 09:25] brunoamancio opened #649 "Allow "No fiat currency" mode"
### Bug description
I think it makes sense to allow users not to show any currency conversion in USD, EUR or anything else. Especially when I'm with somebody who doesn't know about IOTA and sees the balances. In This case I'd like to only display my balance in IOTA.

### Environment Specs
All

- Trinity version: Latest

### Expected behaviour
No balance convertion to FIAT show be displeyd in the G

[2018-11-28 19:09] #323 closed, assigned to nobody

[2018-11-28 19:10] cvarley100 commented on #410
This is a design decision.

[2018-11-28 19:10] #410 closed, assigned to nobody

[2018-11-28 19:11] #433 closed, assigned to nobody

[2018-11-28 19:12] cvarley100 commented on #437
This was a design decision - to break the address up a little bit. We will improve address displays further in the future.

[2018-11-28 19:12] #437 closed, assigned to nobody

[2018-11-28 19:19] #579 closed, assigned to nobody

[2018-11-28 19:28] rajivshah3 commented on #633
@john-magill I'll close this for now since it's not a Trinity bug, but I'll keep this thread updated with any replies I get from Apple

[2018-11-28 19:28] #633 closed, assigned to rajivshah3

[2018-11-29 01:43] UmbahaSpodPaha opened #653 "Missing translation in dropdown menu "All""
### Bug description
"All" is translated as selected option but not translated in dropdown menu on options TO BE selected.
(see screenshot)
![all - dropdown](https://user-images.githubusercontent.com/35224101/49193757-97074680-f380-11e8-8980-d0cdd713345d.png)

### Environment Specs
PC - Win7

- Trinity version: 0.4.2

### Steps To Reproduce
1.
2.
3.

### Expected behaviour
Both - selected item "All

[2018-11-29 02:14] UmbahaSpodPaha opened #654 "individualLetterCount & randomiseCharsToContinue on seed generation NEEDS to be precised and enhanced for more languages"
### Bug description
On seed generation screen we need to click random letters 10 times. And we have these strings to click more individual letters here.

We have 2 different forms on crowdin which are translated properly but there is a problems with it. Only individual form is used with all letters.

10 letter**s** and 1 lette**r** is never distinguished and always displaying individual form. (see

[2018-11-29 02:34] UmbahaSpodPaha opened #655 "Add separators or tabs to differentiate standard and ledger accounts"
### Description
I came up with the idea for sorting/seperating standard and ledger accounts (when one is used). It would be either simple seperators like on the screenshot i prepared or tabs (like in Google Chrome for example)
![accounts types](https://user-images.githubusercontent.com/35224101/49195516-bbb2ec80-f387-11e8-8d66-d8862200b3af.png)

Or tabs draft:
![accounts types-tabs](https://user-i

[2018-11-29 03:09] UmbahaSpodPaha opened #656 "Strange behavior in transactions search-bar"
### Bug description
The search-bar in transaction history acts really weirs and unintuitive. I put "13324" into search-bar and it showed me a lot of random transactions. Searching by tx messages kinda works though. Writing 30Ki or 30 Ki and still nothing.

### Environment Specs
PC - Win7

- Trinity version:
0.4.2

### Expected behaviour
I would like to have responsive and intuitive search-bar like

[2018-11-29 03:11] UmbahaSpodPaha commented on #656
Also when we have some text typed in search box, It would be good to have a little "X" button to remove current typed-in text.

[2018-11-29 03:39] UmbahaSpodPaha opened #657 "Feature Mobile+Desktop - Add fast-scrolldown button to the Terms and conditions & Privacy Policy"
### Description
Add quick scroll button to Terms and conditions & Privacy Policy pages on both DESKTOP and MOBILE versions. Would be great to have that fancy animation that scroll fast trough text to show us how much we "missed".
![fv8kbfy](https://user-images.githubusercontent.com/35224101/49197827-af7f5d00-f390-11e8-8587-4c738ba864a6.png)

### Motivation
Better user experience. I know it have to

[2018-11-29 03:47] UmbahaSpodPaha opened #658 "Can't exit "write down seed" screen"
### Bug description
When we creating new account with new seed and when we choose "Write down seed" let's say by mistake...we can't exit this screen with any button - there isn't any. Only ESC key works in this case.

We have only "Done" button there, but when new user just wanted to only try this option or clicked by mistake and don't want to actually use it, he would rather click X or "Back" ins

[2018-11-29 04:00] UmbahaSpodPaha opened #659 ""Corrupted" string on dropping SeedVault file + wrong string"
### Bug description
1. Weird <1></1> tags showing up when we're trying to drop seedvault file onto Trinity
2. There shouldn't be "...or click to browse" sentence in this exact string since we're already in the process of dropping file into the windows. We can't really "click to browse" on this screed. I know it's a leftover from the previous box when we're setting new seed.

![droppingseedvault](h

[2018-11-29 04:14] UmbahaSpodPaha opened #660 "Mobile: Untranslated "You're sending to" box"
Untranslated 3 phrases on the box from the screenshot.

**The same box on DESKTOP is translated properly!**

Trinity Version:
0.5.1 (28) Android

![screenshot_20181129-050638_trinity](https://user-images.githubusercontent.com/35224101/49198905-b0ff5400-f395-11e8-9451-442e65e4447a.jpg)

### Am I planning to do it myself with a PR?
No

[2018-11-29 04:18] UmbahaSpodPaha opened #661 "Mobile: All sending steps untranslated"
All sending steps are untranslated on mobile version **but on desktop these are translated properly!**

So the translations are done but Trinity mobile don't want to use these somehow.

Trinity Version:
0.5.1 (28) Android

![screenshot_20181129-050651_trinity](https://user-images.githubusercontent.com/35224101/49198994-210dda00-f396-11e8-9d78-a124a245c1c8.jpg)
![screenshot_20181129-050705_trinity]

[2018-11-29 04:24] UmbahaSpodPaha opened #662 "Mobile: Choose node overlaps with node address"
### Bug description
Choose node title overlaps with node address which looks bad.
![screenshot_20181129-050942_trinity](https://user-images.githubusercontent.com/35224101/49199189-db9ddc80-f396-11e8-99f4-2f28564f608d.jpg)

### Environment Specs
Samsung Galaxy S9+
Android 8.0

- Trinity version:
0.5.1 (28)

### Expected behaviour
Maybe make address of the node shorter like https://pow5.iota.comm...

[2018-11-29 06:13] rajivshah3 commented on #303
Update: We might have a fix for this soon 🎉
https://github.com/electron/electron/issues/12820#issuecomment-442638209

[2018-11-29 06:17] rajivshah3 commented on #660
Closing as duplicate of #519

[2018-11-29 06:17] #660 closed, assigned to nobody

[2018-11-29 06:21] rajivshah3 commented on #519
I'll keep this post updated with the progress I've made so far:

- [x] "Standard/Advanced" in settings menu Mode always shows Standard/Advanced instead of localized string, however the strings are shown correctly when using the switch to select between Standard and Advanced
- [x] "Mode updated" and "You have changed to Standard/Advanced mode" are not localized, no strings on crowdin
- [x] "Default

[2018-11-29 06:22] rajivshah3 commented on #661
Duplicate of #519

[2018-11-29 06:22] #661 closed, assigned to nobody

[2018-11-29 06:23] rajivshah3 commented on #653
Duplicate of https://github.com/iotaledger/trinity-wallet/issues/519#issuecomment-440826056

[2018-11-29 06:23] #653 closed, assigned to nobody

[2018-11-29 06:27] rajivshah3 commented on #659
Ah, I keep forgetting to fix that. The reason why this happens is because when I added this the first time, the string was actually used in another area. I didn't realize it was used here as well. Thanks for reminding me 👍

[2018-11-29 06:32] rajivshah3 commented on #654
That's odd, I think it worked for Spanish (same singular/plural as English, 1 is letra, 2 or more is letras) when I first added these strings. I'll have to investigate. This might be specific to languages that have multiple plural types

[2018-11-29 13:16] olazpreton opened #665 "trinity-desktop-0.4.3.AppImage does not start on linux"
### Bug description

trinity-desktop-0.4.3.AppImage does not start

### Environment Specs

What device are you running Trinity on?
- OS version: Linux Mint 19 "Tara" - Cinnamon (64-bit)

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version:
trinity-desktop-0.4.3.AppImage

### Steps To Reproduce
1. removed .config/T

[2018-11-29 14:03] gaaddaar commented on #580
Hi,

Is there any tool shows addresses of my seed ?

@cvarley100 @rajivshah3 @laumair

[2018-11-29 14:07] miili commented on #665
Same here, neither pre-build `.AppImage` nor locally built.

[code]

[2018-11-29 14:50] #665 closed, assigned to nobody

[2018-11-29 18:22] cosmicscr opened #668 "Error on startup: TypeError: Cannot read property 'ignoreProxy' of null"
### Bug description
App starts up and then immediately throws JS error stacktrace in a modal window.  The stacktrace data cannot be copied and pasted (it should be changed to allow copy/paste).  There is an okay button in the modal window but it's inoperable and the app never loads properly and must be closed down.

### Environment Specs
Running on macOS 10.14.1.

Downloaded trinity-desktop-0.4.3.

[2018-11-29 18:52] rajivshah3 commented on #668
Hi @mrcybermac , does this still happen if you move the `Trinity.app` to `/Applications` (looks like it's in `/Applications/Crypto Wallets`)?

[2018-11-29 18:58] Chakalaka123 commented on #668
Btw: Happens with Windows as well

![image](https://user-images.githubusercontent.com/45467419/49244811-fad95000-f410-11e8-9a60-883016531de3.png)

[2018-11-29 18:58] cosmicscr commented on #668
Hi,  Yes. Just tried it and same error occurs.  Path of
'/Applications/Trinity.app' correctly reflected in stack trace, but same
stack trace otherwise.

On Thu, Nov 29, 2018 at 11:52 AM Rajiv Shah <notifications@github.com>
wrote:

[2018-11-29 19:06] pawelmiklas commented on #668
The same on win 8.1

[2018-11-29 19:07] rajivshah3 commented on #668
@snaqu @Chakalaka123 are you both running a fresh install as well?

[2018-11-29 19:12] pawelmiklas commented on #668
@rajivshah3 I install wallet on new os so yes.

[2018-11-29 19:27] rajivshah3 commented on #668
Looks like this is a duplicate of #665. We'll release a new build later today/tonight to fix this

[2018-11-29 19:27] #668 closed, assigned to rajivshah3

[2018-11-29 20:42] wonkytonky opened #671 "disconnected ledger, still showing address when request new address"
### Bug description
when ledger is disconnected, requesting address still shows an address in background what is this address? and should it be there?
![image](https://user-images.githubusercontent.com/19390834/49250535-57dc0280-f41f-11e8-82a9-dd87e6072536.png)

### Environment Specs
desktop, win 10

What build of Trinity are you running? Please provide the full version (you can find it in Setting

[2018-11-29 20:44] wonkytonky commented on #647
a lot of ppl are looking for this feature !

[2018-11-29 23:24] UmbahaSpodPaha opened #673 "Can't resize Trinity from the top of the window"
### Bug description
We can't resize the window of Trinity from the top of the window.

### Environment Specs
What device are you running Trinity on?
Desktop - Win7 x64

- Trinity version:
0.4.3

### Expected behaviour
Allow to resize from all sides and corners

### Am I planning to do it myself with a PR?
No

[2018-11-29 23:27] UmbahaSpodPaha commented on #654
Steps to reproduce:
1. Reset the wallet
2. In the first setup change the language to Polish for example
3. Head to new seed generator
4. You see that "Press X more letters..." does not changing the form within the letters left (It's properly translated on github though)

[2018-11-30 14:22] rajivshah3 commented on #673
Does an arrow show up when you hover over the edges of the window?

[2018-11-30 14:27] UmbahaSpodPaha commented on #673
It does show on all edges and corners **except top edge itself**.
That's the main issue ;)

[2018-11-30 17:33] Hissi88 opened #675 "[Ledger] Account gets broken after receiving/sending"
### Bug description
A newly created Ledger account shows follow behavior as soon as it has an (pending) input or an output.
Even 0-valued Rx/Tx count.

**1.**
The seed window changes immideatly from
![grafik](https://user-images.githubusercontent.com/45494848/49304481-bf03c080-f4cc-11e8-8656-931938259225.png)

to this

![grafik](https://user-images.githubusercontent.com/45494848/49304494-c75bfb80-

[2018-11-30 19:02] sloganking opened #676 "Can't connect to any node"
### Bug description
Can't connect to any nodes

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: GalaxyS8+
- OS version: Android 8.0.0

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 0.5.1 (Mobile) (from android app settings, locked out of app)

### Steps To Rep

[2018-11-30 19:37] rajivshah3 commented on #676
Hi @SleepingFox88 , thanks for the report. I think this issue has been reported quite often by Android users. Could you give some details about your Internet connection (e.g. cellular or WiFi, on an enterprise network or VPN) so we can get to the root of this issue?

[2018-11-30 20:36] UmbahaSpodPaha opened #677 "Language resets itself to English on Mobile"
### Bug description
Languange changes itself back to English from time to time.

### Environment Specs
Samsung Galaxy S9+ & S8
Android 8.0

- Trinity version:
0.5.1 (28)

### Steps To Reproduce
1. Initialize trinity with choosen language (different than English)
2. Close Trinity completelly
3. Open Trinity again (there is a big possibility that language resetted itself to English)

### Expected be

[2018-11-30 20:43] UmbahaSpodPaha opened #678 "Cannot export SeedVault when there is no "Download" folder"
### Bug description
When you manually remove "Download" folder from your phone, Trinity won't allow you to export SeedVault and will display **"Something went wrong"** error.

### Environment Specs
Samsung Galaxy S9
Android 8.0

- Trinity version:
0.5.1 (28)

### Steps To Reproduce
1. Delete "Download" folder from your phone
2. Try to export seedvault - error
3. Create "Download" folder manually w

[2018-11-30 21:01] UmbahaSpodPaha opened #679 "SeedVault timestamp in filename uses UTC instead of local time"
### Bug description
Exported SeedVault filenames are mismatched by 1hour both for Desktop and Mobile.

**Android:**
![screenshot_20181130-215737_my files](https://user-images.githubusercontent.com/35224101/49314664-6a237280-f4eb-11e8-9a51-9eedb2ccefb7.jpg)

**PC:**
![time-mismatch-seedvault export](https://user-images.githubusercontent.com/35224101/49314665-6a237280-f4eb-11e8-8000-b1071e86446c.png

[2018-11-30 21:13] UmbahaSpodPaha opened #680 "Account name autofill from SeedVault file doesn't work cross-platform."
### Bug description
- SeedVault exported from Desktop version doesn't autofilling account name on Trinity Mobile when you try to import
- SeedVault exported from Mobile version autofilling account name on Trinity Desktop as **Seed #1** (always)

### Expected behaviour
Account name should be imported from SeedVault always and cross-platform.

### Actual behaviour
Desktop -> Desktop - OK (autofills

[2018-11-30 21:19] UmbahaSpodPaha opened #681 "Desktop - We can add the same seed many times"
### Bug description
The same seed can be added many times on Trinity Desktop

### Environment Specs
PC - Windows 7

- Trinity version:
0.4.3

### Steps To Reproduce
1. Create account with your certain seed
2. Create another account with the same seed
3. Create another account with the same seed
4. Repeat forever because Trinity Desktop allows you :D **(on Trinity Mobile, this isn't allowed and we'

[2018-11-30 21:24] UmbahaSpodPaha opened #682 "Desktop (Enhancement) - Autoselect language from system during first configuration"
**Request for desktop version!**

### Description
Add language auto-selection from system during first setup **(exactly like in Trinity Mobile)**
When system is in for example DE = autoselect DE in Trinity

### Motivation
Speeds up "boarding" and making Trinity more user friendly.

### Am I planning to do it myself with a PR?
No

[2018-12-01 01:07] rajivshah3 commented on #680
I actually don't remember if we supported parsing the account name from the SeedVault file, so I think this would be an enhancement

[2018-12-01 18:29] rajivshah3 commented on #677
This bug seems to reappear from time to time. Once we fix it, we should probably figure out a way to test it so that this doesn't come up again.

[2018-12-01 19:02] vun1 opened #684 "Notification about multiple incoming transactions when there are none"
### Bug description
Was asked to report this issue by Rajiv on the Discord a few minutes ago.

Today at 16:40 and 17:24 UTC I received a notification about multiple incoming transaction to my 2 wallets via the Mac Trinity 0.4.3. There have actually been no incoming transactions to my wallets, therefore no notifications should have appeared. No iotas have been affected.

### Environment Specs
What

[2018-12-01 19:11] georgmittendorfer opened #685 "Password change does not work"
### Bug description

After doing a password change and logging out the new password does not work. The old password still works => the password is not changed.

### Environment Specs

The behaviour was tested on Linux with i3 windown manager.
- OS: Linux 4.18.0-2-amd64 #1 SMP Debian 4.18.10-2 (2018-11-02) x86_64 GNU/Linux
- Trinity version: 0.4.3 Desktop (same issue with 0.4.2).

### Steps To Repr

[2018-12-01 21:15] georgmittendorfer commented on #684
Had the same issue yesterday. Linux desktop.

[2018-12-01 21:31] rajivshah3 commented on #684
I think I've seen the same issue from time to time but I've never explicitly tried to reproduce it. My guess (haven't really looked at the code yet) is that if you receive a transaction while Trinity isn't running, when it opens it will refresh the transaction history. It sees the new transaction and notifies you about it, even though it might be from multiple days ago.

[2018-12-01 21:37] vun1 commented on #684
Thanks. In my case I have not had any new incoming transactions for at least 30 days. I have had trinity open meanwhile for extended periods of time, why would it wait for 1 month to update the history?

[2018-12-01 21:47] rajivshah3 commented on #684
Were you logged in (no password prompts showing) at any time during those 30 days?

[2018-12-01 23:31] UmbahaSpodPaha commented on #685
Can't reproduce on Win7 v0.4.3 - everything works perfectly on Windows

[2018-12-02 00:11] vun1 commented on #684
Yes, exactly. I have also transferred iota _from_ the wallets for which I have received "Multiple incoming Transactions" notifications (but not _to_ any of those wallets). Maybe upgrading to 0.4.3 affected the history in some way?

[2018-12-02 04:01] rajivshah3 commented on #684
That's possible. It seems like it's looking for changes in the wallet state (which occur when we sync the wallet with the Tangle and receive new transactions):

https://github.com/iotaledger/trinity-wallet/blob/e7b7142667c9accfab617e0aa47213573c72a47d/src/desktop/native/preload/Electron.js#L440-L475

The state migration that occurs when the wallet updates to a new version might trigger this notifi

[2018-12-02 04:06] rajivshah3 commented on #685
I can't seem to reproduce either issue on macOS Mojave 10.14.1, Trinity v0.4.3. Maybe this is platform specific?

[2018-12-02 15:58] vun1 commented on #684
Thank you. This is the most likely reason. Let´s wait the official investigation results!

Regards.

[2018-12-02 16:00] rajivshah3 commented on #684
@rihardsgravis do you know what might be happening here? I can't tell if the root issue is coming from `Electron.notify` or `getAccountData` which seems to call `Electron.notify`

[2018-12-03 00:11] hartrock opened #686 "Debian: Cannot build wallet from source"
### Bug description
Wallet doesn't run correctly under Debian Linux. After starting it only empty window showing background appears.

Trying to build myself gives errors.

+++
sr@free:~/Projects/trinity-wallet-0.4.3$ npm run deps:desktop

node-pre-gyp WARN Using request for node-pre-gyp https download

node-pre-gyp WARN Tried to download(404): https://github.com/tessel/node-usb/releases/download/1

[2018-12-03 00:13] rajivshah3 commented on #686
@hartrock can you install `node` 8 or 9 and try again? I think I saw similar issues when trying to compile from source with `node` 10 or 11

Edit: According to `node-usb`'s readme, you may need to also do `sudo apt-get install build-essential libudev-dev` to build from source (https://github.com/tessel/node-usb#installation)

[2018-12-03 00:43] rajivshah3 commented on #679
This isn't actually a bug. The code is doing what it's supposed to, but we probably shouldn't do it this way :trollface:

https://github.com/iotaledger/trinity-wallet/blob/6bd9f69e140744fc3da9b54d0664f08e494663f3/src/mobile/src/ui/components/SeedVaultExportComponent.js#L140-L146

`toISOString()` will return the timestamp with UTC time, so it could be different from your local time. We should be us

[2018-12-03 00:48] rajivshah3 commented on #580
@gaaddaar how did you enter the seed when you set up the wallet for the second time?

[2018-12-03 00:49] rajivshah3 commented on #675
Related: #560

[2018-12-03 00:50] rajivshah3 commented on #560
@Adrienlafuge are you seeing behavior similar to #675 ?

[2018-12-03 00:56] UmbahaSpodPaha commented on #685
Also can't reproduce on Linux Mint 19
Trinity 0.4.3

Everything works!

[2018-12-03 01:02] rajivshah3 opened #687 "Cannot read property 'srcObject' of null"
## Error in Trinity Desktop

**TypeError** in **/index.html**
Cannot read property 'srcObject' of null

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5bdc38cdd3a2c90019ec5b4e?event_id=5c043bd20031f98152630000&i=gh&m=ci)

## Stacktrace

    node_modules/react-qr-reader/lib/index.js:215 - t.value

[View full stacktrace](https://app.bugsnag.com/iota-foundation/trini

[2018-12-03 02:02] rajivshah3 commented on #416
An error linked to this issue has been marked as fixed in Bugsnag
[**N2Js19JavascriptExceptionE** in **unknown method**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5ba4c32ee1ce1200194f94f1?event_id=5c00287e0030981fc50c0000&i=gh&m=fx)

[2018-12-03 02:06] rajivshah3 commented on #538
Related: https://github.com/wix/react-native-navigation/issues/3767

[2018-12-03 07:17] georgmittendorfer commented on #685
Well, if it is only a very special case where this is not working then I am relieved and priority is low. I can check the following within the next few days:

* If it is an upgrade issue. Reinstall should fix it then.
* If the cause is the current password, maybe there are some fancy characters.
* If there are permission issues - in what file is the password hash stored locally?

Is it possible fo

[2018-12-03 12:38] gaaddaar commented on #580
Hi @rajivshah3 , I've entered manually each character to wallet.

[2018-12-03 17:12] rajivshah3 commented on #580
When you set up Trinity, did you make a new seed or type in an existing seed?

[2018-12-03 19:40] gaaddaar commented on #580
@rajivshah3 I've typed with my existing seed

[2018-12-03 19:46] rajivshah3 commented on #580
Are you entirely sure that you typed each character correctly both times?

[2018-12-03 20:03] gaaddaar commented on #580
I'm pretty sure because I've totally 2 seeds and tried 2 seeds and there is still "0" Mi in both account

[2018-12-03 23:16] #639 closed, assigned to nobody

[2018-12-03 23:18] sloganking commented on #676
Was using WiFi, no VPN. Will test other configurations and report back.

[2018-12-04 00:49] UmbahaSpodPaha opened #691 "Ubuntu: Menu bar not visible when window is active / visible when window is not active"
### Bug description
When we have Trinity window active and on top = menu bar not visible
When we have Trinity window not active (focused on another window) = menu bar visible

![20181204_010247](https://user-images.githubusercontent.com/35224101/49410779-aa425980-f766-11e8-9e15-048b37b8b0ea.jpg)
![20181204_010302](https://user-images.githubusercontent.com/35224101/49410780-aa425980-f766-11e8-93fb-

[2018-12-04 03:01] rajivshah3 commented on #691
This seems to be a bug in Electron. https://github.com/electron/electron/pull/15878 has been merged but hasn't been backported to a release. If it gets included in a release that we're able to upgrade to, this issue should be fixed.

[2018-12-04 08:41] #548 closed, assigned to rihardsgravis

[2018-12-04 10:16] UmbahaSpodPaha commented on #589
Having the same problem on Ubuntu 18.10 notebook! When you clicking "Continue" fast - the window "Open IOTA app on your ledger" will flash sometimes but won't go through even if I open IOTA app.

[2018-12-04 11:13] rihardsgravis commented on #685
@georgmittendorfer can you confirm that you have a Ledger type account active when trying to update the password?
Edit: If that is the case, I can reproduce and pulled a bugfix

[2018-12-04 11:34] rihardsgravis commented on #680
Desktop supports parsing account name from SeedVault file ([see Seed.js#L194](https://github.com/iotaledger/trinity-wallet/blob/develop/src/desktop/src/ui/components/input/Seed.js#L194])) and save the correct account name ([see kdbx.js#L35](https://github.com/iotaledger/trinity-wallet/blob/develop/src/desktop/native/kdbx.js#L35))

[2018-12-04 12:26] rihardsgravis commented on #656
When inputing a number, the transactions are filtered to those which contain the same or more amount entered (e.g. entering `13324` will show all transactions that contain 13324 iota or more).

I agree – help box clarifying this and supporting Mi, Ki, Gi input would be helpful.

[2018-12-04 13:03] rihardsgravis commented on #684
@vun1 @georgmittendorfer Can you confirm that you also did not receive any 0 value transactions (messages) to the accounts when the notifications appeared?

[2018-12-04 14:02] rihardsgravis commented on #671
It's the valid receive address you see in the background. To generate an address, a connected Ledger device is required. Once the address is generated it is cached by Trinity. When you press `Generate address`, the stored address is checked to still be a valid receive address - and if it is, it's shown on the screen. If it would not, a connected Ledger device would be required and no address would

[2018-12-04 14:02] #671 closed

[2018-12-04 14:10] wonkytonky commented on #671
thanks for the info

keep up the good work all

[2018-12-04 14:55] georgmittendorfer commented on #685
I can confirm that. At least one account was a ledger account, when I tried to update the password. What do you mean by 'active' - ledger plugged in?

[2018-12-04 14:58] georgmittendorfer commented on #684
I have never made or received any zero value transactions on these accounts.

[2018-12-04 15:06] #673 closed, assigned to nobody

[2018-12-04 15:17] rajivshah3 commented on #686
Possibly a duplicate of #534

[2018-12-04 21:09] georgmittendorfer commented on #685
I can confirm that this was the issue. When selecting a non-ledger account and then changing the password it works. Thanks!

[2018-12-04 21:39] hartrock commented on #686
This has not been a problem (already installed).

[2018-12-04 22:08] hartrock commented on #686
Downgrading lacks npm (even conflicts):
[code]
Current version (with build problem) is:
[code]
Debian version:
[code]

[2018-12-04 22:24] hartrock commented on #686
Current try:
[code]
(log attached).
[log.txt](https://github.com/iotaledger/trinity-wallet/files/2646386/log.txt)

[2018-12-05 00:40] UmbahaSpodPaha opened #695 "Desktop: Context menu not translated (cut / copy / paste etc.)"
### Bug description
Context menu not translated (crowdin translations done to 100%)

![undoredocut english](https://user-images.githubusercontent.com/35224101/49482254-b1cd3580-f82e-11e8-8161-0ffca994242e.png)

### Environment Specs
Windows 7 x64 & Trinity 0.4.3

### Am I planning to do it myself with a PR?
No

[2018-12-05 00:44] UmbahaSpodPaha opened #696 "Desktop suggestion: Add explanation on "Why we can't see/export seed on Ledger account?""
### Description
I found that lot of people are confused on how ledger works / how it store information and why we can't see seed after doing ledger account. There is a lot of space on this page in Trinity so maybe we can use it to explain some "grandma on crack" why she can't see or export seed when account is done with ledger

SKETCH:
![cantexportwhy](https://user-images.githubusercontent.com/352

[2018-12-05 04:45] rajivshah3 commented on #695
@rihardsgravis do we need to install https://github.com/sindresorhus/electron-context-menu or is this part of the Electron API?

[2018-12-05 07:46] rihardsgravis commented on #695
The context menu is located at https://github.com/iotaledger/trinity-wallet/blob/2a750816b9fc6b09fc2dad316edb1ca2e7207684/src/desktop/main.js#L212

[2018-12-05 14:53] Fierillo opened #701 "Add address indexing/classification system in transaction history"
I think that the history field of Trinity is a bit confusing, since only appears the ammount of iotas and if is a incoming or outcoming TX. I think that is possible assign a ID to the addresses that belong to a same seed.

[2018-12-05 16:51] UmbahaSpodPaha opened #702 "Menu button not visible on light themes"
### Bug description
Menu button on left top corner is not visible on light themes.

### Environment Specs
Windows 7 x64
Trinity 0.4.3

### Expected behaviour
Menu button should be visible.

### Actual behaviour
Menu button not visible on themes:
- Ionic
- Steel Blue
- Contemporary
![light](https://user-images.githubusercontent.com/35224101/49529480-61011f80-f8b6-11e8-8e62-e3c805ef3455.png)

Menu b

[2018-12-05 17:54] rajivshah3 commented on #695
Oh ok, I missed that. I'll make sure to localize those

[2018-12-05 22:22] cryptoninjarocks commented on #676
Same problem after update. App crashes.
Samsung Galaxy S7

[2018-12-06 13:21] #687 closed, assigned to rajivshah3

[2018-12-06 14:43] #702 closed, assigned to rihardsgravis

[2018-12-06 15:56] rajivshah3 commented on #676
@cryptoninjarocks the app crash is likely a different issue

[2018-12-06 20:41] cryptoninjarocks commented on #676
First issue: same message like sleepingFox88, after that the app crashes.

[2018-12-06 20:44] rajivshah3 commented on #676
Ah, I see. What’s your phone’s model number? I think Galaxy S9s begin with SM-G930 but there’s another letter at the end depending on your region

[2018-12-06 20:56] cryptoninjarocks commented on #676
It is the Samsung Galaxy S7
SM-G930F
Android 8.0.0
Samsung Experience version
9.0
Android security patch level
1 October 2018

[2018-12-06 21:41] cvarley100 commented on #676
@SleepingFox88 @cryptoninjarocks Do you guys remember what you were doing in app before this happened?

[2018-12-06 22:32] sloganking commented on #676
@cvarley100 No, it started happening right around the time I upgraded to "Trinity version: 0.5.1 (Mobile)". Not sure if that was the direct cause, it's been a while since the issue started.

I can reset the wallet and see if that fixes it.

Edit:

 I seem to be able to connect currently. Investigating now.

Edit2:

I seem to be able to connect to nodes now, and in any network configuration.

Bluet

[2018-12-06 22:34] rajivshah3 commented on #632
Reopening for mobile

[2018-12-06 22:43] sloganking opened #706 "Phone unresponsive 15-30 seconds after generating address"
### Bug description
- Generating addresses a few times can lead to being unable to press the native android home button or exit the app. I am able to flip though menus but phone is unresponsive for 15-30 seconds before registering and acting upon all the buttons I tried to press before.

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Samsung
- Model: GalaxyS8+
- OS

[2018-12-06 22:59] rajivshah3 commented on #706
Thanks for the report @SleepingFox88 . When the phone is unresponsive, is the letter scrambling during address generation still continuing?

[2018-12-06 23:02] sloganking commented on #706
@rajivshah3 No it has stopped before I try and exit the app.

The time the device is unresponsive wildly varies, almost like Trinity is doing PoW with 100% CPU usage or something similar.

[2018-12-07 03:51] #233 closed

[2018-12-07 03:51] rajivshah3 commented on #233
May revisit later

[2018-12-07 07:40] #681 closed, assigned to rihardsgravis

[2018-12-07 09:45] alanrburns commented on #566
When will this stupidity be fixed?

[2018-12-07 10:08] ghost commented on #566
Wow I can not believe how redundant this "security" feature is.

So a user has a seed.. they need to created a keepass file and then copy and paste it in the keepass file and then import it instead of just copy and pasting it directly in to the wallet app.

This is not solving any security issue because you still copy and paste your seed into the keepass file.

Maybe this is why IOTA has no value.

[2018-12-07 11:02] rihardsgravis commented on #621
Is this still reproducable with Trinity desktop`0.4.3`? Cannot reproduce with vanilla default setup Ubuntu `18.04.1` and `18.10.1`.

[2018-12-07 11:56] cvarley100 commented on #566
@alanrburns We would prefer it if users generated their seed from within Trinity. A seed should never be copy pasted, nor should it really leave an encrypted file. We’re gradually trying to move towards best practices where the seed is abstracted altogether. Unfortunately not all users are as technically gifted as you.

[2018-12-07 18:08] cryptoninjarocks commented on #676
Yes, the problem occurred after the update 0.5.1

[2018-12-07 18:09] #599 closed, assigned to rihardsgravis

[2018-12-07 18:09] #488 closed, assigned to rihardsgravis

[2018-12-07 19:18] IOTANGLE42 commented on #621
Hi Rihards,

updated from 0.4.2 to 0.4.3 and still the same problem (Ubuntu 18.04.1 LTS).

[2018-12-08 01:12] #659 closed, assigned to rajivshah3

[2018-12-08 01:24] rajivshah3 opened #712 "TypeError in iota.lib.js/lib/api/api.js:2006"
## Error in Trinity Mobile

**TypeError** in **src/shared/node_modules/iota.lib.js/lib/api/api.js:2006**
null is not an object (evaluating 'r.state')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5b99078506bdad001b9010c1?event_id=5c0a8f000031f619e7560000&i=gh&m=ci)

## Stacktrace

    src/shared/node_modules/iota.lib.js/lib/api/api.js:2006:21
    node_modules/eve

[2018-12-08 01:57] rajivshah3 commented on #712
Looks like it's coming from https://github.com/iotaledger/iota.js/blob/d1d3aa57f7bb3879bc073cc4e59c9b5e4b83deda/lib/api/api.js#L2006-L2008

[2018-12-08 10:46] Hissi88 commented on #684
I got this, after re-adding an already used account. The history and the balance was already there and correct, but I got a notification for old inputs.

[2018-12-08 13:40] vun1 commented on #684
I have not received any 0 value transactions in the last month before the notifications appeared.

[2018-12-08 18:26] rajivshah3 commented on #589
![image](https://user-images.githubusercontent.com/19519564/49689257-d0605480-faec-11e8-8760-c8fbdf945874.png)
Can you guys try this and see if it's resolved? The command is `wget -q -O - https://raw.githubusercontent.com/LedgerHQ/udev-rules/master/add_udev_rules.sh | sudo bash`

[2018-12-08 19:38] t0rv1c commented on #589
@rajivshah3 This is already a prerequisite for Ledger live to be usable on my system. So this was already set a while ago, suggested several times but it doesn't change anything with the current issue. Also, please bear in mind that I can't use ledger live unless I start it with sudo. I suspect that this is the same as with Trinity but trinity has a bug when started with sudo (see post above).

[2018-12-08 21:12] mrbianchi opened #713 "Set TAG on transaction"
I was working in a project when I realized that the following example on this page:

https://docs.iota.org/trinity/information/qr#

cannot be applied with tag, the trinity wallet sets tag automatically to "TRINITY999999.."

neither you can set the tag from the wallet

[2018-12-08 21:14] mrbianchi opened #714 "Read address information from screenshots of QR Codes"
Sometimes the user have to read a QR from the phone with their phone

[2018-12-09 01:07] probonopd opened #717 "Only a black screen when there is no internet connectivity"
Only a black screen when there is no internet connectivity?

![](https://raw.githubusercontent.com/AppImage/appimage.github.io/efa393a0757e0bdd8f4e300399712f18e76be385/database/Trinity_Desktop/screenshot.png)

Reference:
https://github.com/AppImage/appimage.github.io/pull/993

[2018-12-09 01:46] rajivshah3 commented on #717
Hi @probonopd , please fill out the issue template. It gives helpful system information that is necessary  for us to be able to reproduce the issue

[2018-12-09 08:59] probonopd commented on #717
### Bug description
Black screen

### Environment Specs
Travis CI server

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: `trinity-desktop-0.4.3.AppImage`

### Steps To Reproduce
1. Download the AppImage
2. Disconnect from the internet
3. Launch the AppImage

Detailed log file at https://travis-ci.org/AppImag

[2018-12-09 15:28] simoniz0r opened #721 "Trinity Desktop is already a thing."
https://google.com/search?q=trinity%20desktop

[2018-12-09 20:22] rajivshah3 commented on #721
@simoniz0r these are two very different things. One is an OS, the other is a cryptocurrency wallet

[2018-12-09 20:22] #721 closed, assigned to nobody

[2018-12-09 20:27] rajivshah3 commented on #717
@probonopd the build logs seem fine. What is the environment you're trying to run the app on? And does it work when you're connected to the internet?

[2018-12-09 21:55] Moongazer opened #722 "Change install directory during the installation process (or better: make Trinity portable)"
On a laptop I want to protect my data as good as possible, using a protection method of MY choice. That is why I have all files and sensitive programs (like home banking applications as well as crypto wallets) on a crypted volume, which I mount manual if needed after the OS has started.

Most of Electrum wallets for example having a portable version, which is super nice and easy to put on the save

[2018-12-10 03:10] rajivshah3 commented on #722
It looks like we can do this with `app.setPath()` as shown in the [Electron docs](https://electronjs.org/docs/api/app#appsetpathname-path). It doesn't say whether we'll have to move the data from there to the new location ourselves or if `setPath` will do that for us though 🤔

[2018-12-10 06:19] rajivshah3 commented on #687
This issue has been linked to an error in Bugsnag
[**TypeError** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5c076a84b03155001b2db124?event_id=5c0db584003206240dc10000&i=gh&m=li)

[2018-12-10 06:20] rajivshah3 commented on #687
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5c076a84b03155001b2db124?event_id=5c0db584003206240dc10000&i=gh&m=fx)

[2018-12-10 09:49] Hissi88 commented on #675
I can reproduce it even on a virtual Windows 7 installation.

[2018-12-10 15:58] simoniz0r commented on #721
Sharing namespaces is not cool.  Also, I doubt anyone will find your application when searching for it.  Trinity Desktop Environment already has google searches dominated... your app will most likely not show at all.

[2018-12-10 18:52] #658 closed, assigned to nobody

[2018-12-10 21:08] rihardsgravis commented on #621
Can finally reproduce when running the wallet as root user (`sudo`). The issue is with `node-keytar` https://github.com/atom/node-keytar/issues/132 . Will work on a fix.

[2018-12-10 21:14] rajivshah3 commented on #721
That's not a bug. Please don't use GitHub to report issues of that nature.

[2018-12-10 21:51] probonopd commented on #721
The issue is that there is already another project with the name "Trinity Desktop". Please use another name.

https://github.com/iotaledger/trinity-wallet/blob/7b52dfc9f87f27aa03f881d7599a120331e33bab/src/desktop/package.json#L2

[2018-12-10 21:57] IOTANGLE42 commented on #621
OK thanks mate

Am Mo., 10. Dez. 2018, 22:08 hat Rihards Gravis <notifications@github.com>
geschrieben:

[2018-12-10 21:57] cvarley100 commented on #721
The project is called Trinity, of which there is a desktop version. I think there is sufficient differentiation both in name and project area.

[2018-12-10 21:58] IOTANGLE42 commented on #621
OK thanks :)

[2018-12-11 04:53] #695 closed, assigned to rajivshah3

[2018-12-11 07:11] #642 closed, assigned to nobody

[2018-12-11 17:36] rajivshah3 commented on #712
This issue has been linked to an error in Bugsnag
[**TypeError** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5bb1a9d0c80561001850ed7f?event_id=5c0fd0480032025917640000&i=gh&m=li)

[2018-12-11 17:39] rajivshah3 commented on #687
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5bdc38cdd3a2c90019ec5b4e?event_id=5c0e63950032095f75b70000&i=gh&m=fx)

[2018-12-11 19:20] gaaddaar commented on #580
Do you have any comment ? @rajivshah3

[2018-12-12 14:43] rajivshah3 commented on #580
Based on our investigations, your description, and the nature of this being an isolated case, I don't think this can be attributed to anything other than user error. We will update you if anything changes.

[2018-12-12 14:43] #580 closed, assigned to nobody

[2018-12-12 17:21] rajivshah3 commented on #717
@probonopd are you still experiencing this issue?

[2018-12-12 20:05] #534 closed, assigned to nobody

[2018-12-12 20:26] probonopd commented on #717
Actually it seems to be a dark blue screen. When trying this on a local machine, an animation appears. Probably the screenshot is taken as soon as the window appears, at which point the animation is not drawn yet.

[2018-12-12 20:26] #717 closed, assigned to nobody

[2018-12-12 22:23] rajivshah3 commented on #686
Closed in #779

[2018-12-12 22:23] #686 closed, assigned to nobody

[2018-12-12 22:23] rajivshah3 commented on #621
Closed in #779

[2018-12-12 23:42] #577 closed, assigned to rajivshah3

[2018-12-13 05:01] sloganking commented on #706
Upon further testing. This issue might be specific to my [third party gestures app.](https://i.imgur.com/9rFmiOe.png)

I cannot currently reproduce it if I turn gestures off and use the default GalaxyS8+ home buttons.

[Link to third party application in question](https://play.google.com/store/apps/details?id=com.xda.nobar)

[2018-12-13 05:45] sloganking opened #790 "One master seed for all generated accounts."
### Description
Trinity Wallet should only store one master seed and all new accounts created should have a unique seed generated from the master seed, combined with an account index (integer). The index should be hidden from the user and managed in the background.

### Motivation
Most wallets add accounts so that one user is to able to better allocate their funds towards different goals. Seeing t

[2018-12-13 05:57] sloganking opened #791 "Paste clipboard to receiving address button on mobile"
### Description
Add a button near the receiving address text field that pastes what's in the device's clipboard to the receiving address text field.

### Motivation
This will decrease the time and amount of button presses it takes to paste addresses into the receiving address text field.

### Requirements
- Add a button [next to the camera button](https://i.imgur.com/T67Pbyi.png) that when pressed

[2018-12-14 13:02] ouya99 commented on #713
+1

[2018-12-14 21:48] Isarstyle commented on #713
same issue here, when will this be fixed?

[2018-12-14 22:18] wonkytonky opened #798 "blank screen after sending pow sending tx"
### Bug description
empty screen after proof of work sending a iota transaction

### Environment Specs
What device are you running Trinity on?

- Manufacturer:
- Model:  pc
- OS version win 10:

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: 4.4

### Steps To Reproduce
1. send transactions
2.blank screen

##

[2018-12-14 22:35] rajivshah3 commented on #798
Actually, I can reproduce it as well. I think I know what the cause is

[2018-12-14 22:36] wonkytonky commented on #798
just got it aswell into linux so it's os independant

[2018-12-14 22:38] rajivshah3 commented on #798
This issue has been linked to an error in Bugsnag
[**TypeError** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5c1428bc4b1700001a26d931?event_id=5c1430150032074609cd0000&i=gh&m=li)

[2018-12-15 09:52] Hissi88 opened #800 "Send / Receive on used adresses"
### Bug description
In 0.4.4: After a reset of trinity, and reimport of my previous used accounts, my transaction history was gone. So I did a manual sync and the adresses and balance showed up again. But the used adresses werent red and I was able to send to an used adress from one Trinity account to an another one!
Even worse: I was then able to send from that used adress!

### Environment Specs

[2018-12-15 10:22] Hissi88 commented on #800
I´ was connected to a node running 1.6.0-RC9 with local snapshot. It seems that RC9 is not reporting the used addresses.

I did a manual sync again on nodes.thetangle.org and the used adresses showed up again.

[2018-12-15 15:59] #798 closed

[2018-12-15 16:48] rajivshah3 commented on #798
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5c1428bc4b1700001a26d931?event_id=5c152ed500320ab3e3150000&i=gh&m=fx)

[2018-12-15 17:55] lluisin opened #802 "Continue button doesn't work when typing an existing seed"
### Bug description
The continue button doesn't work when adding an existing seed to Trinity after upgrading to v0.4.4

### Environment Specs
- OS version: Windows 10
- Trinity version: v0.4.4

### Steps To Reproduce
1. Upgrade Trinity to v0.4.4 from v0.4.3 in Windows 10
2. Import an existing seed by typing it or by drag&drop the seed from Notepad++
3. The "continue" button will not work

### Expe

[2018-12-15 17:58] Hissi88 commented on #802
Same issue when importing a SeedVault.
The SeedVault can be imported, but then the CONTINUE button doesnt work in the view "Enter your seed".

Windows 7

[2018-12-15 18:00] rajivshah3 commented on #802
Can't reproduce on macOS Mojave 10.14.2 Beta. This might be platform-specific

[2018-12-15 18:03] rajivshah3 commented on #802
Are you adding an additional seed or is this the first account?

[2018-12-15 18:07] Hissi88 commented on #802
Only when adding an additional seed. The first import with a fresh installation works.

[2018-12-15 18:13] rajivshah3 commented on #802
I can't reproduce it that way either, but I think I know where the issue is coming from now

[2018-12-15 18:13] rajivshah3 commented on #802
This issue has been linked to an error in Bugsnag
[**TypeError** in **/index.html**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5c143719b4501c0019844f22?event_id=5c154115003207d9245a0000&i=gh&m=li)

[2018-12-15 18:33] #802 closed, assigned to rihardsgravis

[2018-12-16 02:43] #800 closed, assigned to nobody

[2018-12-16 04:23] gnodaij opened #811 "can't send iotas with enough balance"
can't send iotas with enough balance

0.4.4
macos 10.13

[2018-12-16 04:24] rajivshah3 commented on #811
@gnodaij are you seeing a blue screen after trying to send?

[2018-12-16 04:25] gnodaij commented on #811
yes only after sending, say 0 value

[2018-12-16 04:26] gnodaij commented on #811
my question is it won't let me send the balance i have and remind of not enough balance

[2018-12-16 04:27] rajivshah3 commented on #811
Can you post a screenshot of the error?

[2018-12-16 04:29] gnodaij commented on #811
![2018-12-16 12 28 42](https://user-images.githubusercontent.com/44387307/50050148-391f8080-012e-11e9-9090-f08cc3f6b7f8.png)

[2018-12-16 04:31] rajivshah3 commented on #811
Can you also post a screenshot of your addresses? You can view them by going to Settings > [account name] > View addresses

[2018-12-16 04:32] gnodaij commented on #811
![2018-12-16 12 32 34](https://user-images.githubusercontent.com/44387307/50050168-af23e780-012e-11e9-9eb4-4e0fa2d88018.png)

[2018-12-16 04:33] rajivshah3 commented on #811
Sorry, last question 😄 could you post the address that begins with GEV?

[2018-12-16 04:34] gnodaij commented on #811
GEVCWBDQW9UTEEAJYBGYSZMYAYMQNFMOOVOATMNFSNVIMIICOMDZBIELZJFEZYKFGARLZMF9RUNEZYYYXIZNQAPXID

[2018-12-16 04:35] rajivshah3 commented on #811
Hmm, that's really odd. Which node are you connected to?

[2018-12-16 04:36] gnodaij commented on #811
![2018-12-16 12 36 27](https://user-images.githubusercontent.com/44387307/50050196-3f622c80-012f-11e9-8110-90460efba9ee.png)

[2018-12-16 04:57] rajivshah3 commented on #811
@gnodaij it looks like there's an outgoing transaction from that address now. Were you able to send the transaction this time?

[2018-12-16 05:00] gnodaij commented on #811
it is even more strange, i am actually trying to send from another wallet, but it happened to be sending from the previous one

[2018-12-16 05:02] gnodaij commented on #811
now with the current wallet, there is no "max" button anymore, means trinity thinks there is 0 balance from my wallet, which is not the case

[2018-12-16 05:03] laumair commented on #811
@gnodaij Can you please elaborate? Which other wallet are you using?

[2018-12-16 05:27] gnodaij commented on #811
oki, somehow i can't recall how, i was able to send....

now with more balance i can't even send 1 iota out and there is no "max" button either which means trinity thinks i have a 0 balance?
![2018-12-16 1 27 05](https://user-images.githubusercontent.com/44387307/50050457-6112e200-0136-11e9-87fc-5b62854db488.png)
![2018-12-16 1 27 19](https://user-images.githubusercontent.com/44387307/50050458-62d

[2018-12-16 07:35] gnodaij commented on #811
here is where it messed up:

i have two wallets, "0" with a balance 102m, "m" with 0 balance.

i created a receiving address from "m"(but actually it is generated from "0"), and i am able to send out  balances of "0" from "m"(0 balance). the result is i am actually sending and receiving both from "0". but i can only do this from "m". i can do nothing from "0".

so weird...
![2018-12-16 3 22 11](ht

[2018-12-16 12:21] EelkeRitsma opened #815 "blue screen after POW."
I have sent iotas on 2 occasions yesterday (15 dec 2018) and after both times my screen froze and just showed the blue background of the trinity wallet. This occurs right after the "Broadcasting" message comes up.

After closing trinity and starting it up again i saw the message the iotas were sent.

I am running on Windows 10 pro.
The trinity version is 04.4, downloaded on 15 dec. 2018 via trinit

[2018-12-16 12:36] rihardsgravis commented on #815
Duplicate of #798

[2018-12-16 12:36] #815 closed, assigned to nobody

[2018-12-16 14:41] Hissi88 opened #816 "Development and production wallet accounts on one machine don't work on Windows 7"
### Bug description
When adding a SeedVault as an additonal account, the Continue button doesnt work after choosing the vault.
Still not fixed in 0.4.5

![grafik](https://user-images.githubusercontent.com/45494848/50054996-13ec3b80-0149-11e9-9c32-68bfce188d6b.png)

### Environment Specs
What device are you running Trinity on?

- Windows 7

What build of Trinity are you running? Please provide the

[2018-12-16 14:50] Hissi88 commented on #675
Can´t reproduce it anymore with Trinity >0.4.4. Seems to be fixed now.
I'm guessing it was somehow related to the "Error: Fetching account info". I´m not getting this error as well.