[2020-02-24 12:01] cvarley100 commented on #2596
Hi @Federico8484. Do you have your seed(s) backed up?

 If you do, simply uninstall the app, reinstall and reenter your seed(s).

[2020-02-24 12:36] Fumlop opened #2597 "Ignoring transactions later as date given or filtered by options"
### Description
As current spam on value addresses shows, we maybe need an option to ignore
a) non-value tx in trinity wallet
b) tx older as given date in options

### Motivation
Prevent performance issues with massive count of tx i didnt want to see in trinity, or i cant block.

### Requirements
Better UI performance
Keep tx list compact with information i want to see

### Am I planning to do it

[2020-02-24 12:37] #2597 closed, assigned to nobody

[2020-02-24 12:37] Fumlop commented on #2591
I leave this here, as a good proposal.

Description

As current spam on value addresses shows, we maybe need an option to ignore
a) non-value tx in trinity wallet
b) tx older as given date in options
Motivation

Prevent performance issues with massive count of tx i didnt want to see in trinity, or i cant block.
Requirements

Better UI performance
Keep tx list compact with information i want to see

[2020-02-24 14:52] Federico8484 commented on #2596
Thank you Cvarley.
That is will I do. That is a good solution

[2020-02-24 18:02] #2596 closed, assigned to nobody

[2020-02-28 21:49] alexandre1985 commented on #2595
I'm in the same situation. I would also like the apk in Releases

[2020-02-28 21:53] alexandre1985 opened #2601 "Compile error"
Doing `yarn && yarn deps:shared` gives an error.
It boils down to:
[code]
that gives the following error:
[code]

[2020-02-29 10:57] alexandre1985 commented on #2595
If not in Releases, being on F-Droid would fit the bill

[2020-02-29 20:15] b0-ones opened #2603 "Can`t add more than one Account"
### Bug description
In the Wallet, after I added one account by typing in my seed manually, it's not possible anymore to add another account by typing in a seed. After typing in the 81 characters seed (with showing the checksum) the pressing on the continue button does nothing. There comes no error, the account ist just not created and you can't go forward from this point only cancel the procedure

[2020-02-29 22:51] Thoralf-M commented on #2603
I had the problem after I used an RC version, deleting the entries in the windows credentials fixed it for me

[2020-02-29 23:25] b0-ones commented on #2603
Indeed deleting all the entries (there were maaaanyy) in the windows credential management fixed this phenomen. Thanks Thoralf. This can be closed then.

[2020-02-29 23:25] #2603 closed, assigned to nobody

[2020-03-01 12:07] culnamo opened #2609 "Trinity Desktop - Can only show/print/export seed vault for the first six seeds"
### Bug description
I have a total of 20 Seeds in Trinity (now after seed migration it will double). I noticed that I can only show seed, print seed and export seed vault for the first 6 seeds. For all other seeds the buttons (View seed, Print paper copy, Export SeedVault) do nothing after entring the password.

### Environment Specs

- Manufacturer: Self Build PC
- Model: Intel I5 Prozessor
- OS

[2020-03-03 09:16] antonionardella opened #2611 "[Trinity Mobile] - "View Seed" has no checksum"
### Description
Entering the settings to show the seed does not show the checksum on Android & iOS.
_The Desktop version does._

![20191206_180553](https://user-images.githubusercontent.com/7383572/75760711-fdbfa080-5d37-11ea-85c2-7eb05ae46cfc.jpg)

### Motivation
The checksum is necessary to verify a manual backup of the seed from mobile to a paper backup.

### Am I planning to do it myself with

[2020-03-04 01:15] rajivshah3 commented on #2601
Hmm, that's weird. What OS are you running?

[2020-03-04 02:10] alexandre1985 commented on #2601
ArchLinux. Has anyone tried to build on Linux with success?

[2020-03-04 02:13] rajivshah3 commented on #2601
We build the Linux version of Trinity on Debian (not sure if anyone has tried Arch Linux). If you want you can try using the [Docker image](https://hub.docker.com/r/iotacafe/trinity-desktop-ci) (see [Dockerfile](https://github.com/iotaledger/ci-containers/blob/trinity-desktop-ci/Dockerfile))

[2020-03-04 02:15] #2555 closed, assigned to nobody

[2020-03-04 02:15] rajivshah3 commented on #2554
This should be resolved in #2612

[2020-03-04 02:17] alexandre1985 commented on #2601
I'm trying to build an APK, because someone though to be a good idea to exclusively release the APK on Google Play Store walled guarden.
I think a docker image is unhelpfull in my situation

[2020-03-04 02:19] rajivshah3 commented on #2601
Ah, I see what you mean. Sorry, I misunderstood and assumed you were trying to build the desktop version. We’re currently working on F-Droid support. I’ll ask if we can post APKs on the “releases" page in the meantime

[2020-03-04 02:21] alexandre1985 commented on #2601
Really? F-Droid? That is awesome and will be awesome :grinning:
That is exactly what I want, thank you @rajivshah3

[2020-03-04 02:23] alexandre1985 commented on #2595
https://github.com/iotaledger/trinity-wallet/issues/2601#issuecomment-594281563

[2020-03-04 02:26] rajivshah3 commented on #2601
Since you're building for Android, what happens if you ignore the error and continue following the instructions outlined in https://github.com/iotaledger/trinity-wallet/blob/develop/src/mobile/README.md? This error can be ignored because `realm` in the `shared` folder is only used for running tests

Regarding F-Droid, please see https://gitlab.com/fdroid/rfp/issues/820 (I'll continue working on th

[2020-03-04 02:27] rajivshah3 commented on #2595
We're currently working on F-Droid support (see https://gitlab.com/fdroid/rfp/issues/820). In the meantime I'll ask if we can post the APKs on the releases page

[2020-03-04 02:30] alexandre1985 commented on #2601
It's 2.30 here and I'm on my phone. Gonna try that tomorrow @rajivshah3

[2020-03-04 06:41] eugenekoen opened #2614 "Currency keeps resetting back to $"
The issue tracker is only for reporting bugs. If you need technical assistance with the Trinity wallet, please consult the [documentation](https://docs.iota.works/trinity). For further assistance, please visit the #help channel on [Discord](https://discord.iota.org).
If you have general questions on IOTA you can go to https://iota.stackexchange.com/, https://forum.helloiota.com/, or browse Discord

[2020-03-04 08:39] alexandre1985 commented on #2601
Here are my outputs:
[code]
does ok.
[code]
return an error in my machine.
As a side note: I use the [n](https://github.com/tj/n) node version manager

[code]
as you can see, this also returns an error.

After 2 errors in build commands, I guess it makes no sense in continuing....

Is this information helpful @rajivshah3 ?

[2020-03-04 09:34] rajivshah3 commented on #2601
Aha, that's it. `realm` doesn't support Node 12 at the moment, so you'll have to use Node 10 (11 might work too)

[2020-03-04 09:53] alexandre1985 commented on #2601
I tried with Node 10 and it went ok. I guess the README needs some more information regarding this issue.
Now, to generate an APK I'm having troubles. @rajivshah3  What command do I need to run to get an APK?

[2020-03-04 11:00] rajivshah3 commented on #2601
These should give you an APK:
[code]

[2020-03-04 11:15] alexandre1985 commented on #2601
@rajivshah3 Everything went fine, except when running `./gradlew assembleRelease` that gives this error output:
[code]

[2020-03-04 14:31] rajivshah3 commented on #2601
Hmm, I’ll have to double check what version of Gradle we use. I don’t think React Native supports the latest version.

[2020-03-05 13:54] alexandre1985 commented on #2601
@rajivshah3 have you got any news regarding Gradle?

[2020-03-05 17:25] iotavanhelsing opened #2621 "Ledger Nano X - Wrong Address Generated When Using Additional Passphrase"
### Bug description
An address is generated for the wrong ledger account (same ledger device set up with 2 accounts; 1 without passphrase, 1 with passphrase).

### Environment Specs

- Manufacturer:Apple
- Model: Mac
- OS version: Catalina
- Trinity version: 1.4.3

### Steps To Reproduce
1. Reset ledger, set up 24 words and choose a pin. This is now referred to as account 1.
2. Add a second pin to

[2020-03-05 19:07] #2611 closed, assigned to nobody

[2020-03-05 19:07] #2469 closed, assigned to laumair, cvarley100, rihardsgravis

[2020-03-05 19:10] cvarley100 commented on #2562
This already exists, though it would not help in the case of the recent attack, as seeds had already been compromised, hence the coordinator was shut down.

See https://github.com/iotaledger/trinity-wallet/blob/50a98e0c6664655abcf24da07e3315f6e632aff8/src/desktop/src/ui/Index.js#L247

[2020-03-05 19:17] cvarley100 commented on #2583
You have to leave it open for a while. Did you both resolve this?

[2020-03-05 19:18] cvarley100 commented on #2585
Fixed in #2616

[2020-03-05 19:18] #2585 closed, assigned to nobody

[2020-03-05 19:19] cvarley100 commented on #2614
Duplicate of #2529

[2020-03-05 19:19] #2614 closed, assigned to nobody

[2020-03-05 20:28] CptGrumpus commented on #2583
I left it open for a long time, didn't work until I reinstalled the app
multiple times on both my ledger and on my computer.

Thanks,
Justin Smith

On Thu, Mar 5, 2020 at 2:17 PM Charlie Varley <notifications@github.com>
wrote:

[2020-03-05 22:31] rajivshah3 commented on #2601
It's not actually related to the version of Gradle (we use a Gradle wrapper to ensure everyone uses the same version). It seems like something's wrong with your Gradle cache though: https://stackoverflow.com/questions/14104085/gradle-could-not-open-buildscript-class-cache-is-there-a-better-way-to-resol. Running `./gradlew clean` and/or removing the cache should hopefully fix the issue.

Other tool

[2020-03-06 14:05] #2562 closed, assigned to nobody

[2020-03-06 14:18] cvarley100 commented on #2601
@rajivshah3 I just encountered the same issue. Fixed with a workaround as per: https://github.com/exercism/support/issues/73#issuecomment-538498370

[2020-03-06 15:28] alexandre1985 commented on #2601
Using `java-11-openjdk` and `node v10` did the trick.
I have the trinity iota unsigned apk.

When trying to install the apk on my android, I get an error after "Installing..." of "Aplicação não instalada" which in English is "Application not installed".

Does anyone know why this happens and how I can solve this issue?

[2020-03-06 16:24] alexandre1985 commented on #2601
Cleaning the cache did it @rajivshah3 .
I have the trinity iota unsigned apk build with `java-13-openjkd` and `node v10`.

When trying to install the apk on my android, I get an error after "Installing..." of "Aplicação não instalada" which in English is "Application not installed".

Does anyone know why this happens and how I can solve this issue?
My android is version 9 (android pie)

[2020-03-06 22:32] alexandre1985 commented on #2601
Success. To finish my last problem I had to self-sign the APK, since unsignied APKs only work in android emulations.

So this issue is SOLVED.

[2020-03-06 22:32] #2601 closed, assigned to nobody

[2020-03-07 06:19] Emily7777 opened #2626 "Node Error -> Transfer Error -> Transactions Won't Send (Ledger Nano)"
### Bug description
Node error that lead to transfer error.  (See screenshots attached.)
I've tried disabling the proxy.  I've tried several networks.  I can't seem to get a transfer to work.

### Environment Specs
OS = OSX, 10.14.6 on Apple Macbook Pro Hardware

- Trinity version:
1.4.3

### Steps To Reproduce
Login to wallet.
Connect Ledger Nano S with Iota app loaded
Click the account to send f

[2020-03-08 10:08] lambtho12 opened #2631 "Add check for pwndpasswords"
### Description
When creating/modifying Trinity password or a seedvault password, Trinity could check if the password is already present in known data breaches thanks to haveibeenpwned.com [API for pwned passwords](https://haveibeenpwned.com/API/v3#PwnedPasswords).

### Motivation
This feature could greatly improve password quality and better protect user funds.

### Requirements
- Add checks for

[2020-03-09 16:04] cvarley100 commented on #2626
@Emily7777 The Coordinator is currently down while we resolve an attack. It will be back up tomorrow.

Please see: https://status.iota.org/

[2020-03-09 16:04] #2626 closed, assigned to nobody

[2020-03-09 16:14] cvarley100 opened #2632 "Add more granular address generation errors"
### Bug description
Alerts are not sufficiently informational when there is an error in address generation.

### Environment Specs

What build of Trinity are you running?

- Trinity version: 1.4.1

### Expected behaviour
Granular error messages.

### Actual behaviour
Single catch all error message.

![IMG_1748](https://user-images.githubusercontent.com/25092479/76233931-df1e4580-6220-11ea-9fe3-716

[2020-03-09 16:16] cvarley100 opened #2633 "Translation not available for error message for invalid address error on QR scan"
### Bug description
Incorrect locale on invalid address on QR scan.

### Environment Specs
What build of Trinity are you running?

- Trinity version: 1.4.1

![IMG_1747](https://user-images.githubusercontent.com/25092479/76234152-40461900-6221-11ea-926f-c55c11db9669.PNG)

[2020-03-09 16:58] rajivshah3 commented on #2633
This is probably because we now have several different strings explaining why an address is considered invalid. Which do we want to use here?

https://github.com/iotaledger/trinity-wallet/blob/d6899803039347c570da782cdbadb7cbcd53e26f/src/shared/locales/en/translation.json#L366-L370

[2020-03-09 17:09] #2554 closed, assigned to nobody

[2020-03-09 19:04] rajivshah3 commented on #2609
I can't seem to reproduce this. Can you try deleting and re-adding one of the seeds to see if you can perform one of those actions?

[2020-03-10 07:27] laumair commented on #2609
I cannot seem to reproduce either.

[2020-03-10 09:18] iotavanhelsing commented on #2621
I too cannot replicate on nano s either. After I disconnect on the ledger nano s and log in with second pin, the iota app does not remain open as was the case on ledger nano x, I have to open it again hence why there is no error there.

I tried again on nano x and couldn't replicate it any more as when I disconnect the nano x, the device now stays turned on. I believe the bug is caused by the fact

[2020-03-10 12:15] cvarley100 commented on #2621
@iotavanhelsing Forgive me, I have not yet used a Ledger Nano X. So from what I understand, the Ledger Nano X will stay on when disconnected from a power source (unlike the S), and close the IOTA app. However, you are suggesting that, when in lower power mode, it will go to sleep once disconnected from a power source and the IOTA app will remain open, thus causing this issue?

[2020-03-10 23:51] Niuran78 opened #2636 "Trinity installation stuck on Windows"
### Bug description
Stuck in the middle of Installation from File

### Environment Specs
What device are you running Trinity on?

- Manufacturer: Desktop
- Model: 64 Bit, 32 GB, 3,6 GhZ
- OS version:Windows 10

What build of Trinity are you running? Please provide the full version (you can find it in Settings > About Trinity).

- Trinity version: Trinity 1.4.3

### Steps To Reproduce
1.Downloaded

[2020-03-11 00:15] rajivshah3 commented on #2636
@Niuran78 how much space do you have left on your computer?

[2020-03-11 08:27] Niuran78 commented on #2636
@rajivshah3 I have 200 GB space left

[2020-03-11 11:35] janviehweger opened #2637 "disable (show/hide) old (unsecure/unused) seeds"
It would be helpful to be able to show / hide or disable seeds in the wallet. With the latest Trinity hack, all users had to transfer their balance to a new secure seed. For keeping the transaction history in one place, many users might want keep their old seeds although not using them anymore. This leads to the problem, that one could potentially generate receiving addresses from these seeds.

[2020-03-11 11:41] janviehweger opened #2638 "show total balance"
Would be nice to see the accumulated total balance spread over multiple seeds in one place on main screen. ATM you have to check every seed separately.

[2020-03-11 11:46] janviehweger opened #2639 "change order of seeds"
should be possible to change the view order of seeds. in best case via drag & drop.

[2020-03-11 20:18] culnamo commented on #2609
After adding the new SeedVault Files from the Migration Tool issue seem to be fixed. Before it was happening consistently. I cannot reproduce it now anymore either.

[2020-03-11 20:18] #2609 closed, assigned to nobody

[2020-03-13 09:00] ThatsNotMyCode opened #2640 "Trinity wallet doesn't remember settings"
### Bug description
Trinity doesn't remember some settings. For instance, if I go to settings > Trinity > Currency > and select 'Eur' in dropdown instead of default 'Usd'. Next time I start Trinity I have to select it again.
Maybe applies to other settings as well.

### Environment Specs
Windows 10
Trinity version: 1.4.2

### Steps To Reproduce
1. Go to settings.
2. Set currency to 'Eur'.
3. Click

[2020-03-13 14:53] alexandre1985 commented on #2640
I do have this issue on my trinity.

[2020-03-13 21:44] JA-FAR opened #2645 "Mobile: Hide Zero-Value Transactions"
### Description
Please include the ability to hide zero-value transactions in the mobile versions of the Trinity wallet.

### Motivation
This feature is a common request from the IOTA community. Recent increases in 0i transactions with spammy messages have resulted in user frustration when using the wallet. The desktop version of Trinity is equipped with this mitigation feature. Implement this in

[2020-03-13 22:03] JA-FAR opened #2647 "All Platforms: Configure Display Units for Wallet Balance"
### Description
Please include the ability to configure the display units for balance within all versions of the Trinity wallet. Currently, clicking or tapping the wallet balance will toggle between two display modes - abbreviated/rounded and full value. Include a feature which allows the user to configure how the balance is displayed: i, Ki, Mi, Gi, Ti, Pi.

### Motivation
The inclusion of this f

[2020-03-14 05:04] nandgator opened #2648 "🐞: "Fatal error unable to open realm at path ... " on Ubuntu"
### Bug description
- The trinity wallet was set up when I had an old `$USER` (the only admin) password. I changed it recently and launched the wallet.
- The `gnome-keyring` error: `"The password you use to login in to your computer no longer matches that of your login"` came up. So I tried all the passwords but no avail. When I hit cancel, I met this:
![Screenshot from 2020-03-14 09-17-47](https:

[2020-03-14 05:10] nandgator commented on #2648
And oh... one more thing...
![Screenshot from 2020-03-14 10 36 58](https://user-images.githubusercontent.com/38415384/76675472-dc846d00-65df-11ea-9c2d-78471d841eb0.png)
Some items like `About Trinity`, `Error log`... do not respond when such errors occur. I don't know if it is expected.

[2020-03-14 10:03] alexandre1985 commented on #2640
I believe this is a non important issue, don't know because I'm not a IOTA Dev.

One thing I like to add, is that when my settings are set to EUR, the Trinity main price chart could also be set to EUR as the main coin, currently it remains USD. I have to click on the USD to change to EUR, everytime.

[2020-03-14 10:13] alexandre1985 opened #2649 "IOTA price Restful API"
I have notice the trinity wallet has a price chart built in.

I would like to add MIOTA as a payment coin to the services I provide, on my web page. My base coin is EUR, so I want to make the conversion from my euro price to MIOTA (in javascript, of course).

Is there an Official IOTA Restful API for that? The api that trinity wallet price chart uses to convert MIOTA to EUR would serve well.
Else

[2020-03-16 15:37] r-c-k opened #2653 "Making it easier to change units when sending tokens"
### Description
Allow keyboard input on Trinity Desktop to enable a quick change of the unit when sending tokens.

![trinity](https://user-images.githubusercontent.com/17240275/76774206-ece54500-67a3-11ea-8d25-4648064ac0b6.png)

### Motivation
I find it kinda unintuitive to use the dropdown to change the desired unit.

### Requirements
Press [I, K, M, G, T] after the amount to change the unit.

##

[2020-03-16 16:11] alexandre1985 commented on #2649
I have created the api, suited for programmers, at https://iota-price.herokuapp.com

[2020-03-19 10:51] vromvonbeyond opened #2655 "Using very high Ledger Indices is not ideal"
### Bug description
If I want to use a very high Index with let's say 20 Numbers for my Ledger Account it is at the beginning already not so easy to delete the initial 0, because you first have to write another number and then you can delete the 0 using the arrow keys (Many people struggle already here).
Then you only see up to 4 or 5 numbers while typing your 20 number Index into the field, so yo

[2020-03-20 17:05] rajivshah3 commented on #2655
Summary of discussion on Discord:

- High indices should not be used as a security feature, use [advanced passphrase security](https://support.ledger.com/hc/en-us/articles/115005214529-Advanced-passphrase-security) instead
- We should restrict the index number to the range of an unsigned 31-bit integer (0 to 2147483647)

[2020-03-21 17:49] KnobbyB commented on #2636
I am also having the exact same problem,  have been able to update all other versions on the same pc in the past years.  Windows 10 lots of space on drive.

[2020-03-21 17:52] KnobbyB commented on #2636
In fact have the same issue on my laptop too,  also same specs

[2020-03-21 18:40] rajivshah3 commented on #2636
@Niuran78 @KnobbyB could you check the following details?

- Computer manufacturer and model
- Version of Windows 10 (including edition, version, and OS build) (see [this article](https://support.microsoft.com/en-us/help/13443/windows-which-version-am-i-running))
- Antivirus programs installed (if any)
- Previous Trinity version installed (if any)

Also, does this still happen on Trinity 1.4.5?

[2020-03-21 22:44] KnobbyB commented on #2636
My pc is home built....
Ryzen 7 2700x
32GB Ram
nvme ssd loads of room
64 bit
widows 10 home 1909
Norton antivirus but tried it with if off too with no luck
Trinity 1.4.3 currently installed and working
1.4.5 is what I am having the install issue

[2020-03-22 11:28] Niuran78 commented on #2636
@rajivshah3 @KnobbyB with the new version trinity desktop 1.4.5 it works. I deleted the old version completly and downloaded trinity 1.4.5, click installation file and it worked well.

- My PC is also homebuild
- Ryzen 5 2600 Six core
- 3,4 Ghz
- 32 MB RAM
- 64bit
- windoWs 10 pro 1909
-Windows Antivirus
-Preversion was 1.4.3
no issue with 1.4.5 anymore

[2020-03-22 17:07] KnobbyB commented on #2636
Hey I did the same and all is good now,  just had to delete the 1.4.3 version?

Thanks any way

[2020-03-24 03:07] rajivshah3 commented on #2583
@jps5482 @honmashinsei does this still happen with the latest version (1.4.5)?

[2020-03-25 15:34] Thoralf-M commented on #205
Not possible anymore with the bundle validation changes here <https://github.com/iotaledger/iri/releases/tag/v1.8.5-RELEASE>

[2020-03-26 15:57] Niuran78 commented on #2636
Yeah same me

[2020-03-26 15:57] #2636 closed, assigned to nobody

[2020-03-27 02:11] rajivshah3 opened #2669 "Test"
Test

[2020-03-27 02:11] #2669 closed, assigned to nobody

[2020-03-28 17:56] janiaswim opened #2680 "My ledger wont approve transactions that are more than 50 Iota,"
Hello,
My ledger is not able to confirm transactions that are more than 50 iotas. Anything more, after broadcasting says "something went wrong with your transaction, please try again later"

[2020-03-28 18:23] HBMY289 commented on #2680
Most probably your issue is that you try to use to many input addresses in one bundle. Read this article for background info and a possible solution.
https://medium.com/@hbmy289/how-to-access-iota-funds-spread-over-too-many-inputs-on-ledger-nano-s-74708548fa6e

[2020-03-30 01:05] janiaswim commented on #2680
Hello,
I was able to send a small amount like it said in the article, and now i cannot send anything. These are the error logs, please take a look.
![2020-03-29 (1)](https://user-images.githubusercontent.com/60996576/77866387-aeaa4580-71e7-11ea-9500-16841249f7c0.png)

These are the error logs from before
![2020-03-29 (3)](https://user-images.githubusercontent.com/60996576/77866425-e0231100-71e7-11

[2020-03-30 10:45] cvarley100 opened #2685 "Hide 0 value transactions by default"
## Description

0 value txes should be hidden by default.

## Motivation

Trinity addresses are getting inundated with spam and it is causing confusion.

## Requirements

Write a list of what you want this feature to do.

1. Hide by default on desktop
2. Add tx filtering on mobile and hide by default

## Are you planning to do it yourself in a pull request?

Yes.

[2020-03-30 10:46] #2645 closed, assigned to nobody

[2020-03-30 10:46] cvarley100 commented on #2645
Duplicate.

[2020-03-30 10:47] cvarley100 commented on #2680
@janiaswim May have been a node issue. Can you clear the error log, try again and share the error log?

[2020-03-30 10:48] #2399 closed, assigned to nobody

[2020-03-30 10:49] cvarley100 commented on #2399
In light of the recent attack, MoonPay will not be readded to Trinity. Apple and Android Pay may be an option with a future payment provider.

[2020-03-30 10:50] cvarley100 commented on #2591
Duplicate.

[2020-03-30 10:50] #2591 closed, assigned to nobody

[2020-03-30 10:55] cvarley100 commented on #2639
Duplicate of #461.

[2020-03-30 10:55] #2639 closed, assigned to nobody

[2020-03-30 10:56] cvarley100 commented on #2649
Thanks for the heads up @alexandre1985!

[2020-03-30 10:56] #2649 closed, assigned to nobody

[2020-03-30 10:56] cvarley100 commented on #2653
Thanks Rck, we have no plans for these sorts of "Nice to Have" changes atm. Should be considered for V2.

[2020-03-30 10:56] #2653 closed, assigned to nobody

[2020-04-01 01:51] marfer1977 opened #2687 "I have a seed < 81 characters"
## Bug description

I can't insert a seed < 81 characters. My seed have a 70 characters.

## Version 1.4.5

[2020-04-01 06:10] HBMY289 commented on #2687
The old wallet would accept seeds shorter than 81 characters, but internally it added "9" as often as needed to get to 81 characters again.
With Trinity you have to do this manually. Just you on your short seed and then add 9 until you have 81 chars.

[2020-04-01 06:13] #2687 closed, assigned to nobody

[2020-04-01 09:20] SimonVillage commented on #2685
I would love to see that feature. It's impossible to check my history on mobile as there is no option to filter out 0 value transactions! +1

[2020-04-01 18:58] marfer1977 opened #2690 "0i"
## My balance is 0i and this is wrong

My seed is < 81 characters. I entered "9" to complete 81 characters.
When accessing the account, the balance is zero. I'm sure I'm inserting the correct seed. I also used the tools (transition and sync account) and it didn't work.

## Version 1.4.5

[2020-04-03 17:40] rajivshah3 commented on #2690
Have you tried going to the #help channel on [Discord](https://discord.iota.org)?

[2020-04-06 13:59] #457 closed, assigned to nobody

[2020-04-06 13:59] #2685 closed, assigned to nobody

[2020-04-08 12:15] #2690 closed, assigned to nobody

[2020-04-08 12:15] cvarley100 commented on #2680
Closing due to inactivity.

[2020-04-08 12:15] #2680 closed, assigned to nobody

[2020-04-08 12:16] cvarley100 commented on #2648
@joe733 Did this resolve on wallet reset?

[2020-04-08 12:17] cvarley100 commented on #2647
Minor changes like this are not currently planned for Trinity V1. We will consider them in the next version of the wallet.

[2020-04-08 12:17] #2647 closed, assigned to nobody

[2020-04-08 12:24] cvarley100 commented on #2638
Thanks for the suggestion. We are not currently planning any minor changes like this. We will consider them for the next version of the wallet.

[2020-04-08 12:24] #2638 closed, assigned to nobody

[2020-04-08 12:24] cvarley100 commented on #2637
As mentioned in your other issue, we are not planning minor changes like this at the moment. Users should remove their old, migrated seeds from the wallet.

[2020-04-08 12:24] #2637 closed, assigned to nobody

[2020-04-08 12:25] cvarley100 commented on #2621
@iotavanhelsing If you are able to try again and provide reproduction steps that would be great, we have not managed to reproduce this.

[2020-04-08 12:26] cvarley100 commented on #2631
This is a good idea for a future wallet version. We are not currently planning these sorts of updates in the current Trinity atm.

[2020-04-08 12:26] #2631 closed, assigned to nobody

[2020-04-08 16:27] cvarley100 commented on #2219
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:27] #2219 closed, assigned to nobody

[2020-04-08 16:27] cvarley100 commented on #2375
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:27] #2375 closed, assigned to nobody

[2020-04-08 16:27] cvarley100 commented on #2556
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:27] #2556 closed, assigned to nobody

[2020-04-08 16:27] cvarley100 commented on #2294
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:27] #2294 closed, assigned to nobody

[2020-04-08 16:28] cvarley100 commented on #2159
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:28] #2159 closed, assigned to nobody

[2020-04-08 16:28] cvarley100 commented on #2082
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:28] #2082 closed, assigned to nobody

[2020-04-08 16:31] cvarley100 commented on #2020
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:31] #2020 closed, assigned to nobody

[2020-04-08 16:32] cvarley100 commented on #2019
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:32] #2019 closed, assigned to nobody

[2020-04-08 16:35] cvarley100 commented on #2018
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:35] #2018 closed, assigned to nobody

[2020-04-08 16:35] cvarley100 commented on #2011
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:35] #2011 closed, assigned to nobody

[2020-04-08 16:35] cvarley100 commented on #2010
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:35] #2010 closed, assigned to nobody

[2020-04-08 16:36] cvarley100 commented on #2009
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:36] #2009 closed, assigned to nobody

[2020-04-08 16:36] cvarley100 commented on #2007
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:36] #2007 closed, assigned to nobody

[2020-04-08 16:43] cvarley100 commented on #2006
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:43] #2006 closed, assigned to nobody

[2020-04-08 16:43] cvarley100 commented on #2006
#2005 is a duplicate

[2020-04-08 16:44] cvarley100 commented on #2005
Duplicate of #2006

[2020-04-08 16:44] #2005 closed, assigned to nobody

[2020-04-08 16:44] cvarley100 commented on #2003
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:44] #2003 closed, assigned to nobody

[2020-04-08 16:45] cvarley100 commented on #1964
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:45] #1964 closed, assigned to nobody

[2020-04-08 16:45] cvarley100 commented on #1963
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

Related #2294

[2020-04-08 16:45] #1963 closed, assigned to nobody

[2020-04-08 16:48] cvarley100 commented on #1933
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:48] #1933 closed, assigned to nobody

[2020-04-08 16:48] cvarley100 commented on #1932
Marking as V2 and closing. We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:48] #1932 closed, assigned to rajivshah3, rihardsgravis

[2020-04-08 16:51] cvarley100 commented on #1926
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:51] #1926 closed, assigned to nobody

[2020-04-08 16:53] cvarley100 commented on #1799
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 16:53] #1799 closed, assigned to nobody

[2020-04-08 16:55] cvarley100 commented on #1769
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 16:55] #1769 closed, assigned to nobody

[2020-04-08 17:13] cvarley100 commented on #1693
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:13] #1693 closed, assigned to rihardsgravis

[2020-04-08 17:13] cvarley100 commented on #1665
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:13] #1665 closed, assigned to nobody

[2020-04-08 17:14] cvarley100 commented on #1480
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:14] #1480 closed, assigned to nobody

[2020-04-08 17:14] cvarley100 commented on #1221
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:14] #1221 closed, assigned to nobody

[2020-04-08 17:15] cvarley100 commented on #1217
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2. Feel free to open a PR.

[2020-04-08 17:15] #1217 closed, assigned to nobody

[2020-04-08 17:15] cvarley100 commented on #1169
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:15] #1169 closed, assigned to nobody

[2020-04-08 17:15] cvarley100 commented on #1035
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:15] #1035 closed, assigned to nobody

[2020-04-08 17:15] cvarley100 commented on #1005
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:15] #1005 closed, assigned to nobody

[2020-04-08 17:16] cvarley100 commented on #991
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:16] #991 closed, assigned to nobody

[2020-04-08 17:17] cvarley100 commented on #901
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:17] #901 closed, assigned to nobody

[2020-04-08 17:17] cvarley100 commented on #870
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:17] #870 closed, assigned to rajivshah3

[2020-04-08 17:17] cvarley100 commented on #823
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2. Feel free to open a PR.

[2020-04-08 17:17] #823 closed, assigned to nobody

[2020-04-08 17:18] cvarley100 commented on #818
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:18] #818 closed, assigned to nobody

[2020-04-08 17:18] cvarley100 commented on #791
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:18] #791 closed, assigned to nobody

[2020-04-08 17:18] cvarley100 commented on #713
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:18] #713 closed, assigned to nobody

[2020-04-08 17:18] cvarley100 commented on #701
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:18] #701 closed, assigned to nobody

[2020-04-08 17:18] cvarley100 commented on #649
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:18] #649 closed, assigned to nobody

[2020-04-08 17:19] cvarley100 commented on #647
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:19] #647 closed, assigned to nobody

[2020-04-08 17:19] cvarley100 commented on #627
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:19] #627 closed, assigned to nobody

[2020-04-08 17:19] cvarley100 commented on #620
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:19] #620 closed, assigned to nobody

[2020-04-08 17:19] cvarley100 commented on #619
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:19] #619 closed, assigned to nobody

[2020-04-08 17:20] cvarley100 commented on #473
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:20] #473 closed, assigned to nobody

[2020-04-08 17:21] cvarley100 commented on #471
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:21] #471 closed, assigned to nobody

[2020-04-08 17:24] cvarley100 commented on #462
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:24] #462 closed, assigned to nobody

[2020-04-08 17:24] cvarley100 commented on #461
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:24] #461 closed, assigned to nobody

[2020-04-08 17:24] cvarley100 commented on #460
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:24] #460 closed, assigned to nobody

[2020-04-08 17:25] cvarley100 commented on #459
We will reconsider feature and enhancement suggestions for the next version of the wallet.

Related #2009

[2020-04-08 17:25] #459 closed, assigned to nobody

[2020-04-08 17:25] cvarley100 commented on #456
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:25] #456 closed, assigned to nobody

[2020-04-08 17:26] cvarley100 commented on #455
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:26] #455 closed, assigned to nobody

[2020-04-08 17:27] cvarley100 commented on #454
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:27] #454 closed, assigned to nobody

[2020-04-08 17:27] cvarley100 commented on #452
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:27] #452 closed, assigned to nobody

[2020-04-08 17:27] cvarley100 commented on #451
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:27] #451 closed, assigned to nobody

[2020-04-08 17:27] cvarley100 commented on #449
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:27] #449 closed, assigned to nobody

[2020-04-08 17:27] cvarley100 commented on #447
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:27] #447 closed, assigned to nobody

[2020-04-08 17:27] cvarley100 commented on #445
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:27] #445 closed, assigned to nobody

[2020-04-08 17:27] cvarley100 commented on #310
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:27] #310 closed, assigned to nobody

[2020-04-08 17:28] cvarley100 commented on #274
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:28] #274 closed, assigned to nobody

[2020-04-08 17:28] #205 closed

[2020-04-08 17:30] cvarley100 commented on #503
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:30] #503 closed, assigned to nobody

[2020-04-08 17:35] cvarley100 commented on #450
We will reconsider feature and enhancement suggestions for the next version of the wallet.

[2020-04-08 17:35] #450 closed, assigned to nobody

[2020-04-08 17:36] cvarley100 commented on #1966
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:36] #1966 closed, assigned to nobody

[2020-04-08 17:37] cvarley100 commented on #2317
@Doxmare It is likely this is interference from old keychain entries. Please reset the wallet and set up again with your seed backups.

[2020-04-08 17:37] #2317 closed, assigned to nobody

[2020-04-08 17:38] cvarley100 commented on #2039
We will reconsider feature and enhancement suggestions for the next version of the wallet. Closing and labelling as V2.

[2020-04-08 17:38] #2039 closed, assigned to nobody

[2020-04-08 17:54] nothingismagick commented on #2595
From a security perspective, publicly sharing the APK in this way would make it easier to decompile and analyse - but any dedicated attacker will just instrument the app on the phone or use other tooling for grabbing the APK. Furthermore, anyone can build the APK themselves...

Nevertheless, I think that the transparency and the greater good associated with publishing the APK here outweigh the min

[2020-04-08 19:01] rajivshah3 commented on #2595
Yep, good idea

[2020-04-08 20:15] alexandre1985 commented on #2595
You could provide the md5sum, instead of the apksigner. Also the apk should be hosted on iota.org domain/subdomains.
This will provide, virtually, 100% security

-------- Mensagem original --------
A 8/04/2020, 20:01, Rajiv Shah escreveu:

[2020-04-08 20:20] #2633 closed, assigned to nobody

[2020-04-08 21:54] Shobba commented on #2006
@cvarley100 I don't think this is a duplicate of #2005 .
#2005 is about a widget on your phone's homescreen that shows your balance (also of accounts/addresses with seed).
I suggested that it should be possible to add addresses/combine addresses to an account without entering the seed and only displaying the balance in the app.

I hope it's clearer now :)

[2020-04-09 06:08] nandgator commented on #2648
@cvarley100 I cannot open the _Advanced Settings_ to reset the wallet. So I had to remove the configuration files form `~/.config/Trinity` after which it launched properly.

[2020-04-09 11:09] cvarley100 commented on #2006
My bad. Thanks.

[2020-04-19 23:03] CptGrumpus commented on #2583
didnt have any problems using it now with 1.4.5

[2020-04-19 23:03] #2583 closed, assigned to nobody

[2020-04-22 14:05] rajivshah3 opened #2741 "Trinity keeps reattaching a confirmed bundle that is over 1 year old"
## Bug description
Trinity keeps reattaching a [bundle](https://thetangle.org/bundle/RZKIG9F99DVGLJ9GS9A9NLIDXEDGAYNAWTSFLDGVWVWEJDZOC9NAGLACEYBKYVT9FFPJWXZQDYIGKPBWC) even though it is confirmed and `checkConsistency` requests return `false`:

[code]

Even though it is not confirmed, Trinity still shows it as pending (even after a wallet reset):

![image](https://user-images.githubusercontent.com

[2020-04-23 16:59] SandKyler82 opened #2745 "Problem mit Trinity Wallet und keine Hilfe in Sicht"
Hallo an Alle. Ich hoffe sehr, dass mir hier jemand helfen kann. Mein Englisch ist nicht das Beste, was es nicht leichter macht. So habe ich vor ein paar Tagen versucht von meiner Trinity Wallet Iotas zu BitPanda zu senden. Aber, es geht nicht raus? Es Pendelt und wird einfach nicht bestätigt. Pitpanda sagt ich muss mich an Iota wenden. Kann mir bitte jemand helfen oder sagen, wie ich vorgehen mus

[2020-04-23 17:01] Thoralf-M commented on #2745
Join https://discord.iota.org/ and write in the #help channel there

[2020-04-23 17:17] Thoralf-M commented on #2745
Worked by clicking on retry, issue can be closed

[2020-04-23 18:08] #2745 closed, assigned to nobody

[2020-04-29 18:45] cvarley100 commented on #2556
Duplicate of #2006

[2020-04-30 18:33] dangenendt opened #2760 "Ledger Nano S not found"
## Bug description

When i open up "add account", trinity tells me to connect and unlock the ledger. Doing this leads to the known win10 sound when connecting a device via USB but nothing happens in the app... No chance to connect the ledger. Reinstalling the wallet didnt work

** UPDATE **
Ok, seems like i am a step furhter but its still not working. It looks like my wallet is completely destroye

[2020-04-30 18:44] rajivshah3 commented on #2760
Do you have the Ledger Live app open? It seems like having it open at the same time as Trinity causes some interference.

[2020-04-30 18:48] dangenendt commented on #2760
No, The Ledger live app is not started :(
See my updated description

[2020-05-05 22:55] rajivshah3 commented on #2529
I was able to reproduce the issue on desktop. I think I found the source of the bug

[2020-05-08 09:37] wrekonize-93 opened #2774 "SeedVault: no access permission to open .kdbx-file"
## Bug description

When exporting my Seed as SeedVault in Trinity, it creates a KeePass-file. When i want to open this .kdbx-file (with Strongbox on macOS), it tells me that i don't have the permission rights to access. I open other files with Strongbox and there's never been a problem except for Trinity SeedVault.

## Version
- Version: 1.4.5

## Hardware specification

What hardware are you usi

[2020-05-08 13:29] sumanthyedoti opened #2775 "'yarn deps:mobile' returning error"
[code]

[2020-05-08 13:37] rajivshah3 commented on #2775
Hmm, I'm not sure if it works with Node 12 yet. We'll probably have to update some dependencies. You can try with Node 10 in the meantime, though

[2020-05-08 14:41] sumanthyedoti commented on #2775
And also the current react-native version is `0.59.10`. Please try to upgrade to the latest. I understand it's a pain point.
Meanwhile, I try with node 10. Thanks.

[2020-05-08 14:43] rajivshah3 commented on #2775
Unfortunately upgrading to 0.60.0 or higher is not an easy task as it requires us to migrate to AndroidX. We’ll look into it but we don’t have a timeframe at the moment and may need to patch dependencies.

[2020-05-08 14:46] sumanthyedoti commented on #2775
I know. Never mind. I tried to upgrade my project. I ended up upgrading by creating a new project and migrating code :D

[2020-05-08 15:07] #2529 closed, assigned to rajivshah3

[2020-05-09 01:42] D00MGU opened #2778 "Trinity wallet showing zero"
Didn't know where to put this but my Trinity wallet is showing zero for a total.  It is showing a sent amount on March 3rd, but I never sent any.  I don't know if there is anyway of recovering this or not.

[2020-05-09 05:15] GCiota opened #2779 "I don't know where to ask but I can't open my Trinity Wallet with this error."
## Bug description

Can't open the wallet

## Version

Which version of Trinity are you running? (1.4.5)

- Version: (1.4.5)

## Hardware specification

What hardware are you using?

- Mobile or Desktop: Mac Book Pro
- Device:
- OS and version: Catalina 10.15.4

- RAM (Desktop only): 16GB
- Number of cores (Desktop only): 6 cores

## Node Settings (delete if not relevant)

What are your node setti

[2020-05-09 05:27] GCiota commented on #2648
@joe733 Hi Joe, thanks for sharing your knowledge. Did you fix the issue? I think I have the same problem now and I'm trying to fix it. Can I ask a few questions?

[2020-05-09 06:10] nandgator commented on #2648
@GCiota sorry for the late reply,

I couldn't fix it... but as commented earlier the wallet did launch properly after I removed the `~/.config/Trinity`

**Current Status**
- Version: 1.4.3
- Account: Logged out / new / no record (cause I deleted: `~/.config/Trinity`)
- Behaviour: Asks for `gnome-keyring` on launch and if denied goes to the [first screenshot](https://user-images.githubusercontent.c

[2020-05-09 11:11] cvarley100 commented on #2779
Hi @GCiota it sounds like your database has been corrupted somehow. Easiest solution is to reset the wallet and re-enter your seed(s) from backup.

[2020-05-09 15:04] GCiota commented on #2648
1) Where can I find the ~/.config/Trinity and how can I remove?

2) I think this happened after I changed my laptop password. Does it mean that I can fix it by re-changing my pwd back to what it was?

3) Someone recommended me to reset the wallet and re enter my seed from backup. Do you have any idea how to do it? Does it simply mean to delete the Trinity and re install?

Thank you so much.

[2020-05-09 15:12] GCiota commented on #2779
@cvarley100 Thank you so much for your time. May I check a few things before I move any forward.

1) How do you reset the wallet? Do you simply suggest to delete the wallet and reinstall?

2) I haven't actually done the backup process since I installed my Trinity almost a year and half ago. Would my 16 back up letter be enough to recover my fund? Or is there anything else that I'm supposed to have

[2020-05-09 21:40] GCiota commented on #2779
Re 2 - I meant to say "would my 24 backup phrase of Ledger Nano S be enough to recover?

[2020-05-10 06:52] nandgator commented on #2648
@GCiota,

Are you using `Linux` / `Windows`?
- If you are using Linux you'll find the Trinity Wallet configuration at `/home/<username>/.config/Trinity/`.
- If you are using Windows I'm not sure ... probably `AppData/Local/` the developer team can help you better and It would be effective if follow-up this issue #2487 instead.

I tried that but didn't seem to work, cause it opened correctly only i

[2020-05-10 18:11] GCiota commented on #2648
@joe733 Thanks for your time again.

I'm using Mac OS. Catalina. Hmm.

[2020-05-10 18:44] cvarley100 commented on #2760
@dangenendt Likely worth deleting the %appdata%/Trinity folder and setting up fresh

[2020-05-10 18:45] cvarley100 commented on #2778
Hi @D00MGU. Please join the IOTA Discord and someone will help you in the #help channel there: https://discord.iota.org/

[2020-05-10 18:45] #2778 closed, assigned to nobody

[2020-05-10 18:48] cvarley100 commented on #2779
@GCiota If your funds are on a Ledger, all you need is the index number of your account (usually 0 but you might have chosen a different one). You can delete the Trinity folder in Application Support - `~/Library/Application Support/Trinity`. You may need to unhide hidden folders.

[2020-05-10 19:03] GCiota commented on #2779
@cvarley100 Hi, thank you for your time again. So all I need is just re install the wallet after deleting it?

[2020-05-10 19:04] GCiota commented on #2779
@cvarley100 I know I'm being too cautious but I'm really scared to lose my funds so. Glad to hear that my fund should be safe if I used Ledger, which I did. Thanks

[2020-05-10 19:45] cvarley100 commented on #2779
@GCiota Your seed is stored in the Ledger device, not the Trinity application. So long as you are confident you know your Ledger index number (usually 0), you're good to go.

[2020-05-10 19:46] GCiota commented on #2779
@GCiota copy that. Thank you for the confirmation.

[2020-05-14 03:56] rajivshah3 commented on #2550
Are you able to reproduce this with the latest version?

[2020-05-14 12:42] laumair commented on #2741
@rajivshah3 I am having issues in reproducing this issue. If I manually add the [transaction hash](https://thetangle.org/transaction/QSJZUIJUIBBWHFEYCRQK9IOOJKHDJHGEZLYAYXRPNRGGYYIZFSDLFUHHIKODAT9BGOENNCUGTNMG99999) to this [diff](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/libs/iota/transfers.js#L449), it doesn't pull in the complete bundle since its snapshotted on the no

[2020-05-14 13:19] laumair commented on #2741
@rajivshah3 I am having issues in reproducing this issue. If I manually add the [transaction hash](https://thetangle.org/transaction/QSJZUIJUIBBWHFEYCRQK9IOOJKHDJHGEZLYAYXRPNRGGYYIZFSDLFUHHIKODAT9BGOENNCUGTNMG99999) to this [diff](https://github.com/iotaledger/trinity-wallet/blob/develop/src/shared/libs/iota/transfers.js#L449), it doesn't pull in the complete bundle since its snapshotted on the no

[2020-05-14 14:49] cvarley100 commented on #2779
Did you resolve this @GCiota?

[2020-05-14 14:50] cvarley100 commented on #2760
@dangenendt Any luck?

[2020-05-14 14:50] cvarley100 commented on #2775
Did a node downgrade work @sumanthyedoti?

[2020-05-14 14:53] cvarley100 commented on #2774
@pascalk-uzh I recommend using MacPass - https://github.com/MacPass/MacPass

[2020-05-14 14:53] #2655 closed, assigned to rajivshah3

[2020-05-14 15:12] wrekonize-93 commented on #2774
@cvarley100 thanks for your answer. I've downloaded MacPass and this time I was able to open it. Interestingly it now also worked with Strongbox showing me the password (I've recently restarted my computer again after weeks) – while in MacPass I'm only able to see the name of my wallet, but not the password /seed (this field is empty). While this might be another bug, I'm not sure it'll replicate

[2020-05-14 22:37] GCiota commented on #2779
@cvarley100 Thanks for checking. Yes, I deleted Trinity folder in Library and reset up the wallet with the Ledger. And when i put my index number, it worked and my funds are still there.

Thank you so so so much!

[2020-05-15 19:56] #2779 closed, assigned to nobody

[2020-05-16 02:13] tunlong commented on #2760
@dangenendt I have the same issue as you. Once the iota shows 'You have to connect the Ledger in order to use it', I quit the iota program on the ledger and re-entered. After trying this for about 10 times, I finally went in. But it's still an issue, I tried version 1.4.2 and 1.4.5, not difference.

[2020-05-16 06:32] sumanthyedoti commented on #2775
yes @cvarley100

[2020-05-16 06:33] sumanthyedoti commented on #2775
yes @cvarley100

[2020-05-16 13:29] monikrk opened #2807 "Appimage problem in debian 10"
when I launch the Appimage application like this:

./trinity-desktop-1.5.0.AppImage

I get the following error

[7414:0516/152458.210558:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_trinit5nZFNo/chrome-sandbox is owned by root and has mode 475

[2020-05-16 15:02] sumanthyedoti commented on #2775
Closing the issue. Thanks.

[2020-05-16 15:02] #2775 closed, assigned to nobody

[2020-05-16 15:12] rajivshah3 commented on #2807
Hi, did you install AppImageLauncher?

[2020-05-17 08:54] monikrk commented on #2807
Hi!
I haven't installed appimagelauncher.
Is it mandatory?

[2020-05-17 09:05] monikrk commented on #2807
It works properly by adding **--no-sandbox**  when you launch it

https://github.com/standardnotes/forum/issues/722#issuecomment-562368756

[2020-05-17 20:27] rajivshah3 commented on #2807
AppImageLauncher is recommended but isn't mandatory. Thanks for the note about `--no-sandbox`, I'll look into why that's necessary

[2020-05-17 20:32] rajivshah3 commented on #2807
This was introduced in Electron 5, so it will be present in Trinity Desktop 1.5.0 and later. We need https://github.com/electron-userland/electron-builder/pull/4496 to be merged to avoid this issue. Alternatively, we can switch to Snapcraft

[2020-05-18 00:21] Karl978 commented on #1925
Same issue, and same issues #1923, #1924, #1952, #1957, with Ledger Nano S and last release of Trinity Wallet 1.5.0 The workaround seems to be working for now.

[2020-05-18 09:53] dangenendt commented on #2760
@cvarley100
I get it successfully to work on my MacBook.
I will try your workaround soon on windows.

@tunlong
Interesting. Thank you

[2020-05-19 14:35] rajivshah3 opened #2811 "TypeError in /onboarding/seed-ledger"
## Error in Trinity Desktop

**TypeError** in **/onboarding/seed-ledger**
Cannot read property 'index' of null

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5ebfd89241f504001704e609?event_id=5ec3ecbd005b742ed3960000&i=gh&m=ci)

## Stacktrace

    src/ui/views/onboarding/seedStore/Ledger.js:40 - new seedStore_Ledger_Ledger

[View full stacktrace](https://app.bugs

[2020-05-19 16:19] rajivshah3 commented on #2811
I was able to reproduce it in dev mode like this:
1. Completely clearing old state by deleting `~/Library/Application Support/Electron`
2. Go through part of the onboarding for the first time (select language, accept terms and conditions, accept privacy policy)
3. Reload the app with Command-R
4. Go through onboarding again (restore existing Ledger account)

It seems like `mapStorageToState` is ov

[2020-05-20 06:35] dependabot-preview[bot] opened #2815 "Dependabot needs permission to see node-pre-gyp"
Dependabot couldn't resolve your project's dependencies as it couldn't access [node-pre-gyp](https://github.com/kneth/node-pre-gyp).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` make

[2020-05-20 21:16] rajivshah3 commented on #2595
Hi, starting with [Trinity Mobile 1.5.0](https://github.com/iotaledger/trinity-wallet/releases/tag/mobile-1.5.0) we'll be providing APKs on GitHub for direct download. Please open an issue if you run into any problems with it

[2020-05-20 21:16] #2595 closed, assigned to rajivshah3

[2020-05-21 19:11] #2811 closed, assigned to laumair

[2020-05-21 19:11] rajivshah3 commented on #2811
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **/onboarding/seed-ledger**](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5ebfd89241f504001704e609?event_id=5ec6884f005b683d87c40000&i=gh&m=fx)

[2020-05-22 15:02] Vid201 opened #2818 "UI pop-up window not full screen"
## Bug description

Pop-up window is not full screen (this also happened on other pop-up windows). This happens only 1st time (on 2nd click it is full screen).

## Version

- Version: 1.5.0

## Hardware specification

- Mobile or Desktop: Mobile
- Device: Xiaomi Redmi Note 8T
- OS and version: MIUI Global 11.0.7 (Android 9)

## Node Settings (delete if not relevant)

- Node settings: Automatic nod

[2020-05-22 15:16] Vid201 opened #2819 "Cannot export SeedVault"
## Bug description

Cannot export SeedVault to Download Folder (for newly created seed on first time setup).

## Version

- Version: 1.5.0

## Hardware specification

- Mobile or Desktop: Mobile
- Device: Xiaomi Redmi Note 8T
- OS and version: MIUI Global 11.0.7 (Android 9)

## Node Settings (delete if not relevant)

- Node settings: Automatic node management

## Steps To reproduce the bug

1. Ope

[2020-05-22 21:42] baylander commented on #2760
Same problem here. @rajivshah3: Can provide traces, if you have a debug version for me?

[2020-05-23 17:26] alexandre1985 commented on #2595
Em Wed, 20 May 2020 14:16:44 -0700
Rajiv Shah <notifications@github.com> escreveu:

Good move.

Success.

[2020-05-23 19:16] rajivshah3 commented on #2760
@baylander Is it not working for you on the latest version?

[2020-05-23 20:05] baylander commented on #2760
**Update2**:
Wanted to see, if my usb hub was the prob:
- So i deinstalled/reinstalled again 1.50
- This time i connected nano s, when trinity was already running
-> It was not recognized.
- So i closed it and connected Nano S like in procedure for "Update"
-> Problem, as descibed in Ticket occured again!!
- I deinstalled/reinstalled 1.50 and started again with procedure like in "Update"
-> still

[2020-05-23 21:30] rajivshah3 commented on #2760
Ok, so it was resolved by connecting and unlocking the Ledger before opening Trinity?

[2020-05-24 07:20] baylander commented on #2760
Yes.

[2020-05-27 02:34] #2815 closed, assigned to nobody

[2020-06-03 06:37] dependabot-preview[bot] opened #2838 "Dependabot needs permission to see qr.js"
Dependabot couldn't resolve your project's dependencies as it couldn't access [qr.js](https://github.com/defunctzombie/qr.js).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` make sure i

[2020-06-03 09:35] sczhengyabin commented on #2760
I have the same issue.
Remove `%appdata%/Trinity` and do a re-setup works for me.

[2020-06-05 16:33] kuhlmannmarkus opened #2847 "Possibility to set MWM"
## Description

It would be nice to have a possibility to set the minimum weight magnitude inside of trinity.

## Motivation

Remote POW doesnt work on Comnet. Comnet nodes accept a maximum MWM of 10 and Trinity tries to force 14.

## Open questions (optional)

Should this setting be an "advanced" setting?

## Are you planning to do it yourself in a pull request?

No.

[2020-06-06 21:45] rajivshah3 opened #2852 "java.lang.RuntimeException in JsonReader.java:312"
## Error in Trinity Mobile

**java.lang.RuntimeException** in **JsonReader.java:312**
An error occurred while executing doInBackground()

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5dfbb335010fc200193f1b93?event_id=5edc0d78005b7b318a920000&i=gh&m=ci)

## Stacktrace

    AsyncTask.java:399 - android.os.AsyncTask$4.done

[View full stacktrace](https://app.bugsnag

[2020-06-06 21:46] rajivshah3 commented on #2852
An error linked to this issue has been marked as fixed in Bugsnag
[**java.lang.RuntimeException** in **JsonReader.java:312**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5dfbb335010fc200193f1b93?event_id=5edc0d78005b7b318a920000&i=gh&m=fx)

[2020-06-06 21:46] rajivshah3 commented on #2852
An error linked to this issue has been reopened in Bugsnag
[**java.lang.RuntimeException** in **JsonReader.java:312**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5dfbb335010fc200193f1b93?event_id=5edc0d78005b7b318a920000&i=gh&m=rm)

[2020-06-06 21:47] rajivshah3 commented on #2852
~Possibly specific to Samsung devices.~ According to breadcrumbs, this error occurs on the TransferConfirmationModal

[2020-06-08 12:55] ghost commented on #2368
I have the same issue, from 1.5.0 and up. I can only use 1.4.5.
Trisquel GNU/Linux 8.0 Flidas
4.15.0-46-generic

[2020-06-09 12:42] yotardis commented on #1860
great,  since you apparently threw windows 7 out of the window after 1.4, I'm now stuck with an "upgrade" that stalls my wallet, I guess I'll have to install a mobile one to get out of this mess...

[2020-06-09 12:47] cvarley100 commented on #1860
@yotardis We took the reasonable decision to discontinue support for Windows 7 when Microsoft did. It is not a good idea to run a cryptocurrency wallet on an OS that will have no security updates.

[2020-06-10 06:15] #2838 closed, assigned to nobody

[2020-06-13 08:23] D0LPHN opened #2859 "Trinity does not update from 1.4.5 on Ubuntu 16.04"
## Bug description

Trinity hasn't been updating from 1.4.5 onwards on Ubuntu 16.04. When clicking "A new update is available" at the home screen, I get the following message in a pop-up window:

Download complete, Trinity will now restart to install the update.

Trinity doesn't restart but when I close the pop-up window I get this message:

Error retrieving update data
Could not retrieve update.

[2020-06-13 08:25] rajivshah3 commented on #2859
Does manually installing 1.5.2 not work either?

[2020-06-13 08:27] D0LPHN commented on #2859
no - then the wallet doesn't start without any message

[2020-06-14 00:49] rajivshah3 commented on #2859
Can you try launching it from the command line?

[2020-06-14 09:41] D0LPHN commented on #2859
Thanks for the swift replies!

It is going a bit over my head, but running from terminal gives me this:

Step 1: running from terminal starts AppImagelauncher and gives me this as last two lines:
gtk-update-icon-cache: Cache file created successfully.
Directory '/home/d0lphn/.local/share/mime/packages' does not exist!

Step 2: Created /mime/packages directory +
update-mime-database  ~/local/share/

[2020-06-14 09:50] D0LPHN commented on #2859
after a restart Trinity 1.4.5 also stopped working. Deleting .config/Trinity and new install solves that.

[2020-06-14 22:09] rajivshah3 opened #2862 "TypeError in src/ui/components/DeepLinking.js:50"
## Error in Trinity Mobile

**TypeError** in **src/ui/components/DeepLinking.js:50**
null is not an object (evaluating 'l.amount.toString')

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5edc6f0c5d1ce40017227fd5?event_id=5ee69fec005b7abbf5230000&i=gh&m=ci)

## Stacktrace

    src/ui/components/DeepLinking.js:50 - value

[View full stacktrace](https://app.bugsnag.c

[2020-06-15 19:25] ryanfalzon opened #2864 "Failed at the trinity-wallet@0.0.0 deps:desktop script"
## Bug description

Followed the steps that are on this page: https://docs.iota.org/docs/wallets/0.1/trinity/how-to-guides/develop-features-on-trinity. When trying to run the command `npm run deps:desktop`, an error is given in the console.

## Version

Node Version: v10.16.3
Yarn Version: 1.22.4
Git Version: 2.17.1.windows.2

## Hardware specification

What hardware are you using?

- Mobile or De

[2020-06-15 19:27] rajivshah3 commented on #2864
@ryanfalzon can you run `cd src/desktop` and then `npm ci`?

[2020-06-15 19:30] ryanfalzon commented on #2864
[2020-06-15T19_29_33_907Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4782499/2020-06-15T19_29_33_907Z-debug.log)
[2020-06-15T19_29_33_979Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4782500/2020-06-15T19_29_33_979Z-debug.log)

[2020-06-15 20:47] rajivshah3 commented on #2864
Thanks. Do you mind trying one more time? You can run `$env:DEBUG="electron-builder"` (I assume you're using PowerShell) before `npm ci` to get more verbose logging info. I think the issue is related to the `argon2` library but it's hard to tell what's going wrong

[2020-06-15 21:06] ryanfalzon commented on #2864
`
[2020-06-15T21_05_58_070Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4782974/2020-06-15T21_05_58_070Z-debug.log)
[2020-06-15T21_05_58_136Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4782975/2020-06-15T21_05_58_136Z-debug.log)

`

[2020-06-15 21:07] ryanfalzon commented on #2864
[2020-06-15T21_05_58_070Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4782976/2020-06-15T21_05_58_070Z-debug.log)
[2020-06-15T21_05_58_136Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4782977/2020-06-15T21_05_58_136Z-debug.log)

[2020-06-15 21:11] ryanfalzon commented on #2864
It looks like it is not being able to retrieve builds from sources after it fails to get pre-builts.

[2020-06-15 21:16] ryanfalzon commented on #2864
I changed the argon2 dependency to point directly to the source as follows: `"argon2": "ranisalt/node-argon2"`
Doing that gave a new error which can be found in the attached logs.

[2020-06-15T21_11_24_135Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4783024/2020-06-15T21_11_24_135Z-debug.log)

[2020-06-15 21:36] rajivshah3 commented on #2864
Sorry this is giving you so much trouble, I don't think I've seen these issues before. Can you try running `$env:DEBUG="electron-builder"` and then `./node_modules/.bin/electron-builder install-app-deps`?

[2020-06-15 21:38] rajivshah3 commented on #2864
The OpenSSL lib built correctly, right? That's the step where you do `.\vcpkg install openssl:x64-windows-static`

[2020-06-15 21:41] ryanfalzon commented on #2864
[2020-06-15T21_37_44_390Z-debug.log](https://github.com/iotaledger/trinity-wallet/files/4783133/2020-06-15T21_37_44_390Z-debug.log)

Yes did that part again and says package already installed so I guess everything is fine from that end.

[2020-06-18 15:47] alexandre1985 opened #2868 "APK from Releases install error"
## Bug description

Unable to install trinity-mobile-1.5.1-105.apk into Android 9

## Version

Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version: trinity-mobile-1.5.1-105.apk

## Hardware specification

What hardware are you using?

- Mobile or Desktop: Mobile
- Device: Samsung Galaxy J3
- OS and version: Android 9

[2020-06-18 15:48] rajivshah3 commented on #2868
Have you previously installed the version from Google Play?

[2020-06-18 15:49] alexandre1985 commented on #2868
I have a Trinity wallet already installed using the APKPure

[2020-06-18 15:51] rajivshah3 commented on #2868
That one might be signed by Google. You'll have to uninstall that one and reinstall the APK from GitHub releases since they have different certificates (the one on APKPure might be from the Play Store, which re-signs our apps with a Google key). I can also see if I can upload the latest version to APKPure

[2020-06-18 15:57] alexandre1985 commented on #2868
Thank you @rajivshah3 . Wait, it seems there is the latest version on APKPure already.
On APKPure it gives an error also.
Either way, I'm gonna stop installing from APKPure and use your official releases :wink:
I'll will let you know, in a moment, how the uninstall of Trinity and install using the apk from GitHub releases went (or will go)

[2020-06-18 16:02] alexandre1985 commented on #2868
Yup successful.
Congratulations in releasing Trinity Mobile outside of Play Store. Very happy.

In [Paradise](https://www.youtube.com/watch?v=1G4isv_Fylg) would be to be on FDroid too :headphones: :heart:

[2020-06-18 16:02] #2868 closed, assigned to nobody

[2020-06-21 17:17] rajivshah3 opened #2870 "TypeError in /wallet/send"
## Error in Trinity Desktop

**TypeError** in **/wallet/send**
Cannot read property 'address' of null

[View on Bugsnag](https://app.bugsnag.com/iota-foundation/trinity-desktop/errors/5ecedec3624e48001711d196?event_id=5eef9550005b761a235d0000&i=gh&m=ci)

## Stacktrace

    src/ui/components/input/Address.js:70 - Address_Address.onScanEvent

[View full stacktrace](https://app.bugsnag.com/iota-found

[2020-06-22 12:58] basicvisual opened #2871 "Issues while compiling trinity wallet in ubuntu 18.04"
## Bug description

On running the command :  npm run debs:desktop  we get the following error log
[code]

[2020-06-22 15:06] cikarnd opened #2872 "more dependencies than listed (on RHEL 7)"
## Description

Build instructions do not account for dependencies on other GNU/Linux systems, like RHEL 7

## Version

git head

## Hardware specification

- Desktop:
- OS and version: CentOS 7 (RHEL 7)

## Errors

The README.md file "suggests" to use gcc 4.8.
Dependencies are only listed for Fedora and Ubuntu, in RHEL libsecret-devel is also needed.
When at **_npm run deps:desktop_**, the proces

[2020-06-23 15:51] rajivshah3 commented on #2871
Is an update for your compiler available? We build the linux app in a Docker image based on Debian 9, so maybe try installing these libs:

https://github.com/iotaledger/ci-containers/blob/cfcb1fa5c0dfc5da38ed8291009c595d7233aa7c/Dockerfile#L6-L11

[2020-06-23 15:53] rajivshah3 commented on #2871
Ooh I forgot the docs advised people to install `g++-4.8`, they probably shouldn't do that

[2020-06-23 15:53] rajivshah3 commented on #2872
This seems related to #2871 . I'll update the docs to fix this

[2020-06-23 15:53] #2872 closed, assigned to nobody

[2020-06-24 08:12] FreakyPriest commented on #2760
I think that I have the same problem.

- Ledger Nano X
- Windows 10 version 2004
- Trinity Desktop 1.5.2

Trinity hangs/crashes when connecting to the Nano X. It is not reacting and I need to close it via the Windows taskbar.

There are three ways this can happen:

1. Ledger is already connected before starting Trinity.
Trinity gets stuck in the IOTA logo animation

2. Ledger is connected after en

[2020-06-28 19:24] littlej247 commented on #2807
I have the same issue, using **./trinity-desktop-1.5.2.AppImage --no-sandbox** got it working... Is this less safe though?

[2020-07-07 18:58] zureesupply opened #2895 "My wallet is saying zero and i have transactions still receiving"
## Bug description
I can’t see my balance and i have pending transactions that won’t complete.

Briefly describe the bug.

## Version
2020
Apple version
Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version:
V 1.5.1 (105)
## Hardware specification

What hardware are you using?

- Mobile or Desktop: mobile
- Device: iPho

[2020-07-09 13:06] #2862 closed, assigned to rajivshah3

[2020-07-14 11:21] krytarowski opened #2907 "NetBSD 9.0 build broken"
## Bug description

NetBSD 9.0 amd64 build is broken.

## Version

[code]

## Hardware specification

$ uname -a
NetBSD dell 9.0 NetBSD 9.0 (GENERIC) #0: Fri Feb 14 00:06:28 UTC 2020  mkrepro@mkrepro.NetBSD.org:/usr/src/sys/arch/amd64/compile/GENERIC amd64

- Mobile or Desktop: Laptop (Desktop)
- Device: amd64
- OS and version: NetBSD 9.0

- RAM (Desktop only): 3GB RAM
- Number of cores (Desktop o

[2020-07-14 11:56] nothingismagick commented on #2907
Not sure if this is the real problem, but looking at your stack trace, it seems that node v13 resources cannot be found. That version of node was retired, and you should absolutely be using v14

[2020-07-14 12:57] krytarowski commented on #2907
[code]

[2020-07-14 14:08] fraggerfox commented on #2907
I was able to reproduce the issue in FreeBSD too.

[code]

[2020-07-14 14:09] kneth commented on #2907
Realm doesn't support NetBSD/FreeBSD (only Android, iOS, MacOS, Windows and Linux). We have some binary components in Realm (currently in the process of open sourcing it), The URL https://static.realm.io/node-pre-gyp/5.0.5/realm-v5.0.5-node-v79-netbsd-x64.tar.gz does not exist (substitute netbsd with linux if possible).

Once https://github.com/realm/realm-core/pull/3714 is merged, we will update

[2020-07-14 14:11] krytarowski commented on #2907
@kneth what's ETA? Should we port realm-core to NetBSD meanwhile? Is there another IOTA wallet without this dependency?

[2020-07-14 14:18] krytarowski commented on #2907
The Linux executable does not work.

[code]

GDB:

[code]

[2020-07-14 20:34] krytarowski commented on #2907
@kneth OK, I have got realm-core ported in pkgsrc, how can I proceed now?

[2020-07-15 13:00] kneth commented on #2907
@krytarowski Due to summer vacation, I can't give you an ETA for https://github.com/realm/realm-core/pull/3714.

I hope you mean "It doesn't work on NetBSB" :smile:

Please notice that `realm.node` is the shared object used by Realm JavaScript (a big part but not the only part). It is not an executable.

[2020-07-15 13:47] ianpward commented on #2907
Hey @krytarowski Realm doesn't have support for building on NetBSD but as Kenneth mentioned it may be possible once we open source our components allowing you to build from source. We are hoping to release this in the next quarter or so.

If you are interested in getting NetBSD added as a supported platform for Realm then please make a feature request here:
https://feedback.mongodb.com/ And we can

[2020-07-15 15:03] krytarowski commented on #2907
OK, so we cannot do anything with that file then. We cannot link it into native executable...

[2020-07-19 01:51] rajivshah3 commented on #2852
This issue has been linked to an error in Bugsnag
[**java.lang.RuntimeException** in **JsonReader.java:310**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5d1c47d0cb50ec001a1ec8d0?event_id=5f10a258005b8cc6ce100000&i=gh&m=li)

[2020-07-19 01:56] rajivshah3 commented on #2862
An error linked to this issue has been marked as fixed in Bugsnag
[**TypeError** in **src/ui/components/DeepLinking.js:50**](https://app.bugsnag.com/iota-foundation/trinity-mobile/errors/5edc6f0c5d1ce40017227fd5?event_id=5eff775c005b710c776e0000&i=gh&m=fx)

[2020-07-20 15:42] #2871 closed, assigned to nobody

[2020-07-21 13:03] cvarley100 commented on #2895
Hi @zureesupply did your transactions confirm?

[2020-07-21 16:15] zureesupply commented on #2895
Yeah, they did.

On Tue, Jul 21, 2020 at 9:03 AM Charlie Varley <notifications@github.com>
wrote:

[2020-07-22 06:30] dependabot-preview[bot] opened #2919 "Dependabot needs permission to see react-native-flag-secure-android"
Dependabot couldn't resolve your project's dependencies as it couldn't access [react-native-flag-secure-android](https://github.com/kristiansorens/react-native-flag-secure-android).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you u

[2020-07-22 12:28] krytarowski commented on #2907
@nothingismagick  can we remove realm from the trinity-wallet repo? At least for the time being as it is closed-source proprietary code and conflicting with the Open-Source user freedoms. Also the wallet for iota cannot be trusted with such dependencies.

[2020-07-22 12:50] krytarowski commented on #2907
@ianpward

https://feedback.mongodb.com/ And we can review it during quarterly planning.

I can just port it myself without any forms and quarterly planning from your side, but I need access to the source code.

[2020-07-22 18:31] rajivshah3 commented on #2907
@krytarowski we do not use the closed-source component of Realm. From their [FAQ](https://realm.io/docs/objc/latest/#faq):

We do not use the synchronization component

[2020-07-22 18:38] krytarowski commented on #2907
@rajivshah3 Can trinity-wallet be switched to the realm version with source code and avoid binary blob? Even if there exists somewhere a full open-source version, a binary blob changes the whole deliverable into non-free and would be rejected from e.g. Debian repositories.

Meanwhile, I've ported realm-core. With the switch, I could reuse the wallet on other platforms (including BSDs).

[2020-07-22 22:20] #2919 closed, assigned to nobody

[2020-07-29 20:51] yumminess opened #2928 "transaction couldn't reach the required number of confirmations and is now showing invalid balance."
## Bug description

**The coins left the wallet, and the hash transaction is not successful. The exchanger did not send me anything in return. Invalid balance. The exchanger said that: the amount should return back to your wallet. Since the transaction couldn't reach the required number of confirmations and is now showing invalid balance. the funds should be returned automatically, but they were n

[2020-07-30 06:45] HBMY289 commented on #2928
There is nothing wrong with this transaction. The bundle was reattached and one of the reattachments was confirmed.
https://thetangle.org/bundle/FHQVZULJGDOHNRIDVJKFAVF9TV9NZACIWJLDOODV9GZOJQXIXU9JJFCSFETVHIHFDAKFVWZLADEJHUZJ9

Other copies of the bundle are now correctly marked with the invalid balance maker as they can not confirm now because the required balance has been moved by the confirmed

[2020-07-31 02:04] #2928 closed, assigned to nobody

[2020-08-01 11:14] andigesi opened #2932 "Hello,"
## Bug description

Briefly describe the bug.

## Version

Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version:

## Hardware specification

What hardware are you using?

- Mobile or Desktop:
- Device:
- OS and version:

- RAM (Desktop only):
- Number of cores (Desktop only):

## Node Settings (delete if not relevant)

[2020-08-01 11:14] andigesi opened #2933 "Wallet error since update"
## Bug description

Briefly describe the bug.

## Version

Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version:

## Hardware specification

What hardware are you using?

- Mobile or Desktop:
- Device:
- OS and version:

- RAM (Desktop only):
- Number of cores (Desktop only):

## Node Settings (delete if not relevant)

[2020-08-01 11:19] andigesi commented on #2933
Hello,

I logged into my Trinity desktop application on my Macbook this morning (OSX 10.14.6)
The software suggested to make an update to 1.5.2 which I unfortunately did.

After the download and install process I should enter my password, which I did.
For some reason, Trinity decided that the password is not valid anymore.

Since then I only get a fatal error when trying to reinstall and open the

[2020-08-01 11:20] #2932 closed, assigned to nobody

[2020-08-04 05:50] ttyhtina opened #2934 "Updated trinity wallet - received error message below and can no longer get into trinity wallet"
Unable to open a realm at path *************: Realm file decryption failed Path:Exception backtrace:
0   realm.node                          0x0000000115aefd11 _ZN5realm15InvalidDatabaseC2ERKNSt3__112basic_stringIcNS1_11char_traitsIcEENS1_9allocatorIcEEEES9_ + 49
1   realm.node                          0x0000000115a0eaf2 _ZN5realm9SlabAlloc11attach_fileERKNSt3__112basic_stringIcNS1_11char_traitsIc

[2020-08-07 17:19] ghost opened #2941 "Failed to load Electron preload script"
## Bug description

Error launching wallet, there was a fatal error launching the wallet. "Failed to load Electron preload script". This works properly in version trinity-desktop-1.4.5.AppImage.

## Version

- Version: trinity-desktop-1.5.2.AppImage

## Hardware specification

What hardware are you using?

- Mobile or Desktop: Desktop
- Device: Thinkpad x200
- OS and version: Trisquel Linux 4.15.0

[2020-08-07 17:24] rajivshah3 commented on #2941
Does the app open properly in version 1.5.0?

[2020-08-07 17:25] rajivshah3 commented on #2934
Hi, please fill out the template so we know important details about your system

[2020-08-07 17:26] rajivshah3 commented on #2933
Did you click "Deny" when it asked for access to the keychain?

[2020-08-07 17:27] rajivshah3 commented on #2859
Ok, so the issue is solved?

[2020-08-07 17:28] rajivshah3 commented on #2648
Sorry, I didn't see this earlier. The corresponding path to delete for macOS is `~/Library/Application Support/Trinity`

[2020-08-07 17:40] ghost commented on #2941
Same "Failed to load Electron preload script" in 1.5.0.

[2020-08-07 17:41] rajivshah3 commented on #2941
Hmm ok, it’s likely related to the Electron update then

[2020-08-07 23:10] GCiota commented on #2648
Thank you so much!

[2020-08-12 09:04] kmueller opened #2947 "MacOS: "I have a seed" - not possible to continue configuration after entering account name"
## Bug description

I downloaded and verified the Trinity download successfully.
I started the app and selected "Ich habe einen Seed" (I have a seed)
I entered the seed by typing it in.
I clicked on "Fortfahren". (Continue)
I entered a "KONTONAME". (Account name)
I clicked on "Fortfahren" (Continue)

=> Nothing happens. The app seems to hang, no information is giving. I waited some time, but nothi

[2020-08-12 12:18] kmueller commented on #2947
SOLVED:

As I mentioned I had an old Trinity Version installed before. I removed it only by deleting it from the _Applications_ folder.

I solved the problem described above by deleting also the folder _Trinity_ which was located in _~/Library/Application Support_

After restarting the Trinity app I was then asked at first to confirm the _Terms of Conditions_ and _Data Protection Agreement_. This

[2020-08-12 22:01] Jos3H2R opened #2950 "Didnt get my Gi only a fraction of it"
I didnt recieved what I was suppose to get in my wallet. I was waiting for 2.5Gi and got 2.5Ki transfered instead. The person who send the transaction gave me the detailed and everything was correct but is not reflected in my account balance

This is the bundle hash 9TZDLJ9EQLITCKDWYPHXYOIZHUGNBYHWIWIFIXWNAXSK9VVGUGFFADCZVKGTGRDTL9NSCVARFAEQHLKEW

Can you help me get my Gi?

[2020-08-12 23:25] rajivshah3 commented on #2950
It looks like the sender pressed the wrong unit, as only 2.5 Ki was sent: https://thetangle.org/bundle/9TZDLJ9EQLITCKDWYPHXYOIZHUGNBYHWIWIFIXWNAXSK9VVGUGFFADCZVKGTGRDTL9NSCVARFAEQHLKEW

[2020-08-13 05:58] #2947 closed, assigned to nobody

[2020-08-13 07:31] Cryptec opened #2951 "Trinity Freeze by trying to Restore Ledger Account"
## Bug description

I tried to restore an Ledger Account on Both Trintiy ( v 1.5.2 Windows ), and the latest Mac Version. On Both i select the index and the Account Name + Passwort, and on generating the Adresses / initialize the seed, Trinity Stuck.
On Windows the Window froze completely, On mac, only the Close and Minimize buttons work.

## Version

1.5.2

## Hardware specification

What hardwar

[2020-08-13 21:40] Cryptec commented on #2951
After a view different tests i can say, its a Ledger error. I set up a new device, and it works. I close the issue, because its not a problem of Trinity.

[2020-08-13 21:40] #2951 closed, assigned to nobody

[2020-08-14 04:10] #2950 closed, assigned to nobody

[2020-08-19 09:16] schultz-it-solutions opened #2976 "Android app V1.5.1 requests "critical update", cannot start configuring the app."
## Bug description

Just installed the android app from Google Play, The app opens with the initial screen to select user's language and a button "Los geht's" (let's go).
The app also shows a warning to "update, because a critical update was released".
Tapping the "Los geht's" button does not start any action.

## Version
1.5.1 android

- Version:

## Hardware specification

What hardware are you

[2020-08-19 09:53] cvarley100 commented on #2976
Hey @schultz-it-solutions. We are still awaiting reviews from Google and Apple on mobile. We'll announce on Discord when the new version is out.

[2020-08-19 12:52] 212Herm commented on #2976
I’m having the same issue on my iPhone 11 Pro, can’t log to my wallet

[2020-08-19 13:59] 212Herm commented on #2976
I have funds in my wallet that I can no longer access because the app won’t start.

[2020-08-19 14:24] IGit666 opened #2978 "Trinity insists I attach ledger to refresh wallet after chrysalis update, normal?"
After the chrysalis update, I logged into Trinity to see how it behaved. Wallet balance was not up to date, several transactions over the last few weeks were not there. On refresh, got error about too few nodes for quorum. On advice from discord, disabled quorum. After again attempting refresh, now trinity prompts me to attach ledger, which is fine, but I don't see why that should be necessary for

[2020-08-19 14:59] cvarley100 commented on #2976
@212Herm You will need to use the desktop version until Apple and Google finish their reviews.

[2020-08-20 07:46] schultz-it-solutions commented on #2976
I do understand that this update is critical.
However, as a "lesson-learned" you might want to consider a different provisioning-process for the future (e.g. not blocking access to the app / current version, while waiting for google and apple to accept the update). I know from personal experience, that this can take a few days.

[2020-08-20 12:54] cvarley100 commented on #2976
Indeed @schultz-it-solutions. Unfortunately, however, this was unavoidable. We had to make last minute changes to address an issue, which meant a late submittal for review. The critical update alert was triggered to block use of old app versions (< 1.6.0) because they allowed connection to unsafe nodes (i.e. nodes that had not updated to Hornet 0.5.0 and the breaking protocol changes).

[2020-08-20 18:18] ghost commented on #2941
Same error in 1.6.0 as well.

[2020-08-21 07:40] Cryptec opened #2980 "Deeplinking Autofill doesn´t work on Trinity Desktop"
## Bug description

I tested a Deeplink (=> https://tinyurl.com/ybmo7ckx ) On Trinity Mobile, and it works fine with autofill, on Windows Trinity opens, but doesn´t fill the address field.

## Version

- Version: 1.6.0

## Hardware specification

- Mobile or Desktop: Deskotp
- Device: HP Workstation Z230
- OS and version: Windows 10 Pro	10.0.19041 Build 19041
- RAM (Desktop only): 16GB
- Number of

[2020-08-21 15:40] rajivshah3 commented on #2980
Weird, I thought we had fixed this 🤔

[2020-08-21 15:42] rajivshah3 commented on #2980
Was Trinity already open when you clicked the deep link?

[2020-08-21 15:50] Cryptec commented on #2980
I tried both (open and closed), with same result

[2020-08-21 15:55] rajivshah3 commented on #2980
I can't seem to reproduce the issue on macOS, so it seems like it might be Windows-specific 🤔

[2020-08-21 16:24] Cryptec commented on #2980
Yes i can confirm. I tested it now on MacOS and it works. Also on Trinity for Android. But it failed on two diferrent windows machines

[2020-08-22 22:51] fancybabbling commented on #2934
Unable to open a realm at path '/Users/dawidko/Library/Application Support/Trinity/trinity.realm': Realm file decryption failed Path:Exception backtrace:
0   realm.node                          0x000000011b835d11 _ZN5realm15InvalidDatabaseC2ERKNSt3__112basic_stringIcNS1_11char_traitsIcEENS1_9allocatorIcEEEES9_ + 49
1   realm.node                          0x000000011b754af2 _ZN5realm9SlabAlloc11att

[2020-08-23 01:05] ColdDevil commented on #2934
What worked for me was a hint from this issue: https://github.com/iotaledger/trinity-wallet/issues/2648 Just delete `~/Library/Application Support/Trinity` and import your seed vault again.

[2020-08-23 06:20] ttyhtina commented on #2934
Thank you for your responses. I was able to recover my wallet!

On Sat, Aug 22, 2020 at 9:05 PM Florian Blum <notifications@github.com>
wrote:

[2020-08-24 18:51] hartll opened #2984 "IOTA/Trinity Mobile wallet - Android"
## Bug description

downloaded Trinity to my phone. can not create ledger account index "1i" to access ledger hardware wallet

## Version

1.6.0

- Version:

## Hardware specification

What hardware are you using?

- Mobile
- Device: HTC U11life
- OS and version: Android 10

## Expected behaviour

like with Trinity desktop version, create new account and choice ledger account index no problem

##

[2020-08-24 18:53] #2984 closed, assigned to nobody

[2020-08-24 18:54] rajivshah3 commented on #2984
Trinity Mobile does not support Ledger devices at this time

[2020-08-24 19:01] hartll commented on #2984
Thanks Raji...

[2020-08-24 19:05] fancybabbling commented on #2934
I cannot find trinity in application support.

[2020-08-24 19:42] rajivshah3 commented on #2934
Make sure you're in the right Library folder (there are two). The one you're looking for is hidden by default -- see https://www.macinstruct.com/node/551

[2020-08-24 20:58] fancybabbling commented on #2934
That worked for me. Thank you 💓

[2020-08-26 13:42] cvarley100 commented on #2978
If Trinity needs to generate an address (e.g. the latest address in the wallet's state is used) then it will ask you to connect your Ledger.

[2020-08-26 13:42] #2978 closed, assigned to nobody

[2020-08-26 13:43] cvarley100 commented on #2976
Play store version available as of 20/08/2020.

[2020-08-26 13:43] #2976 closed, assigned to nobody

[2020-08-26 13:45] cvarley100 commented on #2934
Duplicate of #2487.

[2020-08-26 13:45] #2934 closed, assigned to nobody

[2020-08-26 20:14] RubenHelder opened #2997 "Trinity Wallet can't update 26-08-2020"
Hello everyone,

I'm having problems with my trinity desktop wallet.

After their launch of Chrysalis 1.5 I have to update my Wallet. When I press 'update' nothing happens. So I can't acces my wallet. Can anyoe help me?

[2020-08-27 12:27] cvarley100 commented on #2997
Hi @RubenHelder. Auto update was disabled in a couple of versions. You can download it here: https://github.com/iotaledger/trinity-wallet/releases/tag/desktop-1.6.0

[2020-08-27 12:27] #2997 closed, assigned to nobody

[2020-08-27 17:18] #2980 closed, assigned to laumair

[2020-08-28 09:19] huggre opened #3007 "Error Launching Wallet"
## Bug description
Get the following error message when trying to open Trinity Desktop on my Windows 10 PC:

**Unable to open a realm at path 'C:\Users\Hugo\AppData\Roaming\Trinity\trinity.realm': Realm file decryption failed Path:Exception backtrace:
<backtrace not supported on this platform>.**

Briefly describe the bug.

I can no longer access Trinity or my Trinity accounts.

Which version of T

[2020-08-28 10:53] cvarley100 commented on #3007
@huggre The best thing to do is to delete the Trinity folder in Roaming (`AppData\Roaming\Trinity`) and set up the wallet again

[2020-08-28 10:54] #2895 closed, assigned to nobody

[2020-08-28 10:54] cvarley100 commented on #2859
I believe the auto updater was disabled in 1.4.5

[2020-08-28 10:54] #2859 closed, assigned to nobody

[2020-08-29 06:16] snckills opened #3012 "Trinity Log In not possible due to "error retrieving update data" with internet available on regular browser"
## Bug description

Briefly describe the bug.

can no login on wallet 1.5.2 due to update required but error retrieving update data. message is "error retrieving update data"
download of wallet software on trinity page wants to download version 1.4.2. exe file. github shows me version 1.6 as latest.

## Version

Which version of Trinity are you running? (Please provide the full version, you can fi

[2020-08-29 06:33] snckills commented on #3012
Issue fixed after installing: https://github.com/iotaledger/trinity-wallet/releases/tag/desktop-1.6.0

But please: Why do you provide a 1.4.2 exe on the regular "download" button on trinity homepage. This is so close to the hacked version. At first glance i thought someone is trying to trick regular users into hacked version. Also is the 1.4.2 even working?  No regular user will go to github to do

[2020-08-31 21:16] cvarley100 commented on #3012
The updater is now fixed.

[2020-08-31 21:16] #3012 closed, assigned to nobody

[2020-09-01 02:06] RipexXx29 opened #3015 "Missed IOTAS"
Well i'm having the following problem if someone could give me an opinion i really thanks. Today after three months maybe i opened my trinity wallet again to see my tokens when i was trying to opened it i got a message that says another update was required so i updated the wallet to the last version 1.6.0 but after log in i notice there were not tokens, my balance showed 0i i supposed it needed a

[2020-09-01 02:06] rajivshah3 commented on #3015
Please go to the #help channel in [Discord](https://discord.iota.org)

[2020-09-01 02:06] #3015 closed, assigned to nobody

[2020-09-07 11:35] Enflow-io opened #3037 "Cant send iota"
## Bug description

Hi, I cant send iota to any address. Error: "Sending from the same address more than once is dangerous."
After that error I made zero transaction to refresh address. But error again: "Something went wrong while sending your transfer. Please try again"

I use ledger.

## Version

Last version   1.6.0 windows

- Version: 1.6.0 windows

## Hardware specification

What hardware are

[2020-09-07 11:55] HBMY289 commented on #3037
This is not a bug, but a feature. You have funds on an address that was already spent from. Trinity protects you from signing the same address again and putting your funds at risk. Join the iota Discord server and come to the #help channel for possible solutions.

[2020-09-07 18:35] rajivshah3 opened #3040 "Remove react-native-webview"
## Description

We need to remove `react-native-webview` as it's no longer used. The App Store will no longer accept apps with UIWebView starting in December:

[code]

## Are you planning to do it yourself in a pull request?

Yes

[2020-09-08 20:24] #3037 closed, assigned to nobody

[2020-09-09 07:23] christopher-wilke opened #3048 "Trinity Desktop 1.6.1 renders a wrong notification"
## Bug description

After upgrading to 1.6.1, I see a notification to upgrade to 1.6.1

## Version

1.6.1

## Hardware specification

What hardware are you using?

- Mobile or Desktop:  Desktop
- Device: Windows
- OS and version: 10

![TrinityBug](https://user-images.githubusercontent.com/19839228/92567551-247a0900-f27e-11ea-857e-b0080790b68c.JPG)

[2020-09-09 13:20] cvarley100 commented on #3048
This will be fixed now.

[2020-09-09 13:20] #3048 closed, assigned to nobody

[2020-09-16 11:38] #3007 closed, assigned to nobody

[2020-09-18 06:55] Cryptec commented on #1035
is this still on a Radar? would love to see NFC here.

[2020-09-18 11:56] cvarley100 commented on #1035
@Cryptec Yeah we will look at it for the new wallet sooner or later.

[2020-09-18 20:28] D0LPHN commented on #2859
Solved it by updating to Ubuntu 18.04 which was about time anyway. Works like a dream now, but didn't manage to solve the issue in 16.04

[2020-09-22 19:18] kginster opened #3060 "Error after update v 1.6.1"
## Bug description

After updateing the wallet from the gui, i started the update task twice, and after restart, (I killed the wallet after no reaction.
) the following message appears.

"Error launching wallet.
There was a fatal error launching the wallet.
Failed to load Electron preload script."

## Version

Which version of Trinity are you running? (Please provide the full version, you can find

[2020-09-28 19:10] dangenendt commented on #2760
After trying this again with current firmware and trinity wallet, its still the problem to connect the device with some little differences then before.
I click onto "new device", connect the ledger, enter my pin and then trinity tells me that the ledger is connected. After selecting my index, trinity tells me to start the iota app on the device. When i do this, nothing happens...
I tried all thing

[2020-09-28 19:33] dangenendt commented on #2760
Ok, i finally get it to work...
I just started the Ledger and IOTA app and after that i started trinity -> same procedure as before -> it worked

[2020-10-03 09:25] HunainHumail commented on #3040
I would love to work on this issue if you would allow me @rajivshah3

[2020-10-03 17:17] rajivshah3 commented on #3040
@HunainHumail Sure! Please feel free to let me know if you need help

[2020-10-04 20:22] HunainHumail commented on #3040
Sure @rajivshah3 :)

[2020-11-11 12:59] serejandmyself opened #3119 "App image not launchign on ubuntu"
## Bug description

Freshly downloaded appimage 1.6.1 not loading

## Version

1.6.1

## Hardware specification

Ubuntu 16.4

## Errors

None whatsoever. The appimage just doesn't launch. Treid using the --no-sandbox option. Nothing. The command goes through (with or without the flag), no errors are showing. Nothing happens

[2020-11-12 21:40] Billyboola opened #3120 "Node Error"
## Bug description

When trying to log into my IOTA Account i get the message: "Node Error. The node error returned an error while fetching your account information. Try changing node".
I tried different nodes (manually selected some) and still getting the error.
I also completely uninstalled and reinstalled the IOTA Desktop Wallet and still same error. Same happen in mobile version.
I also tried

[2020-11-12 21:50] rajivshah3 commented on #3120
Hi, the coordinator is currently down. Please follow https://status.iota.org for updates

[2020-11-12 21:50] #3120 closed, assigned to nobody

[2020-11-20 22:52] rajivshah3 commented on #3119
Can you try installing [AppImageLauncher](https://github.com/TheAssassin/AppImageLauncher/releases/tag/v2.2.0), then try installing the Trinity AppImage again?

[2020-11-20 22:56] rajivshah3 opened #3130 "Trinity Desktop does not support Apple Silicon"
## Bug description

While new versions of Electron have added support for the new M1 processor in Apple's latest Macs, Trinity may not run properly on those processors due to the use of SSE2 instructions (which are only supported by Intel and AMD) in the optimized Proof-of-Work algorithm.

## Hardware specification

Any computer using Apple Silicon

[2020-12-04 18:04] rajivshah3 commented on #3040
Hi @HunainHumail , are you still working on this?

[2020-12-07 10:34] curVV commented on #2368
Same issue on Gentoo/KDE. No errors launching from terminal.

I last used 1.5.2 which ran fine, but after update today to 1.6.1 experiencing this issue.

Fixed by installing some of the build deps (libsecret, gcr) and also gnome-keyring. Not sure which fixed it.

[2020-12-08 23:28] Masoholik commented on #3119
Thanks.. had the same problem. Now it works...

[2020-12-23 02:11] thiagomen001 opened #3178 "recover iota seed2017"
Hello everybody,

I am doing this subject already desperate having looked on most of the web how to solve the problem that I am going to explain to you.

I have invested in IOTA in 2017 for the future, today I would like to withdraw my investment but I cannot find my IOTA.

When I import my 81 character key into:

-Trinity it is not compatible

-iotawebwallet.com I don't see any IOTA displaying

-

[2020-12-23 08:55] #3178 closed, assigned to nobody

[2020-12-26 11:05] ilbertt commented on #1932
any updates?

[2020-12-27 00:27] cvarley100 commented on #3130
A good solution for users in the meantime is to enable remote proof of work in the node settings.

[2021-01-03 17:06] NathanHazout opened #3188 "Password not recognized"
I haven't looked at my wallet in a very long time.
Today I opened trinity, it immediately asked me to install the latest version (1.6.1).
Upon restart, it showed a single field called "password".

I pasted my password, which I have in 1Password. It's a long string of uppercase letters. That's the only password I have as far as I know ...

Yet I get "unrecognised password".

What's the deal?

[2021-01-03 20:31] rajivshah3 commented on #3188
Hi, are you sure you're not confusing your password with your seed? Your seed is 81 characters. If you forget your password, you can reset the wallet through the settings

[2021-01-04 07:25] NathanHazout commented on #3188
Thanks that worked. I guess this password feature is RELATIVELY new? Because I didn't have one before.

[2021-01-04 07:25] #3188 closed, assigned to nobody

[2021-01-08 11:38] Tombaaa opened #3196 "Node error (details see below), Adresses for Trinity Wallet can not be created with Ledger Nano X"
## Bug description

Error when trying to create a new Trinity Wallet with Ledger Nano X, generating addresses is aborted, error message: Node error - the node returned an error while fetching your account information. If your problem persits, try changing node or disabling your system proxy in Trinity Settings.

## Version

Which version of Trinity are you running? (Please provide the full version

[2021-01-11 13:29] dthoeni commented on #1737
I've had the same problem when sending funds. Running Trinity as administrator resolved the issue.

[2021-01-11 17:15] gambitcomminc opened #3198 "Undocumented limit of 6 accounts"
## Bug description

2 bugs of different severity:

a) Account limit of 6, with no warning in Account Management, Add Account . Just time wasted.
b) Corruption of Trinity . Have no way of running Trinity on one phone.

## Version

Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version: v 1.6.1 (107)

## Hardware specifica

[2021-01-12 21:16] gambitcomminc commented on #3198
Seed vault file were on remote (SMB) file system.
Copying them to a local folder seems to have solved the problem.

[2021-01-12 21:16] #3198 closed, assigned to nobody

[2021-01-14 00:42] rajivshah3 commented on #3196
is there any additional info in the error log?

[2021-01-14 09:43] Tombaaa commented on #3196
Dear Rajiv
this is the full error message desplayed in the right upper corner

Node error - the node returned an error while fetching your account information. If your problem persits, try changing node or disabling your system proxy in Trinity Settings.

[2021-01-14 10:43] Tombaaa commented on #3196
where would i find the error log?

[2021-01-17 12:51] kusan-reveur commented on #1925
Same issue.

Opening trinity before connecting doesn't work, connecting and then opening trinity works.

[2021-01-17 13:01] kusan-reveur opened #3202 "Ledger Nano receive transaction"
## Bug description

After receiving fund on a ledger nano s account, Trinity ask to connect ledger nano S to confirm the received transaction. There is a cancel button but it does nothing.

Trinity/User already confirmed the address when generating it, no need to check it again when receiving funds on that address.

Impossible to open trinity until user reconnect the ledger nano s.

## Version

v1

[2021-01-18 03:11] traminal commented on #2779
How to reset the wallet in the Ledger? I am having the same problem. I deleted the Trinity wallet as suggested but it still didnt work. I think I need to reset the Ledger as well. Can you show me what you did to fix this problem. Thanks!

[2021-01-18 03:18] traminal opened #3203 "Trinity wallet "Error Launching Wallet""
## Bug description

I was trying to open my Trinity Wallet to check my coins. However, I got this error "Error launching wallet. There was a fatal error launching the wallet. The username or passphrase you entered is not correct."

## Version

trinity-desktop-1.6.1

- Version:

## Hardware specification

What hardware are you using?

- Mobile or Desktop: Desktop
- Device: Macbook Pro
- OS and vers

[2021-01-18 15:57] traminal commented on #2348
@rajivshah3 Hi, I followed the info above yet I still can't fix my Trinity wallet problem. Is there any other method to fix this?

thanks,
Tram

[2021-01-19 05:18] traminal opened #3204 "How to match Trinity mobile wallet to Desktop Wallet"
## Bug description

I was having trouble with the Trinity dekstop version so I deleted and now reinstalled. However, I can't seem to find the right index or where to import the seed that I have so I can view the coins are I have. Please help with this matter.

## Version

trinity-desktop-1.6.1
- Version:

## Hardware specification

What hardware are you using?

- Mobile or Desktop: Desktop
- Devic

[2021-01-19 05:47] #3204 closed, assigned to nobody

[2021-01-19 05:48] #3203 closed, assigned to nobody

[2021-01-19 15:24] GCiota commented on #2779
@traminal Hi there, I simply deleted and reinstalled the Trinity Wallet. Supposedly they should ask your "Ledger Index Number" when re-installing. I'm not sure what stage I was asked, but think it was somewhere between choosing "I already have a seed" and "creating a new seed"

So when they asked my "Ledger Index Number" I typed my number (Usually 0, but I had mine differently.) and was able to se

[2021-01-19 16:05] traminal commented on #2779
@GCiota Thanks for the info. I was able to fix it. I do appreciate your help. - Tram

[2021-01-21 12:39] Tombaaa commented on #3196
Dear Rajiv

Any progress? Ideas?

I still can not create a trinity wallet using my Ledger Nano X

You help would be very much appreciated.

Regards Thomas

___________________________________________________________________

Thomas Bänninger

Harossenstrasse 36b

8311 Brütten

Switzerland

From: Rajiv Shah <notifications@github.com>
Sent: Thursday, January 14, 2021 01:43
To: iotaledger/trinity-wal

[2021-01-22 04:06] rajivshah3 commented on #3196
Hi, sorry for the delay in replying. The error log can be accessed by clicking "Trinity" in the top-left and then clicking the error log.

[2021-01-22 11:12] Tombaaa commented on #3196
Dear Rajiv

This is the error log

Hope this will help you to identify the issue.

Looking forward hearing from you

Regards Thomas

___________________________________________________________________

Thomas Bänninger

Harossenstrasse 36b

8311 Brütten

Switzerland

From: Rajiv Shah <notifications@github.com>
Sent: Friday, January 22, 2021 05:07
To: iotaledger/trinity-wallet <trinity-wallet@norep

[2021-02-02 09:50] MarcoBreddels opened #3217 "wrong Balance"
I installed Trinity Mobile wallet. Did twice a deposit from Binance. Now my balance is zero because the wallet send twice to another adress. I don't understand. What is wronng and pease help?
Marco

[2021-02-02 10:09] MarcoBreddels commented on #3217
![image](https://user-images.githubusercontent.com/78413126/106584849-f8ba3100-6546-11eb-8fe0-cd529a87e7e3.png)
![image](https://user-images.githubusercontent.com/78413126/106584928-0ec7f180-6547-11eb-8a71-7d9868131be2.png)

[2021-02-02 15:12] laumair commented on #3217
@MarcoBreddels Did you make both transactions (234.5 Mi & 1.1 Gi) yourself?

Also, could you please share the current version of the wallet (application)?

[2021-02-02 15:20] MarcoBreddels commented on #3217
2 into my wallet yes but the latent 2 not
Op di 2 feb. 2021 om 16:13 schreef Umair Sarfraz <notifications@github.com>

[2021-02-02 15:22] MarcoBreddels commented on #3217
The received yes and send not

Op di 2 feb. 2021 om 16:19 schreef marco breddels <breddels35@gmail.com>

[2021-02-02 15:23] MarcoBreddels commented on #3217
Op di 2 feb. 2021 om 16:21 schreef marco breddels <breddels35@gmail.com>

[2021-02-03 05:38] MarcoBreddels commented on #3217
![image](https://user-images.githubusercontent.com/78413126/106703408-7420ee80-65ea-11eb-9f84-d51a16a8486d.png)

[2021-02-03 05:39] MarcoBreddels commented on #3217
![image](https://user-images.githubusercontent.com/78413126/106703430-7edb8380-65ea-11eb-993b-1463c3d3653f.png)

[2021-02-03 05:39] MarcoBreddels commented on #3217
![image](https://user-images.githubusercontent.com/78413126/106703449-88fd8200-65ea-11eb-83a0-c6e90594cb63.png)

[2021-02-03 05:40] MarcoBreddels commented on #3217
The 2 received I did myself and the 2 send I did not.

[2021-02-03 05:41] MarcoBreddels commented on #3217
Verstuurd vanaf mijn iPhone

[2021-02-03 05:43] MarcoBreddels commented on #3217
Tje 2 received I did myself and the 2 send not.

Verstuurd vanaf mijn iPhone

[2021-02-05 07:30] MarcoBreddels commented on #3217
So, is there an answer?

[2021-02-06 06:29] tartsnart opened #3226 "Unable to open Trinity on iOS"
Hi. I have some miota in my iOS Wallet, unfortunately without a backup. For The past several months, opening the wallet has not been possible. It displays the iota logo for about 10 seconds before it shuts down and returns to Home Screen.

Is there any way to regain access?

[2021-02-06 21:47] zanettin commented on #3226
had the same issue and was just able to "fix" it with a complete re-install of the app. if you don't have your seed (83 chars long) stored this isn't an option 🙈

[2021-02-11 08:25] tadeusz-niemiec commented on #2760
Thanks for sharing this, I was also struggling with disconnects while recovering my seed but opening the IOTA app on my Ledger before opening the Trininty Wallet worked!

[2021-02-11 13:00] jbingram opened #3232 "Create a universal linux Flatpak container for Trinity"
Thx for your awesome job, much appreciated.

## Description (Briefly describe the feature that you are requesting.)

Create linux Flatpak sandboxing for Trinity and inform the general flathub.org repository. https://flathub.org/

## Motivation (Explain why this feature is needed.)

- Flatpak apps are sandboxed apps that are more secured than traditional linux packaging systems (e.g. .deb, .rpm, .t

[2021-02-12 17:22] Tavvie opened #3233 "Zero Balance when "moving" from Wallet 2.5.4 to Trinity Wallet"
Hi, I had to go through the reclaim process in december 2017 when updating the Iota Light Wallet 2.3.0 to 2.5.4 Finally I was able to restore my balance. Now some years later I wanted to check my balance again. As the 2.5.4 Wallet is not working anymore I downloaded the trinity wallet. After entering the new seed I got during the reclaim process the balance in Trinity was showing zero again. I thi

[2021-02-12 21:02] kriss-t opened #3234 "TRINITY WALLET V0.3.5"
Hi,
I can't login  to Trinity wallet using my password...there is no error message ... Trinity wallet ''do nothing'' after put password.
I use Trinity wallet version v 0.3.5
Computer  with  Windows 7, 64gb.
I use trinity node ..nodes.thetangle.org:443
![trinity error](https://user-images.githubusercontent.com/42905911/107822227-090bb080-6d7e-11eb-816b-c26d7444b7ee.jpg)
![trinity node](https://user

[2021-02-12 21:13] rajivshah3 commented on #3234
Your wallet version is out of date, the current version is 1.6.1. You’ll also need to update to Windows 8 or 10, as 7 is no longer supported.

[2021-02-13 09:26] Lazlotabor opened #3235 "Trinity does not appear after removing second screen"
## Bug description

When I remove a secondary screen (where Trinity was shown before) from my PC and open Trinity, the app cannot be seen.

## Version

- Version: V1.6.1

## Hardware specification

- Mobile or Desktop: Desktop
- Device: Acer Swift 3
- OS and version: Windows 10 Home (build 17763) x64

- RAM (Desktop only): 8 GB
- Number of cores (Desktop only): 2

## Steps To reproduce the bug

1.

[2021-02-13 21:53] #3234 closed, assigned to nobody

[2021-02-13 21:54] rajivshah3 commented on #3233
Hi, please join our Discord server (https://discord.iota.org) for assistance

[2021-02-13 21:54] #3233 closed, assigned to nobody

[2021-02-13 21:54] rajivshah3 commented on #3217
Hi, please join our Discord for assistance (https://discord.iota.org)

[2021-02-13 21:54] #3217 closed, assigned to nobody

[2021-02-13 21:56] rajivshah3 commented on #3226
Hi, do any error messages appear when this happens?

[2021-02-13 22:00] rajivshah3 commented on #3232
Hi! We're currently working on our next wallet, Firefly (https://blog.iota.org/firefly-iota-next-generation-wallet-26bdd4d01510/), where we plan to use Snapcraft. Would that be ok? We can look at Flatpak as well but we'll focus on Snapcraft at first since our packaging tools have better support for it.

I'll close this issue since we're no longer adding new features or improvements to Trinity, but

[2021-02-13 22:00] #3232 closed, assigned to nobody

[2021-02-13 22:39] zanettin commented on #3226
not on my end. the first loader was visible and nothing else happend.

[2021-02-14 11:00] jbingram commented on #3232
Hi there, thx for your reply and thx for eventually considering Flatpak for Firefly after snapcraft. I will not judge your choice, but rather try to convince you of the well founded choice of considering Flatpak. First more linux distros actively promote Flatpak rather than snapcraft, including the most widely used distros (which is not ubuntu but linux mint). The reason is that Snapcraft is a pro

[2021-02-14 12:26] MarcoBreddels commented on #3217
Hello, I did that but they can’t help me.

Listen, i downloaded a Trinity wallet en put Iota on it and have a problem.
On Discord and GitHub they don’t help me so where cannI go? I miss 1345
Iota coins.

Best regards,

Marco

Op za 13 feb. 2021 om 22:55 schreef Rajiv Shah <notifications@github.com>

[2021-02-14 21:08] kriss-t commented on #3234
Hi Rajivshah3... I didn't check my wallet I think from 2018...  so now I installed trinity wallet on antoehr PC with Windows 10..it asked me the old seed.... I found only a shortcut from my old doc seed file in the Pc folder ...do you know how to restore the original ''doc file'' if I have only shortcut?

[2021-02-14 21:09] kriss-t commented on #3234
Why I can't jsut login normally just with my password and see my wallet iota?

[2021-02-17 14:28] ghost opened #3240 "Iota Deposit - A Tagesgeldkonto for my Miotas"
## Description

This feature would lock my funds, just like a Tagesgeldkonto, for a predetermined time.

## Motivation

I am a Iotanaut and believe that Iota will one day skyrocket in value. Unfortunately, I do not have diamond hands and I am sometimes tempted to sell some Miotas for a profit (just like in this bull cycle). I currently Hodl BTC on a cold storage paper wallet, which gives me peace

[2021-02-20 21:06] MOTA22 commented on #2348
Hi I am having this issue also! Can anyone help please?
![Screen Shot 2021-02-20 at 21 05 12](https://user-images.githubusercontent.com/73853700/108608549-8909ca00-73bf-11eb-8523-c0dbc6b02c03.png)

[2021-02-20 21:09] MOTA22 opened #3244 "Cant open trinity wallet on Mac- help please"
## Bug description

Briefly describe the bug.
Wallet will not open
## Version

Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version:trinity-desktop-1.2.0

## Hardware specification

What hardware are you using? desktop macbook macOS High Sierra version 10.13.6

- Mobile or Desktop:
- Device:
- OS and version:

- RAM (D

[2021-02-20 21:14] MOTA22 commented on #3244
Any help would be greatly appreciated

[2021-02-22 17:58] Peakjam opened #3245 "Trinity Wallet: Wrong Balance"
## Bug description

Since I can no longer access the light wallet, I have to use the trinity wallet. After inserting the SEED to connect to my account it does not show the correct balance, only a certain amount of it.

## Version

Trinity.app:
- Version: 1.6.1

## Hardware specification

What hardware are you using?

- OS and version: MAC OSX, 10.11.6

- Desktop:
- RAM (Desktop only): 8 GB 1333 MH

[2021-03-07 10:56] abviv opened #3263 "Not able to scan QR code"
Trinity app in the mobile(android-10 running the latest build) is not able to scan receive QR code address.

[2021-03-15 14:28] joleeee opened #3285 "Cannot connect to Secret Service API"
## Bug description

![secretservice](https://user-images.githubusercontent.com/24441708/111167015-fb299500-85a0-11eb-97c6-946ce5ae70cb.png)
Trinity won't open but gives this message. I am not running as root and `gnome-keyring-daemon` is running.

## Version

trinity-desktop-1.6.1.AppImage

## Hardware specification

What hardware are you using?

- Mobile or Desktop: Desktop (laptop)
- Device: Thi

[2021-03-24 10:35] SRD75 commented on #2487
Hi @rajivshah3 I downloaded trinity-desktop-1.6.1 on Windows 10 and received the same error as the OP.

[code]

[2021-03-27 17:51] joleeee commented on #3285
I can still not access my funds.

[2021-03-31 13:46] bigsicret commented on #3119
I tried, it doesn't work neither. I am with Ubuntu 16.04.

[2021-04-04 16:59] dattallah opened #3318 "Trinity will not start on New MacBook with Apple Chip"
Trinity always start with ERROR PAGE
<img width="801" alt="Bildschirmfoto 2021-04-04 um 17 57 40" src="https://user-images.githubusercontent.com/81922784/113515971-a1990280-956f-11eb-8a01-b264bd326e25.png">

[2021-04-04 17:14] dattallah commented on #3318
solved:
deleted any TRINITY entrance in Library using "Easyfrind" search 4 TRITNITY. Re-Installed. DONE

[2021-04-04 17:14] #3318 closed, assigned to nobody

[2021-04-06 19:47] baludwi opened #3319 "Unable to open a realm at path"
## Bug description

When starting recent Version of Trinity Wallet, I get the error "Unable to open a realm at path"

## Version

Can not run the Wallet because of the error. I downloaded the recent version.

- Version:

## Hardware specification

What hardware are you using?

- Desktop:
- Device: Mac
- OS and version: 11.2.3

- RAM (Desktop only): 16 GB
- Number of cores (Desktop only): 4

## Nod

[2021-04-07 04:02] anarchotaoist opened #3320 "Update fail 1.5.2 - 1.6.1"
## Bug description

Ran the inbuilt update in version 1.5.2
After install Trinity gives a notification that it will re-open.
It does not.
Manually re-opening give the following message attached
![trinity](https://user-images.githubusercontent.com/29670892/113808220-14170780-9755-11eb-9da0-8573bc91be75.png)

## Version

Which version of Trinity are you running? (Please provide the full version, you

[2021-04-07 04:06] anarchotaoist commented on #3119
Possible duplicate of my unsolved issue #3320

[2021-04-07 04:09] anarchotaoist commented on #2807
--no-sandbox does not work for me.

[2021-04-09 08:30] transvision18 opened #3330 "My account balance will be zero."
## Bug description

I changed my wallet, but when I enter my seed, my balance is not reflected. The balance used to be reflected, but I changed my PC and reentered the seed, so that may be the effect.

## Version

Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version: 1.6.1

## Hardware specification

What hardware are

[2021-04-09 08:32] transvision18 commented on #3330
I live in Japan and I'm having trouble with Trinity Wallet. Can you please help me?
I changed my wallet, but when I enter my seed, my balance is not reflected. The balance used to be reflected, but I changed my PC and reentered the seed, so that may be the effect.
If you know the right person to contact, please let me know.
Sorry for bother you, but your support is highly appreciated.

[2021-04-09 08:46] MiKeF05 commented on #3330
Hello please visit the #help channel of IOTA (https://discord.com/channels/397872799483428865/398499876935303186) for quick help. Maybe the community can help with this topic.

[2021-04-13 01:09] anarchotaoist commented on #3320
How can I recover my Iota??

[2021-04-13 10:35] OGTR20 commented on #3245
I‘m in the same situation and have the same problem! And i cant see any historical transactions in the trinity wallet.

[2021-04-15 18:53] KnockKnockNe0 commented on #3285
How do you start it?
I get that when i start it in a terminal (ubuntu 20.04 focal) after i changed to another user with
```sudo -i -u miota```
Maybe it has to to with gnome-keyring, but
i can access/unlock the keyring with 'seahorse' though

[2021-04-21 07:37] #3040 closed, assigned to HunainHumail

[2021-04-21 14:56] joleeee commented on #3285
I start it using my application launcher, but it also happens if i run it from the terminal.
I don't have sudo installed but either way i am logged in on my personal account.
Hopefully firefly will work.

[2021-04-29 13:45] Glad1991 opened #3363 "Trinity won't let me enter my password"
Hello
After updating Trinity today, I got the "Thanks for downloading Trinity" screen and the go ahead button didn't work. I absolutely have to be able to log into my wallet, otherwise 1 seed with miotas is gone
I upgraded from version 1.6.1 to today v1.6.2
Operating system is Windows 10

[2021-04-29 14:21] t00k commented on #3363
Tried tagging you in the #trinity-discussion channel on Discord but write here instead.

Do you get any errors in the error log?
Also, try running Trinity as administrator.

And lastly, what node settings are you using?

[2021-05-01 14:37] mmahdy-eg opened #3365 "How to retrive the Trinity account seeds from ledger nano"
## Description

I need to migrate my balance from trinity wallet to the new wallet firefly but the old one was manager through ledgernano and no seeds so how can i migrate ?

## Motivation

to easly migrate to the new wallet ver.

## Requirements

Write a list of what you want this feature to do.

1. display the seeds to enable me moe to new wallet

## Open questions (optional)

## Are you plannin

[2021-05-01 14:41] antonionardella commented on #3365
Please wait until Firefly supports the ledger nano.

Extracting the seed from the Ledger would break it's security model and purpose as you would expose the 24 words to your PC. Keeping those 24 words private and detached from your PCs is what exactly the reason why a Ledger device exists

[2021-05-01 14:43] mmahdy-eg commented on #3365
Thank you for your prompt response .

[2021-05-02 22:23] 4rni90 commented on #3363
Hi, I have the same problem. After updating I can't move forward through the welcome window. I'm using windows 10 also. Tried to open by administrator but it was the same.

[2021-05-03 04:15] dependabot-preview[bot] opened #3366 "Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools"
Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/iotaledger/update-logs/78661396).

[2021-05-05 04:15] #3366 closed, assigned to nobody

[2021-05-06 04:16] dependabot-preview[bot] opened #3374 "Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools"
Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/iotaledger/update-logs/79139273).

[2021-05-06 07:27] rreniers opened #3376 "Unable to empty my Trinity wallet and send to Firefly"
## Bug description

Unable to empty my Trinity wallet and send to Firefly
The ios app and windows app are not responsive when sending to external wallet Firefly

##

windows 10 latest
IOS 14.1

[2021-05-06 07:35] HBMY289 commented on #3376
Migrating your funds to the new network is done via the new FireFly wallet. It is not possible in Trinity.
Have a look at the official blog post:
https://blog.iota.org/firefly-token-migration/

[2021-05-06 09:37] #3376 closed, assigned to nobody

[2021-05-12 10:20] zababa94 opened #3395 "I can't withdraw my iota of trinity for for my binance wallet"
## Bug description

Briefly describe the bug.

## Version

Which version of Trinity are you running? (Please provide the full version, you can find it in Settings > About Trinity).

- Version:

## Hardware specification

What hardware are you using?

- Mobile or Desktop:
- Device:
- OS and version:

- RAM (Desktop only):
- Number of cores (Desktop only):

## Node Settings (delete if not relevant)

[2021-05-12 10:21] zababa94 commented on #3395
Hello

I can't not withdraw my iota for my binance wallet. Can you help me please.
Best regard
RIchard

[2021-05-12 10:35] t00k commented on #3395
If you still have your IOTA on the Trinity wallet you will first need to migrate to the new Chrysalis network. The guide you can follow is https://blog.iota.org/firefly-token-migration/ . Read it through carefully and follow the steps. Make sure to backup your new seed that is now based on 24 phrases.

But, as the exchanges also does the migration and have to update their backend, deposits and wit

[2021-05-14 04:16] #3374 closed, assigned to nobody

[2021-05-17 04:17] dependabot-preview[bot] opened #3400 "Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools"
Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/iotaledger/update-logs/80267282).

[2021-06-10 14:41] DocBrown101 commented on #3365
Is there already a time frame when this will be ready? In a month, this year, next year?

[2021-06-25 04:16] #3400 closed, assigned to nobody

[2021-06-28 04:17] dependabot-preview[bot] opened #3451 "Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools"
Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/iotaledger/update-logs/83925439).

[2021-07-01 04:16] #3451 closed, assigned to nobody

[2021-07-02 04:21] dependabot-preview[bot] opened #3458 "Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools"
Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/iotaledger/update-logs/84376666).

[2021-07-05 23:27] Rocademo1 commented on #3363
Hello, the same happened to me as well. Did you find any solution? Thanks!

[2021-07-23 04:17] #3458 closed, assigned to nobody

[2021-07-26 04:16] dependabot-preview[bot] opened #3479 "Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools"
Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/iotaledger/update-logs/86148553).

[2021-07-28 11:54] chrisella commented on #3363
Same issue for me, can type a password but pressing enter / clicking the login button has no visible effect and no errors/warnings logged at-all.

[2021-07-28 12:00] chrisella commented on #3365
It's all well and good keep being told to "wait for the Ledger Trinity -> Firefly migration to be ready", however it's been 3-4 months now and really doesn't feel fair for people to wait for a new solution this long if the old method of accessing wallets (through Trinity) also no longer works, at-least for me it doesn't (I can't get past the password prompt of Trinity).

[2021-07-29 04:15] #3479 closed, assigned to nobody

[2021-07-30 04:18] dependabot-preview[bot] opened #3491 "Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools"
Dependabot couldn't authenticate with https://dl.bintray.com/android/android-tools.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/iotaledger) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/iotaledger/update-logs/86538967).

[2021-09-07 13:10] jojo-9 opened #3516 "hello,"
hello,

Can somebody help me please. I tried to do the migration from trinity to firefly with ledger wallet, but I seen no iota in the account to migrate. Is it possible it doesn't show because I connect through a hub with my computer??

_Originally posted by @jojo-9 in https://github.com/iotaledger/firefly/issues/1424#issuecomment-914193766_

[2021-09-12 13:48] JettaRed commented on #2621
When you add a passphrase to your Ledger, you are actually creating a second wallet entirely, often referred to as a hidden wallet.  So, the receive addresses will be different as if you had a 2nd Ledger with a different 24-word seed phrase.  This is not a Ledger bug, but a function/feature of the BIP39 protocols.

[2021-09-16 00:33] DocPurs commented on #2487
Hi.  I am getting the same error.  This is a recent occurence.  I was previously able to login to Trinity Wallet via Ledger authentication- I believe I last did it back in July.  Now I am getting the same error re: unable to open a realm

[2021-09-21 17:36] nandgator commented on #2648
Closing as my environment has changed and am unable to test it. In case anybody else has the same issue, I'll be glad to re-open it.

[2021-09-21 17:36] #2648 closed, assigned to nobody

[2022-10-06 10:42] mrousavy opened #3520 "Consider using react-native-quick-crypto"
Hey!

I noticed this repo uses **react-native-crypto**, which itself uses **crypto-browserify** under the hood. **crypto-browserify** is a JS-based implementation for crypto, which is slower than Margelo's [**react-native-quick-crypto**](https://github.com/margelo/react-native-quick-crypto), since that uses C++ (OpenSSL) with JSI under the hood.

If you want to replace **react-native-crypto** with